[2014-11-22 10:54] Gilberto1 opened #2000 "How quickly notice the new version?"
Hi
How quickly notice the new version?

[2014-11-23 08:21] #1990 closed, assigned to aranhoide

[2014-11-24 14:35] oxtoacart opened #2001 "[controller] DatastoreApiHelper error on updateFriend"
[code]

[2014-11-24 14:42] oxtoacart opened #2002 "[controller] Occasional 401 unauthorized on fetching S3Config"
I see this occasionally in the controller's logs:

[code]

On the client, this results in the message `Unable to get updated S3Config from network: Bad response code: 401` which I do see in Papertrail.

If the client fails to obtain a refresh token, it will never make this call.  So, it looks like sometimes the client is making a request with an invalid (revoked?) refresh token.

[2014-11-24 14:46] oxtoacart opened #2003 "[controller] Presence available fails periodically with one of two errors"
[code]

or

[code]

Neither reports a root cause.

[2014-11-24 15:37] oxtoacart opened #2004 "[peerscanner] - Seeing some bad ports being passed up"
It's possible that the client is sending a 0 port (perhaps if mapping failed?).

[code]

[2014-11-24 15:54] oxtoacart opened #2005 "[lantern] Seeing a lot of errors connecting to controller to get an updated S3Config due to SSL peer/connection issues"
It could be that this is just network outages, or it could be a bug, or it could be blocking.

[code]

[2014-11-24 15:57] oxtoacart opened #2006 "[bug] Seeing "XMPP Connection closed on error" a fair amount"
[code]

[2014-11-24 15:58] oxtoacart opened #2007 "[lantern] Error connecting to and reading from statshub"
[code]

[2014-11-24 21:44] oxtoacart opened #2008 "Give and get mode peers not connecting despite UPnP being available on server"
A user running Lantern 1.5.10 reports that despite having UPnP enabled on the Give side, he and his friend in a censored region never connect.  They are looking at their friends list and both sides show "Not Connected".

[2014-11-24 21:50] oxtoacart opened #2009 "[lantern] Seeing lots of "Process exited with an error: 1" from UPnPCli"
On version 1.5.12-4de9173

[code]

This is happening on multiple platforms:
- Windows XP, 7 and and 8
- OS X
- Linux

[2014-11-24 21:57] oxtoacart opened #2010 "[lantern] Seeing a fair amount of "Unable to do a safe PublicIp Lookup" in the Loggly logs"
Happening on version 1.5.12-4de9173

[code]

This isn't just for the `nastygal.com` domain, I see it for `elance.com`, and `puu.sh` too, and there may be others.  Also, sometimes this fails with a different stacktrace:

[code]

or

[code]

[2014-11-25 05:53] myleshorton opened #2011 "Masquerade lookup in give mode still not handling failures correctly"
While we're no longer sending failing masquerades to listeners, failing masquerades are still invoked.

[2014-11-25 19:06] #1856 closed, assigned to atavism

[2014-11-25 19:56] myleshorton opened #2012 "Make sure that at least some traffic always gets routed through flashlight in order to generate traffic to Give mode peers"
This would allow flashlight to send some traffic through domain fronting and peers a little more easily.

[2014-11-26 05:27] #2011 closed, assigned to myleshorton

[2014-11-26 18:07] myleshorton opened #2014 "Apparent argument misalignment in flashlight"
When trying to get config updates we occasionally see the following. Could be that an argument index is valid for give mode that's not valid for get mode or vice versa?

[code]

[2014-11-26 18:13] myleshorton opened #2015 "Tone down error reporting or upload flashlight config file"
This is by far the most common error in our error logs. Either we should not make it an error when we can't fetch the latest config file or perhaps even better we should populate that URL with the latest config.

[2014-11-26 18:42] #2000 closed, assigned to nobody

[2014-11-27 04:16] myleshorton opened #2016 "Timeout errors in peerdnsreg"
Metrics read as follows:

"Request timeouts. There have been 761 timeout errors in the last day. Try investigating slow requests, adding more dynos or running more processes per dyno."

[2014-11-28 05:08] ed2k opened #2017 "enable log4j config file watcher"

[2014-11-28 05:24] #2017 closed, assigned to nobody

[2014-11-29 03:50] zh18 opened #2019 "How can i use java program visit lantern for proxy some website ?"

[2014-11-29 12:23] #2019 closed, assigned to nobody

[2014-11-29 13:34] oxtoacart opened #2020 "Flashlight executable fails to extract if destination directory doesn't already exist"
This is causing test failures in Bamboo:

[code]

[2014-12-01 21:41] oxtoacart opened #2022 "[bug] Adding friends failing because of being unable to subscribe to presence notifications"
One user in China reported this happening every time he tries to add a friend:

[code]

[2014-12-01 21:46] oxtoacart opened #2023 "When adding a friend fails because of a problem subscribing to XMPP notifications, the error message isn't particularly informative"
It says "error sending e-mail to friend".  That's not really true, in fact the email may have already been sent.  See #2022.

[2014-12-01 21:51] oxtoacart opened #2024 "When adding a friend fails because of a problem subscribing to XMPP notifications, the user's friending quota is decremented none-the-less"
Related to #2022

The problem is [here](https://github.com/getlantern/lantern/blob/97778fd8e65b09698b39dd59a2830b8bfb80d5d5/src/main/java/org/lantern/state/DefaultFriendsHandler.java#L189)

Upon adding a friend, we immediately sync friends, which immediately pushes the update to the server, whereupon the server decrements your friending quota.

Only after this do we attempt to subscribe to XMPP pr

[2014-12-01 22:10] oxtoacart opened #2025 "[bug] panic on nil pointer in go-igdman"
Seeing this in production

[code]

[2014-12-02 03:51] #2014 closed, assigned to oxtoacart

[2014-12-02 03:56] #2020 closed, assigned to oxtoacart

[2014-12-02 04:47] #2015 closed, assigned to oxtoacart

[2014-12-02 18:53] #2024 closed, assigned to nobody

[2014-12-02 19:58] myleshorton opened #2027 "Flashlight build not copying new executables"

[2014-12-02 19:58] #2027 closed, assigned to oxtoacart

[2014-12-02 21:39] oxtoacart opened #2028 "[flashlight] On starting up, after first download the cloud configuration, flashlight always thinks that it represents a change and restarts the client proxy"
Happening with cloud config version 1.5.11

This should really only happen the first time:

1. Run flashlight
2. Default config is initialized
3. Download cloud config
4. Update local config, restart client
5. Stop flashlight
6. Start flashlight
7. Flashlight reads config as it was from last run
8. Flashlight downloads cloud config
9. Flashlight notices that config is unchanged, leaves client runn

[2014-12-03 18:43] #2002 closed, assigned to nobody

[2014-12-03 18:45] #1999 closed, assigned to nobody

[2014-12-04 00:06] oxtoacart opened #2030 "[bug] Port mapping warning isn't displaying when first running lantern"
Do this with a router that doesn't support port mapping (or at least doesn't support port mapping a low port).

1. Clear ~/.lantern
2. Run lantern
3. Choose Give mode
4. Finish sign in sequence

Expected Result:

UI shows port mapping warning at top of screen

Actual Result:

No port mapping warning is displayed

[2014-12-04 14:21] oxtoacart opened #2031 "[flashlight] Add ability to reconfigure server proxy on the fly"
Right now, server/server.go starts up once using some listen address and that's it.  The listen address can't be changed on the fly.  It would be nice to be able to do this.

Here's a technique that could help - http://www.hydrogen18.com/blog/stop-listening-http-server-go.html

[2014-12-04 21:51] myleshorton opened #2033 "[bug] Lantern-ui still displays incorrect license"

[2014-12-04 21:51] myleshorton opened #2034 "[bug] Windows toolbar icon low resolution"
It's just super pixelated.

[2014-12-05 15:40] aranhoide opened #2038 "[bug] Unable to getStats: Remote host closed connection during handshake"
Seen in Loggly for version 1.5.13.  This might actually be the same as #2007?  That one was originally misreported as a JSON error, but found to be due to (possibly TLS-related) problems connecting.

[code]

[2014-12-05 16:06] aranhoide opened #2039 ""Unable to register peer""
Seen in loggly for version (at least) 1.5.10.  This is the most occurring bug in a loggly search for the last two days. **This doesn't show up in the latest version**, so it might be fixed, but I couldn't find it in a search for (either open or closed) issues, so logging it FWIW.

[code]

[2014-12-05 16:09] aranhoide opened #2040 ""Exception trying to register peer""
Possibly related to #2039 (but this happens an order of magnitude less often, and is only seen at versions 1.4.5 and 1.4.6).  Found the same way, same considerations apply.

[code]

[2014-12-05 16:31] aranhoide opened #2041 "[controller] Uncaught exception: server is not responding"
This shows up once or twice the odd day.

[code]

[2014-12-05 16:45] aranhoide opened #2042 "[controller] DatastoreTimeoutExceptions updating user stats/last accessed"
Seen in loggly; happened 6 times in 4 days.

[code]

[2014-12-05 20:45] myleshorton opened #2043 "Experiment with Chrome again on OSX"
WebView pre-Yosemite is not working with the latest UI changes. Maybe it's not worth it to continue supporting a separate browser built on it given some of the changes on the chrome side and particularly the --new-window flag?

[2014-12-05 21:20] #1966 closed, assigned to aranhoide

[2014-12-05 21:27] oxtoacart opened #2044 "[flashlight] Make sure that when a balancer is closed, all fronted dialers are closed"
This is to ensure that their connection pools don't leak resources.

Related to the changes for #2007

[2014-12-05 21:29] oxtoacart opened #2045 "[flashlight] Expose get-side statistics to map"
Right now, flashlight only exposes give statistics to the map.  As part of #2007 the get-mode work is all handled in flashlight, so it needs to expose this data to the UI as well.

[2014-12-05 23:52] oxtoacart opened #2046 "[enproxy] Clean up go vet errors"
[code]

[2014-12-05 23:52] oxtoacart opened #2047 "[framed] Clean up go vet issues"
[code]

[2014-12-05 23:52] oxtoacart opened #2048 "[go-geoserve] Clean up go vet issues"
[code]

[2014-12-05 23:53] oxtoacart opened #2049 "[go-natty] Clean up go vet issues"
[code]

[2014-12-05 23:53] oxtoacart opened #2050 "[idletiming] Clean up go vet issues"
[code]

[2014-12-05 23:53] oxtoacart opened #2051 "[keyman] Clean up go vet issues"
[code]

[2014-12-05 23:54] oxtoacart opened #2052 "[peerscanner] - Clean up go vet issues"
[code]

[2014-12-05 23:55] oxtoacart opened #2053 "[waddell] Clean up go vet issues"
[code]

[2014-12-07 15:23] oxtoacart opened #2054 "[eventsource] - Test won't compile"

[2014-12-08 18:52] oxtoacart opened #2055 "[flashlight] Use maximum compression setting to save a little space"
In updateyaml.bash, use `gzip -c9`.

[2014-12-08 18:58] #1967 closed, assigned to myleshorton

[2014-12-08 18:58] #1965 closed, assigned to myleshorton

[2014-12-08 19:32] myleshorton opened #2056 "[bug] Lantern not closing Lantern window on quit on Windows"

[2014-12-08 19:57] scouttle opened #2057 "Draft a Lantern Mobile PRD"

[2014-12-08 20:08] #1835 closed, assigned to oxtoacart

[2014-12-08 20:09] #1834 closed, assigned to aranhoide

[2014-12-08 20:20] #1609 closed, assigned to oxtoacart

[2014-12-08 20:25] #1510 closed, assigned to oxtoacart

[2014-12-08 20:38] #1607 closed, assigned to oxtoacart

[2014-12-08 20:57] #1984 closed, assigned to oxtoacart

[2014-12-08 22:44] myleshorton opened #2058 "Request interrupted errors being logged at statshub"
sock=client at=error code=H18 desc="Request Interrupted" method=GET path="/stats/country/" host=pure-journey-3547.herokuapp.com request_id=eb516b74-e2b4-4d1c-a62e-bc6d9feb9550 fwd="192.241.179.142" dyno=web.1 connect=1ms service=13ms status=503 bytes=37400

[2014-12-08 22:45] myleshorton opened #2059 "Lots of idle connection errors on statshub"
Looks like these will end up returning 503.

Such as:

Dec 08 14:28:24 pure-journey-3547 heroku/router:  at=error code=H15 desc="Idle connection" method=POST path="/stats/instance_b0203f4decb002ca57dec8bb7df8a0b0" host=pure-journey-3547.herokuapp.com request_id=30e55a78-f8e0-4a47-a17e-ac8c44fad328 fwd="128.199.174.74" dyno=web.1 connect=2ms service=55003ms status=503 bytes=0

[2014-12-08 22:51] myleshorton opened #2060 "Controller -- lots of warnings with setting users as offline."
They basically seem to be universally not found.

org.lantern.data.Dao setInstanceUnavailable: Instance xxx@gmail.com/-lan-xxxxxx not found.

[2014-12-09 19:33] myleshorton opened #2061 "[feature] Assign servers the names of Indigogo donors."

[2014-12-10 19:09] #2051 closed, assigned to oxtoacart

[2014-12-10 19:10] #2050 closed, assigned to oxtoacart

[2014-12-10 19:12] #2047 closed, assigned to oxtoacart

[2014-12-10 19:14] #2046 closed, assigned to oxtoacart

[2014-12-11 20:24] myleshorton opened #2064 "PluggableTransport exec calls ignoring process return values"
This makes it harder to catch and debug failures running Flashlight, for example.

[2014-12-11 21:11] myleshorton opened #2065 "Flashlight server never starting on requested port"
In give mode, the flashlight server never successfully listens on the requested port. This particular network has no working NAT-PMP or UPnP, but the server should start up nevertheless. The result is a failure to show the user a port mapping message, and as such is a likely cause of  #2030. The process doesn't never exits, but it never listens on the requested port.

[2014-12-11 21:53] myleshorton opened #2067 "Not all email addresses on client side normalized"
This results in functionally equivalent emails not being identified as the same user. For friends, for example, this means friends who are online who have emails with different characters are not identified as friends.

[2014-12-12 00:30] #2067 closed, assigned to nobody

[2014-12-12 00:30] #2064 closed, assigned to myleshorton

[2014-12-13 05:38] aranhoide opened #2070 "[controller] ApiDeadlineExceededException: The API call user.GetOAuthUser() took too long to respond and was cancelled."
I saw three occurrences of this in the loggly logs for the latest ~2 days.

[code]

[2014-12-14 20:08] oxtoacart opened #2071 "[flashlight] Occasionally see 302 errors in enproxy"
[code]

Interestingly, the Dest is always www.google.com:80.

[2014-12-15 02:58] aranhoide opened #2072 "[controller] ApiDeadlineExceededException: The API call xmpp.SendMessage() took too long to respond and was cancelled."
This looks very similar to https://github.com/getlantern/lantern/issues/2070 .  ~~In both cases, the comically long and bureaucracy-sounding stack trace doesn't have any frame in a class from a package under the `org.lantern` namespace.~~ (Correction: both have such a frame.  It's not very revealing in #2070, but here it shows that the problem happens in `XmppAvailableServlet.sendResponse`.)

[cod

[2014-12-15 14:50] oxtoacart opened #2073 "[bug] [lantern] Error creating XMPP connection"
Seeing this a fair amount on version 1.5.14-9280775

This could be related to #2006

[code]

[2014-12-15 14:55] oxtoacart opened #2074 "[bug] [lantern] IO exception while trying to refresh token"
Likely a recurrence of #1850, though the root cause may be different.

Likely related to other proxying issues like #2006.

[code]

[2014-12-15 15:18] oxtoacart opened #2075 "[lantern] Support SOCKS4 or SOCKS5"
We've gotten a few requests for this. It's from folks wanting to use Lantern for stuff other than web browsing.

[2014-12-15 18:02] atavism opened #2076 "[lantern-pi] Flashlight host spoofing failures"
Running the latest version of Lantern on the Pi, I'm seeing this for every host we attempt to masquerade through

[code]

[code]

[2014-12-15 18:23] #1751 closed, assigned to oxtoacart

[2014-12-15 18:27] atavism opened #2077 "[lantern-pi] Error trying to start network services"
[code]

[2014-12-15 18:58] atavism opened #2078 "Build version of natty for ARM"

[2014-12-15 19:05] atavism opened #2079 "Add ARM version of upnpc to go-igdman"

[2014-12-15 19:46] atavism opened #2080 "[feature] [lantern-pi] Lantern ARM-compatible installer"

[2014-12-15 19:49] atavism opened #2081 "Add ARM support to flashlight"

[2014-12-15 21:58] #924 closed, assigned to nobody

[2014-12-16 02:38] #2081 closed, assigned to atavism

[2014-12-16 16:33] #1752 closed, assigned to oxtoacart

[2014-12-16 17:14] oxtoacart opened #2083 "[flashlight] Build flashlight using Go 1.4"
Now that Go 1.4 has been released, let's use it.

[2014-12-16 17:53] #2048 closed, assigned to nobody

[2014-12-16 20:28] atavism opened #2084 "[feature] [www] Setup cron to automatically fetch and deploy latest translations"
As new strings are translated, they don't appear on the website right away since this requires a manual deployment right now. We can automate this by setting up a DO instance that runs a daily cron that pulls the latest translations from Transifex and automatically deploys them to the site. This same technique can be used for grabbing latest blog posts.

[2014-12-16 20:47] myleshorton opened #2085 "NullPointer in FlashlightServerManager on shutdown"
If we shutdown before Lantern has determined connectivity, we'll get a NullPointer that could affect other shutdown processes.

[2014-12-16 21:01] myleshorton opened #2087 "Improve experience of opening lantern if the UI is already up"
Right now we just close and open the window. Ideally we'd detect if the window is already open and would give it focus if so. We'd have to jump in on the native side, but the options looks promising:

http://www.commandline.co.uk/cmdow/index.html

http://apple.stackexchange.com/questions/117421/how-do-i-focus-a-specific-window-with-applescript-without-doing-an-activate-and

[2014-12-16 22:01] #2085 closed, assigned to myleshorton

[2014-12-17 02:04] #2009 closed, assigned to myleshorton

[2014-12-17 02:11] #2012 closed, assigned to myleshorton

[2014-12-17 10:02] #2077 closed, assigned to atavism

[2014-12-17 14:38] oxtoacart opened #2089 "[go-natty] Demo app doesn't seem to work"
On the channelwad branch, it is broken.  The server always reports a waddell id of 0.

[code]

[2014-12-17 15:18] #2049 closed, assigned to oxtoacart

[2014-12-17 16:39] #1957 closed, assigned to myleshorton

[2014-12-17 16:46] myleshorton opened #2090 "[bug] Flashlight still not starting in all cases"
Looks like it's windows-only, but flashlight is fairly frequently still failing to start. It gives the following error:

LogglyNotifications:
json:
nSimilarSuppressed: 0
reporterId: 2b582bfdb82df2cb562924dce0325165
fullMessage: Unexpected runtime exception
extra:
methodName: startFlashlight
language: en
logLevel: ERROR
country: US
threadName: Lantern-Async-Event-Thread-1
osName: Windows 7
osArch:

[2014-12-17 17:21] #1694 closed, assigned to myleshorton

[2014-12-17 18:14] #1988 closed, assigned to oxtoacart

[2014-12-17 18:36] myleshorton opened #2091 "Exception deleting port mapping"
This will typically happen if there's no IGD, for example:

[code]

[2014-12-17 20:04] oxtoacart opened #2092 "[byteexec] Unit test fails when running with Go 1.4"
[code]

[2014-12-17 23:03] #2076 closed, assigned to atavism

[2014-12-17 23:07] atavism opened #2094 "[lantern-ui] On shutdown, close tab that's running the UI"
When the user triggers a shut down, or the back-end suddenly goes away, call window.close() from the UI to close the corresponding tab.

[2014-12-17 23:08] atavism opened #2095 "[feature] [lantern-ui] When "Show Lantern" is clicked, check for existing instance of the UI"
Display an alert so that the user's attention is immediately directed to the tab instead of opening a new instance.

[2014-12-18 03:44] myleshorton opened #2096 "Errors accessing jpp.installerdatauk.info:443 through enproxy"
This error shot to the top of the loggly list for the last two days. The odd thing is that it looks like it's all from the same host. Why aren't duplicates being filtered here? Looks like the key is null? Are we using the key or the message to filter on?

Also unclear why we're trying to hit that site at all.

[code]

[2014-12-18 19:20] myleshorton opened #2098 "[feature] Auto-email ASL19 and GreatFire whenever we release new versions"

[2014-12-18 19:29] myleshorton opened #2099 "[feature] See if we can auto-identify the blocking page in Iran and auto-proxy when we see it"

[2014-12-18 19:44] myleshorton opened #2100 "Test with larger file downloads and ideally resume if they disconnect"

[2014-12-18 19:48] myleshorton opened #2101 "Set up email auto-responder with ASL19"

[2014-12-18 21:27] myleshorton opened #2102 "gonative build fails on downloading go for arm"
Download complete: https://storage.googleapis.com/golang/go1.3.3.linux-386.tar.gz
cp -rp linux_386-670173528/go/pkg/linux_386 /Users/afisk/go/pkg
Download complete: https://storage.googleapis.com/golang/go1.3.3.windows-386.zip
cp -rp windows_386-008744151/go/pkg/windows_386 /Users/afisk/go/pkg
Download complete: https://storage.googleapis.com/golang/go1.3.3.darwin-amd64-osx10.8.tar.gz
cp -rp darwi

[2014-12-19 17:22] myleshorton opened #2104 "[bug] Lantern not always starting on Windows 8"
See bug report from user on Facebook. Lantern doesn't start after install, and clicking the desktop link does nothing.

[2014-12-19 18:00] #2102 closed, assigned to oxtoacart

[2014-12-19 18:00] #2053 closed, assigned to oxtoacart

[2014-12-19 18:03] oxtoacart opened #2105 "[flashlight] Allow cross-compile script to work without any tags"
Right now, if the git repo doesn't have any tags, the ./crosscompile.bash script fails.

@myleshorton I'll fix the script for future use.

[2014-12-19 18:08] oxtoacart opened #2106 "[flashlight-build] Move flashlight build scripts into root of flashlight-build and update READMEs accordingly"

[2014-12-19 21:28] #2065 closed, assigned to nobody

[2014-12-20 01:04] #2096 closed, assigned to nobody

[2014-12-22 00:39] oxtoacart opened #2108 "[bug] [flashlight] Get test to succeed consistently"
It fairly frequently times out, exhibiting the below error:

[code]

[2014-12-22 00:39] #2106 closed, assigned to oxtoacart

[2014-12-22 00:39] #2105 closed, assigned to oxtoacart

[2014-12-22 04:43] ed2k opened #2109 "DefaultXmppHandler base64Cert debug output messed up terminal display"
suggest to remove that debug.

[code]

[2014-12-22 16:49] #2109 closed, assigned to nobody

[2014-12-22 17:18] myleshorton opened #2111 "Add auto-start configuration to the setup sequence."

[2014-12-22 17:19] myleshorton opened #2112 "Save auto-start setting across runs"

[2014-12-22 21:23] #2043 closed, assigned to myleshorton

[2014-12-22 22:00] myleshorton opened #2113 "Consolidate errors that differ in inconsequential details"
We get a lot of the following errors where the only difference is the date, for example:

2014/12/23 00:38:48 http: proxy error: EOF

or

HTTP ERROR FOR MASQUERADE elwatannews.com: Head http://www.google.com/humans.txt: EOF

where the site is the only difference. These should be consolidated under the same errors.

[2014-12-23 00:25] oxtoacart opened #2114 "[flashlight] Add ability for server to run in plain text mode"
This way, if flashlight is running behind a TLS upgrading proxy, we can dispense with doing unnecessary crypto work.

[2014-12-25 20:38] oxtoacart opened #2116 "[flashlight] Upgrade cloud servers to latest version of flashlight/go"
The current cloud servers are running on an old version of flashlight built on an old version of Go (1.2 I believe).  We should upgrade them to take advantage of whatever performance improvements have been made since then.

[2014-12-27 21:01] myleshorton opened #2117 "[bug] Flashlight CPU and disk usage growing over time"
This was observed on all flashlight servers, and restarting solved it. Marking as p3 since restarting seems to solve the issue. Perhaps upgrading to a newer Go version would help?

[2014-12-28 14:29] oxtoacart opened #2118 "Send alert email when excessive load is detected on flashlight servers"
Related to #2117

This post describes a simple script for doing just that - https://www.digitalocean.com/community/questions/email-notifications-for-server-resources

We'll want to adjust it to take one of the longer term load averages.

On a 512MB instance, I think anything over 0.7 on the 5 minute load average (the middle one) should trigger an alert.  This would imply running the check every 5

[2014-12-29 13:35] #2114 closed, assigned to oxtoacart

[2014-12-29 13:48] #2118 closed, assigned to oxtoacart

[2014-12-29 14:54] oxtoacart opened #2119 "[flashlight] Problems with register_domains.py on servers (missing pip)"
I saw this on a few servers when pushing the latest flashlight server configuration:

[code]

[2014-12-29 18:38] myleshorton opened #2120 "Re-run Optimizely tests on web site"

[2014-12-30 00:11] myleshorton opened #2121 "Flashlight CPU spiking to 100%"

[2014-12-30 04:18] myleshorton opened #2122 "Track country of traffic on servers"

[2014-12-30 05:25] #2119 closed, assigned to aranhoide

[2014-12-31 07:10] atavism opened #2123 "XMPP "Got a message while logged out?""
Is this normal/expected? Seeing it in the logs a fair bit
[code]
Turned up in Loggly 564 times the past 2 days.

[2014-12-31 17:15] myleshorton opened #2124 "Detect Lantern Pi on local network using multicast"

[2015-01-02 09:34] rngadam commented on #947
@oxtoacart actually, I do hang out in the Lantern UI and would really expect the friends notification to popup there and be handled there (not through email or system notification).

[2015-01-02 09:36] rngadam opened #2125 "Can't get local friend to connect as Lantern friend"
MacOS X, Lantern version 1.5.14-9280775 (9280775), Shanghai

I'm sitting next to my friend who also has Lantern installed.

Although we're both logged in and sent invite to each other through Lantern, all we got is those emails to invite us to install the software and our status shows as "Not yet connected".

We're also both on Google Talk and that's working so we're not sure what is breaking down

[2015-01-02 09:47] rngadam opened #2126 "java.io.FileNotFoundException: $HOME/Library/Logs/Lantern/java.log (Permission denied)"
Starting from the command-line:

[code]

I get:

[code]

Even if I create the file and give it all permissions:

[code]

full logs:

https://gist.github.com/rngadam/26f6f76fb3ecd2c7138f

[2015-01-02 12:22] oxtoacart commented on #2126
@rngadam What version of Lantern are you running?  You can find the version string in the footer of the UI.

[2015-01-02 12:28] oxtoacart commented on #2126
@rngadam Check your path.  The file you created is in ~/Library/Logs, but Lantern is trying to log to ~/Library/Logs/Lantern.

[2015-01-02 14:01] oxtoacart commented on #2119
@aranhoide Thanks very much for tracking this down!

[2015-01-02 14:26] oxtoacart commented on #2121
I've tried to reproduce this on a 64-bit Ubuntu VM in VMWare on an OS X host, using flashlight only, but with no luck so far.

[2015-01-02 16:17] aranhoide commented on #2091
This still happens in 1.5.15, although the fix is older than 2 weeks.  Please close again if this is expected (i.e. if the fix is scheduled for next version instead).

[code]

[2015-01-02 16:24] myleshorton commented on #2091
Yeah this was fixed on devel.

[2015-01-02 16:24] #2091 closed

[2015-01-02 16:51] oxtoacart opened #2127 "More race conditions detected in idletiming"
[code]

[2015-01-02 17:11] oxtoacart commented on #2122
As part of this, I'm tracking both the client's country and the destination port.

To do this, I introduced a new stat:

bytesGivenTo

This reports bytes given to the respective country.

[2015-01-02 17:19] oxtoacart commented on #2122
I've also updated statshub to start archiving the destport dimension hourly.

[2015-01-02 17:34] myleshorton commented on #2122
Nice!

On Fri, Jan 2, 2015 at 9:19 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-02 17:42] oxtoacart commented on #2122
Thanks!  Once the PR is merged, I'll push to a couple of flashlight servers and if that looks good after a day, I'll push to all of them.

FYI - I ended up building this off the tcpproxying branch because I didn't want to have to touch the code twice, and the server-side API is a little different from devel.

[2015-01-02 17:50] myleshorton commented on #2080
Awesome!

On Sun, Dec 28, 2014 at 6:58 PM, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-02 17:57] oxtoacart opened #2128 "[getlantern.org] Home page only links to 64-bit Linux installer"
@atavism @myleshorton At least when viewing the home page on a Mac, there's no link to 32 bit linux installers from the home page, just a single "Linux" link that points to the 64-bit deb.

[2015-01-02 18:00] oxtoacart opened #2129 "Installers should include version number"
Right now, the installers that we distribute (at least the ones from the getlantern.org home page) don't include the version number.  It would be nice to include the version number in the filename so that one can quickly identify which version of Lantern the installer will install.

[2015-01-02 18:03] myleshorton commented on #2129
We could actually do that fairly easily now that we have the version.js file setup.

[2015-01-02 18:03] oxtoacart commented on #2080
@atavism Neat that you were able to cut Install4J out of the loop!

FYI - the debs built by Install4J include a postinstall script sourced from linux/configureUbuntu.txt.  I think that script has bit-rotted some, but you may want to check if there's anything from there that you need for the arm installer.

[2015-01-02 18:09] myleshorton commented on #2125
Thanks for the report @rngadam!

The "Not yet connected" language is a little confusing. It just means that we haven't created an actual network connection between you and that friend and not that you're not yet considered friends. In the case you're talking about, Lantern actually won't connect the two of you because you're both in a censored region, so if Lantern tries to tunnel through either o

[2015-01-02 18:11] myleshorton commented on #2126
@rngadam is it possible you already had a version of Lantern running?

[2015-01-02 18:53] myleshorton opened #2130 "Add domain-fronting support for Edgecast, Level 3, and Akamai"
The greatfire guys are already successfully doing this using direct IP access, and we should be able to do the same.

[2015-01-02 18:57] oxtoacart commented on #2130
Bear in mind that our requirements are somewhat different from GreatFire.  In particular, we need to be able to fetch dynamic content via the CDN, not static content like GreatFire.  Also, we need to be able to upload data as well as download it.

[2015-01-02 22:30] atavism commented on #2080
@oxtoacart Thanks for pointing out the post install script. It looks like it just creates the Lantern desktop icon and runs some backward-compatibility checks so probably not applicable/necessary for the ARM installer.

[2015-01-02 22:32] oxtoacart commented on #2080
@atavism Great!

[2015-01-03 05:52] myleshorton commented on #2130
So just to have this in the record, the goal isn't to provide access to static mirrors but to domain front to reverse proxies that go to any site.

[2015-01-03 11:51] oxtoacart commented on #2130
So, I hadn't actually realized that GreatFire was now doing dynamic domain fronting.  I strike my above comment.

[2015-01-04 22:30] #2083 closed

[2015-01-05 02:34] oxtoacart opened #2132 "[flashlight] register_domains.py fails whenever I update an existing flashlight server"
[code]

As part of fixing this, we might want to consider having the flashlight server ping peerdnsreg the way that peer servers do.  We'll need to port that code to Go eventually anyway, and treating our fallbacks the same way as peers would allow peerdnsreg to automatically take nonresponsive fallbacks out of rotation.

[2015-01-05 02:35] oxtoacart commented on #2132
@myleshorton FYI

[2015-01-05 03:01] oxtoacart commented on #2122
Merged and deployed to all flashlight servers.

[2015-01-05 03:01] #2122 closed

[2015-01-05 03:26] LeoK987 opened #2133 "some errors when starting up"
$ lantern
sed: couldn't open temporary file /opt/lantern/sedaXQO3x: Permission denied
cp: cannot create regular file ‘/usr/share/applications/lantern.desktop’: Permission denied
mv: try to overwrite ‘/opt/lantern/jre/bin’, overriding mode 0755 (rwxr-xr-x)?
mv: try to overwrite ‘/opt/lantern/jre/man’, overriding mode 0755 (rwxr-xr-x)?
mv: try to overwrite ‘/opt/lantern/jre/plugin’, overriding mode

[2015-01-05 04:01] myleshorton commented on #2121
It looks like we're seeing this on the production servers as well. See the following:

![image](https://cloud.githubusercontent.com/assets/1143966/5609116/87b0c52c-944c-11e4-90ed-52bf6cd22828.png)

[2015-01-05 04:38] LeoK987 commented on #2121
This morning lantern has difficulty getting me access.  I had to kill it multiple times.  During this time flashlight got 100% CPU many times.  I now revert to version 1.5.9 and see what happens.

[2015-01-05 04:42] myleshorton commented on #2121
Thanks - we're seeing this on our end as well and are working on it.

On Sunday, January 4, 2015, LeoK <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-05 04:50] LeoK987 commented on #2121
Thanks very much.  I can get this message via gmail so it means it still
works albeit very slowly.

On Monday, January 5, 2015, myleshorton <notifications@github.com> wrote:

[2015-01-05 07:13] myleshorton commented on #2121
OK, I've rebooted all the servers a couple of times now, and some still get pegged at 100% CPU when they come back up. My guess is there's something on the client side that's causing and a lack of appropriate checks on the server side to thwart what's effectively an attack, and the servers whose CPU spikes to 100% are getting hit by corresponding clients whose CPU is also spiking to 100%. We'll co

[2015-01-05 08:15] oxtoacart commented on #2121
The server-side manifestation of this problem only popped up after I deployed a new build of flashlight to the servers earlier today, so I don't think the server-side CPU spike is related to a client's CPU spiking.  Rather, there must be some shared code used by both clients and servers that causing this spike.

[2015-01-05 13:16] oxtoacart opened #2134 "[flashlight] Improve cpu profiling support"
1. CPU profile info should be saved not just on SIGINT as currently, but also on SIGKILL, etc.

2. CPU profile info should have a timestamp appended to it so that files from multiple runs don't interfere with each other.

[2015-01-05 13:43] oxtoacart opened #2135 "[flashlight] Figure out why we're getting IPv6 addresses from client and do something about it"
I see errors like this in /var/log/syslog on fl-singapore-004-1:

[code]

That looks like an Ipv4 address, which we're not handling properly because we're doing string manipulation.

[2015-01-05 13:56] oxtoacart opened #2136 "[flashlight] Use path/filepath in byteexec instead of path"
byteexec uses path instead of filepath.  filepath has cross-platform support, path just uses Unix slashes.

[2015-01-05 15:09] oxtoacart commented on #2135
So, irrespective of why we might be getting IPv6 addresses, we shouldn't be using strings.Split to split host and port, but instead should use net.SplitHostAndPort.

[2015-01-05 15:11] oxtoacart opened #2137 "[flashlight] Figure out why port 182 is the third-highest port in terms of bandwidth served"

[2015-01-05 15:33] aranhoide commented on #2132
IIRC the machine would keep a record of the registration details, both for
the purposes of eventually unregistering, and to avoid double registrations.

Feel free to reassign to me and I'll look this up.  This is low priority I
think, since this failure should have no other effects.

On Mon, Jan 5, 2015 at 3:35 AM, oxtoacart <notifications@github.com> wrote:

[2015-01-05 15:38] oxtoacart commented on #2132
@aranhoide The registration is just under the machine's hostname, so there shouldn't be a need to keep track of anything additional.

[2015-01-05 15:38] oxtoacart commented on #2132
Agree that this is low priority, that's why I marked it P3.

[2015-01-05 15:42] oxtoacart commented on #2121
I did some profiling on fl-singapore-004-1 using more recent code that exhibits the CPU spike behavior.  When running normally without spiking, the Top20 in pprof look like this:

[code]

When encountering a spike, the Top 20 look like this:

[code]

[2015-01-05 15:45] oxtoacart commented on #2121
In the good output (no spike), we see that work is spread out over a bunch of functions, but that the bulk of the CPU time is spent doing crypto, which is not surprising.

In the bad output, we're seeing work being dominated by calls to ExternalCode, and in particular seeing a lot of time spent inside of IdleTimingConn.Write.  Amongst other things, this function sets write timeouts on an connectio

[2015-01-05 15:46] aranhoide commented on #2132
I may be misremembering, but I think we used to register the machine both as a subdomain and as one of the targets of the round robin.  Upon registering, cloudflare would give you some handle/cookie/id that you could use for unregistering.  That's what we're storing.  It's not strictly necessary, but it avoids some cloudflare queries every time we update the machine or when we unregister.

[2015-01-05 15:50] oxtoacart commented on #2132
Ah, we're talking about registering with two different services.  You're talking about registering with CloudFlare directly.  I was talking about registering with peerdnsreg, which takes care of registering with CloudFlare for us.  Any optimizations like storing a handle would be done by peerdnsreg.

[2015-01-05 15:52] oxtoacart commented on #2121
I have a tentative pull request that may fix the IdleTiming issue - https://github.com/getlantern/flashlight-build/pull/19

I created a version of the tcpproxying branch that incorporates the changes from that PR and am testing that on fl-singapore-004-1 now.  We'll see how it holds up.

[2015-01-05 17:20] oxtoacart commented on #2121
Just saw another spike, with similar pprof output:

[code]

[2015-01-05 17:50] myleshorton commented on #2132
I like the idea of having the servers use the same mechanism so we can
automatically take them out of rotation. Makes sense.

On Mon, Jan 5, 2015 at 7:50 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-05 18:22] ed2k opened #2138 "lantern overwrite existing http proxy settings in windows"
to coexist with existing proxy pac address, lantern needs to save the existing pac path and restore it after exit.

[2015-01-05 18:43] scouttle commented on #2138
Thanks for the report, @ed2k!

This is something we want to address, but may not get to it for a while. In the meantime we understand that some users have success with proxy switchers, so if you're looking to regularly switch your proxy settings, that might be something to explore. Lantern is always running on port 8787.

Thanks again!

[2015-01-05 18:47] myleshorton commented on #2133
Thanks @LeoK987 there are a few issues here, but the logging one (second error) is just a quirk of log4j startup that doesn't affect anything. The first is more of an issue. You could set permissions on the /opt/lantern directory to no require root, and in the future we'll handle this on the install side.

[2015-01-05 18:48] scouttle commented on #2133
Agree, thanks for reporting, @LeoK987!

We expect that these errors will have minimal impact on Lantern when it's actually running; are you seeing anything that seems visibly off?

Thanks again!

[2015-01-05 18:58] scouttle commented on #2125
Indeed, thanks for the report, @rngadam!

As @myleshorton, we hope to make this more clear over in #1371, so I'm going to close this issue for now. However, please chime in again if that doesn't seem right!

[2015-01-05 18:58] #2125 closed

[2015-01-05 19:24] myleshorton opened #2139 "[feature] Add and track Lantern version header for flashlight traffic"

[2015-01-05 20:21] myleshorton opened #2140 "A lot of traffic going to users with no ID"

[2015-01-05 20:39] #2079 closed, assigned to atavism

[2015-01-05 21:15] atavism commented on #2006
Are the reconnections possibly failing as well, and we aren't seeing the errors about them? https://github.com/adamfisk/littleshoot-xmpp/blob/master/src/main/java/org/littleshoot/commom/xmpp/XmppUtils.java -- it looks like reconnection failures aren't being logged with the right log level so they wouldn't show up in Loggly, correct?

[2015-01-05 21:17] atavism commented on #2099
@myleshorton Looking for some additional P1 tickets to assign to myself. Mind if I take this one?

[2015-01-05 22:13] LeoK987 commented on #2133
Thanks guys.  I don't know what problems these cause me.  It gets me access
albeit at times slow.  But I can not logon to google from the lantern
windows though, so I wonder if these caused it.

On Tuesday, January 6, 2015, scouttle <notifications@github.com> wrote:

[2015-01-05 23:49] myleshorton commented on #2133
Does logging on to Google simply time out or what happens exactly? Are you
still seeing problems now?

On Mon, Jan 5, 2015 at 2:13 PM, LeoK <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-06 00:57] LeoK987 commented on #2133
I have not changed permissions (not sure about the implications), so yes
the problems are still there.

As to logging into google, it simply hangs there (and eventually times out
I guess).  It has been like this for about a year.  After learning that
lantern can still be used without signing in, I simply leave it not signed
it.

On Tuesday, January 6, 2015, myleshorton <notifications@github.com> w

[2015-01-06 02:58] oxtoacart opened #2141 "[bug] [flashlight] Figure out why CloudFlare seems to slow things down so much"
While testing the changes for #2121 by running a client against a specific flashlight server containing the #2121 changes, I noticed that CloudFlare was reporting a fair number of connection timeouts, and the browsing experience overall seemed pretty flaky.

I then tried testing against a flashlight server running locally, and the timeouts disappeared and the browsing experience was great.

I then

[2015-01-06 05:18] myleshorton commented on #2117
Very related to #2121

[2015-01-06 16:36] myleshorton commented on #2099
Hey sorry for the delay @atavism but that would be awesome! As I think you saw in that article the tricky part is that http://peyvandha.ir only appears after 30 seconds or so. One approach would be to just detect that and redirect that first time and then thereafter -- that might be plenty good enough as a first pass. Might even be cool to show the user that page and then Lantern automatically byp

[2015-01-06 17:02] oxtoacart commented on #2099
The other thing that may be tricky is doing this for HTTPS connections, since I don't know how we could detect the redirect.

[2015-01-06 18:26] myleshorton commented on #2141
Interesting @oxtoacart. Adding this to short term.

[2015-01-06 18:39] myleshorton commented on #2133
Thanks @LeoK987! So you just manually point to 127.0.0.1:8787 is that correct? Have you heard of a lot of other people doing the same thing?

[2015-01-06 19:44] scouttle commented on #2079
Just noticed that this ticket is closed – @atavism should it be moved to devel?

[2015-01-06 19:45] scouttle commented on #2119
Just noticed that this ticket is closed – @aranhoide should it be moved to devel?

[2015-01-06 19:45] scouttle commented on #2094
Just noticed that this ticket is closed – @atavism should it be moved to devel?

[2015-01-06 19:46] scouttle commented on #2122
Just noticed that this ticket is closed – @oxtoacart should it be moved to devel?

[2015-01-06 19:50] myleshorton commented on #2122
I would just put it in devel just to keep things simple. I don't think anyone's going through our closed tickets closely enough to really get upset with this.

[2015-01-06 20:28] collina commented on #2099
@myleshorton It's generally either:
* a 302 Redirect with a small HTTP payload that includes an iframe referencing 10.10.34.34;
* a DNS response redirecting to 10.10.34.34; or,
* a prematurely terminated SSL connection.

[2015-01-06 21:25] oxtoacart commented on #2122
Moved to devel.

[2015-01-06 21:52] aranhoide commented on #2119
@scouttle I don't understand the question.  This ticket is about backend servers getting into a broken state.  Although some "code" (backend configuration in the lantern_aws project) changes were made as a result, the bulk of the fix involved manually massaging the servers back into shape.  Thus, the fix is deployed live.

You could call this a hotfix, although right now I admit we're not (yet) fo

[2015-01-07 00:25] LeoK987 commented on #2133
@myleshorton,

Actually, how lantern should be set to work is a mystery to me.  The
documentation (little) says that it sets the system proxy.  Firefox seems
to work with system proxy.  But if I use the system proxy in Chrome, it
doesn't work.  Chrome currently works for me because I have had
SwitchySharp which I set for automatic configuration to use lantern.  It
was set up that way when I could

[2015-01-07 00:53] oxtoacart commented on #2141
Okay, I have some idea of what's causing this.  Looking at one of our flashlight servers, I see that it's maintaining 10 times as many outbound connections as inbound from CloudFlare.  I implemented an optimization some time ago to stream responses as long as possible in a single response.  This ties up a connection.  If all of the connections from CloudFlare are busy streaming responses, requests

[2015-01-07 01:22] oxtoacart commented on #2141
Well, it turns out that we already limit each response to 1 MB and terminate it if idle for more than 35 milliseconds.  So, perhaps this is not the root cause ...

[2015-01-07 03:11] #2135 closed

[2015-01-07 03:12] #2121 closed

[2015-01-07 03:12] #2134 closed

[2015-01-07 04:50] collina commented on #2099
The filter response does not reference peyvandha and peyvandha does not maintain that private address space IP – peyandha.ir is publicly accessible, the intermediate page is not. More here: http://arxiv.org/abs/1209.6398

When you encounter the HTTP filter, you receive a response like:

    <html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1256"><title>M3-5
    </titl

[2015-01-07 05:29] myleshorton commented on #2099
This is great @collina thanks! So in terms of coming up with a general rule for identifying this redirect, would it be safe to say that we could look for any redirect with an iframe whose src is a non-public IP?

Also, how are redirects to HTTPS sites handled? Do they redirect you to an HTTP version of the HTTP filter? We're basically wondering if we can detect that purely on the Lantern proxy sid

[2015-01-07 05:39] myleshorton opened #2142 "[feature] Compile flashlight for the NDK"

[2015-01-07 05:44] myleshorton commented on #2142
Hey @xiam do you want to take a stab at this one? We've started building everything from the Go side at:

https://github.com/getlantern/flashlight-build

It basically uses subtrees to allow us to build everything together and to make more coherent pull requests.  It should document everything quite well, and we basically want to compile it for the NDK on Android.

The area that seems the most like

[2015-01-07 06:54] collina commented on #2099
I think it would be safe to hardcode 10.10.34.34 for now. The filter cannot handle HTTPS for all the obvious reasons so it relies on the TLS SNI, DNS manipulation, or IP/port blocking. In the first case, it will look like an abnormally terminated SSL connection.

[2015-01-07 07:17] atavism commented on #2094
@scouttle Thanks! Actually, I'll re-open and mark this pending merge since it depends on https://github.com/getlantern/lantern-ui/pull/78 anyway.

[2015-01-07 14:36] oxtoacart commented on #2117
After restarting the whole 004 series, usage on this server went down.  I think perhaps we're seeing CloudFlare shifting around traffic to those machines that seem the most responsive.

To make sure we're not being penalized for old non-responsive machines, I'm deploying a recent build to all flashlight servers (it's been running fine on the 004 series).  This build includes logic that still alert

[2015-01-07 14:39] oxtoacart commented on #2117
Note - once this deployment is finished, all flashlight servers will have memory profiling enabled.  If you ever need to investigate one, you can look in /home/lantern for files named mem_YYYYMMDD_HHMMSS.NANO.prof.  The timestamp corresponds to when flashlight process started, not when it finished, but the file is only written out when flashlight is stopped (i.e. using `sudo service flashlight sto

[2015-01-07 14:48] oxtoacart commented on #2117
Okay, I've updated all of the flashlight servers.  I'm browsing using flashlight to fallback.getiantem.org right now and will continue doing so throughout the day to see how the experience holds up.

[2015-01-07 15:08] oxtoacart commented on #2142
@xiam

Nice to meet you!

Since you last looked at Go+Android a couple of years ago, there have been some developments.  With the Go 1.4 release, there's some official support for Android.

See https://godoc.org/golang.org/x/mobile and https://docs.google.com/document/d/1N3XyVkAP8nmWjASz8L_OjjnjVKxgeVBjIsTr5qIUcA4/edit

We're building flashlight using https://github.com/getlantern/gox using a cros

[2015-01-07 16:25] myleshorton opened #2143 "Port system tray to go"

[2015-01-07 16:26] oxtoacart commented on #2141
Note, right now I'm running against fallbacks.getiantem.org with masquerading on.  I had recently updated and bounced all of the flashlight servers.  At the moment, the browsing experience is quite decent through CloudFlare.

[2015-01-07 16:43] oxtoacart commented on #2117
Oddly, even after bouncing all of the servers, load is not evenly distributed.  For example 003-19 is handling about 6mbps right now, while 001-30 is handling 50mbps.  It's not clear to me what's causing this sort of difference, but we need to either sort this out or figure out a way to get CloudFlare to not redirect new traffic to servers that are already heavily loaded.

[2015-01-07 16:46] myleshorton opened #2144 "[feature] Add VPS on r0ute.com"

[2015-01-07 16:54] atavism commented on #2124
@myleshorton If you want to create a PR and assign it to me, I'll get these changes merged.

[2015-01-07 18:15] xiam commented on #2142
Thanks @oxtoacart, nice to meet you too.

It seems like things got easier with go1.4 indeed, now I need to test if
this is indeed a valid build:

file ./flashlight_linux_arm
./flashlight_linux_arm: ELF 32-bit LSB  executable, ARM, EABI5 version 1
(SYSV), statically linked, not stripped

What would be the best way to make sure this is what we need? Maybe a test
android project?

José Carlos

On Wed

[2015-01-07 18:58] oxtoacart commented on #2142
Yes, a test android project sounds good.  Maybe just a simple app that starts flashlight and tails stdout and stderr from flashlight to the screen.

[2015-01-07 19:05] oxtoacart opened #2145 "[flashlight] Disable memory profiling in salt flashlight.conf"
Right now, all of our flashlight servers are running with memory profiling on.  This imposes some overhead (though it doesn't seem to bad).  If we're no longer encountering what looks like memory-related issues, we should turn this off.

[2015-01-07 19:06] oxtoacart commented on #2145
Actually, the bigger impact of this is disk usage.  Bumping up to P1 short term because of that.

[2015-01-07 19:35] oxtoacart commented on #2117
Another option is to use fewer larger servers.

[2015-01-07 22:01] myleshorton commented on #2117
Thanks for all of this Ox! To me that graph is a huge improvement, as it shows a direct correlation between bandwidth and CPU at high CPU, which is different from what we've seen before.

In fact, I think that might even be enough to close this ticket proper, with the only remaining issue really being that some servers get more load than others. The only thing I know that would cause that on our e

[2015-01-07 22:10] oxtoacart opened #2146 "[flashlight] Understand, and deal with, the fact that some flashlight servers seem to chronically get more traffic than others"
This came out of #2117.  Basically, some servers are chronically overloaded, almost as if clients are hitting them directly.  We do have sticky routing so that long-lived connections are all served by the same flashlight server, but we've seen high load persist even across server restarts, which would have severed those long-lived connections.

[2015-01-07 22:15] oxtoacart commented on #2117
Thanks, yes I do think we've improved things quite a bit.

Logged #2146 for this.

The weird thing is that we've seen high load persist even across server restarts, which would have severed those long-lived connections, so I don't think our sticky routing is the issue.

Agreed.  I do think it's worth some investigation to understand more about what's happening here.  For example server 001-30 has

[2015-01-07 22:22] oxtoacart commented on #2140
We've seen such traffic since before our weird flashlight spike starting in December, so it's likely that this is not directly related to the issue with users seemingly not being assigned fallback proxies.

[2015-01-07 22:33] oxtoacart commented on #2117
The other thing to consider here is that if and when DO starts charging for bandwidth, that will be the limiting factor long before CPU.  We see current 1 core machines easily pushing 10-20mbps without breaking a sweat.  That comes out to 6.5 TB per month, which is 6.5 times what we get included in the droplet price.  We don't want to get into bandwidth usage charges as those are quite high.

What

[2015-01-07 23:08] xiam commented on #2142
Hi @oxtoacart,

I didn't have a lot of success today, I'm starting slow on Android and the
new Android Studio thingy, but I found some clues on where to continue
working. So, the android binary I generated is a valid ARM-for-android
program but it generates a runtime panic (I'm attaching screen capture).

The panic is generated at
https://github.com/getlantern/go-igdman/blob/master/igdman/upnp.go#

[2015-01-07 23:22] oxtoacart commented on #2142
uPnP support is not something we need in Android anyway, so it's best just to disable that (preferably at compile time).

Another thing that we don't need is go-natty.  It also won't work on Android.

[2015-01-07 23:48] myleshorton commented on #2142
I would definitely just keep going on it @xiam. On the $HOME directory front, I'm not sure what the standard on Android is, but I would just try to determine that and use it.

[2015-01-07 23:52] myleshorton commented on #2117
Good point @oxtoacart. DO claims that they'll give people a solid lead time before starting to charge for bandwidth, so we could just wait to see if and when that happens and make the appropriate adjustments then.

I regardless like the option of retiring and de-registering machines, and I think having those machines use peerdnsreg does make sense.

[2015-01-08 00:05] myleshorton commented on #2099
Awesome thanks @collina

[2015-01-08 00:34] myleshorton commented on #2124
Cool @atavism I'll open a PR now. I just made one change to make sure we continually send out multicast messages.

[2015-01-08 00:40] oxtoacart commented on #2142
@myleshorton uPnP won't work anyway because it's using embedded upnpc binaries.  It doesn't include one for Android/ARM.  Also, unless we're planning on running flashlight servers on mobile phones (talk about a battery drain!) there's no need for upnp support on mobile.

[2015-01-08 00:42] myleshorton commented on #2142
Right -- I wasn't suggesting we needed UPnP support.

[2015-01-08 01:01] oxtoacart commented on #2142
Okay, so if we don't need UPnP support, we don't need a $HOME directory, right?

[2015-01-08 01:33] myleshorton commented on #2142
Not sure.

On Wednesday, January 7, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-08 01:50] oxtoacart commented on #2117
So here's something interesting.  I went to CloudFlare to manually remove 001-29 from the fallbacks rotation and, guess what, it's not in there!  It is however in the round-robin rotation, and in the test_fallbacks rotation.  I'm going to remove it from those and see what happens.

[2015-01-08 01:51] oxtoacart commented on #2117
So, even after taking it out of all the rotations and power cycling the machine, it immediately jumps up to high load and has a bunch of connections from CloudFlare?!

[2015-01-08 01:56] oxtoacart commented on #2142
Sorry, that wasn't so much a question as an assertion.  @xiam mentioned the $HOME directory because go-upnp is using byteexec to execute upnpc, and byteexec looks for $HOME to extract the executable there.  By removing go-upnp (as well as other things that use byteexec like go-natty), that eliminates the need for a $HOME directory.  The only other thing in our codebase that uses user.Current() to

[2015-01-08 01:59] oxtoacart commented on #2117
I've now taken the fl-singapore-001-29 entry out of CloudFlare, and I'm still getting traffic from there ?!  Maybe it just takes a really long time for those changes to propagate through CloudFlare's infrastructure?

[2015-01-08 04:00] oxtoacart opened #2148 "[feature] [flashlight] Track count of distinct client ips and sites visited by country"
We've had a huge increase in traffic from the Philippines, and it's not clear what's causing it.  In case it's an attack, or a few users taking advantage of the system, it would be nice to keep some counts by country:

- distinct ips
- distinct sites visited

We can do this using the "members" stat on statshub.

[2015-01-08 04:57] oxtoacart commented on #2148
Drats, this is going to require a change to statshub.  Currently, it only lets us submit one member at a time.  We'll need to submit multiple to accommodate this.

[2015-01-08 07:21] myleshorton commented on #2117
Very odd on those CloudFlare connections. Will be interesting to see if
they're still there tomorrow.

On Wednesday, January 7, 2015, LeoK <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-08 07:22] myleshorton commented on #2117
Thanks @LeoK. We identified issues with Flashlight that affect both the
client and the server sides, and we should have a fix out soon.

On Wednesday, January 7, 2015, LeoK <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-08 13:18] oxtoacart commented on #2148
I've already pushed this to statshub and deployed a flashlight build to 004-1 that's tracking these stats.  I'll watch it for a while and see how it goes.

[2015-01-08 15:19] oxtoacart commented on #2117
@myleshorton Unfortunately I got trigger happy and deleted those DO machines yesterday.  However, 001-20 is now getting slammed, so I've removed it from CloudFlare DNS settings and will leave the machine around for a few days to see what happens.

[2015-01-08 18:06] xiam commented on #2142
After reviewing the flashlight source, I think disabling uPnP at compilation time would be more difficult than doing it at runtime by detecting if we're on the Android platform and just skipping the server's initialization code, because we only need to disable in Android and not in all ARM platforms, such as the Raspberry PI.

I think that if we skip [runServerProxy](https://github.com/getlantern/

[2015-01-08 18:37] xiam commented on #2142
I think I can set http://golang.org/pkg/runtime/#GOOS as "android" at compile time, that would spare us that `Host` constant... I'll check.

[2015-01-08 19:22] myleshorton commented on #2142
You might be able to also check that at runtime no? Looks like that will resolve to "android" on Android:

[2015-01-08 19:22] myleshorton commented on #2142
https://docs.google.com/document/d/1N3XyVkAP8nmWjASz8L_OjjnjVKxgeVBjIsTr5qIUcA4/edit

[2015-01-08 19:27] xiam commented on #2142
Looks like the way to change `GOOS` to `android` would be using `gox -osarch="android/arm" github.com/getlantern/flashlight`, but unlike -osarch="linux/arm" it fails because it's using the wrong toolchain:

[code]

However, I was already able to generate a valid build for android with `gox` and `linux/arm`:

[code]

Would it be better to continue trying to fix this cross compilation problem or to

[2015-01-08 19:30] oxtoacart commented on #2142
@xiam You could also consider using your own conditional compilation variable.  Here's a good article on that:

http://dave.cheney.net/2013/10/12/how-to-use-conditional-compilation-with-the-go-build-tool

gox allows you to specify ldflags as `-ldflags`.

Using this approach, you could create a flag called "android" and then use a comment like this to include things for Android

`// +android`

or e

[2015-01-08 19:31] oxtoacart commented on #2142
Sorry, my above examples were incorrect. Fixing now.

[2015-01-08 19:32] oxtoacart commented on #2142
Oh, I was also going to mention that excluding this stuff at compile time is valuable because it will save a lot of space.  Just excluding go-natty would probably save about 10MB or so.

[2015-01-08 19:36] xiam commented on #2142
@oxtoacart Yeah, that too, I was not thinking on size and that's also a good reason to exclude stuff at compilation time. Let me give another try with gox and `linux/arm` to make it run first and I think we can go back fixing `GOOS=android` later.

[2015-01-08 19:37] oxtoacart commented on #2142
Sounds good to me!

[2015-01-08 20:33] oxtoacart opened #2150 "[feature] Track statistics on top sites per country by traffic"
We used to track statistics on all hosts, but that proved to be too expensive to archive to BigQuery.  Really, we only need to archive the top 10 per country at any given point in time, which would be much cheaper to do.  This just requires enhancing the archiving mechanism to be able to sort and take the top N on archiving.

This would help provide insight into questions like "why are users from

[2015-01-08 21:42] xiam commented on #2142
Using `gox` with `-tags` I've managed to use the "android" build tag to disable `runServerProxy()` on Android:

[code]

Here's the binary running on my device:

![screenshot_2015-01-08-15-20-21 1](https://cloud.githubusercontent.com/assets/385670/5671188/8cf37884-974b-11e4-8e8c-157729b97072.png)

Before jumping on to the NDK I want to be sure that all the things we need are fully supported (no run

[2015-01-08 22:31] myleshorton commented on #2142
That's great @xiam! The basic idea is that we'll have a Java frontend communicating with the Go backend running on the NDK. It's likely the NDK might act as some sort of chained proxy where the Java side forwards requests in some fashion. I don't know enough about Android development to say exactly how that should happen or even if it's possible, but that's the basic idea.

[2015-01-08 22:36] xiam commented on #2142
@myleshorton Oops! I misformulated my question, I wanted to ask what functionality is going *flashlight* to provide for Android's NDK users exactly. We already know there is no need to provide server functionality, for example.

[2015-01-08 22:38] myleshorton commented on #2142
Oh gotcha -- flashlight is basically going to provide users in censored regions with access to blocked sites. So it will be running in client mode only, and the frontend should ultimately be able to proxy requests from the browser through flashlight. Under the hood, flashlight does all the domain fronting magic to access the blocked sites (see https://trac.torproject.org/projects/tor/wiki/doc/meek

[2015-01-08 22:47] oxtoacart commented on #2142
@xiam It's exciting to see your progress!

@myleshorton I will be able to join tonight's call after all.

[2015-01-09 01:21] xiam commented on #2142
Thanks @oxtoacart :).

I've switched my working copy to https://github.com/getlantern/flashlight-build/tree/tcpproxying, and it does not compile with -tags="android" anymore because of go-natty:

[code]

We have references in globals, config and client:

[code]

The `Client` structure has a `nattywadClient` field of type `*nattywad.Client`, so it's currently required for the client to work. Any go

[2015-01-09 01:27] oxtoacart commented on #2142
The easiest thing to do might be to apply your conditional compilation technique to go-natty itself.  It's also in the flashlight-build tree, so you should be able to make the update directly in there.  All of the methods could just be no-ops or something like that.  What do you think?

[2015-01-09 01:39] xiam commented on #2142
Yeah, I've just tested it that way and it compiles again. I think I'm ready
to jump to the NDK!

[2015-01-09 03:05] myleshorton commented on #2142
Exciting stuff @xiam!

We had a great chat with the folks at https://en.greatfire.org/, and I think the basic plan is to just keep you moving on this to the point where you're able to get a small demo working of the Java side talking to the Go backend (not full proxying probably, but just some call). Then we'll document it and pass it over to them so they can start integrating it. It's still uncle

[2015-01-09 16:14] aranhoide commented on #2148
Nice!

[2015-01-09 16:24] oxtoacart commented on #2148
@aranhoide Thanks! This is now live on all flashlight servers.

[2015-01-09 16:28] aranhoide commented on #2117
A DO flashlight server can unregister itself from Cloudflare.  We'd just need to call the register_domains.py script with the `unregister` command:

https://github.com/getlantern/lantern_aws/blob/master/salt/flashlight/register_domains.py#L69

Resizing a DO droplet can be done programmatically, but since it involves powering the machine off and on, it can't be done from the machine itself.  It wou

[2015-01-09 18:29] myleshorton opened #2151 "Setting system proxy taking up to 50 seconds in some cases"
This has been observed largely for Chinese users and is the cause the of the lag in showing the Google login screen. The cause seems to be a large number of network interfaces for VPNs that each take around 1 second to change proxy settings on in the current code. @fffw already submitted a PR for this.

[2015-01-09 18:30] myleshorton commented on #2151
See #2149

[2015-01-09 18:53] oxtoacart commented on #2117
https://github.com/getlantern/lantern_aws/blob/master/salt/flashlight/register_domains.py#L69

Excellent!

As discussed, I'm leaning heavily towards just destroying the droplet and launching a new one, just in case there's something overly "sticky" going on.

[2015-01-09 18:54] oxtoacart commented on #2117
I should mention that "launching a new one" doesn't need to be coupled with "destroying the droplet".  In particular, launching new droplets is already based on overall capacity considerations, so we could simply destroy the old droplet and rely on our usual capacity management mechanism (currently manual) to launch whatever new droplets are necessary.

[2015-01-09 20:01] xiam commented on #2142
Great @myleshorton! I think we'll be able to provide them with an example soon, I already did some experiments and now I'm working on a PoC for full proxying, but I'm a bit stuck.

I'm building a wrapper function (`func RunClientProxy(listenAddr string) (err error)`) in a new subpackage, this package is intended to provide bindings that would be called from the Android app.

If I run my `RunClient

[2015-01-09 20:16] oxtoacart commented on #2142
@xiam Can you send me your full log please?  ox@getlantern.org.

[2015-01-09 20:26] aranhoide commented on #2117
OTOH, destroying droplets automatically and only launching them manually makes me a bit uneasy.  In principle I'd rather have our automatons try and be neutral wrt scale (i.e., request a new instance to be launched when one is shut down), at least until we implement actual auto scaling functionality.

[2015-01-09 20:27] myleshorton commented on #2117
Sounds about right to me!

On Fri, Jan 9, 2015 at 10:54 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-09 20:30] myleshorton commented on #2117
That is to say, yes it would be tricky if we started getting cascading server shutdowns, so launching a new one would seem to make sense. In fact it's tempting to either start two new ones or to scale up the existing one to accommodate the CPU spike. I kind of like the starting two new ones approach, as it gives us super rudimentary auto-scaling.

[2015-01-09 20:36] oxtoacart commented on #2117
@aranhoide @myleshorton Yes, I see your point.  Makes sense to me!

[2015-01-09 20:37] oxtoacart commented on #2117
It occurs to me that managing the auto-scaling from peerdnsreg might make sense since it has a good understanding of the overall number of online fallbacks and peers.

[2015-01-09 20:38] aranhoide commented on #2117
Auto-scaling up when we have a not-totally-understood massive resource demand is a bit scary too :).  I'd sleep better if we at least put some kind of cap on it, past which we require human intervention to greenlight further scaling up.

[2015-01-09 20:45] myleshorton commented on #2117
Agreed @oxtoacart. If we can consolidate things there, that would be handy. I do think following the same rules for servers that we follow for peers exactly is a bit dangerous along the lines of @aranhoide's concern, i.e. if we kill everything that doesn't respond within x seconds for both peers and servers, we might end up with no servers if load really spiked! But generally though I really like

[2015-01-09 21:02] myleshorton commented on #2133
Thanks @LeoK987 and sorry for the delay! Any browser extension that sets a proxy will override the system proxy, so that could be related to what you're seeing. Chrome without any extension should always just use the system proxy, so maybe there's another extension that's affecting the proxy settings? Do you configure SwitchySharp to just point to 127.0.0.1:8787 for it to work with Lantern?

What

[2015-01-09 21:10] oxtoacart commented on #2117
Yes, this definitely requires some thought to make sure we get it right, and it sounds like we're on the right track.

[2015-01-09 21:22] myleshorton opened #2152 "Either user data or country data is wrong"
There are numbers that contradict each other, making it appear we have issues with our data. For example, the following two queries return drastically different results:

SELECT STRING(DATE(SEC_TO_TIMESTAMP(FLOOR(TIMESTAMP_TO_SEC(_ts) / 60 / 60 / 24 / 7) * 60 * 60 *24 * 7))) AS week, MAX(gauge.userOnline) AS online
FROM statshub.country
WHERE _dim == 'total'
GROUP BY week
ORDER BY week DESC

SELEC

[2015-01-09 21:32] oxtoacart commented on #2152
Here's at least part of the problem:

https://github.com/getlantern/lantern/blob/devel/src/main/java/org/lantern/simple/Give.java#L93
https://github.com/getlantern/lantern/blob/devel/src/main/java/org/lantern/state/InstanceStats.java#L214

The simple.Give proxy (which is what we use for fallbacks) uses InstanceStats, which in turn reports userOnline to statshub.

[2015-01-09 21:57] myleshorton commented on #2152
Interesting. I believe we still have 100 fallbacks right @aranhoide? So that would mean we're overcounting by 100.

[2015-01-09 21:59] oxtoacart commented on #2152
Yes, looks like we have 100 fallbacks.

In trying to account for the mysterious jump of 500 in early august, that leaves 400 unaccounted for.

[2015-01-09 22:01] oxtoacart commented on #2152
Ahh, found the 400 - it looks like we added a lot of United States Give-mode proxies in early August.  That was during our IndieGogo campaign, wasn't it?

[2015-01-09 22:04] oxtoacart commented on #2152
BTW, the 2nd query only counts Get mode, while the First query includes both Give and Get.

A more appropriate query is

[code]

By this query, the total numbers are still way off between these two queries, but the growth profile over time is much more similar.

[2015-01-09 22:13] myleshorton commented on #2152
@oxtoacart the jump in August was primarily our promotional activities in general, with the Fight for the Future email being the biggest. We also had the story in Le Monde that pushed up our numbers in France, Giga Om, WaPo, etc.

[2015-01-09 22:19] myleshorton commented on #2152
Oh that makes sense on @oxtoacart! So actually the updated query also likely really undercounts give mode because a lot of give mode users likely haven't given anything.

[2015-01-09 22:27] myleshorton commented on #2151
Hey @fffw do you have a windows machine or VM available? I'm wondering if you see a similar issue there.

[2015-01-09 22:30] oxtoacart commented on #2152
Yes, that makes sense!

[2015-01-09 22:45] oxtoacart commented on #2152
Another thing that accounts for the discrepancy is that the concurrent users number is actually concurrent Lantern instances (an approximation of users), whereas the bytesGotten/bytesGiven figure is actual users.  If users run multiple instance or (as is likely given some of the problems we've seen in the field) users don't have a user ID assigned to them, the user's figure will differ from the in

[2015-01-09 22:47] oxtoacart commented on #2152
Scratch the above comment, userOnline is driven by user GUID after all.

[2015-01-09 22:49] myleshorton commented on #2152
The other interesting wrinkle there is that still most of our traffic has been from users with no GUID! In our database there are no users who have ever logged in who have no GUID, so there doesn't appear to be a bug with GUID assignment.

[2015-01-09 22:54] oxtoacart commented on #2152
Just because the controller has assigned a GUID doesn't mean that the client has received and remembered it.  In fact, the GUID is communicated over XMPP, with which we've been seeing all sorts of issues.

[2015-01-09 23:06] myleshorton commented on #2152
That's certainly true -- that discrepancy could be tied to users never getting that reply from the server. It would be odd if the XMPP client were disconnected each time after sending the XMPP message to the controller and before receiving a message back. In order for the client side not to get a GUID, the disconnect would have to happen precisely then *on every call to the controller on every run

[2015-01-09 23:11] oxtoacart commented on #2152
Probably not likely, but we just don't know.  We just need to trace the GUID all the way through and figure out where it's getting lost.

[2015-01-10 00:25] LeoK987 opened #2153 "lantern can't get all contents on a page"
I noticed this in various occasions.  Here I screen-captured what I saw on one page.  Note where a video is supposed to be is marked as Gateway Timeout.  Sometimes, a couple reloads get the missing contents, sometimes not.

The page I saved is http://www.popsci.com/fast-orbiting-pulsar-no-longer-detectable-researchers

Wonder what problem it is.
![Uploading Screenshot.png . . .]()

[2015-01-10 00:29] LeoK987 commented on #2153
seems my screen shot picture doesn't upload to here?

[2015-01-10 00:43] myleshorton commented on #2153
Thanks @LeoK987! If you're able to open the page with Chrome dev console open or something like that, it's possible there are some domains loaded on the site that are blocked but that we don't proxy. We can just add them to the whitelist on our end if you're able to see those. We really should just automate the process of identifying those, but we currently do not (basically it's tricky for HTTPS

[2015-01-10 00:44] myleshorton commented on #2153
![image](https://cloud.githubusercontent.com/assets/1143966/5689665/bdf8b6be-981e-11e4-8698-0c4fc7c4ed4e.png)

[2015-01-10 00:45] myleshorton commented on #2153
So at least that one worked...

[2015-01-10 00:57] xiam commented on #2142
Good news.

I was finally able to compile a `.so` (~9M) and ran it with the NDK:

[code]

See the canonical example, where `10.10.100.97` is the IP of my android device:

[code]

In order for it to work some [significant code changes][1] had to be made, see my [development branch][2].

Where do go from here? Do you think [my changes][1] could cause any trouble?

I still need to clean my code and w

[2015-01-10 00:59] LeoK987 commented on #2153
Thanks @myleshorton for answering.

Attached picture from GitHub web does not seem to show for some reason.
Here I attach it via email and see if it works.

On Saturday, January 10, 2015, myleshorton <notifications@github.com> wrote:

[2015-01-10 01:00] myleshorton commented on #2151
Closing this @fffw -- I actually just released this as one of two fixed in Lantern 1.5.16 beta -- your first code made it into production pretty darn quick! If you're able to, it would be great to investigate the Windows issue too though.

[2015-01-10 01:00] #2151 closed

[2015-01-10 01:01] LeoK987 commented on #2153
![Uploading Screenshot.png . . .]()

[2015-01-10 01:03] LeoK987 commented on #2153
Attaching picture here does not work for me either via email or via web.  Not sure why.

[2015-01-10 02:18] fffw commented on #2151
Great thanks to @myleshorton and @oxtoacart for helping me find out it.

I’ll try Windows once I return home next Tuesday, as my laptop lacks of space for a VM.

--
Merlin Ran
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Saturday, January 10, 2015 at 9:00 AM, myleshorton wrote:

[2015-01-10 03:53] myleshorton commented on #2151
OK great @fffw. In the meantime I would feel free to tackle any other bug you see that looks like a good candidate for you. I did add #2143 that would largely be to continue the work you started before to create a more comprehensive and cross platform system tray library in Go that would get us further along in our Go port, so might be a good choice!

[2015-01-10 03:56] myleshorton commented on #2153
Interesting -- it could be some other blocked domain uploads happen to go
to that we're not whitelisting?

On Fri, Jan 9, 2015 at 5:03 PM, LeoK <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-10 04:00] fffw commented on #2151
Yes, I did assign #2143 to myself. That would take longer as I have few knowledge on Objective C.

--
Merlin Ran
Sent with Sparrow (http://www.sparrowmailapp.com/?sig)

On Saturday, January 10, 2015 at 11:53 AM, myleshorton wrote:

[2015-01-10 04:32] myleshorton commented on #2151
Sounds good @fffw. I know there was some feedback from the team on your earlier implementation, so hopefully we can dig that up and figure out the best path.

[2015-01-10 04:39] myleshorton commented on #2142
This is great @xiam! It looks like at least some of the changes, particularly the ones adding build flags to files, were largely whitespace changes. Would it be possible to clean those up so they're a little more manageable and readable in terms of the diffs and also to just add some comments in the most relevant places describing why the specific change was necessary?

Overall super exciting!

[2015-01-10 04:40] myleshorton commented on #2142
I'm also a little unclear on the lifecycle of these different pieces. When you call RunClientProxy, for example, does that live for as long as the calling app is active, or how does that part work?

[2015-01-10 08:37] LeoK987 commented on #2153
I don't have to go through proxies to GitHub.  It might have to do with
permission issues?

On Saturday, January 10, 2015, myleshorton <notifications@github.com> wrote:

[2015-01-10 16:08] aranhoide opened #2155 "Newly created salt minons don't respond to master"
This affects newly created machines but not those that were launched when we were using previous versions of Salt.

[2015-01-10 16:10] aranhoide commented on #2155
Apparently the `salt-minion` executable is no more in the pip installed version.

The canonical way to install Salt on Ubuntu is through apt-get using a PPA.  The version installed there was lagging behind our needs at some point, hence the move to pip.  But as long as the PPA works that's probably the best option.  I'll test this setup and update the salt config accordingly.

[2015-01-10 16:20] oxtoacart commented on #2152
One other cause for discrepancies - the first query is based on a statistic that's keyed to user GUID, the 2nd stat is based on a statistic that's keyed to instance id.

[2015-01-10 16:23] oxtoacart opened #2156 "[bug] Some fallbacks failing to proxy"
See fallback-alarms Google Group.  These are old-school Java fallbacks.

[2015-01-10 16:32] myleshorton commented on #2156
Yup were also getting user reports of it running slowly - will forward.

On Saturday, January 10, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-10 17:03] aranhoide commented on #2155
So uninstalling and reinstalling Salt from does actually get you a `/usr/local/bin/salt-minion`.  Weird..

[2015-01-10 18:27] aranhoide commented on #2155
Fixed via https://github.com/getlantern/lantern_aws/commit/fccd56927cd016030f9d23b8ab629a93d621c3e9 .  See the commit comment for details.

[2015-01-10 18:27] #2155 closed

[2015-01-11 05:59] fffw commented on #2143
Proposed dynamic behaviours:

1. change icon
2. change hint when pointing to it
3. change menu item
4. callback or chan to receive menu item click event

[2015-01-11 19:49] aranhoide opened #2157 "[bug] Lantern not getting past first screen in some cases"
Reported by a user in the English language forum:

"""
Just downloaded lantern - seeing this issue:

![screenshot 2015-01-02 23 11 27](https://cloud.githubusercontent.com/assets/2204867/5696471/ffd54fc4-99d2-11e4-9d78-93f607c17eb1.png)

Looks like the internationalization features aren't working..

It's also stuck on this screen.
"""

[2015-01-11 23:40] oxtoacart commented on #2152
So here's the likely main problem - the query from statshub.user is based on rollups using the user GUID.  Since we seem to be getting a lot of activity under a blank user GUID, it's likely that a lot of what are really distinct clients are rolling up to the same blank user GUID.

[2015-01-12 00:24] oxtoacart commented on #2152
Looking at the code, I see that the everSignedIn flag and the guid are both set by the XmppAvailableServlet.  So, everSignedIn = True and guid = NULL is impossible.

The corollary to this is that if there's a consistent problem communicating over XMPP and the XmppAvailableServlet.doPost() method is never invoked for a given user, the database will show everSignedIn = False and guid = NULL.

[2015-01-12 02:14] myleshorton commented on #2152
Unless there's a bug of course.

Hmnn...yeah that makes sense. If the user ever gets there it works fine, but what if the user never gets there?

[2015-01-12 02:14] myleshorton commented on #2152
I should say the fact the two match up indicates there's no bug however.

[2015-01-12 05:13] myleshorton commented on #21
One interesting option is to use Google's open source Omaha installer directly:

https://code.google.com/p/omaha/

It solves things that aren't obvious at first, such as bypassing UAC.

This is somewhat similar on OSX:

https://code.google.com/p/update-engine/

[2015-01-12 13:12] oxtoacart commented on #21
@myleshorton Excellent idea!  The one thing to watch out for is whether or not we can get it to work via our proxy, since censored users will quite possibly need to proxy the download of the update.

[2015-01-12 14:26] oxtoacart commented on #2143
Thanks for writing this up

Yes

Nice idea!

Yes

Yes, and I prefer a channel, specifically a receive-only channel.  You can make a receive-only channel like this:

[code]

Or like this:

[code]

No. We should just handle this by responding to the message from no. 4.  Opening something in the user's default browser is a separate concern from managing a system tray menu, and so is best handled by a

[2015-01-12 16:00] xiam commented on #2142
@myleshorton When I run `RunClientProxy` the proxy lives as long the app is active, but it actually blocks the application, I want to fix that before releasing the example :-).

I think we can define some final tasks for this issue:

* Fix the blocking issue.
* Code cleaning (includes adding comments).
* Document a way to create the Android shared library and to build the Android app.
* Test every

[2015-01-12 16:51] myleshorton commented on #2142
That list looks great @xiam.

As long as the frontend is able to make a call to proxy something through the backend, with that call being to a listening port, a JNI method, or whatever, then we should be good. So we don't need to figure out the full proxy settings in terms of interaction with the browser or anything like that, but it would be good to verify that we're actually able to get a valid

[2015-01-12 16:57] myleshorton commented on #2157
This is what you see in IE as well. I believe it's related to the CSP checks and isn't related to internationalization.

[2015-01-12 17:22] oxtoacart opened #2158 "Lantern Feedback Form may be Double-Submitting"
I've noticed that sometimes we get two messages with the same text.  For example on January 12 2015 we see "The message says it cannot load setting. It message appears when the system is booting." from the same Lantern instance twice.

[2015-01-12 17:29] oxtoacart commented on #2002
Seeing this on friend.friend.list too.

[2015-01-12 17:41] oxtoacart opened #2159 "Chinese user reports "error opening media file" when trying to install Lantern after downloading it"
![error_opening_media_file](https://cloud.githubusercontent.com/assets/5000654/5707623/e2c0fffa-9a4f-11e4-82db-ecdebd56c6e3.png)

It's not immediately obvious what's reporting this error.  Could be Install4J.

[2015-01-12 18:13] myleshorton commented on #2159
@fffw can you possibly try to reproduce this or do you have any insight on this issue?

[2015-01-12 18:17] myleshorton commented on #2157
So the big question here is whether this ever happens outside of IE. Lantern should pop up a message asking the user to install Chrome if they don't have Chrome or FF, but @aranhoide can you ask the user if he/she only has IE or one of the IE derivatives, such as Browser123.

[2015-01-12 18:19] myleshorton commented on #2157
Let's investigate in the short term. If it is in fact IE, we can probably push this out or create another messaging ticket.

[2015-01-12 18:22] myleshorton commented on #2150
How does this relate to the top_sites_iran and top_sites_china views?

[2015-01-12 18:24] aranhoide opened #2160 "[bug] Give back friending quota when user removes a friend"
Currently if you remove a friend in the Lantern UI you are not given back the quota it cost you in first place.  This made sense when Lantern access was granted through invites, but not in the current context.

We need to make sure that the removed friend has costed the user quota to add.  Otherwise, this would open an exploit that would defeat the whole quota system: add a "free" friend, remove i

[2015-01-12 18:29] oxtoacart commented on #2150
This is a reimplementation of the old feature.  The old feature tracked all sites for all countries, which became a prohibitively large set of data to handle.  The new ticket is about figuring out a way to track just the top X per period, which is much more feasible.

[2015-01-12 18:30] myleshorton commented on #2146
Since the CPU bugs have been fixed the alerts on flashlight servers have gone down to almost none. That combined with auto-restarts seem to have solved this well enough for now.

[2015-01-12 18:31] myleshorton commented on #2145
Pushing to medium term given comments in https://github.com/getlantern/lantern_aws/pull/32

[2015-01-12 18:32] oxtoacart commented on #2146
Yes, after killing the couple of chronically overloaded machines, I haven't seen this come up again.

[2015-01-12 18:34] oxtoacart commented on #2145
@myleshorton I was actually thinking of doing this sooner, since I'm not 100% clear on the performance impact of memory profiling.  If there's a chance we could improve subjective response times by doing this, I say we do it since it's a one-line change.

[2015-01-12 18:35] oxtoacart commented on #2145
That said, I appreciate that you're cleaning up the short-term bucket, so I can live with this being in medium-term :)

[2015-01-12 18:37] aranhoide commented on #2157
I just asked in the forums.

[2015-01-12 18:42] oxtoacart commented on #2145
This makes me think that this needs to be P1 short-term.  If we just let it go, we'll eventually run out of disk space, with dire consequences.

[2015-01-12 18:47] myleshorton commented on #2078
Moving to medium terms since a Natty-equipped won't be useful until Natty is generally deployed.

[2015-01-12 19:01] oxtoacart opened #2161 "[feature] Have flashlight manually pick flashlight servers instead of using roundrobin.getiantem.org"
The benefit to this is that flashlight could take servers that are unresponsive to it out of rotation, which should improve the overall flashlight experience.  We'd have to distribute the list of available flashlight servers through our cloud.yaml mechanism, which shouldn't be too hard to do.  We might even want to make cloud.yaml a dynamic endpoint somewhere.

[2015-01-12 19:16] myleshorton opened #2162 "Whitelist ports 80, 443, 8080, and 8443 on outgoing traffic"
Applies to both flashlight and traditional servers.

[2015-01-12 19:18] oxtoacart commented on #2162
I'll take this.

[2015-01-12 19:20] oxtoacart opened #2163 "[feature] Update proxy.pac to only proxy traffic on ports 80, 443, 8080 and 8443"
#2162 takes care of the urgent server-side of this.  To give people a better user experience, we should not even bother proxying stuff that we're going to reject.

[2015-01-12 19:58] myleshorton commented on #2150
OK cool. And you just turned off archiving for the old feature, but the
queries nevertheless still work. Is that correct?

On Mon, Jan 12, 2015 at 10:29 AM, oxtoacart <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-12 20:01] oxtoacart opened #2164 "[bug] Give mode peer not being registered"
Testing from the command-line on OS X, running from devel, I run Lantern in Give mode.  I've mapped port 443 on my firewall to port 44377 of the machine that's running Lantern.  I never see any traffic.  My peer isn't appearing in CloudFlare's DNS.

Note - this client started out running in Get mode and I switched to Give mode from the settings popup.

[2015-01-12 20:15] oxtoacart commented on #2150
That's right, I just turned off archiving.  You can still run queries agains whatever data was archived prior to me turning it off.

[2015-01-12 20:16] oxtoacart commented on #2164
I tried wiping out my lantern folder and removing the existing port mapping.  When I do that, Lantern doesn't prompt me to map the port the way that it used to.

[2015-01-12 20:28] oxtoacart opened #2165 "[flashlight/enproxy] User agent hangs when enproxy encounters a Bad Gateway response"
After implementing #2162, try the following:

`curl -x localhost:10080 https://www.google.com:444/humans.txt`

You'll see enproxy report an error like the following:

`enproxy: Dest: www.google.com:444    ProxyHost:     Unable to issue write request: Bad response status for read: 502 Bad Gateway`

But curl just hangs.

[2015-01-12 20:45] oxtoacart commented on #2164
While looking at CloudFlare DNS, I noticed that the number of registered peers seems to fluctuate quite wildly, anywhere between half a dozen to several dozen or so.  This may not be a problem, but it looked kind of odd.  Probably worth looking into in relation to this.

[2015-01-12 20:48] oxtoacart commented on #2145
I went ahead and turned off the memory profiling to avoid disk space issues, and deployed to all flashlight servers.

[2015-01-12 20:48] #2145 closed

[2015-01-12 21:06] aniustaluwis commented on #2160
I'm having this same issue. I tried using lantern today, and used up my entire friend quota of 6 trying to find people who were connected (all not connected), and now I can't add anymore even if I remove them.

[2015-01-12 21:26] myleshorton commented on #2160
Thanks @aniustaluwis! The "Not yet connected" thing is an outstanding bug -- it really just means you haven't created an actual network connection with them yet and nothing more (they've received the invite and are considered Lantern friends with you). That's bug #1371.

It actually sounds like you're experiencing a different bug as well, however. Did you only get 6 invites total? What version of

[2015-01-12 21:35] atavism commented on #1371
@myleshorton Since this has been referenced in multiple tickets recently, and it's trivial to change, we might as well get it out with the other UI improvements. What did we want to change the string to?

[2015-01-12 21:39] myleshorton commented on #1371
I think ideally it would reflect the status of that friend, such as
invited, installed, etc, but I don't think the front end currently gets all
that data.

On Monday, January 12, 2015, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-12 21:55] aniustaluwis commented on #2160
@myleshorton I'm using Lantern version 1.4.6-f951f0d (f951f0d) on Mac OS X version 10.9.5

For what it's worth according to Lantern I'm currently sending/receiving 207.1 K/s, and my location tooltip suggests that I have received 10.3 M while have given none. The map also shows animation suggesting that I am making connections to other countries (Philippines, Iran, China, etc), but no other points

[2015-01-12 21:58] atavism commented on #1371
It looks like the front end knows when a friend connected last based on the peer lastConnected stat. If that field is present and non-zero, in that scenario we could display "Installed" instead and replace "Not yet connected" with "Invited". Then leave the remaining messages the same. That could clear up some of the confusion.

[2015-01-12 22:01] myleshorton commented on #2160
Thanks @aniustaluwis! There's actually a bug in that version with the dots showing up that will be fixed in the next beta. A couple of questions:

1. You're running in give mode, is that correct?
1. Assuming the answer to #1 is "yes", then it sounds like there's also a stats bug in terms of tracking how much you've given. Does that seem right?
1. You might want to upgrade to 1.5.16, available at h

[2015-01-12 22:01] myleshorton commented on #2160
email me with your Lantern email address that is (or including it).

[2015-01-12 22:02] aniustaluwis commented on #2160
@myleshorton yep, I'm running in give mode. I live in the US and intend to give internet access.

[2015-01-12 22:03] myleshorton commented on #1371
So the real problem is that it's reflecting whether or not we've actually made a network connection with that user, which is largely irrelevant in many cases, such as a get mode friend with all get mode friends, because you'll never create a network connection. So I don't think lastConnected is what we want. It also look like that's never actually set in the code anymore, so definitely won't do th

[2015-01-12 22:07] oxtoacart commented on #1371
Ideally, we would show whether or not your friend has friended you, but I'm not sure that we have that information available without making changes to the controller.

[2015-01-12 22:18] myleshorton commented on #2153
We actually do have github.com on our list of sites to proxy, but maybe we should be taking it off since it's not blocked anymore.

[2015-01-12 22:22] myleshorton commented on #2160
Awesome -- thanks @aniustaluwis! Actually, I'm curious, do you have a public IP address? If you open terminal, what do you get if you just type ifconfig?

[2015-01-12 22:24] SethArchambault commented on #2157
I was on Google Chrome on Mac - Mountain Lion when I encountered this error.

[2015-01-12 22:25] atavism commented on #1371
Ah, makes sense. Not familiar with the controller code, but it looks like that info could be exposed and sent to the front end fairly easily https://github.com/getlantern/lantern-controller/blob/master/src/main/java/org/lantern/friending/Friending.java#L406 -- the different status messages could be "Invited", "Installed", "Friends", and possibly "Connected"/"Online Now"?

[2015-01-12 22:25] oxtoacart commented on #2162
This has been deployed to all flashlight servers.

It occurs to me that we may be seeing bittorrent traffic through old-school Java fallbacks, in which case we'll need to update that code to restrict ports as well.  Let's see what kind of an impact this has an go from there.  Keeping ticket open pending empirical verification.

[2015-01-12 22:31] oxtoacart commented on #1371
Yeah.  Since we already use that status field for a lot of stuff, it might be safer just to add a new field to indicate the reciprocal status.

[2015-01-12 22:32] aniustaluwis commented on #2160
my public IP is 24.2.180.81. Unless I'm misunderstanding you or missing information, I don't see why I wouldn't have one when connected to the ISP.

when I type ifconfig I get a bunch of information that appears to include my airport card's MAC address (en0). and the MAC address for some other object (en2). Most other of this information, I don't really understand. None of this information appears

[2015-01-12 22:36] myleshorton commented on #2157
Thanks @SethArchambault that's extremely useful. We'll escalate this. If you wouldn't mind helping us with some debugging, that would be incredible. Here's what would be really useful:

1. Edit the file at ~/.lantern/serverAddress so you can easily remember the prefix and port
1. Open Chrome manually to http://127.0.0.1:port_you_chose/prefix_you_chose/index.html
1. Open up the Chrome dev console (

[2015-01-12 22:38] myleshorton commented on #2160
Thanks @aniustaluwis! I'm basically wondering if you're behind a NAT, and it sounds like you are. If you weren't your public IP and your local network IP would be the same. That's relatively rare, but it does happen at some large universities, for example.

[2015-01-12 22:39] aniustaluwis commented on #2160
I got your email and now I understand why you're asking. I'm not on the Uconn campus. I'm at home at a private network.

I'll be returning to the Uconn campus in a week and then I'll be able to say for sure whether or not I'm behind a NAT there.

[2015-01-12 22:41] myleshorton commented on #2160
OK great @aniustaluwis thanks! I asked this offline, but I'm really curious if you see that same level of activity on your Lantern map with 1.5.16 as you saw with the earlier version. Do you?

[2015-01-12 22:42] myleshorton commented on #2162
Sounds great thanks @oxtoacart!

On Mon, Jan 12, 2015 at 2:25 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-12 22:44] aniustaluwis commented on #2160
It's still 0.0 B given, 15.4 M (and slowly increasing) gotten. This time I'm giving or receiving 0.0 B/s according to the upper right hand corner.

[2015-01-12 22:47] myleshorton commented on #1371
Yeah I think that sounds about right. Not sure where the reciprocal one fits in there, but maybe just "Friends"

[2015-01-12 22:54] myleshorton commented on #2160
OK thanks @aniustaluwis! It sounds like Lantern was unable to map a local port on the router. If you have access to the router admin page, you should be able to either enable UPnP or NAT-PMP or manually forward port 443 on the router to port 44377 on your local computer. Then you should start seeing incoming traffic.

[2015-01-12 22:59] aniustaluwis commented on #2160
That explains it!

This is my grandmother's router and I don't have access to it, my mother does. And I'm generally afraid to ask my mother things for complicated reasons. A bug that cannot simply be fixed, hahaha

maybe there's another way to enter the router without asking my mom for the password. *dons shades* *matrix theme*

[2015-01-12 23:03] myleshorton commented on #2160
Well, yeah, it's relatively it might use the default username and password. That differs depending on the device but can just be things like:

admin
admin

Check this out:

http://portforward.com/default_username_password/

[2015-01-12 23:05] fffw commented on #2159
will try it now
2015年1月13日 上午2:14于 "myleshorton" <notifications@github.com>写道：

[2015-01-12 23:52] xiam commented on #2142
@myleshorton Please see my PR: https://github.com/getlantern/flashlight-build/pull/26. I'm also sending the full Android example project described in mi PR to @oxtoacart.

[2015-01-12 23:52] myleshorton opened #2166 "Add press section to web site"
@fffw it would be great if you could tackle this one to get up to speed on the Lantern site. You can probably do this before the Go system tray port. This will get fleshed out with more information soon!

[2015-01-13 00:03] carsonefv commented on #2166
Here's the info for the Press Section that needs to be added to the site:

I've attached the final site design (see in e-mail, psd file type not supported on github) with the new press section, and all of the press logo images below

Also, here are the sites that each of the logos should link to:

Tech President: (we actually have two articles we could link to, but maybe we should just use the fir

[2015-01-13 00:14] myleshorton commented on #2166
Thanks @carsonefv! @fffw the site is all at https://github.com/getlantern/www.getlantern.org/ -- I'll make sure you're added as a collaborator, and please let us know if you have any issues!

[2015-01-13 00:28] myleshorton commented on #2142
This is great @xiam! I won't have a chance to dig into this more until tomorrow, but I'll give it a look then.

[2015-01-13 00:34] fffw commented on #2160
Someone in China also [experienced this bug](https://lanternforum.greatfire.org/viewtopic.php?f=1&t=229&p=766).

[2015-01-13 00:41] myleshorton commented on #21
@oxtoacart Yeah we have the proxy issue with really any solution we use, and I don't think there's anything unique about Omaha in that regard.

[2015-01-13 00:42] oxtoacart commented on #21
@myleshorton It's just a question of how do we get Omaha to use the proxy.  If we were doing custom Go code, for example, we could just have it use enproxy directly, the way that we already do for downloading cloud.yaml.  I don't know if Omaha has its own proxy settings that you can configure, or if you need to set a system proxy.

[2015-01-13 00:44] myleshorton commented on #21
Right. It's deployed in all sorts of crazy corporate environments where that type of thing is a big deal, so I don't expect it to be an issue.

[2015-01-13 01:19] oxtoacart opened #2167 "[enproxy] Rewrite enproxy"
Enproxy has gotten pretty complicated.  It was the first big Go package that I wrote, and it could benefit from some simplification/refactoring.

[2015-01-13 01:23] oxtoacart commented on #2162
Well, our rate of traffic on ports other than 80, 443, 8080 and 8443 has slowed from 10 GB per hour to about 2 GB per hour.  That's a nice drop, but quite probably not enough to stop all of the DMCA take-down notices.

[2015-01-13 02:47] myleshorton commented on #2162
Wo! I thought all the traffic before was 14 GB total? Did I misunderstand
on the call? What was the 14 GB number?

On Monday, January 12, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 02:49] oxtoacart commented on #2162
The number from the call was for ports 6881-6889.  The numbers I'm giving here are for all ports except 80, 443, 8080 and 8443.

[code]

[2015-01-13 02:50] oxtoacart commented on #2162
It occurs to me that XMPP is on port 5222 ...

[2015-01-13 02:51] myleshorton commented on #2162
Ha! Great point. Yeah that's a problem. Sorry should have thought of that,

On Monday, January 12, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 02:53] oxtoacart commented on #2162
Pushing an update to include 5222 now.

[2015-01-13 03:09] oxtoacart commented on #2162
I've allowed port 5222.  Tested with fl-singapore-004-1, currently deploying to all other flashlight servers.

[2015-01-13 03:15] oxtoacart commented on #2162
Update for 5222 now deployed to all flashlight servers.

[2015-01-13 04:43] myleshorton commented on #2162
You're the man - thanks.

On Monday, January 12, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 05:20] myleshorton commented on #2164
Just tried this on my home network, and it's not registering because upnp is failing. upnpc from the command line is working fine but flashlight gives the following error:

Unable to map external port: Unable to map port with igdman 443: Unable to add port mapping: read udp 192.168.0.11:57965: connection refused

I'm not sure why it's trying to make a connection -- I think it might still have that

[2015-01-13 05:28] oxtoacart commented on #2164
But if it can't map a port, we should be displaying a warning and asking the user to map manually.  So irrespective of whether or not the mapping succeeded, if the port was manually mapped, Lantern should be registering with peerdnsreg.

[2015-01-13 05:32] oxtoacart commented on #2164
BTW, I'm pretty sure the error message you're seeing is generated from a failed attempt to map with NAT-PMP.  go-igdman will fall back to NAT-PMP if upnpc doesn't work for some reason.  You'll see INFO level log with the text "Unable to initialize UPnP IGD, falling back to NAT-PMP", and that message will give you the error from upnp.

But again, none of that explains why the client doesn't registe

[2015-01-13 05:40] myleshorton commented on #2164
Well so it sounds like there are multiple bugs then. One is upnp just failing (it isn't registering regardless of whether that message is from upnp or nat pmp) while the second is not registering with a manual port mapping.

[2015-01-13 05:40] myleshorton commented on #2164
And actually a third bug -- not displaying the message on port mapping failure.

[2015-01-13 06:00] myleshorton commented on #2164
So it looks like the startServer call at https://github.com/getlantern/lantern/blob/devel/src/main/java/org/lantern/proxy/pt/FlashlightServerManager.java#L163 never finishes, so the thread to register never starts. The culprit appears to be the infinite wait at https://github.com/getlantern/lantern/blob/devel/src/main/java/org/lantern/proxy/pt/BasePluggableTransport.java#L231

[2015-01-13 06:16] myleshorton commented on #2164
OK, I fixed the registration thread starting bug, which also fixed the messaging. Now it's just down to what's happening with upnp.

[2015-01-13 13:36] myleshorton commented on #2164
Wow, I don't think the peer registration has worked at all since moving NAT-PMP and UPnP into flashlight way back in August - c0984d6699725361e3b64ecc8b7e16fec9ccdcdb

[2015-01-13 13:58] oxtoacart commented on #2164
Nice debugging!

Yikes!  That would explain why Give mode user numbers started dropping in August.

Did you ever find the error from upnpc?  I can't reproduce because my router won't let me map low ports.    If I run the unit test in go-igdman using a high port, upnp works for me every time.

[2015-01-13 14:01] myleshorton commented on #2164
Haven't found it no - nothing at error level in the logs. I can't try right
away but will in a sec.

On Tuesday, January 13, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 14:30] oxtoacart opened #2168 "[bug] New problems extracting flashlight"
Observed on branch issue-2164 while running in Give mode:

[code]

[2015-01-13 14:31] oxtoacart commented on #2164
Thanks!

Found another issue while testing this - https://github.com/getlantern/lantern/issues/2168

[2015-01-13 14:37] myleshorton commented on #2164
Actually here's the error in the logs:

4146   2015-01-13 06:34:54,706 DEBUG [LoggingStreamHandler-error-false] pt.BasePluggableTransport.run (LoggingStreamHandler.java:113) - igdman: Unable to initialize UPnP IGD, falling back to NAT-PMP: Unable to call upnpc to get status: signal: trace/BPT trap

[2015-01-13 14:39] myleshorton commented on #2164
So this is what I get running the upnpc executable in go-igdman:

$ ./binaries/osx/upnpc -a 192.168.0.11 44377 443 TCP
dyld: Library not loaded: /usr/local/Cellar/miniupnpc/1.9.20141027/lib/libminiupnpc.10.dylib
  Referenced from: /Users/afisk/go/src/github.com/getlantern/go-igdman/./binaries/osx/upnpc
  Reason: image not found
zsh: trace trap  ./binaries/osx/upnpc -a 192.168.0.11 44377 443 TCP

[2015-01-13 15:14] oxtoacart commented on #2164
dyld: Library not loaded: /usr/local/Cellar/miniupnpc/1.9.20141027/lib/libminiupnpc.10.dylib
Referenced from: /Users/afisk/go/src/github.com/getlantern/go-igdman/./binaries/osx/upnpc
Reason: image not found
zsh: trace trap ./binaries/osx/upnpc -a 192.168.0.11 44377 443 TCP

Drats, looks like that upnpc is dynamically linked to something from homebrew.  Let me replace it with a statically linked ve

[2015-01-13 15:22] oxtoacart commented on #2164
@myleshorton This should take care of it - https://github.com/getlantern/flashlight-build/pull/29

Please let me know if it works for you.

[2015-01-13 15:35] oxtoacart commented on #2164
@myleshorton BTW, I confirmed that your fix to the registration issue works for me.  I started Lantern without a port mapped and got the warning message.  After manually mapping a port on my firewall, the message went away.  Eventually, I also started to see some traffic from across the world!

[2015-01-13 15:47] oxtoacart commented on #2168
This was a race condition between checking for the existence of the PT file and extracting it.  Since the flashlight pluggable transport runs twice in Give mode, it is possible to encounter this condition.  In practice, it was very unlikely, because when you run Lantern for the first time, the get flashlight is extracted immediately, but the give flashlight isn't extracted until you've hit the Giv

[2015-01-13 15:59] myleshorton commented on #2164
I have to run an errand but upnpc on that branch is working for me. For some reason setenv is failing but haven't had a chance to dig into that.

[2015-01-13 16:39] myleshorton commented on #2164
Awesome!!

On Tuesday, January 13, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 17:12] atavism commented on #2164
I'm glad we figured this out. We should really be running tests with each new release to make sure this component is actually working, especially if it hasn't been working since August. If I wanted to check right now the last time a new peer entered rotation, how would I go about doing that? Is there any way to?

[2015-01-13 17:15] myleshorton commented on #2164
The big problem is that it's router-specific, so automated tests are
challenging.

On Tuesday, January 13, 2015, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 17:38] atavism commented on #2164
challenging.

Okay, if it's tricky to automate, maybe whenever a new release comes out, or even during a support day, one of us always registers a new give-mode user, verifies that peer enters rotation and CloudFlare's DNS, and eventually starts to receive traffic. Would that help? I don't mind taking on that responsibility and could incorporate it into my support day.

[2015-01-13 17:50] myleshorton commented on #2164
Yeah I think that should work, although you can still only manually verify
it if you're behind the right kind of router or can manually map a port.

On Tuesday, January 13, 2015, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 17:58] atavism commented on #2164
it if you're behind the right kind of router or can manually map a port.

Cool! I'll start doing that once this ticket is resolved. I manually mapped 443 to 44377 before, and it use to work. Anyway, I didn't mean to sidetrack the discussion. I just wanted to make sure we have a procedure in place in order to avoid a repeat.

[2015-01-13 18:09] myleshorton commented on #2164
No totally right on - we definitely need a better procedure. We have a QA
person starting in March, so she should be able to take it over then.

On Tuesday, January 13, 2015, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 18:27] oxtoacart commented on #2164
+1 We have a QA script that we used to use for this - https://github.com/getlantern/lantern/wiki/%5Bdevelopers%5D-QA-Scripts

I really like your idea of integrating this into support day.  If we update the existing script to cover the flashlight port-mapping stuff, that would be a pretty good smoke test.  I'm happy to start doing this on my support day irrespective of whether or not there's a new

[2015-01-13 18:31] myleshorton commented on #2164
Yeah I think support day makes sense except again for the fact that it's
only possible behind certain routers. As long as you can test with a
compatible router on support day, then by all means.

On Tuesday, January 13, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-13 19:58] myleshorton commented on #2168
Great catch @oxtoacart!

On Tue, Jan 13, 2015 at 7:47 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-14 07:57] Hongbo-Miao opened #2171 "You need to install the legacy Java SE 6 runtime"
Every time use it, it shows: To open "Lantern Installer" you need to install the legacy Java SE 6 runtime. Please include old Java into it or support Java 8. Thanks!

[2015-01-14 14:48] fffw commented on #2143
Thanks for you insights @oxtoacart.

I implemented direct callback from obj-c to go, so we can add an menu item and wait on an channel.

If we want dynamic behaviour, such as change icon, add/remove menu items, change menu item text, we should keep track of menu item handles, which makes interface complicated.

For now I'll keep it simple and port to Windows/Linux.

[2015-01-14 15:12] oxtoacart commented on #2143
You're welcome!

Great!

Why bother with handles?  We could just provide an idempotent API like this:

[code]

When you want to change the menu items, just pass the whole list and have the implementation of MenuManager figure out what to add/remove based on the ids.

menu

[2015-01-14 17:16] oxtoacart commented on #2162
We don't seem to be getting takedown notices anymore, so it appears to have worked.

[2015-01-14 17:16] #2162 closed

[2015-01-14 17:19] oxtoacart commented on #2164
@myleshorton Updated flashlight build has been committed to Lantern master.  Smoke testing showed that I was able to get give mode traffic on OS X.

[2015-01-14 17:30] myleshorton commented on #2164
Sweet thanks!

On Wed, Jan 14, 2015 at 9:19 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-14 18:58] atavism opened #2172 "[www] Integrate Stripe Checkout to process donations"

[2015-01-14 19:01] atavism commented on #2172
Details here on specifying a variable amount: https://support.stripe.com/questions/how-can-i-use-a-variable-amount-with-stripe-checkout

[2015-01-14 19:09] myleshorton commented on #2160
Hey @aniustaluwis we've just released a new beta that fixes some critical issues in give mode. You can get it at the following:

https://s3.amazonaws.com/lantern/lantern-installer-beta.exe (Windows XP SP3 and above)
https://s3.amazonaws.com/lantern/lantern-installer-beta.dmg (OSX 10.7 64 bit and above)
https://s3.amazonaws.com/lantern/lantern-installer-beta-32-bit.deb (Ubuntu 14.04 and above 32 bi

[2015-01-14 19:12] myleshorton commented on #2168
This was closed with https://github.com/getlantern/lantern/pull/2169

[2015-01-14 19:12] #2168 closed

[2015-01-14 19:13] myleshorton commented on #2164
Closed with https://github.com/getlantern/lantern/pull/2170

[2015-01-14 19:13] #2164 closed

[2015-01-15 04:05] fffw opened #2173 "[www]unable to change language on smaller screens"
Found in css code that it is on purpose, but it does prevent user to access the function. Can we improve that? Like, just show nation code or flag on small screens.

[2015-01-15 14:14] atavism commented on #2173
@fffw Yeah, there's actually several instances where elements end up breaking on mobile, at least on certain devices. For tinier screens, the responsive nav stuff is supposed to convert the language drop-down into a small hamburger menu with the full list of languages to choose from. I like your idea of using flags/nation codes instead of the language names to reduce the row width and conserve scr

[2015-01-15 17:22] myleshorton commented on #2056
I can no longer reproduce this.

[2015-01-15 17:22] #2056 closed

[2015-01-15 17:23] myleshorton commented on #2030
This was fixed with work on #2164

[2015-01-15 17:23] #2030 closed

[2015-01-15 17:25] myleshorton commented on #2008
This is likely fixed with #2164

[2015-01-15 17:25] #2008 closed

[2015-01-15 17:39] myleshorton commented on #1994
Haven't gotten these in a bit -- marking as p2.

[2015-01-15 17:42] myleshorton commented on #1951
Is this fixed now on your branch @atavism?

[2015-01-15 17:59] atavism commented on #1951
@myleshorton Yes! Marking this as pending merge.

[2015-01-15 18:05] oxtoacart commented on #2117
Something is still not quite right.  Here's a recent graph from fl-singapore-001-21:

![screen shot 2015-01-15 at 12 04 01 pm](https://cloud.githubusercontent.com/assets/5000654/5763274/b553df4a-9cae-11e4-93c8-8a740ea21d16.png)

[2015-01-15 18:23] myleshorton commented on #2117
I was glancing at that too. Early this morning we had a period where bandwidth spiked on some servers while other servers' bandwidth dropped to almost nothing at exactly the same time. It almost sounds like a Digital Ocean glitch to me, but I'll post some relevant bandwidth graphs.

[2015-01-15 18:24] myleshorton commented on #2117
We also definitely have some servers that just seem to not be in DNS -- something went wrong with the provisioning. See https://cloud.digitalocean.com/droplets/3673981 for example.

[2015-01-15 18:24] oxtoacart commented on #2117
Yeah, I'm wondering about that too.  Either a digital ocean glitch, or perhaps (and more likely) peerdnsreg has an occasional hiccup where it takes a bunch of fallbacks out of rotation for some reason.

[2015-01-15 18:26] oxtoacart commented on #2117
Looks like 005-37 came out of rotation in early January for some reason and never got back in.  I think it's time for me to take a closer look at the registration enhancements we've been discussing :)

[2015-01-15 18:27] myleshorton commented on #2117
Well peerdnsreg doesn't take servers out of rotation, only peers. I actually think that's right for exactly this reason unless it's much more sophisticated about deciding when to take servers out.

[2015-01-15 18:29] myleshorton commented on #2117
Actually it looks like we're in another period right now where all of a sudden the load on most servers has dropped to almost nothing mysteriously. See, for example (one of many):

https://cloud.digitalocean.com/droplets/3674591

[2015-01-15 18:30] oxtoacart commented on #2117
I just ran highstate on the servers to see if that would help re-register them.  That's why load recently dropped.

[2015-01-15 18:30] myleshorton commented on #2117
![image](https://cloud.githubusercontent.com/assets/1143966/5763696/88da634c-9ca1-11e4-8119-619584047da0.png)

[2015-01-15 18:31] myleshorton commented on #2117
It looks like it dropped ~30 minutes ago though. Did you run high state that long ago @oxtoacart?

[2015-01-15 18:32] oxtoacart commented on #2117
Here's a record of fallbacks per peerscanner from the last several hours:

[code]

[2015-01-15 18:34] myleshorton commented on #2117
Wow -- crazy it drops to almost non being verified all of a sudden.

[2015-01-15 18:41] myleshorton commented on #2117
It also looks like we have ~175 actual fl servers in DO, so looks like some still just aren't making it to CloudFlare.

[2015-01-15 18:47] myleshorton commented on #2117
Yup so this recent drop looks like another example of a subset of the servers all of a sudden taking the bulk of the load while other servers stop serving almost anything at all. Here's a graph of one of the servers that picked up load during the stretch we're currently in:

![image](https://cloud.githubusercontent.com/assets/1143966/5764038/e2b511b2-9ca3-11e4-9514-32942da7dc93.png)

[2015-01-15 18:50] myleshorton commented on #2117
Interesting. So the clock peerndsreg process is having trouble. We need to remember to check that too during support day (I often forget to click over):

![image](https://cloud.githubusercontent.com/assets/1143966/5764085/40b929c4-9ca4-11e4-84f7-151967656845.png)

[2015-01-15 18:57] myleshorton opened #2174 "peerdnsreg leaking memory"

[2015-01-15 18:57] myleshorton commented on #2117
I just bumped up our dyno size, which seems to have fixed things for now. It's pricey, though, so we should figure out what's happening. Logged at:

https://github.com/getlantern/lantern/issues/2174

[code]

[2015-01-15 19:16] oxtoacart commented on #2117
Cool.  I'm making this my no. 1 priority.

[2015-01-15 20:51] myleshorton opened #2175 "Create success metrics proposal"
As @aranhoide requested, let's get really granular about "hard constraints" like the absolute limits on how much we can spend, how many users/server we can support, what the numbers look like if DO starts charging for bandwidth and how that translates into give mode user targets.

We'll also come up with concrete target numbers for both give and get mode both for each quarter and for the year.

[2015-01-15 21:42] atavism commented on #2172
@myleshorton and @oxtoacart, we could use Stripe Checkout to handle recurring donations and classify it a subscription service that comprises adopting a server in your name (essentially the same as https://github.com/getlantern/lantern/issues/2061). This would appeal to people that don't want to or are unable to run Lantern in give-mode themselves. To keep contributors engaged, we could send month

[2015-01-15 21:46] myleshorton commented on #2117
As I mentioned on the call @oxtoacart, it looks like that peerdnsreg changed righted the ship on DO. The mysterious part to me is why? Unless there's a bug, peerdnsreg shouldn't be taking things out of rotation, although now I'm wondering about the TTL on the DNS registration itself -- have to look at that.

[2015-01-15 21:53] oxtoacart commented on #2117
@myleshorton I'm working on peerdnsreg as we speak.

BTW, I actually do believe that peerdnsreg should take unresponsive fallbacks out of rotation, since these are likely to be unresponsive to clients as well. I do think it needs a failsafe though in case there's an issue on the peerdnsreg side, which presumably would manifest as everything failing.

[2015-01-15 21:57] myleshorton commented on #2117
I agree overall, but it just has to take the overall load across all machines into account somehow, which is difficult. If all machines are at 100% CPU, for example, killing any of them will only exacerbate the problem while killing all of them would be disastrous.

[2015-01-15 21:58] myleshorton commented on #2117
@oxtoacart also if you find any memory leak issues in there (possibly not closing connections?), that would be huge.

[2015-01-15 22:04] oxtoacart commented on #2117
Valid points. That said, today and on some past occasions I've observed that the network becomes basically unusable once it's overloaded, so even though all of the servers may be in rotation and still doing some meaningful work, the user experience is such that they might as well not be.   Also keep in mind that servers can come back into rotation once they become responsive again.  And, having be

[2015-01-15 22:40] myleshorton commented on #2117
Yeah, so it just has to be pretty sophisticated, which seems like a significant amount of work. In terms of the issue immediately at hand, it seems like we're overall in decent shape outside of the memory problem.

[2015-01-15 22:55] myleshorton commented on #2166
Closing!

[2015-01-15 22:55] #2166 closed

[2015-01-15 22:56] myleshorton commented on #2158
I believe this is more of an issue of the UI not giving feedback when a form is submitted, as otherwise we'd see double submissions every time which we definitely don't see. Closing for now.

[2015-01-15 22:59] myleshorton commented on #1846
Closing in favor of updated #2090

[2015-01-15 22:59] #1846 closed

[2015-01-15 23:00] myleshorton commented on #1882
Hey @carsonefv do you guys maybe want to give this one a shot?

[2015-01-15 23:00] myleshorton commented on #1883
And possibly this one too @carsonefv?

[2015-01-15 23:03] oxtoacart commented on #2158
Isn't that an issue?  Why close the ticket?  It's already a low priority, not short-term item.

[2015-01-15 23:06] myleshorton commented on #2157
Just realized this is a duplicate of #1734

[2015-01-15 23:06] #2157 closed

[2015-01-15 23:12] carsonefv commented on #1883
Yes, the draft is here but needs review: https://docs.google.com/document/d/1rO122-oQ6ZWfr0mMOx7YRj96Km1UM0620ZYBF9G34Hc/edit?usp=sharing

[2015-01-15 23:13] carsonefv commented on #1882
This can be similar to the indiegogo thankyou e-mail text once we finish that, the draft can be found here" https://docs.google.com/document/d/1rO122-oQ6ZWfr0mMOx7YRj96Km1UM0620ZYBF9G34Hc/edit?usp=sharing

[2015-01-15 23:16] myleshorton commented on #2158
Yeah, just a different issue/ticket. Actually, though, the feedback form just disappears after submitting, so not sure what's going on.

[2015-01-15 23:16] myleshorton commented on #1883
Cool thanks! @chipstehr can you review those?

[2015-01-15 23:27] oxtoacart commented on #2158
Reopening for investigation.

[2015-01-16 01:55] fffw commented on #2173
Seems the hamburger menu is for main nav, language selection dropdown is set [{display: none}](https://github.com/getlantern/www.getlantern.org/blob/master/app/styles/_top.scss#L109) on small screen.

Yes I'll take it but with lower priority.

[2015-01-16 04:54] oxtoacart commented on #2174
@myleshorton I went to deploy the fix for this and while updating the godeps noticed that peerscanner is using an old version of an API in flashlight, so we'll need to make some updates there.  It's actually using flashlight to make a plain fronted request, so we can probably use the new fronted library directly.

[2015-01-16 04:57] myleshorton commented on #2174
Yeah I actually just saw that and tried deploying as well. Honestly this is one of the really tricky parts about non-versioned libraries, but we should be able to use HttpClientUsing without much trouble. I can give that a look. It is odd peerdnsreg all of a sudden started using so much memory. I wonder what changed.

[2015-01-16 05:11] myleshorton commented on #2174
I'll knock this out tomorrow!

[2015-01-16 08:41] atavism commented on #2158
When do you see this? I tested on 0.0.12, and I'm able to submit the contact form fine. I get a notice afterwards that my message was successfully sent. I also checked Loggly, and the message didn't show up multiple times.

[2015-01-16 15:12] oxtoacart commented on #2158
@myleshorton @atavism

Thanks very much for looking into this!  As mentioned, I just opened this bug because I've observed what look like double submissions in Loggly from time to time.  I have no idea whether they're even accidental, and if so whether it's caused by the UI or if there's some bug in the logging code.  It's not really a big deal, hence the P3 designation.  I wouldn't worry about it

[2015-01-16 18:48] myleshorton commented on #1902
It's also possible @fffw's changes to the configureNetworkServices may mean we don't need setuid for this to work.

[2015-01-16 18:48] myleshorton commented on #1902
Actually @fffw this ticket might be a good one to work on since it touches some of the stuff you just did.

[2015-01-16 19:03] atavism commented on #2143
@myleshorton and @oxtoacart, quick clarification on this: if we want to use a browser extension anyway, is there any reason why we need to port the system tray to Go? Why not just do that instead if this is going away anyway?

[2015-01-16 19:37] atavism opened #2176 "Send monthly reports to give-mode users"

[2015-01-16 20:05] myleshorton commented on #2143
Interesting question. That could take care of some of the issues with showing Lantern. I do see few issues with that approach though:

1. We'd probably have to do it on both Chrome and Firefox
1. What do we do on other browsers?

Lantern is also always running in the background on startup by default. Do we want to convey that to the user in some way?

[2015-01-16 20:23] atavism commented on #2143
Yes. @oxtoacart already did a lot of the work for the Chrome extension. We could bundle all the extensions together into a new "lantern-extensions" project?

I believe we can create an extension for Safari too? Not sure about IE. https://developer.apple.com/library/safari/documentation/Tools/Conceptual/SafariExtensionGuide/Introduction/Introduction.html

The extension itself could convey that info

[2015-01-16 20:30] myleshorton commented on #2143
So just to be clear I definitely want to do an extension in any scenario, but I'm just not totally convinced an extension would really allow us to eliminate the system tray.

1. If something's running the background, you kind of want to know and to be able to control it regardless of whether or not you have your browser up
1. It also allows us to provide more UI without the browser, such as changi

[2015-01-16 20:43] atavism commented on #2143
Oh, alright. I misunderstood then. I thought the plan was to retire the system tray entirely in favor of using browser extensions. Regarding #1, that's a valid point. Would it really be undesirable if a user were only able to control Lantern from the browser? Most people always have a browser window open. With that said, do we plan to eventually show the system tray and browser extension? Should w

[2015-01-16 22:16] myleshorton commented on #2175
As one data point, it sounds like CloudFlare starts to get wary of traffic for free customers at around 100TB/month but explicitly says that level would be OK for business tier customers (us):

http://phoboslab.org/log/2013/02/how-much-traffic-is-too-much-traffic-for-cloudflare

[2015-01-16 22:27] myleshorton commented on #2174
This is being addressed in https://github.com/getlantern/peerscanner/pull/4

[2015-01-16 22:31] LeoK987 commented on #2117
Just noticing flashlight using high CPU intermittently when I was using
Google Maps.  It got 200% CPU (reported by top on Ubuntu 14.04 64bits) for
a few seconds and then off for a couple seconds and repeat that way.  It
goes on even when I dismissed Google Maps.  This is my first time noticing
it with Lantern 1.5.9.

[2015-01-16 22:40] atavism commented on #1088
@myleshorton and @oxtoacart, you should be able to toggle languages in developer mode on 0.0.12 now.

[2015-01-16 22:40] LeoK987 commented on #2117
Restarted both Lantern and Chrome.  Now flashlight seems to stick with 100%
CPU continuously.

On Saturday, January 17, 2015, K leo <cnbiz850@gmail.com> wrote:

[2015-01-16 22:47] LeoK987 commented on #2117
Restarted both again and it looks normal now.

On Saturday, January 17, 2015, K leo <cnbiz850@gmail.com> wrote:

[2015-01-16 22:58] myleshorton commented on #2117
Thanks for the report @LeoK987! We fixed at least one CPU issue with the latest Lantern. Can you try taking 1.5.17 for a spin? It's at:

https://s3.amazonaws.com/lantern/lantern-installer.exe
https://s3.amazonaws.com/lantern/lantern-installer.dmg

[2015-01-16 22:58] myleshorton commented on #2117
It's also linked from the site..

[2015-01-16 22:59] myleshorton commented on #1088
Nice thanks!

On Fri, Jan 16, 2015 at 2:40 PM, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-17 00:18] myleshorton commented on #2143
I feel like that's been mentioned before but certainly never reached the "the plan" stage. I really see them as separate issues and tasks.

I just find extension UIs to be generally a little clunky while system tray UIs, especially on OSX, are generally pretty nice. But I'm also not sure we have to choose!

I don't think so. Lantern would still be running, so I would think we'd just keep the syste

[2015-01-17 00:25] myleshorton commented on #2174
This is still an issue with the latest changes @oxtoacart -- memory growing really steadily. Still unclear what changed to cause this issue, but it's clearly a problem. Possibly something on CloudFlare's side?

[2015-01-17 01:44] oxtoacart commented on #2174
@myleshorton See comment here https://github.com/getlantern/peerscanner/pull/4/files#diff-34c0958fc0c14f1d7f66cc50a1658fc8R249

[2015-01-17 02:01] fffw commented on #1902
So that means, instead of separated console application, we should write a new go library that simply calls APIs on each platform to set proxy pac?

[2015-01-17 02:11] oxtoacart commented on #2143
The other thing to consider here is Give versus Get usage.  If I'm running Lantern in Give mode, it probably wouldn't feel natural to interact with it from my browser.  If I'm running in Get mode, it would probably feel most natural to interact with it through the browser.

[2015-01-17 02:13] oxtoacart commented on #1902
@fffw I would do whatever is easiest.  On some platforms, there are existing commands that do what we need, and simply running them might be enough.

I experimented with that here - https://github.com/oxtoacart/netutil/blob/master/netutil_darwin.go

[2015-01-17 02:20] oxtoacart commented on #1902
@fffw That said, since you found that calling the APIs directly can be much faster, maybe it does make sense to provide API bindings.  The whole user access control thing is another variable that we have to deal with.

[2015-01-17 02:21] oxtoacart commented on #2143
We really should decide if we're doing the extension though, since it has other implications.  For example, if we have an extension that can manage the browser's proxy settings, we don't need to mess with the system proxy settings, which gets around the problem of user access control.  To me, that's a big win.

[2015-01-17 02:21] fffw commented on #1902
Got the points, thanks.

Regards,Merlin

On Sat, Jan 17, 2015 at 10:13 AM, oxtoacart <notifications@github.com>
wrote:

[2015-01-17 02:43] fffw commented on #2143
From my point of view, if we want to provide tool for the masses, it should just works. User need not turn something on and off, or distinguish blocked sites from others. It may be very tough to implement, but can we approach this way?

Furthermore, other desktop applications with browser embedded or using http suite, such as Gmail, Dropbox, etc., can also benefit from Lantern. Should we give user

[2015-01-17 03:20] oxtoacart commented on #2174
@myleshorton I went ahead and updated the issue-2174 branch to use the updated fronted and pushed to heroku.

[2015-01-17 03:23] oxtoacart commented on #2143
Yes!  Currently, we only send whitelisted sites through Lantern, for two reasons.  One is that we believe it looks less suspicious if the computer is seen accessing unblocked sites directly.  The other is that we don't want to spend resources proxying stuff that isn't blocked.  One of the main motivations behind the extension is that it would give us the access that we need to detect potential blo

[2015-01-17 03:50] fffw commented on #2143
What I mean is, can we make whitelisting with less user intervention? Like syncing periodically from public lists per user location. Browser extension may has the sole responsibility to customize user's very own list with a single click( and submit to public database maybe), which is not strongly related to Lantern from user's point view.

I mean what our UI makes users feeling. Sorry I should say

[2015-01-17 10:40] oxtoacart commented on #2174
@myleshorton There was still gigantic memory growth, so I hacked together a version of the original peerscanner that pulls in just the update to the cloudflare lib, minimizing other changes.

https://github.com/getlantern/peerscanner/tree/issue-2174-hack

I've deployed it and am keeping my fingers crossed.

[2015-01-17 14:43] myleshorton commented on #2174
So the two earlier changes without any of the connection pooling tweaks I think had a significant positive impact. In particular I actually think just the change to the new GC in 1.3.3 and in 1.4.1 versus whatever we were running before had a huge impact. If you look at the memory growth, both those versions would do a massive GC much sooner than the prior version and would also grow much slower.

[2015-01-17 14:44] myleshorton commented on #2174
Oh, also I think that change to fronted will also be valuable for Android, as we probably want to be a little less aggressive with pooling there.

[2015-01-17 15:43] myleshorton commented on #2174
Actually the 1.4.1 GC profile still maxes out at just over what a 2x dyno can handle unfortunately -- GCs at 1.1 GB, and a 2X has 1GB. I did just revert to the 1.4.1 version, though, as it performs much better.

[2015-01-17 15:47] oxtoacart commented on #2174
Cool.  I did just notice that going back to the old version didn't help
with the leak :(

Cheers,
Ox

-----------------------------------------------------------------------------------------

"I love people who harness themselves, an ox to a heavy cart,
who pull like water buffalo, with massive patience,
who strain in the mud and the muck to move things forward,
who do what has to be done, again

[2015-01-17 15:49] oxtoacart commented on #2174
@myleshorton I'm planning to take a comprehensive look at peer registration this weekend, including this ticket as well as:

https://github.com/getlantern/lantern/issues/1924
https://github.com/getlantern/lantern/issues/1993
https://github.com/getlantern/lantern/issues/2132

[2015-01-17 16:02] myleshorton commented on #2174
Right the leak is still there in all cases, but the memory maxes out at 1.1 GB with 1.4.1 versus about 3.4 GB with the old 1.3.1, which unfortunately is not quite good enough.

[2015-01-18 04:56] myleshorton commented on #1902
Yeah basically @fffw we already have methods for doing this on the various platforms. See:

https://github.com/getlantern/lantern/blob/devel/src/main/java/org/lantern/Proxifier.java

On Windows, we can all out to https://github.com/getlantern/winproxy
On OSX, we can call your existing configureNetworkServices
On Ubuntu we can use gsettings, as in:

gsettings set org.gnome.system.proxy autoconfig-u

[2015-01-18 06:19] myleshorton commented on #2143
Yeah we've been talking about that for a long time too, and I agree just a centralized config file per country is the easiest big win there. Do you frequently encounter a lot of sites that are blocked but not on the whitelist? If so, can you make a note of them so we can add them?

[2015-01-18 06:22] myleshorton commented on #2143
Yeah I think we all agree we should write at least a chrome extension and probably FF too. I agree the extension should also deal with proxy settings because that's the only way we can override the proxy settings of *other extensions*. I'm not totally sure that can fully replace the system proxy, though, as otherwise we'd be forced to implement extensions for all browsers unless we wanted to force

[2015-01-18 06:24] myleshorton commented on #2143
Yeah looks like you can't get the preferences lock without root. Too bad!

[2015-01-18 06:42] fffw commented on #2143
As per [doc](https://developer.apple.com/library/mac/documentation/Networking/Conceptual/SystemConfigFrameworks/SC_Overview/SC_Overview.html#//apple_ref/doc/uid/TP40001065-CH202-CHDIFJAB), it does require root.

But why doesn't Mac request sudo password when accessing network preference GUI?

[2015-01-18 07:11] fffw commented on #2143
Maybe there are ways to eliminate root requirements through fine-grained right control through Authorization Services. I'm trying.

[2015-01-18 07:50] fffw commented on #2143
Tried but will prompt for user/password to access system preferences.

Maybe [what this thread said](http://www.cocoabuilder.com/archive/cocoa/2206-system-preferences-network-settings.html) is right.

[2015-01-18 12:27] fffw commented on #2143
What annoys me most is those sites never expected to be blocked. Recent example is golang.org. Most popular list of blocked sites in China is maintained by AutoProxy. We can grab it through:

[code]

It has thousands of records, but I think we can handle them through more efficient matching algorithm.

I don’t know if there are lists of other regions.

[2015-01-18 14:43] myleshorton commented on #2143
Yeah it looks like we're stuck with root @fffw. We probably could get it to prompt when it needs root, but then we'd be doing that on every Lantern run, which would get annoying.

I like the idea of just using AutoProxy's list! If we could just convert that to a pac file and just download it form a central location, we'd be in great shape for China at least. Can you add a ticket for that, includin

[2015-01-18 14:44] myleshorton commented on #2143
The root thing really isn't that terrible though too -- it just requires us to get root permissions once on install, and then we're good.

[2015-01-18 14:52] myleshorton commented on #2143
So just to be clear this should be a super simply go library that just does something like:

[code]

Those would all be for pac files at first but we could get more sophisticated later if an when necessary.

[2015-01-18 15:55] fffw opened #2177 "[feature] Fetch AutoProxy list periodically and convert to pac file"
[code]

This involves both configuration service and clients in get access mode.

[2015-01-18 15:56] fffw commented on #2143
I'm working on the proxy library and discussion should go to getlantern/lantern#1902

Created getlantern/lantern#2177 for fetching AutoProxy list.

[2015-01-18 16:36] oxtoacart commented on #1902
+1

Just a note on why I think we should discuss this in the context of a potential extension.  If we had an extension, I think a viable mode of usage would be to dispense with the system-wide autoproxy configuration and simply have an on/off toggle in our extension on a per-tab basis.  That way, we just proxy everything you're doing within a given tab, without having to worry about whether the li

[2015-01-18 20:05] #2144 closed

[2015-01-18 22:59] atavism commented on #2143
@myleshorton, I threw together a sample extension for Firefox [here](https://github.com/getlantern/firefox-extension). It didn't take long at all to implement so I don't think there would be that much extra work involved maintaining multiple browser extensions if we had to.

[2015-01-18 23:20] atavism commented on #1902
@oxtoacart, I completely agree. Being able to proxy on a per-tab basis from an extension has always seemed really powerful and a better user experience to me. I threw together the Firefox extension in an effort to move us in that direction and to show it wouldn't be difficult maintaining multiple extensions. We could use a context menu item to add/remove a site from your whitelist:  https://develo

[2015-01-19 04:24] oxtoacart commented on #2174
@myleshorton Here's a refactored version of peerscanner - https://github.com/getlantern/flashlight-build/tree/peerscanner/src/github.com/getlantern/peerscanner.  Note that I went ahead and integrated it into flashlight-build.

It's built to run on a Digital Ocean instance, configured per these changes - https://github.com/getlantern/lantern_aws/pull/34.  A test version is already up and running at

[2015-01-19 21:50] oxtoacart opened #2178 "[enproxy] Connection leak under some circumstances"

[2015-01-19 21:50] oxtoacart commented on #2174
@myleshorton I figured out the root cause of the memory growth - https://github.com/getlantern/lantern/issues/2178

[2015-01-20 03:06] fffw commented on #2177
Oh there's already a [neat tool exists](https://github.com/clowwindy/gfwlist2pac).
Just
[code]

[2015-01-20 03:16] myleshorton commented on #2177
Very cool!!

On Monday, January 19, 2015, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-20 05:48] myleshorton commented on #2174
Awesome @oxtoacart! It would be great to deploy the memory leak fix ASAP, as not the memory is growing to 8GB even on the PX dyno, so even those aren't enough. Sounds like we should also deploy that fix to Lantern itelf and possibly all flashlight servers is that right?

I'm honestly a little wary of getting into a large refactoring that's addressing much lower priority issues, and especially wary

[2015-01-20 14:05] oxtoacart commented on #2174
Agreed.

1. As written, the clock process can't scale horizontally anyway

2. I'm convinced that the domain fronted user experience would be better if we are able to detect unresponsive hosts more quickly, and also if we remove unresponsive fallbacks from rotation.  I say this because I see errors from CloudFlare like "origin down" as well as timeouts even when I'm running against fallbacks.

[2015-01-20 14:56] oxtoacart commented on #2174
Oh, also, while in here I also cleaned up another couple of things:

1. Handle the case when a new name is reported for the same IP

2. Remove ips from rotation that don't have a corresponding individual entry (not a big deal, but just some nice housekeeping)

[2015-01-20 15:09] myleshorton commented on #2174
OK, well let's give it a shot, although I do want to be super disciplined about only addressing the highest priority things going forward, as the big danger is a cycle of continually fixing bugs in things that don't matter as much. I agree the CloudFlare issues are key. So are you saying this might fix #2141, or are you saying there's an unticketed P1 issue for origins being down?

Is it possible

[2015-01-20 15:18] oxtoacart opened #2179 "[flashlight] Seeing occasional errors when proxying through fallbacks"
We see errors in the client's log like this:

[code]

Ideally peerscanner should find out about downed fallbacks before CloudFlare does and update DNS accordingly.

[2015-01-20 15:32] oxtoacart commented on #2174
Yes, sorry, should have ticketed that - https://github.com/getlantern/lantern/issues/2179.  Also, in general I'm wondering if getting the domain-fronted experience rock solid will help with things like the XMPP issues that we see (#2006), users not getting their fallback assignment, etc.  Lastly, I don't think I would have discovered the enproxy issue if I hadn't been digging into this, so I think

[2015-01-20 18:30] myleshorton commented on #2174
Cool yeah I agree really nailing domain fronting is still super high priority. Users continually talk about how slow Lantern is too, although it's unclear if that's always related to domain fronting. We should do more in-country testing for that probably.

I'm still baffled as to why the memory all of a sudden started becoming an issue on peerdnsreg -- very odd. Did the enproxy connection leak iss

[2015-01-20 18:42] oxtoacart commented on #2174
It's likely that it did not, though I'm not 100% sure.  The other possible explanation is that something in Google's response changed, as the problem only happens under specific circumstances (in particular a redirect).  If I had to be though, I'd bet on it being a regression.

[2015-01-20 22:58] oxtoacart commented on #2177
@fffw Are you thinking of doing this on a server and then distributing the list to the Lantern client, or were you thinking of having the client download the gfw list directly?  I only ask because we don't want to make Python a prerequisite for running Lantern.

[2015-01-21 01:40] fffw commented on #2177
@oxtoacart I prefer place the baked list on Amazon S3 and update it periodically, or, provide a simple service to return the list as per client ip address. Client can get the list and merge it with custom rules.

Through this, we can adjust the process without distributing new version, and avoid disruption caused by 3rd party.

[2015-01-21 02:02] oxtoacart commented on #2177
@fffw

That sounds great.

[2015-01-21 02:58] zjhxmjl opened #2180 "how to install this software in fedora?"
Hi,@atavism is there any guides for how to install lantern in fedora 20?thanks a million!

[2015-01-21 03:32] oxtoacart commented on #2174
So, I deployed a new build to peerdnsreg that incorporates the latest enproxy code, but memory is still growing.  So it looks like the memory growth is being caused by something else.

On a positive note, the enproxy fix will hopefully help with this other error that I saw in the peerdnsreg log:

`Jan 20 19:17:31 cloudflare-peerdnsreg app/web.2:  2015/01/21 03:17:30 http: Accept error: accept tcp

[2015-01-21 03:49] zjhxmjl commented on #2174
@oxtoacart,sorry i can't see what you mean?

[2015-01-21 04:12] oxtoacart commented on #2174
Interestingly, the refactored peerscanner using the same enproxy, running on ps-singapore-001 is not experiencing any memory growth.

[2015-01-21 06:47] myleshorton commented on #2174
Thanks @oxtoacart very interesting. Well, that's a pretty good argument for using the new one! Are you already forwarding traffic to it from the old peerscanner?

[2015-01-21 06:52] myleshorton commented on #1902
What makes it a better user experience?

[2015-01-21 07:32] oxtoacart commented on #2174
I'm not forwarding traffic yet, but the new one has been scanning all of the fallbacks.  I'll do an experiment tomorrow where I forward all of the traffic to the new one.  I'll let you know how that goes.

[2015-01-21 17:43] oxtoacart commented on #2174
@myleshorton I'm now forwarding traffic from Heroku to our new DO peerscanner.  I've confirmed that peers are getting registered (both by running my own peer and observing traffic, as well as inspecting CloudFlare DNS).  The fallbacks rotation is also populated, and I'm currently browsing through roundrobin.getiantem.org and stuff seems to be working fine.

The DO peerscanner server is currently a

[2015-01-21 18:02] myleshorton commented on #2174
Awesome! Very odd it behaves so differently on DO. I wonder why.

I think the only thing we'll really need on that box is some sort of
comparable monitoring.

On Wednesday, January 21, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-21 18:16] oxtoacart commented on #2174
The code is very different.  The old code was extremely chatty with CloudFlare, frequently fetching the entire set of DNS entries.  The new code only does that once, at startup, and the only subsequent communication with CloudFlare is to register/deregister specific hosts.  Also, the connectivity check goes directly through the host under test rather than through CloudFlare, although I don't think

[2015-01-21 18:50] myleshorton commented on #2174
Oh -- I thought you also deployed the new code to Heroku but said it didn't solve the problem? Maybe that was just the enproxy change?

We just need to make sure we monitor the new machine in a comparable way to how we monitor the current machine. Maybe just adding the DO metrics for that box to our support days is good enough, though. Is that what you were thinking?

[2015-01-21 18:55] oxtoacart commented on #2174
I deployed an updated version of the original peerscanner to Heroku that incorporated the latest and greatest enproxy, but that continued to exhibit a fast leak.  The peerscanner that's running on DO is a very different codebase, but that uses the same latest and greatest enproxy.

Gotcha.  We should already be monitoring the fallback-alarms mailing list (just updated template to reflect that), on

[2015-01-21 19:00] oxtoacart commented on #2179
We're now running the new peerscanner that takes fallbacks out of rotation, and so far I'm not seeing this error anymore.

[2015-01-21 19:17] oxtoacart opened #2183 "[bug] Add memory alerting for fallbacks and peerscanner"
Do something similar to what we already do for load_avg here - https://github.com/getlantern/lantern_aws/blob/master/salt/flashlight/monitor.bash

[2015-01-21 19:27] myleshorton commented on #2174
I mentioned this offline, but just to record here the key issue with the peerscanner was memory, so if we're unable to monitor memory that's a pretty big problem.

[2015-01-21 19:34] oxtoacart commented on #2174
Memory alerting bug logged here - https://github.com/getlantern/lantern/issues/2183

As mentioned offline, memory pressure will lead to climbing load_avg, which will eventually trigger auto-restart, so we're in better shape anyway than we were on Heroku.

[2015-01-21 20:10] myleshorton commented on #2172
Discussed with @chipstehr and realized there are a bunch of non-technical components to this like sending thank you letter to donors, tex deductible issues (reporting to the IRS), etc. So I think we need to push this out a bit unfortunately.

[2015-01-21 20:15] myleshorton commented on #2156
Spoke with @aranhoide about this, and we still need to update the alarms to check for multiple failures in a row. Right now it's a little chattier than would be ideal.

[2015-01-21 20:34] myleshorton commented on #2179
Should we close it?

[2015-01-21 20:35] myleshorton commented on #2175
@chipstehr and @myleshorton going to work on this in LA.

[2015-01-21 20:36] myleshorton commented on #2174
Looks like we close this ticket proper @oxtoacart right?

[2015-01-21 20:45] myleshorton commented on #2117
We can actually close this right @oxtoacart?

[2015-01-21 20:59] myleshorton commented on #2074
The manifestation of this will be an inability to view and add friends, login to XMPP, and anything Google. If this happens during the setup sequence, it's unclear what exactly would happen. The friends screen would probably hang, but you should be able to move on.

This would also mean that you don't get a fallback proxy and are in flashlight land, but with domain fronting working and if the user

[2015-01-21 22:22] oxtoacart commented on #2117
I was hoping to hear back from @LeoK987 to see if that build resolved the issue.

[2015-01-21 22:28] LeoK987 commented on #2117
I have not noticed high CPU usage with version 1.5.17 in the past few
days.  Seems OK

On Thursday, January 22, 2015, oxtoacart <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-01-21 22:33] oxtoacart commented on #2117
Thanks @LeoK987!

[2015-01-21 22:33] #2117 closed

[2015-01-22 03:22] oxtoacart commented on #2174
This is mostly fixed, but I'm still seeing file descriptors for CloudFlare connections leaking.

BTW, here is the PR for it - https://github.com/getlantern/flashlight-build/pull/34

[2015-01-22 17:00] oxtoacart commented on #2179
This is no longer happening for me with the peerscanner that's deployed, but let's keep the ticket open until we've actually done the PR - https://github.com/getlantern/flashlight-build/pull/34

[2015-01-22 17:36] oxtoacart commented on #1902
I won't speak for @atavism, but for me this would be very handy because it would be a quick and easy way to do both proxied and unproxied browsing, and to clearly know which is which (based on how the extension looks when I'm on a given tab).  Unfortunately, this may all be moot :(

https://groups.google.com/a/chromium.org/forum/#!topic/chromium-extensions/7MevxLfCF8k
https://code.google.com/p/swi

[2015-01-22 17:42] oxtoacart opened #2184 "[flashlight] Unable to upload files to GitHub"
For example, try to upload a build of flashlight to a GitHub release while running over flashlight.  It uploads some data, but then the connection resets before it finishes.

[2015-01-22 17:43] myleshorton commented on #2184
Interesting. So it's pretty likely this applies to any site and not just to GitHub right?

[2015-01-22 17:47] oxtoacart commented on #2184
Oddly enough, I'm able to upload a 7MB flashlight build to drive.google.com.

[2015-01-22 17:49] myleshorton commented on #2184
Strange. Is that how big flashlight is now?

[2015-01-22 17:53] oxtoacart commented on #2184
No, that was an old build that I had lying around.  A recent build is around 13-17MB depending on platform, uncompressed.

[2015-01-22 18:01] myleshorton commented on #2184
Interesting. Looks like about 6MB UPXed. Any idea how much of that is Natty?

[2015-01-22 18:06] oxtoacart commented on #2184
Based on natty's object file, I'm guessing that about 10MB of that is Natty.

[2015-01-22 18:07] oxtoacart commented on #2176
+1

[2015-01-22 19:48] myleshorton commented on #2116
This is all set right @oxtoacart?

[2015-01-22 19:49] myleshorton commented on #1901
All set on devel

[2015-01-22 19:49] #1901 closed

[2015-01-22 19:49] oxtoacart commented on #2116
Yes, all set.

[2015-01-22 19:49] #2116 closed

[2015-01-22 20:01] myleshorton commented on #1902
Interesting thanks @oxtoacart! I still think Lantern automatically routing around any blocking is the ideal experience because it requires no user interaction.

@fffw very slick implementation of this at https://github.com/getlantern/pacon!

The one really problematic issue I can see is requiring root on OSX. I actually originally envisioned this just calling those existing executables using https

[2015-01-22 20:29] myleshorton commented on #769
Reopening after team discussion on the analytics advantages here.

[2015-01-22 23:26] oxtoacart commented on #1902
Yes, if we can make this work reliably, in all countries, I agree that it would be the better user experience.  That's a big if though.

Will browsers fall back to direct connections if they can't contact the proxy?  If so, we could:

- Simplify the PAC file so that it basically sends everything through our local proxy
- Update the proxy to decide whether or not actually proxy based on the whiteli

[2015-01-22 23:34] oxtoacart commented on #2174
Okay, I finally found the leak!  It was actually not on our connections to the CloudFlare API, but on CloudFlare's connections to our web front-end.  Sometimes the requests to register would hang.  CloudFlare would close its end of the connection, but the request handler was still spinning and so wouldn't close its connection.

I've now added a timeout to prevent this hanging, and I no longer see

[2015-01-22 23:39] myleshorton commented on #1902
That's a very cool insight. I believe they will, although I'm not 100% sure how they handle it. That's what "DIRECT" in this line means though:

[code]

Basically if you can't hit the proxy go, directly. What I don't know is:

1. Does that affect performance?
1. What does the browser consider to be proxy failure to be? In particular, is a successful connect not a failure.

The other tricky thing i

[2015-01-22 23:41] myleshorton commented on #2174
Sweet!!! So in web.go correct? Or maybe in the refactored version of web.go?

On Thu, Jan 22, 2015 at 3:34 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-22 23:48] oxtoacart commented on #2174
Yes, the refactored web.go.
On Jan 22, 2015 5:41 PM, "myleshorton" <notifications@github.com> wrote:

[2015-01-22 23:58] oxtoacart commented on #1902
Well, for Chrome anyway, this is what I get :(  Maybe there's some other way to accomplish this hack?

![screen shot 2015-01-22 at 5 52 17 pm](https://cloud.githubusercontent.com/assets/5000654/5867313/10edd64c-a260-11e4-868a-1f64da6b7e3f.png)

[2015-01-23 03:36] ed2k commented on #1167
I am this doesn't work couple months ago, thus I opt to the port forwarding solution.

[2015-01-23 03:39] fffw commented on #1902
I completely agree. I had a chat with a few college student friends yesterday, majors from art to design to accounting. They feel current solutions (commercial VPNs and fqrouter, on phones and pads) too complicated, even just a simple tap. If a page fails to open, they don't know if it is caused by firewall or the site itself. They even call all circumvention tools VPN.

Yes that's impractical. Th

[2015-01-23 04:00] myleshorton commented on #1902
That's incredibly valuable data. It would be great to know what they think
of Lantern.

Yeah a couple of things. Honestly I kind of like your implementation
better, but the advantages of bytexec are:

1) We can setuid on just the extracted executable on first run as you said
2) Each platform-specific solution can be its own independent open source
project, which is more modular overall and more li

[2015-01-23 04:39] myleshorton commented on #1902
That is to say the best approach might be launchd and to write a launchd
script that calls configureNetworkServices and is triggered through one of
the launchd triggering methods.

On Thursday, January 22, 2015, Adam Fisk <afisk@getlantern.org> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-23 05:15] #2124 closed

[2015-01-23 06:17] fffw commented on #1902
That depends on how we want to install and run Lantern as background process, and how systray/config page/browser extension interacts with it, on each platform.

Seems flashlight is platform-independent currently, so on Mac, we’ll create a long-run launchd daemon which starts and stop flashlight, set system pac, etc., and the UI part interacts with flashlight through RESTful API?

In fact, it’s a

[2015-01-23 08:57] myleshorton commented on #1902
Hey sorry I'm only talking about the proxy part running as a launchd
*daemon*. Lantern runs also also as a launchd agent in user space now, but
I would just not worry about that part for the purposes of this.

Actually for now if you're just able to call setuid through cocoa with that
call triggering an authentication prompt, we could just go with that for
now.

Alternatively you could skip that p

[2015-01-23 13:59] oxtoacart commented on #2174
Okay, peerscanner has been running for 11 hours now, memory is holding steady at around 60MB and we have about 50 file descriptors in CLOSE_WAIT, which is about what it was soon after the process started.  These are just connections that haven't timed out yet.

[2015-01-23 14:32] fffw commented on #2143
Curious enough that neither `gtk_status_icon` nor `App Indicator` works on my Ubuntu precise64 VM, even for other software packages I tried. Code runs without errors, but no systray displayed.

But `java.awk.SystemTray` works fine. Trying get its source code and check.

[2015-01-23 15:38] oxtoacart opened #2185 "[flashlight] May be triggering CloudFlare DDOS protection"
I've been browsing with flashlight a lot recently.  After I turn off proxying, I've noticed that I'm occasionally getting CloudFlare's DDOS protection page when I browse to CloudFlare hosted resources.

![screen shot 2015-01-23 at 9 36 42 am](https://cloud.githubusercontent.com/assets/5000654/5877204/921e2824-a2e3-11e4-8a26-7fa03660b226.png)

It's not clear to me what exactly the impact of this is

[2015-01-23 16:03] oxtoacart commented on #2185
I tried turning off DDOS protection for getiantem.org in case that might help, but I can't :(

![screen shot 2015-01-23 at 9 40 28 am](https://cloud.githubusercontent.com/assets/5000654/5877259/ef56fe6c-a2e3-11e4-8b52-d151e8761e6e.png)

[2015-01-23 16:04] oxtoacart commented on #2185
One quick thing to try is turning off connection pooling.  CloudFlare may see us opening a bunch of connections that we then don't use, and see that as a red flag.

[2015-01-23 16:18] oxtoacart opened #2186 "[enproxy] Seeing connection reset by peer"
For example:

[code]

Saw this on Lantern version 1.5.17-c3feb51.

Somewhat similar to #2071, but different.

[2015-01-23 17:06] myleshorton commented on #2143
OK cool. If Ubuntu's a big pain we could probably punt on it initially too.

[2015-01-23 17:26] myleshorton commented on #2174
Sweet! Great stuff @oxtoacart!

On Fri, Jan 23, 2015 at 5:59 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-23 17:54] atavism commented on #2061
@myleshorton, there's a corresponding ticket for the client-side changes? I presume to display the hostnames for donor servers instead of IP addresses when you hover over the peer icons, right?

[2015-01-23 18:32] oxtoacart commented on #2185
I'm going to try running with a flashlight that doesn't pool and see how that goes.

[2015-01-23 18:56] oxtoacart commented on #2185
So far, running without connection pooling is working fine.  Perhaps conn pooling was a premature optimization :)

[2015-01-23 19:13] oxtoacart commented on #2185
BTW, I think the main reason I noticed this is that I left flashlight on overnight.  We should probably incorporate that in our tests.

[2015-01-23 20:00] atavism opened #2187 "Error encrypting stream exception"
Seeing this in the Lantern Pi log.

988026 2015-01-23 19:24:56,767 ERROR [Lantern-Jetty-Thread-44] state.ModelIo.write (Storage.java:70) - Error encrypting stream
org.lantern.privacy.UserInputRequiredException: Password has not been provided
	at org.lantern.privacy.DefaultLocalCipherProvider.getLocalKey(DefaultLocalCipherProvider.java:116)
	at org.lantern.privacy.AbstractLocalCipherProvider.newLoc

[2015-01-23 20:25] myleshorton opened #2188 "Local network discovery showing localhost address instead of local network address"

[2015-01-23 22:10] atavism commented on #1294
We aren't using WebView anymore so I'm pretty sure we can close this out.

[2015-01-23 22:10] #1294 closed

[2015-01-23 22:32] myleshorton commented on #2185
Interesting, so it was continuously maintaining the pool all night long is
that right? I'd be cool with stripping the pooling out I think.

On Fri, Jan 23, 2015 at 11:13 AM, oxtoacart <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-23 22:38] myleshorton opened #2190 "Client-side changes to display names of Indiegogo server donors on map"

[2015-01-23 22:38] myleshorton commented on #2061
Just created it @atavism -- #2190 thanks!

[2015-01-24 00:00] oxtoacart commented on #2185
So, I ran for several hours with pooling turned off, then checked in a browser that wasn't configured to proxy, and I still get the CloudFlare DDOS protection page when accessing highcharts.com.

[2015-01-24 01:28] oxtoacart commented on #2185
Well, embarrassingly, due to a bug in fronted, I was never actually running with connection pooling enabled.

[2015-01-24 01:46] myleshorton commented on #2185
Well hey that simplifies things at least! Forgot to mention that a user on
FB reported the same issue with hitting that CloudFlare page.

On Friday, January 23, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-24 01:47] myleshorton commented on #2185
I believe the same guy who was running flashlight.exe directly from a bat
file!

On Friday, January 23, 2015, Adam Fisk <afisk@getlantern.org> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-24 04:26] oxtoacart commented on #2184
I see an error like this in the client log when this happens:

[code]

[2015-01-24 04:50] oxtoacart commented on #2184
GitHub file uploads go to Amazon S3.  I see this on the fl-singapore-001-37 server log, which could be related:

[code]

[2015-01-24 04:52] oxtoacart commented on #2184
I see similar errors about 2-3 times per hour on that server.

[2015-01-24 05:22] oxtoacart commented on #2184
I bet something along the way (probably CloudFlare) is buffering the upload.  From Amazon's perspective, it looks like something opened a connection, did the TLS handshake, and then just sat there doing nothing.  At some point, Amazon times out the connection, and our upload fails.

[2015-01-24 13:46] oxtoacart commented on #2185
@myleshorton I just checked out the page that this user was trying to access (symbianize.com).  When accessing it through flashlight, I see the DDOS protection go into a redirect loop.  That is, it shows the DDOS screen, then redirects, then shows the DDOS screen.  So whatever CloudFlare is doing to detect "real" browsers doesn't seem to work when running through flashlight.  Probably related to t

[2015-01-24 13:47] oxtoacart commented on #2185
If I set up flashlight to use only a single server, then I'm able to get past the DDOS protection screen on symbianize.

[2015-01-24 13:53] oxtoacart commented on #2185
One potential thing that could help is using more of our masquerade hosts.

[2015-01-24 14:03] myleshorton commented on #2185
Interesting @oxtoacart thanks great snooping. Why would using more masquerade hosts potentially help?

[2015-01-24 16:43] oxtoacart commented on #2185
Using more masquerade hosts might help prevent the client's computer from being flagged as DDOSing if CloudFlare is measuring the frequency of access by entry IP.  If they do it by host, that won't help since we're sending everything to our set of hosts.  It's really just a long shot.

[2015-01-24 20:54] oxtoacart commented on #2141
Just did some more testing on this, using https://en.wikipedia.org/wiki/Germany.  It looks like it's really just down to geography.

- With the default configuration (roundrobin + full masquerade set), the page takes about 35 seconds to load.

- Without flashlight (i.e. no proxying), the page loads in about 3.5 seconds.

- Using my own flashlight server hosted at home, accessed directly (no CloudF

[2015-01-24 23:55] oxtoacart commented on #2141
Tested again with a Singapore site, http://www.dbs.com.sg/index/default.page

- No Proxy: about 2s
- Standard Proxy: 17-25s
- Home Proxy via CloudFlare (w Masquerade): 9s
- Home Proxy via CloudFlare (w/o Masquerade): 6.5-7s
- Home Proxy Direct: 2.5-3s

In conjunction with the Wikipedia test, assuming that my home proxy doesn't have any advantage over the roundrobin:

1. Having the proxy close the

[2015-01-25 01:09] myleshorton commented on #2141
Thanks Ox! That makes sense to me especially because most big destination
sites should themselves be running on CDNs. So it seems like having servers
closer to Iran would be huge. We also should be able to do better with
China - Japan or even better South Korea are significantly closer. Might be
worth testing EC2 in Japan.

On Saturday, January 24, 2015, oxtoacart <notifications@github.com> wrote:

[2015-01-25 15:41] oxtoacart commented on #2141
@myleshorton linode and vultr both have Tokyo datacenters as well.  vultr's $7 per month plan looks like the best deal for us, as it includes 2TB transfer per month.  But, linode is supported by salt-cloud, so it might be an easier place to start - http://docs.saltstack.com/en/latest/ref/clouds/all/.

IIRC, Amazon's bandwidth is much more expensive than DO, linode and vultr.

[2015-01-25 15:42] oxtoacart commented on #2141
@myleshorton I should have mentioned that based on what we've seen on our DO servers, bandwidth is our limiting factor rather than CPU or memory.

[2015-01-25 17:11] fffw commented on #2141
Linode Tokyo has very good reputation on its network performance accessing from China.

[2015-01-25 18:04] oxtoacart commented on #2141
@fffw Nice!  Sounds like that makes the choice easy.

@myleshorton Perhaps we should accelerate https://github.com/getlantern/lantern/issues/1763 ?

[2015-01-25 18:57] fffw commented on #2143
Now works on Debian through GTK+ API.

Still have problem showing on Ubuntu, in fact, my system menu bar is totally invisible after upgraded to Ubuntu 14.04. Will check later.

[2015-01-25 20:39] myleshorton commented on #2141
Nice! Yup I agree @oxtoacart let's make it happen.

On Sunday, January 25, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-25 21:14] atavism commented on #1763
@oxtoacart, I'm not sure how you were planning to implement this, but I started reading about this further and came across a library called [dns-clb-go](https://github.com/benschw/dns-clb-go) you may be interested in. It facilitates DNS-based service discovery in a Go application using SRV records. It has really nice flexibility: you can plug in a customized load balancer (it already supports roun

[2015-01-25 21:52] oxtoacart commented on #1763
@atavism That looks very neat, thanks!  The challenge that we have is that our client can't use DNS, as it is subject to poisoning by the censors, so I don't know that we could take advantage of this for domain-fronting.  What do you think?

[2015-01-25 22:38] atavism commented on #1763
@oxtoacart I hadn't thought about DNS poisoning making the proposition untenable. This is probably further down the road, but would one possible work around be to use this in conjunction with an encrypted DNS service like [DNSCrypt](https://github.com/opendns/dnscrypt-proxy) and OpenDNS?

[2015-01-26 03:04] myleshorton commented on #1763
Yeah the other theoretical issue outside of straight poisoning is DNS blocking at the IP level. I'm not sure that's happening or not, but it reflects the large issue of introducing another single point of control.

One thing we should look at is how some of these VNPs are staying up at all -- Astril in particular seems to do a pretty decent job of it and seems to have primarily been blocked just a

[2015-01-26 03:45] atavism commented on #1763
Yeah, I'm not sure if it's happening or not either. It appears OpenDNS servers have remain unblocked in China.

[This thread](http://forums.whirlpool.net.au/archive/2268274) has some more information, but it sounds like Astrill has been able to stay unblocked in particular because most of their network uses VPNs automatically configured in [stealth mode](https://torguard.net/stealth-vpn.php) to di

[2015-01-26 15:58] oxtoacart opened #2191 "[lantern] On OS X, the Lantern Menu Bar (a.k.a. System Tray) icon is not always visible"
If the menu bar is too full of other stuff, the Lantern icon may not appear:

![screen shot 2015-01-26 at 9 50 10 am](https://cloud.githubusercontent.com/assets/5000654/5902559/08f31ac2-a541-11e4-8653-df368a8c073a.png)

![screen shot 2015-01-26 at 9 50 20 am](https://cloud.githubusercontent.com/assets/5000654/5902561/0aa4e666-a541-11e4-8923-9185b61b8592.png)

It occurs to me that the menu bar icon

[2015-01-26 20:31] myleshorton opened #2192 "Allow Lantern to bind to 0.0.0.0 instead of localhost"
This would allow it to be used as a proxy server, for example. We have the functionality on devel, but it's not exposed to the user as a configuration option.

[2015-01-26 20:33] oxtoacart commented on #2192
@myleshorton What's the use case here?

[2015-01-26 20:44] myleshorton commented on #2192
A user brought this up awhile ago on the forums, but let's say you run a small business, for example, and want the whole company to be able to access blocked sites. Just set up a proxy server running Lantern and have the whole company auto-configured to go through that. Then you don't have to install Lantern on each machine. That's what the user's suggestion was.

[2015-01-26 20:55] myleshorton commented on #2191
This must just be a general issue with the menu bar that's not Lantern-specific right? Similar to how the system tray hides some of your tray items.

Does it still not become visible, or have an option to scroll to invisible ones, if you mouse over?

[2015-01-26 20:58] oxtoacart commented on #2192
I like it a lot!  For that matter, I could see people using it to run an open proxy for friends/family/etc.

This does raise the question of easing the distinction between Give and Get mode for me again.  We don't have to answer that question in order to implement this change, but it's one more thing that chips away at the distinction.  Something to keep in mind for whenever we redesign the UI.

[2015-01-26 21:14] oxtoacart commented on #2191
Yes, it's not Lantern-specific.  However, since we don't offer any other way to get back into the application, I can see this generating confusion/questions.

Not as far as I can tell, no.

[2015-01-26 21:40] myleshorton commented on #2172
This could also work for the Lantern Pi.

[2015-01-26 21:41] oxtoacart opened #2193 "[lantern] Enable WebSockets transport for CometD to save some UI CPU usage by not polling"

[2015-01-26 22:00] myleshorton commented on #2193
Closed in e124147

[2015-01-26 22:00] #2193 closed

[2015-01-26 22:09] atavism opened #2195 "Port whitelist functionality to Go"

[2015-01-26 23:06] fffw commented on #2191
I did checked trayhost before, and felt a little bit weird when seeing a dock icon without an application window.

A possible workaround would be to open the "Show Lantern" window when we launch the application again.

[2015-01-26 23:11] oxtoacart commented on #2191
I agree.

[2015-01-26 23:53] atavism commented on #2104
@myleshorton Testing this along with the UI changes on Windows 8.1. I can confirm after installation, double-clicking the desktop icon does nothing. Also, running Lantern from the command line I'm seeing this:

[code]

[2015-01-27 00:04] atavism commented on #2104
It appears the issue is when you close the UI window, and Lantern is relegated to a background process, double clicking the desktop link has no effect or ability to re-open the UI. If I terminate the Lantern process, the window opens fine once again.

[2015-01-27 04:38] myleshorton commented on #2104
Thanks for testing @atavism! This bug is actually for Lantern not starting at all after initial install (Lantern should run automatically after the installer runs), as posted by a user in a FB message. There's a separate bug for what you're talking about at #1691.

Did Lantern start automatically after the installer ran, or did you have to try the desktop link? There could also be a bug in the log

[2015-01-27 05:11] myleshorton commented on #2192
Oh interesting. I was only thinking of it only for get mode, but you're saying any company with a proxy server might want to run Lantern instead and to also supply access, is that right?

[2015-01-27 14:39] oxtoacart commented on #2192
I was actually thinking more of individuals or groups in censored countries providing access for friends and family.  So just like I might want to run Lantern for everyone on my LAN, perhaps I also want to run Lantern as an open proxy for my friends.  That would actually be a quick and easy way to "support" mobile users, who would just need to configure their proxy settings to point to my Lantern.

[2015-01-27 16:09] oxtoacart opened #2196 "[lantern] Friends screen hangs on login"
I'm testing with the current devel branch of lantern, the 0.0.12 branch of lantern-ui (soon to be merged) and a flashlight built from the peerscanner branch.

When logging in for the first time (in Get mode), I've noticed that the friends screen hangs indefinitely.  Looking at the logs, it looks like some Lantern-internal stuff is trying to proxy through peers.  That shouldn't happen, because our

[2015-01-27 16:10] oxtoacart opened #2197 "[lantern] When using proxy switching extension like ProxySwitchSharp, Lantern UI may not proxy when it's supposed to"
During the Get-mode login experience, we set the system proxy to point to Lantern so that your Google login is proxied.  However, now that we open the UI in the user's default browser (on OS X anyway), if the user is using an extension like ProxySwitchySharp, the system proxy settings may be ignored.

[2015-01-27 16:16] oxtoacart commented on #2196
Part of the problem is that we used to use [GetModeProxyFilter[(https://github.com/getlantern/lantern/blob/4db26a057a74849cfa197d36e8e835233cbdb4eb/src/main/java/org/lantern/proxy/GetModeProxyFilter.java) to temporarily turn on high QOS for everything, but since moving proxying into the Go layer, this class is no longer used.

[2015-01-27 16:32] oxtoacart commented on #2196
The friends screen definitely does not hang in Give mode.

[2015-01-27 16:52] oxtoacart commented on #2196
So, I've fixed the QOS issue, but the screen still hangs.  Interestingly, if I restart Lantern, the friends screen comes up very quickly after restart.  This could be because at that point we have a traditional chained fallback available and aren't domain fronting anymore.

[2015-01-27 17:00] oxtoacart commented on #2196
I tried to see if I could replicate the problem after disabling chained servers, but I couldn't.  Then I reenabled chained servers, and I still can't replicate it.  So, it must not hang all the time, just sometimes.

[2015-01-27 17:23] oxtoacart commented on #2196
When it does hang, I see from the log that we never even got into the friendsLoader Callable (i.e. the message "Loading friends" doesn't appear).  So it looks like it's not a problem with the friends API call itself, but something before that.

[2015-01-27 17:43] oxtoacart commented on #2196
Okay, I think this may be a race condition in PublicIpAndTokenTracker.  I added some logging to it to show when a PublicIP is received, a refresh token is received, and when the PublicIpAndTokenEvent is raised.  Usually everything looks fine, but when the friends screen hangs, I see this in the log:

[code]

After that, nothing.  So PublicIpAndTokenTracker has received both a public IP and a refre

[2015-01-27 17:53] atavism commented on #2104
It automatically started after the installer finished running. I just tried uninstalling and re-installing to confirm.

[2015-01-27 17:57] oxtoacart commented on #2196
Okay, found the culprit - there's a startup sequencing issue with the call to reset and the event for getting a new PublicIp.

[code]

Look how close together those timestamps are.  Most of the time, the "Got public IP" wins, but sometimes the "Resetting" wins.  When that happens, we never public the PublicIpAndToken event when we receive a refresh token:

[code]

[2015-01-27 18:05] oxtoacart opened #2198 "[lantern] When connectivity is lost and reestablished, Lantern doesn't notice"
To reproduce:

1. rm -Rf ~/.lantern
2. Start Lantern
3. Disconnect network (e.g. disable wifi)
4. Wait until you see the spinner in the attached screenshot (this means that Lantern has detected connectivity was lost)
5. Reconnect network
6. Wait as long as you like, the spinner sticks around

![screen shot 2015-01-27 at 12 03 44 pm](https://cloud.githubusercontent.com/assets/5000654/5923907/c9f981

[2015-01-27 18:27] oxtoacart commented on #2196
Since XMPP relies on PublicIpAndTokenTracker as well, it's possible that some of the XMPP-related issues we've been seeing are related to this also.

[2015-01-27 18:28] oxtoacart commented on #2196
@myleshorton I assigned the PR for this to you.  It's not a big change, and you're the one other than me most familiar with this code.

[2015-01-27 20:34] myleshorton commented on #2198
This is on devel right?

[2015-01-27 20:44] oxtoacart commented on #2198
Yes, on devel.

[2015-01-27 22:25] fffw commented on #2112
A user complaints at [user forum](https://groups.google.com/forum/#!msg/lantern-users-en/nvCgzpGUFLc/TOCMu3zBiEAJ).

Because `~/Library/LaunchAgents/org.lantern.plist` has mod 644, we can't change it from Lantern process running as current user.

[2015-01-27 22:37] fffw commented on #2112
As per man page of `launchctl`

              /Library/LaunchAgents) or the user loading them (if they are located in $HOME/Library/LaunchAgents).

But we set it to 644 [during installation](https://github.com/getlantern/lantern/blob/devel/install/osx/configureOsx.bash#L94), is it on purpose?

[2015-01-27 22:49] fffw commented on #2112
Oh sorry I messed it up. What we need to do is

in [configureOsx.bash](https://github.com/getlantern/lantern/blob/devel/install/osx/configureOsx.bash#L94), right?

[2015-01-28 01:09] oxtoacart opened #2200 "[lantern-ui] Something is making synchronous XMLHttpRequests on the main thread"
I see this warning from jQuery sometimes: "Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check http://xhr.spec.whatwg.org/."

It's not immediately clear to me what's doing this, but it could cause performance issues for sure.

[2015-01-28 02:01] atavism commented on #2200
I'd never seen that error before today, but I found out where it's originating from: [app/js/version.js](https://github.com/getlantern/lantern-ui/blob/master/app/js/version.js). I removed that code and moved it to the app run block in app.js -- it should no longer be an issue now.

[2015-01-28 16:13] atavism commented on #2198
Seeing the same thing. Even when you refresh the UI after re-establishing connectivity, the spinner remains. I'm seeing this over and over in the log:
[code]

[2015-01-28 17:51] myleshorton commented on #2198
Yeah this is probably related to what we're chatting about over on #2199

[2015-01-28 18:32] myleshorton commented on #2191
Putting in long term since the solution would take a lot of thought, the number of users affected is likely pretty low, and other apps that use the menu bar don't implement other solutions that we know of (if it's good enough for DropBox it's probably good enough for us at this point!).

[2015-01-28 18:35] myleshorton commented on #2187
Without login on the Pi, storing the model doesn't matter much.

[2015-01-28 18:36] myleshorton commented on #2180
Thanks so much for your interest @zjhxmjl! At this point we only Ubuntu and have spare resources to support Fedora in the near term. We are definitely open to patches, however, if you see an easy way to add fedora support. Thanks again.

[2015-01-28 18:40] myleshorton commented on #2177
One easy approach would be to integrate this into the install script -- basically just fetch the updated AutoProxy list and post it on each new install.

[2015-01-28 18:41] oxtoacart commented on #2191
Agreed

Cool that you mentioned DropBox.  I like their UI, in particular how clicking on the menu bar icon shows a little summary window with the most important information (rather than just a drop-down menu) and how the settings button brings up a streamlined native window for adjusting settings.  We could probably learn something from the UX.

[2015-01-28 18:44] myleshorton commented on #2171
Thanks @Hongbo-Miao that's a very annoying issue. What operating system are you using? It downloads and installs every single time correct? We're in the process of porting things to Go, which will obviate for this, but we'd love to fix it if possible.

[2015-01-28 18:44] oxtoacart commented on #2177
@myleshorton

How about we bake the list into the binary and provide updates via cloud.yaml, the way that we already do with masquerades?

[2015-01-28 18:46] myleshorton commented on #2161
I think the combination of the new peerscanner that takes servers out of rotation more quickly and the realization that users are targeting specific servers means we probably shouldn't do this @oxtoacart. Does that sound right?

[2015-01-28 18:50] oxtoacart commented on #2161
The new peerscanner has lower latency than the old, but there's still latency, and I still see requests to the peers rotation failing sometimes.  Putting this in the hands of the client would help, but this is a complex and challenging change.  Our time is probably better spent on making true peer proxying a reality, so I would mark this ticket long-term.  If we eventually retire the domain-fronte

[2015-01-28 18:59] myleshorton commented on #2197
@oxtoacart it seems like the major mitigating factor here is the anyone using ProxySwitchySharp is likely to have Google on their proxied list.

I don't the eavesdropping threat, however -- should be all HTTPS.

[2015-01-28 19:09] myleshorton commented on #1983
This could be a good to work on @fffw, as it's super important for the full go port to work. It's possible we could reuse https://github.com/jbenet/go-udtwrapper, but at least it would be a good starting point.

[2015-01-28 19:11] oxtoacart commented on #2197
@myleshorton

Likely true, but that's not the major issue.  The major issue is that ProxySwitchySharp allows you to turn proxying on/off by choosing a proxying profile.  When off, it doesn't use your system proxy settings at all, you actually have to explicitly pick "System Proxy" which is its own profile.  In my usage, I almost never pick "System Proxy" unless I'm explicitly testing Lantern.  I s

[2015-01-28 19:31] oxtoacart commented on #2198
This is the same root cause as #2196 and is fixed with that.

[2015-01-28 19:48] Hongbo-Miao commented on #2171
I use OS X 10.10.1 before and now 10.10.2. SPSS 22 also needs Java SE 6. So at last I installed http://support.apple.com/kb/DL1572. It works then.
So now my system have both Java 6 (from Apple) and 8 (from Oracle).

[2015-01-28 20:18] atavism commented on #2187
@myleshorton Sounds like it would be good to add a quick patch to disable storing the model entirely if skip-login is passed in then?

[2015-01-28 21:12] myleshorton commented on #2187
I don't think it really affects anything other than noise in the logs though. Is there something you think it's affecting?

[2015-01-28 21:16] myleshorton commented on #2197
Interesting. So ultimately we'll need to override it with an extension, but it's more of an issue with the new code because the login sequence can get screwed. Makes sense.

Right but Chrome practically invented certificate pinning! And they're certainly doing it for their own domains.

[2015-01-28 21:24] oxtoacart commented on #2197
Exactly.

Point taken.  Keep in mind though that Chrome allows CAs in the system keystore (e.g. from corporate policy) to override pins (see https://www.imperialviolet.org/2011/05/04/pinning.html).  Lantern does not use these CAs, so there is still some difference in behavior.

[2015-01-28 21:41] myleshorton commented on #2191
Yeah totally -- it's pretty slick. Would be nice to beef up the UI there in general, which hopefully some of @fffw's changes will help with!

[2015-01-28 21:42] atavism commented on #2187
Nope, just intermittent exceptions appearing in the error log, and I wondered if we wanted to quickly take care of it.

[2015-01-28 21:44] myleshorton commented on #2187
I would just skip it dude, especially since this will all go away soon with the Go stuff!

[2015-01-28 22:03] myleshorton commented on #2177
I think the only problem is that it's country-specific. We could include separate country sections in there, however, as long as the whole file doesn't get insanely large.

[2015-01-28 22:11] oxtoacart commented on #2177
This is a good use for a bitmap index.  We just create a matrix cross-referencing countries and sites that are on the whitelist in those countries.

[2015-01-28 22:14] oxtoacart commented on #2177
A bitmap index like the whitelist would likely lend itself well to compression, perhaps using something like this - http://zhen.org/blog/bitmap-compression-using-ewah-in-go/

[2015-01-28 22:24] myleshorton commented on #2177
Yeah cool idea!

On Wed, Jan 28, 2015 at 2:14 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-01-28 22:25] myleshorton commented on #2171
OK thanks @Hongbo-Miao. So now Lantern doesn't force you to re-install every time you run it right?

[2015-01-28 22:27] oxtoacart commented on #2177
Here's another compressed bitmap implementation: https://github.com/fzandona/goroar

[2015-01-29 02:04] Hongbo-Miao commented on #2171
Yeah, after installing old Java SE 6 from Apple, it works. @myleshorton

[2015-01-29 02:54] fffw commented on #1983
@myleshorton yeah, happy to work on it, though I don't fully understand how to fit it into existing code yet.

[2015-01-29 03:00] oxtoacart commented on #1983
Essentially, we'll want to be able to plug in udt instead of tcp here:

https://github.com/getlantern/flashlight-build/blob/peerscanner/src/github.com/getlantern/flashlight/client/chained.go#L49

[2015-01-29 03:29] fffw commented on #2177
Should we maintain one whitelist or two (system and custom) in client? What if customer removed one domain which happens in our baked list, if we have only single whitelist?

[2015-01-29 03:38] oxtoacart commented on #2177
The way we handle it today is that we publish additions to the whitelist as individual deltas.  These deltas are applied in addition to whatever the user has already customized, which allows us to respect anything that the user may have removed from the whitelist.

Here is the current Java code for managing that -
https://github.com/getlantern/lantern/blob/b0cb5ba4b898c5b4c50d693b8e1811edbcd3cc0b/

[2015-01-29 03:39] fffw commented on #1983
@oxtoacart Thanks.

[2015-01-29 14:51] aranhoide commented on #2180
However, users of other GNU/Linux distributions should be able to build from source (see the README in this repo).

[2015-01-29 15:10] fffw commented on #1983
I grabbed latest udt source code from sourceforge, modified Makefile to generate static library, and put the workable code here: https://github.com/fffw/go-udtwrapper.

Maybe we can eliminate the Makefile and just `go build`.

[2015-01-29 18:06] atavism commented on #2177
@fffw I opened a ticket to port the whitelist functionality to Go [here](https://github.com/getlantern/lantern/issues/2195) so feel free to add any relevant conversation there. Depending on the status of https://github.com/getlantern/lantern/issues/1902, we can obviously pair on it, but I was planning to do the initial implementation.

[2015-01-29 20:15] myleshorton commented on #1983
Awesome @fffw! So it's basically ready to integrate is that right?

[2015-01-29 23:47] fffw commented on #1983
We may need to run a simple benchmark against tcp dialer, and to check if it works on Windows and Linux.

[2015-01-30 12:24] fffw commented on #1983
I wrote a simple benchmark tool at https://github.com/fffw/go-udtwrapper/blob/master/benchmark/benchmark.go

I ran the server on my DO instance located at SF, ran UDT and TCP client simultaneously on my MBA, the 1 min result is fascinating, UDT has 6X speed than TCP, and may gain 10X+ if run it longer.

Test result is also included in same folder.

UDT runs ok on Mac and Linux, I'm working on Wind

[2015-01-31 06:02] atavism opened #2201 "[bug] Caught exception using masqueradeHost"
This has been appearing a lot in Loggly recently. It's the top error for the past two days. Here's the full message:

[code]

I assume we just want to remove this masquerade host. Note: https://megafilmeshd.net is unreachable.

[2015-02-01 13:38] fffw commented on #1902
Oh I just found why launchd maters here. Record 3 methods here for later reference.

. `AuthorizationExecuteWithPrivileges` and `chmod` to repair setuid bit
https://developer.apple.com/library/mac/documentation/Security/Conceptual/authorization_concepts/03authtasks/authtasks.html

. As a launchd daemon
https://developer.apple.com/legacy/library/samplecode/BetterAuthorizationSample/Introduction/Int

[2015-02-02 09:45] aranhoide opened #2202 "error 34 from file i4j_nlog_4 trying to install Lantern"
Reported by a user in the English forums:

[code]

[2015-02-02 15:28] oxtoacart commented on #1902
@fffw Thanks!

Here's a handy tutorial on launchd that I found - http://launchd.info/

[2015-02-02 17:00] myleshorton commented on #1902
Awesome @fffw. Yeah it seems like one of the launchd approaches is the cleanest.

[2015-02-02 17:02] myleshorton commented on #1902
The easiest way to do this is probably to not even use the Cocoa APIs and instead to just put the plist file in /Library/LaunchDaemons/ and to then call out to launchctl, but the Cocoa API approach might be cleaner not sure.

[2015-02-02 17:24] myleshorton commented on #2202
Any idea @aranhoide which Windows version they're running?

[2015-02-02 17:26] #2171 closed

[2015-02-02 17:37] myleshorton opened #2203 "New Windows installer"
Without Java, there's really no reason to use install4j.

[2015-02-02 17:38] myleshorton opened #2204 "New OSX installer"
Should be a draggable app bundle inside a dmg.

[2015-02-02 17:39] myleshorton opened #2205 "Static HTTP serving in Go"

[2015-02-02 17:41] myleshorton opened #2206 "Port whitelist backend to Go"

[2015-02-02 17:42] myleshorton opened #2207 "Port setup sequence backend to Go"
This will not include the Google login, the friends screen, or even choosing give versus get mode initially.

[2015-02-02 17:44] myleshorton opened #2208 "Make the system proxy a Go proxy"

[2015-02-02 17:45] myleshorton opened #2209 "New Ubuntu installer"

[2015-02-02 17:55] myleshorton commented on #2206
Duplicate of #2195

[2015-02-02 17:55] #2206 closed

[2015-02-02 17:56] #2188 closed

[2015-02-02 17:57] #2174 closed

[2015-02-02 18:02] myleshorton commented on #1991
Another thing we really should do is publicize the mirror of our web site on S3.

[2015-02-02 18:10] #1924 closed

[2015-02-02 18:11] #1863 closed

[2015-02-02 18:27] myleshorton commented on #2201
@xiam I thought this would be a good one for you to look at while you're getting more familiar with that section of the code.