[2015-07-20 06:31] #2772 closed

[2015-07-20 10:22] uaalto commented on #2721
Working on this branch: https://github.com/getlantern/lantern/tree/issue-2721

[2015-07-20 10:45] uaalto commented on #2721
There seems to be two different situations in which this happens. One of them produces this other error:
[code]
This is produced by coded I added in order to capture errors at that point.

[2015-07-20 10:56] uaalto commented on #2721
I'm making some progress, but still unable to isolate it completely. I have a strong suspicion that Websockets are the cause.
[code]

[2015-07-20 10:58] uaalto commented on #2721
Full chain of events:
[code]

[2015-07-20 11:03] uaalto commented on #2721
So, more than the Websockets being the cause, they are always interacting with the issue. The problem seems to be that something causes the browser to cut off connection with the proxy, but besides the Websocket connections being there always when this happens, I have no conclusion on the root cause.

[2015-07-20 11:18] uaalto commented on #2721
IE is not producing this behavior anymore, but it produces also this log lines:

[code]

[2015-07-20 11:41] uaalto commented on #2721
I'm pretty confident at this point that the issue is caused by the browser forcibly closing the connection, which happens only with WebSockets present. Something in WS side is not being handled well, or maybe the websockets implementations Lantern depends on is broken.

[2015-07-20 11:42] fffw opened #2773 "net/http: transport closed before response was received"
Reported by reverseproxy.go, the code trigget it is at [http/transport.go](https://golang.org/src/net/http/transport.go#L1108).

Not specific to any OS or country, but mainly on Windows.

[2015-07-20 11:48] uaalto commented on #2721
Nah, websockets implementation is not the issue. :(

The WSASend/WSARecv are the only clues at the moment...

[2015-07-20 13:24] myleshorton opened #2774 "Migrate statshub to InfluxDB+Grafana"

[2015-07-20 13:40] myleshorton commented on #2772
This shouldn't be too difficult @yuan78. Reverting back to commit 25603dbdb3ec60c2f4f484e9c8961581c1a3b90b in lantern-ui should do. Then you can build with:

UPDATE_DIST=true VERSION=2.0.0-beta8 make packages

or depending on your OS:

UPDATE_DIST=true VERSION=2.0.0-beta8 make package-darwin

[2015-07-20 17:52] atavism commented on #2715
This is resolved now

[2015-07-20 17:52] #2715 closed

[2015-07-20 18:32] myleshorton commented on #2763
Thanks @Derekf5! This is all set now.

[2015-07-20 18:32] #2763 closed

[2015-07-20 18:43] #2698 closed

[2015-07-20 18:44] #2464 closed

[2015-07-20 18:47] #2003 closed

[2015-07-20 18:47] #2004 closed

[2015-07-20 18:47] #2016 closed

[2015-07-20 18:47] #2031 closed

[2015-07-20 18:47] #2087 closed

[2015-07-20 18:47] #2100 closed

[2015-07-20 18:47] #2111 closed

[2015-07-20 18:47] #2139 closed

[2015-07-20 18:47] #2158 closed

[2015-07-20 18:47] #2160 closed

[2015-07-20 18:48] #1933 closed

[2015-07-20 18:48] #1993 closed

[2015-07-20 18:48] #2001 closed

[2015-07-20 18:48] #2041 closed

[2015-07-20 18:48] #2042 closed

[2015-07-20 18:49] #1911 closed

[2015-07-20 18:49] #1915 closed

[2015-07-20 18:49] #1918 closed

[2015-07-20 18:49] #1926 closed

[2015-07-20 18:49] #1927 closed

[2015-07-20 18:50] #1890 closed

[2015-07-20 18:51] myleshorton commented on #1851
@xiam investigated this and identified that chrome actually send bogus test requests to test a proxy. Documented elsewhere.

[2015-07-20 18:51] #1851 closed

[2015-07-20 18:53] #1414 closed

[2015-07-20 18:53] #1421 closed

[2015-07-20 18:53] #1745 closed

[2015-07-20 18:53] #1758 closed

[2015-07-20 18:53] #1805 closed

[2015-07-20 18:53] #1235 closed

[2015-07-20 18:53] #1361 closed

[2015-07-20 18:53] #1375 closed

[2015-07-20 18:55] #662 closed

[2015-07-20 18:55] #825 closed

[2015-07-20 18:55] #947 closed

[2015-07-20 18:55] #967 closed

[2015-07-20 18:55] #1008 closed

[2015-07-20 18:55] #1012 closed

[2015-07-20 18:55] #1032 closed

[2015-07-20 18:55] #1043 closed

[2015-07-20 18:55] #1048 closed

[2015-07-20 18:55] #1049 closed

[2015-07-20 18:55] #1060 closed

[2015-07-20 18:55] #1097 closed

[2015-07-20 18:55] #1127 closed

[2015-07-20 18:55] #1139 closed

[2015-07-20 18:56] #1143 closed

[2015-07-20 18:56] #1145 closed

[2015-07-20 18:56] #1148 closed

[2015-07-20 18:56] #654 closed

[2015-07-20 18:57] myleshorton commented on #2634
It seems this is resolved.

[2015-07-20 18:57] #2634 closed

[2015-07-20 19:00] myleshorton commented on #2355
Haven't seen this one in awhile (have seen other peerscanner errors but not this one). Let's reopen if necessary.

[2015-07-20 19:00] #2355 closed

[2015-07-20 19:03] myleshorton commented on #2367
Looks like this is working after all!

[2015-07-20 19:03] #2367 closed

[2015-07-20 19:04] myleshorton commented on #2691
Have heard really positive feedback from users on this front recently.

[2015-07-20 19:04] #2691 closed

[2015-07-20 19:06] myleshorton commented on #2609
Closing in favor of #2623

[2015-07-20 19:06] #2609 closed

[2015-07-20 19:06] myleshorton commented on #2623
Fixing this would require adding X-Forwarded for chained proxies for geolookup and for config servers.

[2015-07-20 19:09] myleshorton commented on #2398
Closing this now that we have a good idea of the cause.

[2015-07-20 19:09] #2398 closed

[2015-07-20 19:11] myleshorton commented on #2504
Closing this since we serve the PAC file over the UI's HTTP server, so we need to start it there.

[2015-07-20 19:11] #2504 closed

[2015-07-20 19:18] myleshorton commented on #2395
With and Iran-focused user base this shoots to the #1 issue in our logs. Let's knock it out!

[2015-07-20 19:38] myleshorton commented on #2741
I know @fffw was able to get into this state even after my changes. Are you still able to reproduce it @fffw? Maybe it has something to do with actually running in a censored region?

[2015-07-20 19:44] myleshorton commented on #2768
I actually vote for closing this, as the logs appear fine in tools that any actual windows developer would typically be using to look at them, like Notepad++ or vim via Cygwin. Notepad++ is pretty handy for windows development in general.

Feel free to re-open if you feel strongly @uaalto!

[2015-07-20 19:44] #2768 closed

[2015-07-20 20:32] myleshorton commented on #2762
Looking at sample analytics data, the most common screen resolutions are generally on the lower side, so this seems important:

![image](https://cloud.githubusercontent.com/assets/1143966/8786578/d139a128-2ee3-11e5-8734-aab7c7d37fa0.png)

[2015-07-20 20:33] myleshorton commented on #2746
Does it make sense to close this in favor of the other IE tickets @fffw?

[2015-07-20 20:34] myleshorton commented on #2740
I think this is worth fixing along with the screen resolution issue.

[2015-07-20 20:38] myleshorton commented on #2706
Actually I forgot we can't actually support it because it doesn't include standards-compliant web sockets. We could always degrade, but currently IE 8 accounts for 0.5% of visitors to our site, so let's skip it unless we start hearing requests from a lot of users.

[2015-07-20 20:38] #2706 closed

[2015-07-20 20:39] myleshorton commented on #2703
Yeah this is happening way to often and is very annoying. Let's fix it.

[2015-07-20 20:39] #2671 closed

[2015-07-20 20:41] myleshorton commented on #2382
Request submitted, not much else we can do.

[2015-07-20 20:41] #2382 closed

[2015-07-20 20:41] #2239 closed

[2015-07-20 20:42] myleshorton commented on #2305
Ticketed elsewhere.

[2015-07-20 20:42] #2305 closed

[2015-07-20 20:43] #2300 closed

[2015-07-20 20:44] myleshorton commented on #2539
Are you still seeing this crop up @aranhoide?

[2015-07-20 21:09] aranhoide commented on #2539
I just pulled latest (7f03792e2b), run `go build -flags "headless"`, wiped my `~/.lantern` directory, and then run `./flashlight -role server -addr :8888 -headless`.

Surprisingly, this problem still happens.  I'll actually do a git bisect, sorry I'd forgot about this.

[2015-07-20 21:10] aranhoide commented on #2539
Well, first thing I'll try building from the Makefile.

[2015-07-20 21:10] myleshorton commented on #2539
=). Cool. I just added this to 2.0.1.

[2015-07-20 21:34] uaalto commented on #2768
I ended up opening it with the browser (FF), which works well. Anyway most development happens in the host environment while using VMs.

[2015-07-20 23:59] myleshorton commented on #2395
Hey @fffw I just realized this one should also be pretty quickly reproducible on one of our VPSes.

[2015-07-21 02:25] fffw commented on #2741
IE can open Lantern page as well as other pages during OS startup now. I think the change @uaalto made in https://github.com/getlantern/lantern/pull/2769 resolves it! Bravo!

[2015-07-21 02:25] #2741 closed

[2015-07-21 02:29] fffw commented on #2746
Yes it's totally irrelevant. Closing

[2015-07-21 02:29] #2746 closed

[2015-07-21 03:04] fffw opened #2776 "IE can't open any site after logging off Windows with Lantern is running"
Found while testing https://github.com/getlantern/lantern/issues/2741. Can be reproduced as following:

1. Open Lantern and de-select "Run on system start" option.
2. Restart Windows, or logout and login again.
3. Launch IE to visit any site.

That's because Lantern didn't have a chance to call `pacOff()` during system logout. Solution might be similar to https://github.com/getlantern/lantern/issu

[2015-07-21 03:50] myleshorton commented on #2776
Interesting. I suspect @uaalto's changes for #2669 might do the trick too. That branch should be merged soon.

[2015-07-21 04:19] myleshorton opened #2777 "make release doesn't set the acl of released files to public"

[2015-07-21 04:30] myleshorton opened #2778 "Test xda-developers.com from China"
See discussion sent to team

[2015-07-21 04:33] myleshorton commented on #2768
Sounds good. Dude you know what, we should totally be using something like [vagrant](https://www.vagrantup.com/) to avoid the insane hassle of resetting up development environments especially on Windows!

[2015-07-21 04:56] fffw commented on #2776
It may be a bit different on Windows. Windows never triggers `SIGTERM`, it sends `WM_QUIT` instead.  Currently, the only place we handle Windows messages is in `systray`.

[2015-07-21 04:59] fffw commented on #2776
Ref https://msdn.microsoft.com/en-us/library/xdkz3x12.aspx#code-snippet-2

[2015-07-21 05:37] fffw commented on #2778
Not just googleapis.com, most of the assets (js / css / img) are requested from cdn-www.xda-developers.com (edgecast), which is always timed out visiting directly. With beta8, those links can be detected and detoured.

Below are the comparison of load time using Chrome. Lantern does "accelerate" http://xda-developers.com/ a lot. The difference between with and without proxy-all is not significant.

[2015-07-21 06:58] uaalto commented on #2768
Definitely. Especially since the user base is on Windows and we have (reasonable) allergy to that OS. I think @xiam is using Vagrant for his own set up. I tried myself but ended up using Microsoft's testing images that have been working well for me. But unifying and automating this is a step forward. It is also related to the automated visual testing that we discussed.

One thing to think about wo

[2015-07-21 07:26] fffw commented on #2395
I can easily reproduce it by launching Lantern when VPN connected. Most of the errors are during checking against masquerades.

Through the response, we can know for sure that it's cloudflare that returns 403, and the cause is described [here](https://support.cloudflare.com/hc/en-us/articles/200169226-Why-am-I-getting-a-403-error-).

Seems accessing via VPN triggers its [Browser Integrity Check](h

[2015-07-21 08:23] fffw commented on #2395
Monitored for half an hour, normal access from Iran VPS didn't report any 403 error. I guess it only be triggered on some conditions.

By searching "403 Forbidden fronted" for last day, the distribution by country is very interesting.

![image](https://cloud.githubusercontent.com/assets/10410437/8795665/5c9d77e8-2fc1-11e5-839b-afa31f3320bb.png)

At least JP and SG should not be at the top of the l

[2015-07-21 08:37] fffw opened #2780 "Check for LAN hosts and non-standard ports in PAC file"
It's useless to proxy them. Additionally, they creates lots of errors and confuses user.

[2015-07-21 08:38] fffw commented on #2395
Other causes, though relatively few, are accessing LAN hosts or non-standard ports. We can eliminate those errors by checking them in PAC file. Created https://github.com/getlantern/lantern/issues/2780 to handle it.

[2015-07-21 09:26] fffw commented on #2420
Encountered another one. https://travis-ci.org/getlantern/lantern/builds/71903172

[code]

[2015-07-21 09:39] fffw commented on #2768
A side note about obtaining binary within VM. I added a shared folder in
VirtualBox and created a desktop shortcut to
\\VBOXSVR\vagrant\getlantern\lantern\lantern_windows_386.exe in Guest OS,
click to run.

[2015-07-21 12:58] fffw opened #2782 "[ui] Layout messed up on IE 10"
![image](https://cloud.githubusercontent.com/assets/10410437/8801141/e7d6b0da-2fea-11e5-8392-68e3617a0a4e.png)

1. Logo is too large, pushes text down.
2. Share button too large.
3. Share text misplaced.

[2015-07-21 13:01] #2104 closed

[2015-07-21 13:01] #2113 closed

[2015-07-21 13:01] #2137 closed

[2015-07-21 13:01] #2148 closed

[2015-07-21 13:01] #2150 closed

[2015-07-21 13:01] #2152 closed

[2015-07-21 13:01] #2070 closed

[2015-07-21 13:02] #2044 closed

[2015-07-21 13:02] #1992 closed

[2015-07-21 13:03] #1862 closed

[2015-07-21 13:03] #1879 closed

[2015-07-21 13:03] #1894 closed

[2015-07-21 13:03] #2028 closed

[2015-07-21 13:04] #1750 closed

[2015-07-21 13:06] #1686 closed

[2015-07-21 13:06] #1722 closed

[2015-07-21 13:06] #1227 closed

[2015-07-21 13:06] #1333 closed

[2015-07-21 13:06] #1168 closed

[2015-07-21 13:07] #852 closed

[2015-07-21 13:09] myleshorton commented on #2721
Wow so this isn't actually related to websockets @uaalto? I was going to say we could have the backend explicitly send a closing signal over the websocket channel on any close signal, but that won't solve it if it's not the problem!

[2015-07-21 13:12] myleshorton commented on #2768
For compiling within Windows what's wrong with good old ```go build```? That's what I use.

[2015-07-21 13:57] uaalto commented on #2768
Does `go build` perform also the lantern-ui and the most relevant tasks as if done with Make?

[2015-07-21 13:59] uaalto commented on #2721
Scratch all that. I've been registering some thoughts here, but the situation as it stands now is same as we discussed: it's the Javascript side of the UI that's causing this. The Go side doesn't seem to be doing anything wrong.

[2015-07-21 14:15] uaalto commented on #2768
Oh, @fffw that's definitely better than my way :dart:
I'm always having issues with the shared folders though, but you save precious seconds that way. Thanks!

[2015-07-21 15:41] myleshorton commented on #2782
Wow crazy. We should fix that =). I think we should presize all of these graphics to their actual size for the most part and avoid resizing in the UI.

[2015-07-21 15:44] myleshorton commented on #2768
To me I would consider the make approach as primarily there for cross-compilation with docker and whatnot -- i.e. primarily for releases. To me in general during normal development we should just be using the standard go tooling. Lantern will just grab the lantern UI from app instead of dist in dev mode.

[2015-07-21 15:49] uaalto commented on #2768
In that case Vagrant makes more sense, IMO.

[2015-07-21 16:53] myleshorton opened #2784 "Lantern slow for many users"

[2015-07-21 18:35] uaalto commented on #2721
Ok. I have a high degree of confidence on the diagnosis and the cure. I can reproduce it and avoid it now.
But I need some help verifying @myleshorton and @sheena3. These 2 files executables should produce the following results:

* https://s3-eu-west-1.amazonaws.com/uaalto/lantern_windows_386_evil_2721.exe
+95% of the time should redirect, reproducing this bug

* https://s3-eu-west-1.amazonaws.com

[2015-07-21 18:44] sheena3 commented on #2721
Will update you in few mins @uaalto

On Wed, Jul 22, 2015 at 12:05 AM, Ulysses Aalto <notifications@github.com>
wrote:

--
Regards,
Sunshine

[2015-07-21 18:57] sheena3 commented on #2721
@uaalto I am getting the message that the .exe is not commonly downloaded and could be dangerous. If I try to proceed with the installation, windows is preventing from starting Lantern.

[2015-07-21 18:57] sheena3 commented on #2721
![discard](https://cloud.githubusercontent.com/assets/11394369/8809796/69246494-3008-11e5-90ce-75e55ad62643.png)

[2015-07-21 18:58] sheena3 commented on #2721
![preventing](https://cloud.githubusercontent.com/assets/11394369/8809825/9768dbdc-3008-11e5-8fbd-a39e067adab5.png)

[2015-07-21 19:24] uaalto commented on #2721
Thanks @sheena3. It's not an installable, just the executable. You can go to the Lantern installation directory and substitute. If the same blue screen appears you just have to click "more info" and then allow it to run.

[2015-07-21 19:26] uaalto commented on #2721
Maybe I should have made installables for this situation. @myleshorton is the __release-qa__ make task inteded for this purpose?

[2015-07-21 19:33] myleshorton commented on #2721
The release-qa task is to release binaries to qa that we actually think
will go into production ultimately.

If you want to build installers you could just use make package-win though
(I think that's right).

On Tue, Jul 21, 2015 at 12:26 PM, Ulysses Aalto <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A81

[2015-07-21 19:35] uaalto commented on #2721
Thanks @myleshorton.
@sheena3 were you able to run the executable or do you need an installer?

[2015-07-21 19:44] myleshorton commented on #2395
Thanks @fffw. Interestingly we're seeing this in one set of user logs, but all of the 403 errors are again for the bogus sites Chrome seems to test with. We're seeing logs like the following, with no 403 errors for real sites so far:

[code]

Looking at the automated logs, though, that appears to be a minority of cases.

[2015-07-21 19:46] myleshorton commented on #2721
My network is crazy slow right now but I'm testing this as well. So far the first definitely reproduced it consistently.

[2015-07-21 19:51] xiam opened #2785 "Easy way for users to gather logs"
This was originally suggested by @atavism, I'm opening the issue for discussion. I think we have some options:
1. Add a "View logs" menu that will open a text editor showing the logs.
2. Create a .zip file with the logs in the desktop for the user to send.
3. Mail them directly to us with a button.

I like 2, because it's really easy to implement and it does not depend on any text editor, the only

[2015-07-21 19:53] myleshorton commented on #2721
Yup the good one works and the bad one doesn't for me for sure @uaalto!

[2015-07-21 20:01] uaalto commented on #2721
Awesomeness!! :)

The fix comes next in a commit. I'm having a problem though with this: for some reason, `make windows` is not updating the `/dist` dir of the UI. I think it should however. I did however updated the javascript build system (gulp tasks) so it worked by manually running it, but I have that in the ARM lantern branch. What do you think if we merge that one so I run the `/dist` genera

[2015-07-21 20:04] myleshorton commented on #2721
You can do:

[code]

or if you want to just update dist separately (which technically makes sense for the PR):

[code]

[2015-07-21 20:04] xiam commented on #2721
@uaalto Can you try this?

[code]

[2015-07-21 20:14] uaalto commented on #2721
Yeah it's building! Thank you!! I think I actually did this before :D

[2015-07-21 20:33] uaalto commented on #2721
A purely javascript-side solution. I think this is all there is to this issue. The bug works like this:

1. The User navigates away from the Lantern UI
2. The Lantern UI triggers the onClose() callback because websockets connection has been lost. This is OK.
3. The onClose() handler sets a timer that will retry connecting. Lantern is ready to be connected again, as it should be. This is OK.
4. Som

[2015-07-21 20:38] atavism commented on #2785
@xiam Thanks for opening this ticket! I know before we provided a feedback form (just a simple text area, no fancy editor) a user could click on to send us a message. I think we could restore that and automatically attach the user's logs. They could even leave the message blank, and we'd get e-mailed a copy of the logs with a simple click of the button. Along those lines, #3 appeals to me.

[2015-07-21 21:09] #2777 closed

[2015-07-21 21:47] uaalto commented on #2721
@sheena3 The installer with the working version: https://s3-eu-west-1.amazonaws.com/uaalto/lantern-installer-issue-2721.exe

[2015-07-21 21:55] myleshorton opened #2787 "Add errcheck, go vet, go xxx -race, etc to git hooks"

[2015-07-21 22:05] #2782 closed

[2015-07-21 22:12] xiam commented on #2693
Still broken, now it looks worse.

![screen shot 2015-07-21 at 5 11 42 pm](https://cloud.githubusercontent.com/assets/385670/8813780/a878741a-2fcb-11e5-8596-0ff4e9cd0d04.png)

[2015-07-21 22:20] xiam commented on #2693
I've found that the main reason of this failure is that IE 8 does not know how to handle SVG files.
 So we'll have to export everything to PNG and make IE 8 use them instead of trying with the SVG files.

[2015-07-21 22:27] myleshorton commented on #2693
Oh interesting thanks @xiam. I just double checked out our analytics on getlantern.org, though, and only 0.16% of our users is running on IE8 or below. So I think we can skip it for now! I know I opened this ticket -- I should have checked our numbers first.

[2015-07-21 22:27] #2693 closed

[2015-07-21 22:32] myleshorton commented on #2785
Yeah I would tend to agree @atavism. If we invest time in this, we might as well invest the time to make it truly dead simple and eliminate almost all the required steps.

[2015-07-21 22:48] myleshorton commented on #2740
This one's all set @atavism right?

[2015-07-21 22:49] myleshorton commented on #2720
This should be fixed now along with #2740. Should we close this @fffw and @atavism? We should have a build for you in a day or two @sheena3!

[2015-07-21 22:51] myleshorton opened #2788 "Client analytics not working?"
We've actually seen a drop in our client analytics over the last few days even as downloads have gone up significantly. It seems like something's not working correctly.

You mind taking a look @atavism? I can give it a try too.

[2015-07-22 00:51] atavism commented on #2788
@myleshorton Yep, happy to take a look!

[2015-07-22 00:51] atavism commented on #2720
Yep I think we're good to close this.

[2015-07-22 00:51] #2720 closed

[2015-07-22 01:02] fffw commented on #2395
Good news is, with the change of PAC file in https://github.com/getlantern/lantern/pull/2781, the bogus sites will not go to Lantern, hence eliminates those 403 error.

[2015-07-22 10:24] uaalto commented on #2773
Do we have any clue on how to trigger this on our end?

[2015-07-22 10:30] uaalto commented on #2686
Upgrading to Docker 1.7 produced some weird errors. I got rid of them by just re-creating the images. At the moment make seems to work as we didn't get any report.
I will close for now, please reopen if the issue is still there.

[2015-07-22 10:30] #2686 closed

[2015-07-22 10:31] uaalto commented on #2728
I'm interested in taking a look at this now that I've been working with websockets. But @xiam was working on the related issue #2184 . What do you think, @xiam, @myleshorton ?

[2015-07-22 10:34] uaalto commented on #2687
We are not using this functionality any more, but the underlying problem probably remains. Should we close it?

[2015-07-22 11:32] uaalto commented on #2787
go test -race it's very nice, but it takes long. There are two hooks I would set up: pre-commit and pre-push.

* pre-commit: run things like go fmt, errcheck and go vet (and possibly go lint?)
* pre-push: run go test -race.

Also, the hooks can't be added to the repo AFAIK (to avoid them installed silently I believe). So I would just add them to a folder called git-hooks and expect the users to ju

[2015-07-22 11:56] uaalto commented on #2648
I just saw this issue and decided to tackle it myself, because it may collide with the pending pull request where I added signal handlers. The changes I'm about to commit takes care of this and should play well with the code in the other branch.

[2015-07-22 13:03] myleshorton commented on #2787
I actually wouldn't be against just universally applying them in the committed hooks. What don't you like about that?

I think we could also consider generally building with ```go build -race``` or ```go run -race``` while in development. For example, running Lantern just now with ```go build -race``` flagged race conditions in the local stats serving, logging, and geolookup. We might get those du

[2015-07-22 13:25] #2463 closed

[2015-07-22 13:28] myleshorton commented on #2687
Yeah the one place where it will crop back up is when we circle back to give mode for uncensored users, so let's keep it open for now. I'm also curious about the ```websocket: version != 13``` issue @fffw. Why are you saying that's expected?

[2015-07-22 13:30] uaalto commented on #2787
You mean everything in pre-commit?
The only argument against that is the time it may take to run all tests, but I'm ok with it.

[2015-07-22 14:58] xiam commented on #2728
Actually I don't have any significant progress here, only did a few simple tests using github.com/gorilla/websocket. There is another library which also looked interesting but I didn't have a chance to check it out: https://godoc.org/golang.org/x/net/websocket

I'm rushed to finish my LEP this week, maybe you can start this one and I'll join you later.

[2015-07-22 15:10] uaalto commented on #2025
Hunting for short-term and next release. Is this still happening?

[2015-07-22 15:10] xiam commented on #2351
@myleshorton

Because currently Lantern does not proxy those ports, only these:

[code]

However, chrome will *realize* this and try another option. We can also add the few extra ports between 19305 and 19309 to make 2 possible. What do you think?

[2015-07-22 15:11] uaalto commented on #2038
This belongs to Lantern 1.x, i.e. Java version? Should we close it?

[2015-07-22 15:42] xiam commented on #2669
This is causing problems in Windows and IE as well:

![screen shot 2015-07-22 at 10 40 18 am](https://cloud.githubusercontent.com/assets/385670/8829770/191e4af4-305e-11e5-8c20-0c35cab27032.png)

Chrome and Firefox still worked so I initially thought IE was failing, but it's Lantern which does not clean up before quitting.

I'm going to take a stab at this one on Windows.

[2015-07-22 15:45] uaalto commented on #2669
Does this happen when you force quitting Lantern? Normal exit should clean up PAC.

[2015-07-22 15:46] myleshorton commented on #2669
Closed via #2646

[2015-07-22 15:46] #2669 closed

[2015-07-22 15:55] sheena3 commented on #2721
Works perfect!

[2015-07-22 15:58] xiam commented on #2669
@uaalto This happens only when I force stop Lantern with ^C, which is not what a regular user would do. If I exit it from the systray menu, Lantern cleans up after itself without a problem and you still can use IE.

I tested again after the merge and this is still happening. Only with ^C.

[2015-07-22 16:03] uaalto commented on #2669
I see. Then it seems to be the same issue, but on Windows.

[2015-07-22 16:11] xiam commented on #2669
^C seems fine on OSX. Maybe this is something related to Cygwin.

[2015-07-22 16:14] uaalto commented on #2669
Does Cygwin have the `kill` utility?

[2015-07-22 16:20] xiam commented on #2669
Yeah, it does, @uaalto :

[code]
![screen shot 2015-07-22 at 11 15 27 am](https://cloud.githubusercontent.com/assets/385670/8830667/120f909c-3063-11e5-97df-2899ef5233e9.png)

I also tried with SIGTERM:

![screen shot 2015-07-22 at 11 18 57 am](https://cloud.githubusercontent.com/assets/385670/8830742/8ca4e2b2-3063-11e5-8df9-4b8a8d390b29.png)

I'm working on it.

[2015-07-22 16:33] xiam commented on #2669
I think this is a problem with Cygwin, when testing with the Windows's cmd it behaves as expected:

![screen shot 2015-07-22 at 11 26 18 am](https://cloud.githubusercontent.com/assets/385670/8830910/85611dc6-3064-11e5-826b-00db7e821aaf.png)

So I guess this is not going to be problem for most users :-).

Just another thing, the https://golang.org/pkg/os/#Signal page says:

Do you think it would be

[2015-07-22 16:33] fffw commented on #2669
From
https://msdn.microsoft.com/en-us/library/xdkz3x12.aspx?f=255&MSPPError=-2147217396#code-snippet-2

included for ANSI compatibility.

[2015-07-22 16:40] xiam commented on #2776
Bummer, still happening after #2669

![screen shot 2015-07-22 at 11 39 08 am](https://cloud.githubusercontent.com/assets/385670/8831188/4c559a0a-3066-11e5-9ed2-e10c9be0dcdd.png)

[2015-07-22 16:42] xiam commented on #2669
Thanks @fffw! I'll try to help on that one.

[2015-07-22 16:46] uaalto commented on #2776
@xiam Maybe you can try with this https://github.com/getlantern/lantern/commit/8bcc8431c493a331d44847049d290655e871f5d0, or even a slightly more aggressive code that runs the `exit(nil)` even if recover doesn't return `nil`?

[2015-07-22 16:53] sheena3 opened #2791 "Lantern opens automatically after restart even when "Run Lantern automatically on Startup" is disabled - Windows 8.1, chrome"
I tried two different scenarios. One with Lantern running while restarting and the other is after quitting Lantern.

In both these scenarios, Lantern started automatically after restart.

[2015-07-22 17:09] fffw commented on #2648
Thanks @uaalto

[2015-07-22 17:18] fffw commented on #2687
@myleshorton Oh I mean `curl -v 127.0.0.1:16823/data` is expected to cause `websocket: version != 13` error. Let's keep it open.

[2015-07-22 18:06] xiam commented on #2776
@uaalto The problem seems to be that the application is just killed without any kind of warning.

I am testing with a very simple snippet apart from Lantern:

[code]

When logging off the expected signal is not received (on Windows).

[2015-07-22 18:07] myleshorton opened #2792 "Build FireFox extension for making sure proxy settings are correct when running Lantern"

[2015-07-22 18:11] xiam commented on #2776
@fffw do you think we can handle this within the systray code?

[2015-07-22 18:12] atavism commented on #2791
Thanks, @sheena3. Which OS is this happening on?

[2015-07-22 18:18] fffw commented on #2776
@xiam Yes it's the only way I can think of for now. `systray` calls back to go code to clean up gracefully in the `WM_DESTROY` handler.

[2015-07-22 18:20] myleshorton commented on #2658
This is all set.

[2015-07-22 18:20] #2658 closed

[2015-07-22 18:24] myleshorton commented on #2784
Seems like there a few potential causes of this:

1. The user's Internet connection is slow, and Lantern gets blamed
1. The user's on a slow machine, and Lantern's having performance problems
1. Our servers get overloaded at peak times
1. More...

So far we've seen little evidence of #3

[2015-07-22 18:27] myleshorton commented on #2776
QAing this might rely on first fixing #2791 @sheena3

[2015-07-22 18:27] myleshorton commented on #2762
I think this one's all set right @atavism?

[2015-07-22 18:29] myleshorton commented on #2744
Duplicates #2587

[2015-07-22 18:29] #2744 closed

[2015-07-22 18:32] sheena3 commented on #2791
This is in Windows 8.1. I haven't checked in my Mac and Linux systems.

[2015-07-22 18:33] xiam commented on #2791
Interesting, this does not happen to me on Windows, in fact that's the main reason of #2776.

[2015-07-22 18:48] sheena3 commented on #2791
@xiam I forgot to mention the browser. I saw this when the default browser is chrome. I will check with other browsers now.

[2015-07-22 19:00] myleshorton commented on #2721
Hey @uaalto this code is still on a branch somewhere right? I'm just going to re-open until we actually merge it in.

[2015-07-22 19:04] myleshorton commented on #2351
OH gotcha @xiam thanks. I guess I think we need to make sure @fffw can still reproduce it and then test if opening those ports fixes it. If it does, then yeah opening them more generally sounds great.

[2015-07-22 19:08] sheena3 commented on #2791
More on this issue...

@xiam I tested all the browsers and all behaves in the same manner.

And one more thing that I noticed is, fb manoto tv page is not opening while restarting (I made sure that the "Run Lantern automatically on system startup" is disabled). Could this be because of that?

FYI - I downloaded the beta 8 version from getlantern.org and tested this.

[2015-07-22 19:16] xiam opened #2793 "Auto updates are not actually working"
I was expecting beta5 to update to beta8:

[code]

[2015-07-22 19:24] myleshorton commented on #2791
Thanks @sheena3! The Lantern version on the web site doesn't open Manoto.

[2015-07-22 19:35] uaalto commented on #2721
Yes @myleshorton , I've just opened a pull request here: https://github.com/getlantern/lantern/pull/2794
I've realized I've been merging there as well the changes for #2429, since was part of the research to discover this bug.

[2015-07-22 19:37] xiam commented on #2793
@myleshorton

Our published [beta5 dmg](https://s3.amazonaws.com/lantern/lantern-installer-2.0.0-beta5.dmg) has a lantern binary with this signature:

[code]

However, the expected signature is the same one as the [autoupdate binary](https://github.com/getlantern/lantern/releases/download/2.0.0-beta5/update_darwin_amd64.bz2) for beta5.

When I run this auto update binary directly it reports it's v

[2015-07-22 19:40] myleshorton commented on #2793
Yeah I saw that published beta 5 up there, and I actually have no idea how it got there. I think it might make sense to just remove it, and I also agree getting rid of TAG in favor of VERSION makes sense.

Is there any reason why current beta 6 users would not get updated to beta 8 now?

[2015-07-22 19:47] #2721 closed

[2015-07-22 19:50] myleshorton commented on #2793
We also have seem at least some users automatically upgrading without any issue on the mailing list, so it at least appears to be working sometimes @xiam.

[2015-07-22 20:03] xiam commented on #2793
Yeah, the reason is that we don't have a 2.0.0-beta6 release here: https://github.com/getlantern/lantern/releases, so the update server is not able to compute a binary diff between that one and the latest beta. Maybe we can just force a full binary download when the binary patch is not possible for some reason, any concerns on that? My biggest concern would be that QA versions would get updated fo

[2015-07-22 20:08] myleshorton commented on #2793
Makes sense @xiam thanks! I think it's OK to just fix this moving forward (i.e. beta 8 on) and not worry about old versions.

I think we're in a pretty unique situation right now in that most users on beta versions. I think it might actually be correct and what we want to only publish binary updates on release/stable versions, which I think would actually just work correctly going forward right? F

[2015-07-22 20:38] xiam commented on #2793
Yeah, maybe we are OK and in absolute control of the autoupdates, we just need to take care of releases.

Either 2.0.1 or 2.0.0 will work, as 2.0.0 > 2.0.0-beta8 (this comparison is provided by [semver](https://github.com/blang/semver))

[2015-07-22 20:39] xiam opened #2795 "Make TAG in Makefile equivalent to VERSION"
Or in other words, remove TAG.

This will help us avoiding replacing releases accidentally.

[2015-07-22 20:41] xiam commented on #2793
Closing this one as we already found the reason. Opening this issue https://github.com/getlantern/lantern/issues/2795 to keep track of the proposed preemptive fix.

[2015-07-22 20:41] #2793 closed

[2015-07-22 21:18] myleshorton commented on #2795
Yeah good idea! I think that is how I screwed it up.

[2015-07-22 21:33] myleshorton opened #2797 "Fix manoto targets in Makefile"
They need to actually modify the relevant file within each platform build as well.

[2015-07-22 21:33] #2795 closed

[2015-07-23 03:00] myleshorton opened #2798 "Add more logs for debugging connection issues"

[2015-07-23 03:03] myleshorton opened #2799 "Lantern UI can show "Waiting for Lantern" on launch indefinitely"
I was seeing this on our Windows VPS. You want to take a peek @atavism? I launched from the Start menu.

[2015-07-23 03:06] myleshorton opened #2800 "UI scrollbar should not include footer"
The scrollbar seems to overlap with the footer. It should only be on the internal div.

[2015-07-23 03:06] myleshorton commented on #2800
Seen in FF on Windows.

[2015-07-23 07:38] uaalto commented on #2798
Do you mean flashlight-wide?
I can take over a project for making `errcheck` pass on all of our code (src/github.com/getlantern/...)

[2015-07-23 08:39] atavism commented on #2799
@myleshorton Sure. I haven't been able to reproduce this though. Does it happen only occasionally or under specific circumstances?

[2015-07-23 08:45] atavism commented on #2648
Mentioned [panicwrap](https://github.com/mitchellh/panicwrap) in the related PR. Might be useful to integrate if we want to detect panics (without trying to recover from them) to forward the details to Loggly before crashing.

[2015-07-23 08:48] uaalto commented on #2648
Is panicwrap able to handle the panic() in all goroutines, so the panicked one is handled while the others run? I think we need this so the panicked one can still use the proxy run in other goroutines for logging to Loggly.

[2015-07-23 08:55] atavism commented on #2648
@uaalto Yeah, I modified the test program to confirm. Looks like it just watches stderr to capture any panic.

[2015-07-23 09:04] fffw commented on #2648
We can use panicwrap if logging is out-of-band, i.e., not depend on other
parts of Lantern. As Lantern rarely panics, I think we can mark this ticket
as lower priority.

[2015-07-23 09:09] uaalto commented on #2648
What I mentioned in the PR is that we might still be interested in the *PAC uninstall*. Even if we don't manage to solve the logging part, I think the PAC removal is worth doing. This might be the source of some issues experienced in IE/Windows.

[2015-07-23 10:10] uaalto commented on #2363
I see this issue is still open. What remains to be done exactly? I can take over this task.

[2015-07-23 11:42] #2703 closed

[2015-07-23 11:43] #1617 closed

[2015-07-23 11:43] #2462 closed

[2015-07-23 11:44] uaalto commented on #2429
Should be fixed by https://github.com/getlantern/lantern/pull/2794

[2015-07-23 11:52] uaalto commented on #2695
@myleshorton I need a couple of things to understand what we want to achieve here:

* What would be the trigger? i.e. what makes flashlight client decide a server (both chained and fronted?) has failed.
* Once this is decided, we re-download and apply the config.yaml?

[2015-07-23 11:58] uaalto commented on #2186
@myleshorton still applies to Lantern 2?

[2015-07-23 11:59] uaalto commented on #2217
@myleshorton does this bug still apply?

[2015-07-23 13:46] myleshorton commented on #2217
Yeah for give mode.

[2015-07-23 13:47] myleshorton commented on #2186
Yeah, but we haven't seen it in awhile. Closing.

[2015-07-23 13:47] #2186 closed

[2015-07-23 13:49] myleshorton commented on #2695
The trigger would just be a failure successfully getting an HTTP response for a given request.

No, we'd just try the request with a different server.

We'd probably only want to do the above retry procedure 3 times or so I imagine.

[2015-07-23 13:50] myleshorton commented on #2798
We just could have used more logs in that last round of debugging in a few key areas to make it easier to figure out what was going on. An ```errcheck``` pass separately would be awesome though.

[2015-07-23 13:52] myleshorton commented on #2799
It's happened to me a couple of times now. In that last case, I know I had other existing Lantern tabs open before opening Lantern. If I switched tabs and refreshed, all of them would refresh, but without some sort of trigger like that the frontend seemed to never be able to find Lantern. I'll keep an eye out for it too and will try opening the dev console to see if I can find out more.

[2015-07-23 14:00] Gigglelife opened #2802 "Don't open web browser on automatic startup"

[2015-07-23 14:19] uaalto commented on #2798
I can work on the errcheck part. Should I open a separate ticket for that?
For the other part, in order to tackle the deeper logging we would need to identify those areas. Do you have them in mind? Also, as I understand it, you mean extra logging for initializing/finalizing procedures.

[2015-07-23 14:22] uaalto commented on #2695
OK, thanks!

[2015-07-23 15:02] fffw commented on #2802
Lantern doesn't have "Don't open web browser" option anywhere. Could you take a screenshot?

[2015-07-23 15:04] xiam commented on #2363
I think we're fine with this but we'll probably need to experiment a bit more on iOS and on our next upcoming project which is related to mobile.

[2015-07-23 15:46] myleshorton opened #2803 "Detour creating too many false positives with slow networks"

[2015-07-23 16:41] aranhoide commented on #2802
@fffw: I think this is a feature request.

[2015-07-23 17:13] myleshorton commented on #2802
Actually that's the way it's supposed to work regardless -- we'll implement it @Gigglelife thanks.

[2015-07-23 17:25] myleshorton commented on #2648
I agree it's not super high priority @fffw but would be really nice to have. I agree on the PAC uninstall @uaalto too. It seems like it would be pretty easy to do the following:

1. Add panicwrap
1. Uninstall the PAC and log directly to loggly in our panicHandler

I'm reducing the priority to p2, but this is also marked for 2.0.3 regardless.

[2015-07-23 17:36] myleshorton opened #2804 "Add desktop shortcut for opening Lantern"
Several users have asked about this, and I agree it's unclear now.

[2015-07-23 19:08] myleshorton commented on #2788
I went ahead and started looking at this, and it appears there are two issues:

1) The call from the Lantern UI uses "tid=development"
2) The call from the backend has no cid

So I think #1 is definitely not recorded, and #2 is probably not recorded. I can just take this one since I'm in the area if that's ok @atavism!

[2015-07-23 19:10] myleshorton commented on #2803
Based on what we've seen from users in Iran, connection times of 10 seconds or more are not uncommon. As a result, detour will have a lot of false positives because it uses a threshold of connecting in 3 seconds or less for determining if a site is blocked. Does that all sound correct @fffw?

[2015-07-23 19:30] myleshorton commented on #2038
Yes thanks @uaalto!

[2015-07-23 19:30] #2038 closed

[2015-07-23 19:30] atavism commented on #2788
@myleshorton That's fine! Related to #1, I realized we still have some code in there related to the welcome screen we should remove (now that we're no longer presenting or checking for it). For #2, we're always including the cid parameter (with a default instance id)--why do you think its not being included?

[2015-07-23 19:31] myleshorton commented on #2025
Great question. I haven't seen it, but this is a great example of where that panic catcher would be super useful.

[2015-07-23 19:39] myleshorton commented on #2788
I'm just logging the full request over the wire, which shows:

[code]

I'm actually not sure why that DefaultInstanceId doesn't seem to be getting included code-wise, but I also think it should probably be 555, but that likely doesn't matter. I'll keep fiddling..

[2015-07-23 19:56] uaalto commented on #2648
I'll handle it! Thanks!

[2015-07-23 19:57] myleshorton commented on #2648
Sweet @uaalto thanks!

[2015-07-23 19:57] uaalto commented on #2025
I'll handle then https://github.com/getlantern/lantern/issues/2648 first, and if this is reproduced will come back for it.

[2015-07-23 20:22] #2804 closed

[2015-07-23 21:50] atavism commented on #2762
Yep, let's close this one!

[2015-07-23 21:50] #2762 closed

[2015-07-23 21:54] atavism commented on #2799
Yeah, I'm able to reproduce this now, and it seems to only happen, as you said, when existing Lantern tabs were already open. I wonder if something introduced [here](https://github.com/getlantern/lantern/pull/2794/files) is partially responsible. I'll keep investigating.

[2015-07-23 22:03] myleshorton commented on #2798
I can take the logging part itself since there are a few specific parts, but if you want to create a ticket for the errcheck part that would be great @uaalto!

[2015-07-23 23:03] fffw commented on #2803
Yes it is what detour currently do. Detour v2 which uses parallel access
still has lots of bugs but I expect a 2-3 days effort to fix them.

--
BR,
Merlin

[2015-07-24 04:30] atavism commented on #2788
@myleshorton Just opened https://github.com/getlantern/lantern/pull/2806 -- looks like there were a few things going on:

- We started passing in the lantern version as an event value, but apparently that value can only be an integer (that's not really documented anywhere, and it's confusing because it was working previously). I'm including it as a custom variable once again. I verified these are

[2015-07-24 04:36] atavism commented on #2788
Oh, per your suggestion, I switched the instance id to be 555 as well since that's the default anonymous client ID: https://developers.google.com/analytics/devguides/collection/protocol/v1/devguide (though I don't think it makes a difference)

[2015-07-24 04:39] myleshorton commented on #2788
Nice! I just commented on the PR but do see those hits in analytics now. Still weird on that CID thing, but awesome the data's getting in there!

[2015-07-24 07:42] uaalto commented on #2799
As I was reading about issue I also thought it could be related. The changes introduced in the Go part shouldn't affect at all, because they just should improve correctness slightly, but not produce any change in behavior. Then the part of the UI, which could be responsible, its new functionality should be triggered only if the user leaves the lantern web page.

[2015-07-24 07:45] uaalto opened #2807 "Full-project `errcheck` pass and add error checks where necessary"

[2015-07-24 07:46] uaalto opened #2808 "Full-project `golint` pass and add fixes/improvements where necessary"

[2015-07-24 07:49] uaalto commented on #2798
Done.

[2015-07-24 07:49] uaalto commented on #2798
I've also added one for golint, I'll do that as well :)

[2015-07-24 16:56] uaalto commented on #2784
I think the approach to take in this case is to provide better diagnosis. We could tackle different scenarios with different tools:

1. Slow internet --> internet speed detection (would require using a third-party service, like speedtest).
2. Slow machine --> measure machine load (would require OS-dependent access to this info -- like /proc for Linux)
3. We have server load detection in place, the

[2015-07-24 19:28] #2704 closed

[2015-07-24 19:29] myleshorton commented on #2791
I've got this one guys -- our code for deleting the registry key is just wrong.

[2015-07-24 22:08] atavism opened #2810 "TestMulticastMessages failing"
[code]

I think this was mentioned already in https://github.com/getlantern/lantern/pull/2646, but I'm consistently seeing this test fail.

[2015-07-24 22:56] xiam opened #2811 "\Users\[redacted]\AppData\Roaming\Lantern\lantern-2.0.0-beta8.yaml: The system cannot find the file spec"
Found 4 different users with the same problem:

[code]

[2015-07-25 03:32] myleshorton commented on #2811
Interesting @xiam thanks I'll take a look.

[2015-07-25 03:33] myleshorton commented on #2810
Thanks @atavism. It's failing locally for you, is that correct?

[2015-07-25 03:35] myleshorton commented on #2799
The other interesting aspect of this is that @uaalto's changes did not get in to any of the released betas yet @atavism. There may be multiple issues, but it does happen without those changes for sure.

[2015-07-25 18:12] atavism commented on #2810
@myleshorton Yes.

[2015-07-25 19:57] myleshorton opened #2813 "Multicast listening causing user warnings on OSX and Windows"
We used to handle this through code signing on OSX and adding a firewall rule on Windows, but that's let's punt on that until the next release. Actually the code signing approach might still be working on OSX not sure.

[2015-07-25 20:10] myleshorton commented on #2798
Awesome on the golint front @uaalto!

[2015-07-25 20:41] #2798 closed

[2015-07-25 20:43] #2780 closed

[2015-07-25 20:46] myleshorton commented on #2791
This should be all set @sheena3 but please test when this goes to QA.

[2015-07-25 21:46] myleshorton commented on #2811
It looks like there's nothing that locks the reading and writing to this file on a first pass @xiam. I don't think this will have any really adverse affects as far as I can tell though, so pushing to next version. You want to take a peek at it? I think we might just have to add a mutex around reading and writing to the yaml file.

[2015-07-25 21:48] myleshorton commented on #2800
This is actually a duplicate of #2740. Closing.

[2015-07-25 21:48] #2800 closed

[2015-07-25 21:49] myleshorton commented on #2740
I think this is really an issue of the div the scrollbar is assigned to, as mentioned in #2800.

[2015-07-25 22:20] atavism commented on #2740
@myleshorton I think we can just fix the footer at the bottom and set the overflow to hidden without having to assign the scrollbar to another div. Do you want to check if https://github.com/getlantern/lantern/pull/2816 fixes it?

[2015-07-25 22:30] uaalto commented on #2810
Very strange. I have to figure out how to reproduce it, because the tests pass in my machine and the code should be ok (obviously isn't, though!).

[2015-07-26 11:35] uaalto commented on #2810
I've just realized: tests pass in Travis.
Are your tests failing always or sometimes (this could be a hint towards concurrency issues, although I doubt it!).

[2015-07-26 11:57] uaalto commented on #2787
I will add these hooks after these issues (https://github.com/getlantern/lantern/issues/2807 and https://github.com/getlantern/lantern/issues/2808) are done, as it seems to me that it makes more sense to provide them with a code base that actually passes.

[2015-07-26 12:01] uaalto commented on #2787
Just confirming with you @myleshorton:

* Everything in a pre-commit hook sounds right? (just taking into account the time it will take to do so, although I can add a filter so only changed packages are tested).
* Does providing the hooks inside a `/git-hooks` folder seem right, or do you think there is a better place for it? A second option would be to provide the files (namely just one if there

[2015-07-26 14:13] fffw commented on #2811
It may not related to locking. By looking at the occurrence of any specific
instanceid, we can conclude that they were always reported consecutively in
single period. For example, [this one](
https://lantern.loggly.com/search#terms=Unable%20to%20stat%20config%20file&from=2015-07-24T13%3A00%3A00.000Z&until=2015-07-24T16%3A00%3A00.000Z&source_group=&filter=json.extra.osName%3Bwindows&filter=json.ins

[2015-07-26 18:30] atavism commented on #2810
That test is just always failing for me locally.

[2015-07-26 20:26] myleshorton opened #2817 "Lantern not waiting for localhost proxy to come up before issue http requests"
The check at https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight/util/http.go#L85 to see if the requester is attempting to proxy through localhost only works for localhost IP addresses, i.e. it does not consider "localhost" to be a loopback address. That's problematic because we use localhost for autoupdates, analytics, and possibly more, so the localhost proxy

[2015-07-26 20:52] myleshorton opened #2819 "Lantern doesn't wait for localhost proxy before turning on pac"
By the time we set the system proxy to use our PAC file, we know that the UI HTTP server that serves the PAC file is up but not necessarily that the localhost HTTP proxy is up.

[2015-07-26 21:10] myleshorton opened #2820 "Add more logging for fronting errors"
This is related to #2395 but basically adds more logs to help with debugging.

[2015-07-26 21:13] myleshorton commented on #2819
Just kidding -- we know =).

[2015-07-26 21:13] #2819 closed

[2015-07-26 21:59] myleshorton opened #2822 "Include more information in enproxy server error responses"
This will be helpful for debugging, for example, whether or not errors are from fronting providers or from enproxy itself.

[2015-07-27 03:37] #2740 closed

[2015-07-27 06:43] #2817 closed

[2015-07-27 06:58] fffw commented on #2395
Oh no the 403 error is returned by [ourselves](https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight/server/server.go#L151) as we [we only allow access from a few countries](https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight/flashlight.go#L331)! CloudFlare just transparently passes the code back.

US and GB is allowed, but SG

[2015-07-27 07:20] uaalto commented on #2395
Great finding!
I guess the main reason for not allowing those countries is to save resources, right?
I think that providing direct access defeats the purpose of using Lantern for those users. They may actually want to use it for some reason. If we don't provide service to those countries, we should be clear about it, not just provide direct access.

[2015-07-27 09:45] uaalto commented on #2787
This project would be a perfect fit: https://github.com/maruel/pre-commit-go

[2015-07-27 12:25] xiam commented on #2776
I've been dealing with this for a while, because this is a pretty annoying problem which is so easy to replicate:

* Run Lantern.
* Click start menu > Log Off.
* Log in again with the same user.
* Open IE.

It happens to me all time.

Following this guide I managed to capture an event of this kind (log off) on Windows XP:

https://support.microsoft.com/en-us/kb/310153

However, the same does not a

[2015-07-27 12:29] xiam commented on #2776
@fffw That also sounds like a good solution, do you have any tip on how to do that?

[2015-07-27 13:28] fffw commented on #2776
@xiam I didn't find any method. It may not even possible to do that.

[2015-07-27 13:59] fffw commented on #2776
@xiam I guess [`SetConsoleCtrlHandler `](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686016(v=vs.85).aspx) is more suitable and simpler for console program.

golang runtime has a [`SetConsoleCtrlHandler ` handler](http://golang.org/src/runtime/os_windows.c#L511), but it ignores CTRL_CLOSE_EVENT, CTRL_LOGOFF_EVENT, and CTRL_SHUTDOWN_EVENT. There's an existing issue https://github.com

[2015-07-27 14:14] fffw commented on #2776
I don't have access to my Windows VM now but should be able to work on it tomorrow, unless @xiam you likes to play around with it.

[2015-07-27 17:54] myleshorton commented on #2395
Thanks guys. So @fffw unfortunately the 403 you're referring to actually only checks the actual client IP via X-Forwarded-For -- i.e. it doesn't use the IP of the proxy. See:

https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight/server/server.go#L394

So the curl command above gets a 403 from DO in Amsterdam because Amsterdam is not allowed, but that's not the c

[2015-07-27 18:06] myleshorton commented on #2776
Hey @fffw what happened to the idea of capturing this from the system tray and notifying Lantern? I.e. in somewhere like:

https://github.com/getlantern/systray/blob/master/systray/systray/systray.cpp#L54

Add handling for WM_CLOSE and WM_QUIT and whatever else. Would that not work?

[2015-07-27 18:10] xiam commented on #2776
Hey @myleshorton,

I already tried that but it only works on Windows XP (see details in my [previous message](https://github.com/getlantern/lantern/issues/2776#issuecomment-125186651)). I'm trying now with the [ShutdownBlockReason*](https://msdn.microsoft.com/en-us/library/ms700677) functions to see if I can get any further.

[2015-07-27 18:20] myleshorton commented on #2776
So trying to add the new messages from Vista didn't work? Like WM_ENDSESSION? I didn't see the resolution to your proposal from that comment. Can you not still capture those same events from the system tray?

[2015-07-27 18:26] xiam commented on #2776
@myleshorton Yes, none of these events aren't sent to the application, `WM_ENDSESSION` included.

According to the "Application Shutdown Changes" page, things changed started with Windows Vista:

Lantern has no visible windows and it's killed by the system without a warning.

Following the page I already managed to block the shutdown sequence on Windows 7 for a few seconds, I still don't find a co

[2015-07-27 18:32] xiam commented on #2776
Yes, I gave up trying to making this work with Go, I'm working directly with the systray.

[2015-07-27 18:42] aranhoide commented on #2395
@myleshorton that makes sense for web proxies.  Are VPNs populating X-Forwarded-For, though?

[2015-07-27 18:46] #2820 closed

[2015-07-27 18:54] myleshorton commented on #2395
Oh I see interesting @aranhoide. So that would explain why @fffw is seeing those errors when running with his VPN. The VPN *doesn't* add X-Forwarded-For, but CloudFlare does, and we don't allow access!

So we might be seeing 403 errors for a couple of different reasons -- sometimes us, sometimes CloudFlare. Hopefully the additional logging will clear it all up. Oh, that requires an update to all r

[2015-07-27 18:55] #2822 closed

[2015-07-27 18:58] myleshorton opened #2825 "Never return "localhost" as an address from our config server"
Basically because of #2817 our config server returning localhost in addresses will make things like auto-update not work in a lot of cases.

Because the config itself uses direct domain fronting, however, we can still update the config in spite of #2817. That will allow us to effectively bypass #2817 by just not using "localhost" in any address the config server returns, using 127.0.0.1 instead!

[2015-07-27 18:58] myleshorton commented on #2825
Can you knock this one out @aranhoide? Will allow auto-updates to keep working.

[2015-07-27 19:18] aranhoide commented on #2825
I don't understand.  Where is the config server returning "localhost"?  Is that in the default cloud.yaml?

[2015-07-27 19:18] aranhoide commented on #2395
Sure, I can handle the deployment of #2823.  I asked a question about the localhost thing in the relevant ticket.

[2015-07-27 19:19] myleshorton commented on #2539
Any luck with this one @aranhoide?

[2015-07-27 19:24] myleshorton commented on #2825
Well, maybe it's not returning it, which would be great. The client defaults use it at:

https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight/config/config.go#L211

But I'm actually a little unclear on how you're generating the config on the config-server side. What's that based on exactly?

[2015-07-27 19:33] aranhoide commented on #2825
It's generated via genconfig.bash, then uploaded via cfg2redis.py.

I just checked, and the only occurrence of "localhost" in the config for Iran (so, everyone but China) is a "localhost.com" proxied site (whitelist item).  I don't suppose the config for China introduces any more "localhost"s anywhere.

Grepping the source tree I see that "localhost" is used in some hardcoded defaults, e.g.

https

[2015-07-27 19:36] aranhoide commented on #2539
Backend stuff got in the way.  I'll take a look at it now.

[2015-07-27 20:04] myleshorton opened #2826 "Make enproxy server log errors to Loggly."

[2015-07-27 20:05] myleshorton commented on #2826
We could send these to a different Loggly account potentially?

[2015-07-27 20:36] myleshorton commented on #2756
Moved to https://github.com/getlantern/www/issues/33

[2015-07-27 20:36] #2756 closed

[2015-07-27 20:51] myleshorton opened #2827 "fpm doesn't like quotes in make variables"
All Linux build targets fail as a result. This is with GNU Make 3.81

[2015-07-27 21:01] #2827 closed

[2015-07-27 21:07] myleshorton opened #2829 "make package-linux-arm failing"
[code]

[2015-07-27 22:35] myleshorton opened #2831 "Change country restrictions to blacklist instead of whitelist"

[2015-07-27 22:35] myleshorton opened #2832 "Add 127 instead of localhost to ui addr and proxy addr in global config"

[2015-07-28 00:38] xiam commented on #2776
I connected the `WM_QUERYENDSESSION` event to a new `OnExit` handler in the systray package, and I prevented the logoff window from killing Lantern:

![screen shot 2015-07-27 at 7 23 41 pm](https://cloud.githubusercontent.com/assets/385670/8920903/0feec342-3495-11e5-89f6-a22c6b539623.png)

However the `pacOff()` function does not work in this state:

[code]

I suspect that new process creation is

[2015-07-28 01:21] xiam commented on #2776
I think we can also try calling `InternetSetOption` directly from systray.

[2015-07-28 01:44] #2829 closed

[2015-07-28 04:17] myleshorton commented on #2776
Oh very interesting @xiam! The pac code is honestly small enough that we could just automatically statically link the relevant functions to the system tray code without much trouble I think.

[2015-07-28 05:03] yuan78 opened #2833 "stuck in buiding tags when build binaries from souce code (tag: 2.0.0.0, fca6eff)"
Hi,
It stuck in buiding  windows/386 tags when build binaries from souce code (tag: 2.0.0.0, fca6eff)

Detais as follow:

Step 37 : WORKDIR $WORKDIR
 ---> Using cache
 ---> f0b6909b18e2

Successfully built f0b6909b18e2
Generating assets...
Icon  installer-resources/windows/lantern.ico  ID:  5
OK
Building linux/386...
** VERSION was not set, using git revision instead (0d0e46b). This is OK while in

[2015-07-28 05:30] fffw commented on #2833
@yuan78 What if you `make windows-386` directly?

[2015-07-28 06:15] yuan78 commented on #2833
Hi , I run "make binaries"

[2015-07-28 15:59] xiam commented on #2776
@myleshorton I thought that too and I tried but I still can't make it work. Maybe I am missing something else.

Here's the branch I am working on: [wip-2776-xiam](https://github.com/getlantern/lantern/tree/wip-2776-xiam)

Here is the [pacOff()](https://github.com/getlantern/lantern/blob/e5ab500041916020e55bf4d5ef51fe634ca22bdb/src/github.com/getlantern/systray/systray/systray/systray.cpp#L123) fun

[2015-07-28 16:51] xiam commented on #2833
Hello @yuan78,

I can't replicate your problem. When your system hangs is any process on top? How does your RAM and free disk space look like?

[2015-07-28 17:25] xiam commented on #2776
I am pretty sure the `pacOff()` function is working, if I call it from any other place, such as when clicking the "Show Lantern" menu action, it effectively removes pac settings.

[code]

[2015-07-28 17:31] myleshorton commented on #2776
And the proxy settings are what they were before right, i.e. they're still set to use Lantern's pac file on restart even though pacOff() returned an exit code of 0?

[2015-07-28 17:41] xiam commented on #2776
Yes @myleshorton, even though pacOff() returns 0.

![screen shot 2015-07-28 at 12 37 54 pm](https://cloud.githubusercontent.com/assets/385670/8938653/837ea8aa-3525-11e5-9ec4-bfe516097761.png)

The only exception is when I attach `pacOff()` to the `WM_MENUCOMMAND` event so that it runs when I click "Show Lantern", in that case proxy settings are effectively removed.

[2015-07-28 17:42] xiam commented on #2776
Hmm... maybe that "Automatically detect settings" checkbox could be useful.

[2015-07-28 17:52] xiam commented on #2776
Yay, it looks like checking "Automatically detect settings" fixes the whole problem with IE, even though the Address remains in the same place. That "Automatically detect settings" checkbox is not enabled by the pac-cmd, I think we can try and see.

[2015-07-28 18:12] myleshorton commented on #2776
Interesting. So maybe "Automatically detect settings" triggers it to work similar to Chrome or FF where it doesn't use the proxy if the proxy isn't there. Something like that?

[2015-07-28 18:34] xiam commented on #2776
Yeah! This is great. IE now detects when the proxy is not responding and tries accessing the site directly. :-). I tested the log off routine and IE continued working, even thought the pac settings where still as Lantern left them. In one on my tests IE showed the "This page can't be displayed" message but after a couple of seconds and clicking "refresh" the message was gone.

[2015-07-28 18:36] atavism opened #2836 "Setup Apache Traffic Server on test VPS"
Already up and running.

Documentation: https://docs.trafficserver.apache.org/en/latest/getting-started.en.html#introduction
Configuration file: /opt/ats/etc/trafficserver/records.config
Log directory: /opt/ats/var/log/trafficserver

[2015-07-28 18:54] myleshorton commented on #2776
Oh cool! OK let's just use that then. That sound ok @fffw?

[2015-07-28 18:59] myleshorton commented on #2787
Hey sorry for the delay @uaalto. I would not do the tests pre-commit sorry. Maybe just pre-push? Thanks!

[2015-07-28 19:16] sheena3 opened #2837 "Unable to access blocked sites in Firefox - windows 8.1"
Firefox couldn't open the blocked sites. However, IE and chrome are able to open the same.

[2015-07-28 19:21] myleshorton commented on #2837
Do you have FF set to use system proxy settings?

[2015-07-28 19:29] sheena3 commented on #2837
Yeah @myleshorton. I was using System proxy settings. After changing it to Auto-detect proxy settings, it worked fine.

Shall I close it now? Do we have any ticket already open to tackle the settings automatically by Lantern?

[2015-07-28 19:32] xiam commented on #2776
After further testing I found that this is not working every time. I don't know why, sometimes it works and sometimes it doesn't, for no apparent reason.

I've noticed that if I open the "LAN Settings" and click OK it starts to work again, even without changing anything.

My current wip is here: https://github.com/getlantern/lantern/tree/issue-2776

Maybe we need to play a bit more with the [avail

[2015-07-28 19:40] myleshorton commented on #2837
No it should be set to 'Use system proxy settings", which is the default. What happens when you try to open blocked sites in FF with "Use system proxy settings" set?

[2015-07-28 19:41] myleshorton opened #2838 "Desktop shortcut doesn't open Lantern browser Window if Lantern's already running"

[2015-07-28 21:14] uaalto commented on #2787
Sure! That's what I believe too, otherwise it will bring too much overhead into the development process. I made this preliminary version. You only need to save it as .git/hooks/pre-push
Actually, if you want it to be pre-commit, just rename it (it's better if you want to try it out without actually pushing).

I could also add `go test -race`. What do you think?

[code]

[2015-07-28 21:18] myleshorton commented on #2787
Nice! I didn't know about ```set -e``` -- cool.

I would say either "xxx run successful" or "xxx ran successfully" instead of "xxx run successfully" but otherwise looks great!

[2015-07-28 21:21] uaalto commented on #2787
:) fixed typo.

Two quick questions:
* Should I add `go test -race`?
* About distribution: what do you think about saving this file in the root folder and adding instructions to copy it manually in the README? This way it would be optional. Or did you have any other approach in mind?

[2015-07-28 21:26] myleshorton commented on #2787
I think we be a little bit dictatorial and should just put it in the repo in the /hooks directory. That would work right?

What about go test -race in a pre-push? Or maybe we run it manually? Try it and see if it's too annoying perhaps?

[2015-07-28 21:35] uaalto commented on #2787
The problem is that the /hooks directory is not committed into the public repo. So we need some form of manual installation. That is as simple as copying the file, of course.

One possibility I was thinking about is running `go test -race`, as well as the other commands just in those folders we have changes. I'll try to figure out if there is a reasonable way to do that.

[2015-07-28 22:21] uaalto commented on #2787
I think we really can't enforce hooks: https://stackoverflow.com/questions/3703159/git-remote-shared-pre-commit-hook

[2015-07-28 23:27] xiam opened #2840 "If port 8787 is used by another application Lantern never starts"
Run an application that binds at port 8787.

[code]

[code]

And then try to start Lantern. A new process will spawn waiting forever for the port `8787` to become a proxy.

[2015-07-28 23:44] #2838 closed

[2015-07-28 23:59] xiam commented on #2840
I think that in this case Lantern should try to open the UI like in https://github.com/getlantern/lantern/pull/2839 and then fail with a meaningful message.

[2015-07-29 01:29] fffw commented on #2776
I guess that opening the "LAN Settings" page and clicking OK will trigger a recheck of LAN setting, though login to windows will not!

I did incorrectly think that "Automatically detect settings" can resolve this issue, even created https://github.com/getlantern/lantern/issues/2746#issuecomment-122149321 to attempt. Now at least we know neither `AUTO_PROXY_FLAG_ALWAYS_DETECT` nor `PROXY_TYPE_AUTO_

[2015-07-29 02:14] yuan78 commented on #2833
Only my system hangs up when build latern, I run it on VPS (768M RAM ,15G HDD)，but I re-deploy the VPS with 1G RAM ,20G HDD，now it' OK.

Step 37 : WORKDIR $WORKDIR
 ---> Using cache
 ---> a7d91b762f02
Successfully built a7d91b762f02
Generating assets...
Icon  installer-resources/windows/lantern.ico  ID:  5
OK
Building linux/386...
** VERSION was not set, using git revision instead (b1d6ba6). This

[2015-07-29 03:59] #2840 closed

[2015-07-29 07:42] atavism opened #2844 "http: proxy error: dial tcp [2001:67c:4e8:f002::a]:80: no route to host"
The error message isn't that helpful, but we're seeing this occasionally in Loggly so I'll just open a ticket to document it.

[2015-07-29 10:04] uaalto commented on #2844
Is IPv6 supported in Lantern through all the stack? I *think* I've seen some IPv4-specific code somewhere, which reminds me that tools that don't provide IPv6 support return similar errors when given such addresses.
It might be a long-shot, but seems the first obvious place to look at.

[2015-07-29 13:55] sheena3 commented on #2837
@myleshorton In my system, FF is already set to Use system proxy settings by default. I couldn't access blocked sites (I used fake DNS to check blocking). After changing the settings to 'Auto detect proxy setting', then I was able to access.

Are you saying that I should be able to access with 'Use system proxy settings' and not with 'Auto detect proxy settings'?

[2015-07-29 14:23] myleshorton commented on #2837
Yeah you shouldn't have to change the defaults. I couldn't reproduce it on the first try, but I'll try again.

[2015-07-29 15:08] xiam commented on #2833
Thanks @yuan78, closing this as it was a local problem.

[2015-07-29 15:08] #2833 closed

[2015-07-29 15:21] xiam commented on #2837
I could not reproduce this issue. Twitter is blocked on my system and I was still able to browse it using Lantern.

My Firefox's proxy settings:

![screen shot 2015-07-29 at 10 14 51 am](https://cloud.githubusercontent.com/assets/385670/8961415/ae59219e-35da-11e5-94df-572033adc4df.png)

My testing was as follows:

1. I tried first without Lantern, Firefox was unable to find Twitter (my blocked sit

[2015-07-29 16:51] sheena3 commented on #2837
When I tried to reproduce this, I found out that FF is not remembering my settings regarding proxy. So when I select 'Auto detect proxy setting for this network' and clicked OK, it still reverts back to the default 'Use system proxy settings'. I have no clue why this is happening anyway.

So we are good now. Sorry about the confusion.

[2015-07-29 16:52] xiam commented on #2837
Cool, thanks @sheena3

[2015-07-29 16:52] #2837 closed

[2015-07-29 17:04] uaalto commented on #2733
I get this response with curl, using domain fronting and an inexistent domain. The browser shows the same result with and without lantern.

[code]

[2015-07-29 17:07] xiam commented on #2776
Thanks a lot @fffw, now we have the reason for the pac-cmd's code not working on system shutdown. At least we already know that's a dead end.

I don't know either but I think that it is not too evident that this problem is caused by Lantern, I mean, Lantern is not running, it looks like and IE problem.

@fffw, @myleshorton I think we should think of another strategy here, could we permanently atta

[2015-07-29 17:08] myleshorton commented on #2837
Thanks guys!

[2015-07-29 17:13] myleshorton commented on #2733
Interesting thanks guys. @xiam that 403 error you're seeing is super interesting too -- very odd you'd get a 403 of all errors. Could be another clue on #2395?

Actually @xiam it looks like you're running that against a test server. Can you update the enproxy server code on that machine to be the latest on valencia? That should give us more information in the response body assuming the 403 is from

[2015-07-29 17:15] xiam commented on #2733
Sure, let's try @myleshorton

[2015-07-29 18:02] xiam opened #2846 "lantern server does not want to accept ^C and refuses to die"
Launched a headless Lantern server with the latest valencia code:

[code]

After a while I sent `^C` expecting the process to die:

[code]

Lantern server ignored my signal and kept working; I had to send it another signal to actually terminate it:

[code]

I suspect this is related to the changes we made to catch termination signals, but the odd thing is that it does not happen in client mode.

[2015-07-29 18:08] xiam commented on #2733
Attaching my results using a recent lantern server built from the latest valencia code, skipping the CDN.

[code]

Lantern says:

[code]

And here's the blank page:

![screen shot 2015-07-29 at 1 04 51 pm](https://cloud.githubusercontent.com/assets/385670/8965674/91729ec6-35f2-11e5-94ef-7c2174a867aa.png)

Without Lantern we get another page, which is generated by the browser:

![screen shot 2015-0

[2015-07-29 18:36] atavism commented on #2792
BTW, we have this as a basis https://github.com/getlantern/firefox-extension that I created awhile back

[2015-07-29 18:50] xiam commented on #2733
Tested again, got a 403 with the CDN in the middle:

[code]

I enabled "Proxy All" on this test. With or without "Proxy All" the client still sees a 500 error with no content:

[code]

[2015-07-29 18:55] myleshorton commented on #2792
Cool thanks @atavism. We also had an extension in Lantern 1.5.17 that did exactly this task, so I'm working on adapting it at https://github.com/getlantern/lantern-firefox-extension

[2015-07-29 19:21] myleshorton commented on #2733
Nice thanks @xiam that's fascinating. So the line:

[code]

could entirely tell us what's up with #2395. Basically enproxy returns a 403 when it can't do a DNS lookup! That's coming from:

[code]

It's not clear what we should actually return in that case. Maybe the [IETF's April Fool's "I am a teapot" 418 response](https://tools.ietf.org/html/rfc7168#section-2.3.3)?

[2015-07-29 19:34] myleshorton commented on #2733
I'm also not really worried about the ```500 Internal Server Error``` response I should mention. What would be a better response? What problem does it cause?

I guess it might be an opportunity for us to put up a cool Lantern-branded page but I'm not sure what else we would do. The browser itself fails pretty dramatically in that case with no proxy.

[2015-07-29 20:04] myleshorton commented on #2733
Ha! Go supports status teapot!

https://golang.org/src/net/http/status.go

[2015-07-29 20:10] xiam commented on #2733
I think it would be better if we show it to the user instead of the blank page they are getting when something like this happens.

I first found this error when I had a typo while typing a real URL, something like "bbc.co.ku" I was not aware of my typo after a more closer inspection, so I think that's the real world use case.

Hah! Yeah, technically, there is no HTTP code for a failed DNS lookup,

[2015-07-29 20:13] xiam commented on #2733
Actually, I'll try to take a stab a this one :), just to see how difficult this one could be.

[2015-07-29 20:20] myleshorton commented on #2733
Honestly the much more important part of this is the 403 error. That's the #1 error in our logs right now, and this could be the entire cause. One simple change we could make would be to actually return the error message in the HTTP response body to the browser too -- that would significantly aid our debugging in general for all users who seem to get blank pages for some reason using Lantern.

I'm

[2015-07-29 20:22] xiam commented on #2733
Good idea! Let's do that.

[2015-07-29 20:41] myleshorton commented on #2733
Awesome! Great find by the way - I think these changes could make a really big difference.

[2015-07-29 21:12] myleshorton opened #2847 "Return more accurate error codes from enproxy server"
We're currently returning both 403 and 502 for a bunch of different error cases, many of which are not related to those error cases.

[2015-07-29 21:34] xiam commented on #2733
Just for the record it looks like when using reverseproxy the body is discarded: https://golang.org/src/net/http/httputil/reverseproxy.go#L148 the only thing that is written is a 500 staus message, that's why we got a "server status error" everytime, despite of the actual error message. In this case we'll have to modify our transport to be less strict.

[2015-07-29 21:40] myleshorton commented on #2733
Oh that's super interesting @xiam. I think modifying the transport there might be an interesting change anyway, as those internal reverseproxy error messages are tricky to handle.

[2015-07-29 21:42] myleshorton commented on #2733
We could also theoretically just write the HTTP response body in our Transport but otherwise leave things untouched...

[2015-07-29 21:48] xiam commented on #2733
@myleshorton That's right we could also do that. Let me see what would be the cleanest solution that would require touching less code.

[2015-07-29 21:50] myleshorton commented on #2733
Sounds great @xiam. I gotta say I'm super excited about this change -- I think it will make debugging with users much, much easier.

[2015-07-29 23:13] xiam commented on #2733
The wrapper idea around RoundTripper did not work as I expected, this line:

[code]

Returns errors like `dial tcp: lookup foo.bar: no such host` or `No dialers left to try on pass`, but when an error is returned the `res` is always `nil`. This RoundTrip [is invoked by reverseproxy](https://golang.org/src/net/http/httputil/reverseproxy.go#L145).

I think the error we want to show is actually catch

[2015-07-30 00:18] xiam commented on #2733
Found another (multiline) error message:

[code]

I think the simplest thing right now would be using the transport to write the first line of the error message returned by the `RoundTrip` method. The user would see something like:

[code]

Except that would not give us fine grained control over the error we are showing to the user and it may even be more confusing in some cases.

[2015-07-30 01:55] xiam commented on #2733
Hah, after merging your [proposed changes](https://github.com/getlantern/lantern/pull/2848) into my dev branch I got this:

![screen shot 2015-07-29 at 8 53 58 pm](https://cloud.githubusercontent.com/assets/385670/8974143/f8fc79ea-3633-11e5-9831-0dd4af13b21d.png)

[2015-07-30 02:49] yuan78 opened #2849 "how to build lantern binary for android from source code?"
Hi,
how to build lantern  binary for android from source code?

[2015-07-30 04:04] myleshorton opened #2850 "Add a do not proxy list"
One user in China requested this.

[2015-07-30 07:52] uaalto commented on #2849
You can build a library (libflashlight.aar) that can be embedded in an Android program. Currently the Firetweet uses this for accessing the Lantern backend. There is no Android app at the moment for system-wide proxying. We will be working on that in the near future, so stay tuned!
Does this solve your question?

[2015-07-30 08:31] yuan78 commented on #2849
OK, will wait for Android app ,THX!

[2015-07-30 08:31] #2849 closed

[2015-07-30 09:16] uaalto commented on #2846
I think the code to catch signals just exposed the issue, but we were probably failing to cleanup properly before as well, because the server function wasn't running on its own goroutine as the client function was. I just opened a PR with this patch, which seems to catch the signals properly now.

[2015-07-30 15:19] uaalto commented on #2810
Hey @atavism, can you test this code to see if it runs smoothly?
Thanks!

[2015-07-30 15:28] atavism commented on #2810
Yep, that passes for me now!

[2015-07-30 15:28] #2810 closed

[2015-07-30 15:32] uaalto commented on #2810
Finally it makes sense :)

[2015-07-30 16:50] sheena3 opened #2853 "Proxy All Traffic option when disabled needs Lantern to be restarted"
Enabling Proxy All Traffic option neither needs restart nor a new Lantern browser. Whereas disabling Proxy All Traffic option needs restarting.

I verified this only in Firefox. Will update here if it is the same in the other browsers too.

[2015-07-30 17:02] sheena3 opened #2854 "The close window button that appears in the Lantern page after quitting Lantern is not working in Firefox"
It works fine in IE and Chrome

[2015-07-30 17:57] sheena3 commented on #2791
This doesn't work as expected.

Lantern is still starting automatically after restarting. I have disabled 'Run automatically on system startup' option.

[2015-07-30 18:06] sheena3 commented on #2719
Reopening this as I encounter this issue again.

I can reproduce this by running Lantern while restarting the system. This makes IE unable to open the pages for a while as @fffw commented.

If Lantern is not running while restarting the system, then IE opens the pages normally.

[2015-07-30 18:09] myleshorton opened #2855 "Add sanctioned sites to proxied sites list"

[2015-07-30 18:10] myleshorton commented on #2719
Thanks @sheena3! Is Lantern set to run automatically on startup?

[2015-07-30 18:13] myleshorton commented on #2776
Interesting @xiam, and thanks for that great reference @fffw. I agree just always running on startup and cleaning up if necessary and then shutting down if Lantern is not set to run on startup sounds like a good approach. I like it.

In 2.0.0 I added the -startup flag whenever Lantern is run on system startup, so we now know when it's run at startup. So we should be able to implement a solution li

[2015-07-30 18:20] sheena3 commented on #2719
No @atavism , it is not

[2015-07-30 18:21] sheena3 commented on #2719
I will check with the option enabled

[2015-07-30 18:21] sheena3 commented on #2719
sorry @myleshorton

[2015-07-30 18:33] myleshorton commented on #2719
Great @sheena3. Yeah I'm curious if it works with Lantern set to run automatically on startup.

[2015-07-30 18:40] sheena3 commented on #2719
Same behavior @myleshorton. Even after setting Lantern to run automatically on system startup, IE is unable to open the sites for a while. And this happens only when I let Lantern run while restarting.

[2015-07-30 18:43] myleshorton commented on #2719
Thanks @sheena3. So I realize we actually have duplicate tickets for this. I should have closed #2776 initially since it's newer, but now the more active discussion is happening there. Let's close this one and discuss further in #2776.

[2015-07-30 18:43] #2719 closed

[2015-07-30 18:46] xiam commented on #2776
Great, I'll take another stab at it using the proposed workaround.

[2015-07-30 18:47] sheena3 commented on #2719
Cool - Thanks, @myleshorton!

[2015-07-30 19:07] myleshorton commented on #2853
Oh interesting thanks @sheena3.

[2015-07-30 19:09] myleshorton commented on #2825
I already made that change to the client for 2.0.0 @aranhoide but the point of doing this on the config server is that it will overwrite those local values like we discussed on Monday. What's the status of that?

[2015-07-30 19:19] myleshorton commented on #2791
I think this is because you have old settings in your windows registry, @sheena3. I'll make a change to the installer that just deletes the old value. Thanks!

[2015-07-30 19:23] myleshorton commented on #2853
I'm actually going to move this to 2.0.1, as I doubt it actually a new issue and probably doesn't need to hold up 2.0.0. @fffw you mind taking a look at this when you have the chance?

[2015-07-30 19:50] atavism commented on #2401
This is still occurring a lot. There's fallback alarms appearing every couple of hours with the exact same message.

[2015-07-30 19:58] myleshorton opened #2857 "Launch Manoto based on local configuration file"
This will allow the actual binary to be identical in the manoto and non-manoto versions, which is essential for auto-updates.

[2015-07-30 20:15] aranhoide commented on #2825
Unfortunately the servers are using the same config URL as our clients (although they're using an old codebase, their configuration in the hardcoded cloud config url has, in turn, a `cloudconfig` pointing to the new one).  We can't override `cfg.Addr` for servers, or they would stop working.  So I'll need to create a new cloud config for servers and have them use that, before hardcoding these for

[2015-07-30 21:35] myleshorton opened #2858 "tlsdialer_test.go:224: x509: certificate signed by unknown authority"

[2015-07-30 21:43] myleshorton opened #2859 "Document enproxy end-to-end test setup"

[2015-07-30 22:30] uaalto opened #2860 "\Users\Home\AppData\Roaming\Lantern\lantern-2.0.0-beta8.yaml: The system cannot find the file specif"
This error appears with several variants, depending on the user name and OS:

Full message (**I replaced the user name with XXXXXX for privacy**). This is the most common instance (with different user names, of course).
[code]

Other examples:
[code]

[code]

[2015-07-30 22:31] xiam commented on #2860
Thanks @uaalto.

I think this is a duplicate of https://github.com/getlantern/lantern/issues/2811

[2015-07-30 22:33] uaalto commented on #2860
Oh, then it wasn't added to known bugs and I didn't search here first, sorry. I'm added it to the file.

[2015-07-30 22:33] #2860 closed

[2015-07-30 23:00] xiam commented on #2776
Instead of messing with `-startup` I added a new `-clear-proxy-settings` option that does exactly what we need. When the user checks "Run Lantern on system start" we set the registry key that uses the `-startup` flag, and when that setting is unchecked the registry we set the `-clear-proxy-settings` flag instead.

Now, I only need to set the `-clear-proxy-settings` into the registry when Lantern r

[2015-07-30 23:03] xiam commented on #2776
Current wip https://github.com/getlantern/lantern/tree/issue-2776-clean-on-start (I'll clean up my other branches once we finish and test the current fix)

[2015-07-30 23:10] xiam commented on #2776
Oh, I think we can also use the installer to set the registry key. https://github.com/getlantern/lantern/pull/2856

[2015-07-31 04:06] yuan78 opened #2862 "Can I build the latest binary synchronized with everyday's commit by add --depth 1 for git clone"
Can I build the latest binary synchronized with everyday's commit by add --depth 1 for git clone ?

whole command as follow :
git clone -b valencia --depth 1 --single-branch git://github.com/getlantern/lantern.git

[2015-07-31 04:15] myleshorton commented on #2854
You want to take this for a spin @atavism?

[2015-07-31 04:52] fffw opened #2863 "Turn off PAC only if PAC url is the same as what we set"
It's related to https://github.com/getlantern/lantern/pull/2861 but should be applied in general.

[2015-07-31 07:19] fffw commented on #2853
@sheena3 Could I know what are your steps to reveal this issue?

I tested using Firefox and 2.0.0 QA version on Mac as follows:
1. Run Lantern, make sure "Proxy all" option is unticked.
2. Visit an IP address query site that fast enough and not in built-in whitelist, and make sure it shows my current city.
3. Tick "Proxy all", above site shows that I'm visiting from North America after significant

[2015-07-31 07:59] fffw commented on #2854
[window.close()](https://developer.mozilla.org/en-US/docs/Web/API/Window/close) refuses to close a window not open by script in FF, seems no workaround works. I guess it's ok to just show the message "Please close your browser tab" on FF.

[2015-07-31 10:01] uaalto commented on #2862
All the code in valencia is reviewed and *should* compile fine,  if that's what you are asking.
Did this solve your question?

[2015-07-31 10:34] yuan78 commented on #2862
What you me mean is I can build the latest binary at any time and will not wait you to post the newer tag?
For example, if I want to build the latest lantern binaries according to today's newest commits, following command is enough?

git clone -b valencia --depth 1 --single-branch git://github.com/getlantern/lantern.git
cd lantern
make binaries

BTW: docker image was already ready.

[2015-07-31 10:51] uaalto commented on #2862
Yes, I tested and you shouldn't run into any problems. Only last commit in `valencia` will be available in your history. The only problem is that your logs won't be sent to us automatically (if you accept it in the config settings). However I think you are perfectly capable of sending us the logs if you run into any issue, or even check out possible causes yourself.
Docker image will be available,

[2015-07-31 10:51] #2862 closed

[2015-07-31 14:46] uaalto commented on #2858
This error was caused by an error that was handled and *should be ignored*. Fixed on the branch that introduced it.

[2015-08-01 09:21] uaalto commented on #2813
@myleshorton Do we have old code doing this for reference? I would like to get to this to make Lantern Pi available.

[2015-08-02 17:14] uaalto commented on #2695
Getting some background on the code where this needs to be implemented:

* We are only concerned with `intercept` (in https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight/client/handler.go#L38), because direct proxying can only be done with HTTP, and we don't want to do that for P2P. Or should we implement this also for the HTTP case so it can be used with direc

[2015-08-03 02:19] Rany008 opened #2865 "Windows 10 defender reports that 2.0.0-beta8 contains a trojan"
download last beta 2.8  windows Release，win10  defender Report Trojans.

[2015-08-03 02:21] fffw commented on #2865
Thanks @Rany008 . Could you provide a screenshot and/or which type of trojan it reported?

[2015-08-03 02:33] Rany008 commented on #2865
![t1](https://cloud.githubusercontent.com/assets/6700578/9029717/fefbff74-39ca-11e5-89a5-441ae240076f.jpg)
![t2](https://cloud.githubusercontent.com/assets/6700578/9029718/ff2569cc-39ca-11e5-9b2d-1a09c6c3b54b.jpg)

[2015-08-03 03:00] fffw commented on #2865
It's a great help @Rany008 . Lantern's auto-update mechanism was considered as trojan by Win 10 defender! We will address it ASAP.

[2015-08-03 03:04] Rany008 commented on #2865
Thanks！

[2015-08-03 03:39] fffw commented on #2395
Instead of hardcode the countries, we can make it configurable to adjust more easily through Salt. What do you think @aranhoide @myleshorton ?

[2015-08-03 03:58] fffw commented on #2811
Just a supposition: lantern.yaml gets removed by AV software?

[2015-08-03 05:31] aranhoide commented on #2395
@fffw I like it!

[2015-08-03 07:10] aranhoide commented on #2832
Done.

[2015-08-03 07:10] #2832 closed

[2015-08-03 14:10] fffw opened #2867 "Make allowed countries and ports configurable"
One step for https://github.com/getlantern/lantern/issues/2395

[2015-08-03 16:01] xiam opened #2868 "Upgrade Lantern (manoto) to 2.0.0"

[2015-08-03 17:20] sheena3 opened #2869 "Couldn't install the newer version of Lantern 2.0.0 in Ubuntu 32-bit"
Getting the message "A later version is already installed"
![screenshot from 2015-08-03 10 14 08](https://cloud.githubusercontent.com/assets/11394369/9043280/34e851b6-39c9-11e5-9161-7ad981ddf075.png)

[2015-08-03 18:32] sheena3 commented on #2802
This is working fine in Mac. In windows 8.1, browser is still opening

[2015-08-03 18:37] myleshorton commented on #2802
Thanks @sheena3. You don't have it set to open on startup in settings correct?

[2015-08-03 18:39] sheena3 commented on #2802
I did set it to open automatically on system startup.

[2015-08-03 18:40] myleshorton commented on #2802
OK of course that makes sense -- checking now thanks!

[2015-08-03 18:43] sheena3 commented on #2853
I couldn't reproduce. I retested this with the fake server to block and test proxy all option and it works fine.

When I tried geoiptool.com and speedtest.net, it takes a little while to update which I noticed only today. Thanks for checking it at your end @fffw. Closing this now.

[2015-08-03 18:43] #2853 closed

[2015-08-03 18:47] sheena3 commented on #2791
Should I download an updated version to retest?

[2015-08-03 18:54] myleshorton commented on #2802
I can't reproduce this @sheena3. Are you sure you're using the latest installer that added this functionality?

[2015-08-03 18:56] sheena3 commented on #2802
Does this need latest installer? I used the installer that you sent me as
an update. Should I download it again to test this?

On Tue, Aug 4, 2015 at 12:24 AM, myleshorton <notifications@github.com>
wrote:

--
Regards,
Sunshine

[2015-08-03 19:16] sheena3 commented on #2802
I installed Lantern using the installer that I downloaded now. It is not working. Browser is opening with Lantern running irrespective of the settings.

[2015-08-03 19:18] sheena3 commented on #2791
@myleshorton Tried with the new Lantern. Still not working in windows but works in Mac.

[2015-08-03 19:21] sheena3 commented on #2854
This is happening in Mac - Chrome too.

[2015-08-03 19:32] atavism commented on #2854
@sheena3 But it was working before for you on Chrome? How long ago?

Yeah, I looked into this as well, and I'm not sure there's a good workaround for Firefox (at least I haven't been able to find one). I think just displaying a message that Lantern went away instead is the best option for FF.

[2015-08-03 19:33] myleshorton commented on #2791
Only the one I emailed about last week -- should say in the bottom:

```Lantern 2.0.0 (20150729.035956)```

[2015-08-03 19:38] sheena3 commented on #2854
Yes @atavism. Chrome works fine in windows. This issue is in Mac-chrome.

[2015-08-03 19:41] sheena3 commented on #2791
Yeah - that is the version I used to retest this issue and reopened.

[2015-08-03 19:51] myleshorton commented on #2791
Oh I think I just realized what's happening -- that version doesn't include a fix I added to overwrite old Lantern settings. Next one should fix it.

[2015-08-03 20:06] atavism commented on #2854
Thanks, @sheena3. Chrome is working for me on Mac so I'm unable to reproduce. Anyone else able to? Are you seeing anything in the Developer Tools console when you click on the button? What version of Chrome are you running?

[2015-08-03 20:22] uaalto commented on #2854
I could reproduce it. If you click on the button you'll see the following in the console:
`Scripts may not close windows that were not opened by script.`

Unfortunately, this is a feature of Firefox (and should be of others as well), rather than a bug. More details on [this thread](https://stackoverflow.com/questions/19761241/window-close-and-self-close-do-not-close-the-window-in-chrome). We canno

[2015-08-03 20:38] uaalto commented on #2695
WIP [here](https://github.com/getlantern/lantern/tree/issue-2695)

[2015-08-03 22:19] #2825 closed

[2015-08-04 03:59] aranhoide opened #2873 ""flashlight.ui: ws.go:58 Unable to upgrade /data to websocket: websocket: version != 13""
This made the top 10 in loggly.

[2015-08-04 04:17] aranhoide commented on #2436
A variation (?) of this is showing up at Loggly:  "flashlight.client: reverseproxy.go:186 http: proxy error: unexpected EOF".  If you're sure this is unrelated, please open a new issue for it.

[2015-08-04 04:18] aranhoide commented on #2436
Another one (?): "enproxy: conn_impl_reads.go:90 Error reading: unexpected EOF"

[2015-08-04 12:33] fffw commented on #2863
We can go next step to remove Lantern from startup list if `-clearProxySettings` is passed in, so it will not run next time. But it's worth another case.

[2015-08-04 13:40] fffw opened #2875 "Some ad blocker conflicts with Lantern"
From feedback from an user on FB.

Those ad blocker using [hosts file](http://winhelp2002.mvps.org/hosts.htm) will be affected. Basically, they point the ad sites to 0.0.0.0, which results TCP RST, and be detected by detour as being blocked.

Resolving IP and checking for this specific address can fix it, but it's not clear if it's worth to do it.

[2015-08-04 13:45] fffw commented on #2875
Some of the ad blockers add entries to 127.0.0.1, instead of 0.0.0.0.

[2015-08-04 16:56] sheena3 commented on #2791
Do we have a new version now that I can use for retesting?

[2015-08-04 17:04] myleshorton commented on #2791
Not yet. You could always test that last FireTweet build though if you're all set with Lantern. We should have a new version by the end of the day today.

[2015-08-04 20:08] myleshorton commented on #2799
This is still happening quite a bit for me guys. Have either of you had a chance to look at it more @atavism or @uaalto? Seems like a pretty big issue right now.

[2015-08-04 20:09] myleshorton commented on #2799
I'm actually going to move this to 2.0.0, as it's currently happening for me on about every other run.

[2015-08-04 20:33] uaalto commented on #2799
I couldn't check it out, @myleshorton. But I can now that I have some progress on the Firetweet thing and a few other things in the queue for feedback.
One question, have you tried waiting a little bit? Does it finally connect in a minute or even less if you wait long enough? I have a couple of ideas that would be related to this.
It would be important to open access to config from where I am now

[2015-08-04 20:47] myleshorton commented on #2799
That would be great. It does usually open eventually - maybe even always,
but it sometimes hangs for a good 20 seconds.
On Aug 4, 2015 1:33 PM, "Ulysses Aalto" <notifications@github.com> wrote:

[2015-08-04 22:43] #2857 closed

[2015-08-05 00:08] aranhoide commented on #2539
Dumb me, I should have tried this much earlier: the very binary that is deployed in our servers has this problem when run in any of my computers.  The major difference in both deployment environments is the Ubuntu version (14.04 in production vs 15.04 in my computer).

[2015-08-05 00:27] aranhoide commented on #2539
Conversely, I was able to build a binary in my computer that does *not* exhibit this issue by just calling `make linux-amd64` without a VERSION (!).  The HEADLESS flag doesn't seem to make any difference.  Now, if I upload this binary to a test machine and run it there, it *will* exhibit the problem.  I'm totally befuddled here...

[2015-08-05 00:40] aranhoide commented on #2539
Duh, the VERSION thing was a red herring.  I've found the bug.  I'll submit a PR for this.

[2015-08-05 01:23] myleshorton commented on #2539
Awesome!
On Aug 4, 2015 5:40 PM, "aranhoide" <notifications@github.com> wrote:

[2015-08-05 02:35] #2863 closed

[2015-08-05 04:58] yuan78 opened #2878 "No rule to make target when build lantern binary (Docker image ready)"
No rule to make target when build lantern binary (Docker image ready) and build fail

details as follow:

[root@vultr ~]# git clone -b valencia  --single-branch git://github.com/getlantern/lantern.git
Cloning into 'lantern'...
remote: Counting objects: 34820, done.
remote: Compressing objects: 100% (265/265), done.
remote: Total 34820 (delta 392), reused 275 (delta 254), pack-reused 34292
Receivin

[2015-08-05 05:08] yuan78 commented on #2878
I found the cause , the Makefile& docker is missing, but it still show below errors when I append the two files:
Generating assets...
/bin/bash: line 16: src/github.com/getlantern/flashlight/ui/resources.go: No such file or directory
Makefile:124: recipe for target 'docker-genassets' failed
make: *** [docker-genassets] Error 1
make: *** [genassets] Error 2

[2015-08-05 06:18] fffw commented on #2878
if you `git log`, you'll see that the tag `2.0.0-beta11` is really old,
might be mistakenly tagged. Branch `valencia` always contains current
production code.

[2015-08-05 06:31] yuan78 commented on #2878
Hi,
I re-git clone and add -depth 1，it's OK now.

[2015-08-05 07:02] fffw commented on #2799
I can't reproduce it from either my Windows VM or VPS. All tabs showed the notice when Lantern stoped, and refreshed when Lantern started again. The only thing I noticed is that IE11 on the VPS couldn't show Lantern page correctly. It shows well on IE10 on my VM, so I guess it's caused by the OS version on VPS, Windows Server 2012.

[2015-08-05 07:04] uaalto commented on #2799
This is not a Windows related issue, or even browser-related. And it is very probably related to the websockets, from what I'm seeing in my tests.

[2015-08-05 08:43] #2878 closed

[2015-08-05 10:00] uaalto commented on #2799
This one is proving tough. I believe that the Go part is doing is job fine: using `nc` I can establish a manual websockets connection to the websockets server even if the web UI didn't connect and still shows the "waiting for Lantern" message:

[code]

Returns the expected websocket data.

[2015-08-05 10:29] uaalto commented on #2799
It actually might be the Go server. After testing it with Thor, I consistently get the errors below, and always the process gets stuck after ~100 connections for a while, in a manner resembling what happens to the browser.
I also discovered that if you close all tabs you restart the behavior.

[code]

[2015-08-05 11:17] uaalto commented on #2799
I solved the issue that caused the Thor errors: an improperly closed Websocket connection. Now it doesn't result in that faulty behavior where it can't connect to the websockets server after a few connections. But this darn bug remains!!

[2015-08-05 13:00] yuan78 opened #2880 "pls correct the old tag error of 2.0.0-beta11"
pls correct the old tag error of 2.0.0-beta11, the current latest tag shall not be tagged with 2.0.0-beta11.

2.0.0-beta11 should be wrongly tagged for a new version of lantern , pls update it to a new tag name.

because tag  2.0.0-beta11 is an old tag dated 18Feb if run git log as follows:

[root@vultr lantern]# git log  2.0.0-beta11
commit a79c1220deba30f1021096368469d1ff804151a1
Author: Todd Bl

[2015-08-05 13:19] myleshorton commented on #2799
Oh good investigating @uaalto! Does the browser dev console tell you anything useful? One trick is to open a separate browser with the dev console open, and just hit lantern at 127...

[2015-08-05 13:31] myleshorton opened #2881 "Allow users to customize the proxied sites list."
One approach might be allowing them to turn Lantern on or off for a specific site within a browser plugin. One user, for example, complains that Lantern seems to mess up PayPal, and he would like to turn it off for PayPal.

[2015-08-05 13:37] uaalto opened #2882 "Websocket service in UI doesn't close connections properly"
Detected by `Thor` websockets testing tool:

[code]

[2015-08-05 13:46] #2882 closed

[2015-08-05 14:21] uaalto commented on #2799
I keep getting
[code]
it's due to the origin restriction:

[code]

How do you normally do it?

I'm able to connect with raw `nc` though, after just copying the http/websockets headers I got from wireshark.

[2015-08-05 14:31] uaalto commented on #2799
I have a new theory of this thing. Is not nice, and I'm not fully satisfied, but this is what I got after the investigation:

This problem happens on Windows and OSX (haven't tried on Linux). It happens with Firefox. But **it doesn't happen** with Chrome or IE. At least I couldn't reproduce it after a gazillion times. If it gets reproduced just once, the theory doesn't work.

I think what we are s

[2015-08-05 14:35] uaalto commented on #2799
Ok, this works:
[code]

[2015-08-05 14:41] uaalto commented on #2799
By the way, I tried forcing closure of all websockets connection at Lantern exit, but that doesn't work either. This means the server makes sure of not leaving connections opened, so now it should be the browser the one leaving leftovers.

[2015-08-05 14:46] #2847 closed

[2015-08-05 14:58] #2846 closed

[2015-08-05 15:06] xiam commented on #2869
I'm going to take a look at this one too, as the resolution could affect https://github.com/getlantern/lantern/pull/2870

[2015-08-05 15:21] myleshorton commented on #2869
Great!
On Aug 5, 2015 8:06 AM, "José Carlos" <notifications@github.com> wrote:

[2015-08-05 15:25] myleshorton commented on #2799
Cool. I can confirm I saw it with FireFox only as far as I can recall. Does
the above fix it?
On Aug 5, 2015 7:41 AM, "Ulysses Aalto" <notifications@github.com> wrote:

[2015-08-05 15:57] xiam commented on #2869
@sheena3 How are you testing this? I usually install .deb packages with the `dpkg` command and it does not complain:

2.0.0-beta8:

[code]

2.0.0

[code]

Are you using a graphical tool?

[2015-08-05 15:58] xiam commented on #2869
In fact, after installing `2.0.0` I can go back to `2.0.0-beta8` no questions asked:

[code]

[2015-08-05 16:00] sheena3 commented on #2869
Yep..I go to the Downloads folder and click on the .deb file and it will
usually opens the Ubuntu software center and provides details about the
installation. And there will be an install button to proceed with.

But for 2.0.0, I am getting this message instead. I don't see the install
button at all.

On Wed, Aug 5, 2015 at 9:27 PM, José Carlos <notifications@github.com>
wrote:

--
Regards,
Sunshi

[2015-08-05 16:03] myleshorton opened #2884 "Create a better consolidated solution for monitoring all servers"

[2015-08-05 16:03] myleshorton commented on #2884
@fffw can you just document here potential solutions for this?

[2015-08-05 16:11] Dineshan commented on #2884
I open lantern and go to youtube and begin search.  But many of the sites are reporting that it is not available in our region.

[2015-08-05 17:02] xiam commented on #2869
Got it! crazy.

![screen shot 2015-08-05 at 11 07 18 am](https://cloud.githubusercontent.com/assets/385670/9090833/2c4224fc-3b62-11e5-8e86-71bd2543bb98.png)

This sounds to me like an Ubuntu bug, dpkg (the tool that actually manages packages) works fine. I'll try the `2.0.0-final` suggestion from @aranhoide.

[2015-08-05 17:20] xiam commented on #2869
Both `2.0.0-stable` and `2.0.0+stable` work.

![screen shot 2015-08-05 at 12 15 57 pm](https://cloud.githubusercontent.com/assets/385670/9092422/c1ce0118-3b6b-11e5-8ec2-38f74deca973.png)

I also found that we can also [compare versions](https://debian-handbook.info/browse/stable/sect.manipulating-packages-with-dpkg.html) directly with `dpkg`.

[code]

So it's not a bug in Ubuntu, it's just that dp

[2015-08-05 17:27] #2539 closed

[2015-08-05 17:35] xiam commented on #2869
If we use `-`, then we must provide a word that is lexicographically greater than "beta8"

[code]

If we use `+` we can use anything.

[code]

We are going to have this problem with all our releases, I suggest we workaround this issue with the "+stable" *metadata* string because that does not have any effect for the semver standard. We'll have to do that each time we want to promote a beta version

[2015-08-05 18:17] myleshorton commented on #2869
Yeah I think that sounds like a plan @xiam!

[2015-08-05 19:15] myleshorton commented on #2868
This should now just be pending deploying the update server to our live machine.

[2015-08-05 19:17] myleshorton commented on #2854
This one's all set @atavism right?

[2015-08-05 21:23] myleshorton commented on #2884
Which sites?

[2015-08-05 21:45] myleshorton commented on #2875
Ha! Fascinating -- Lantern/detour is routing around ad blockers! I think the ideal solution here is to actually add ad blocking into Lantern, but that could take a little while. Then again, a simple version might be as easy as auto-downloading a domain list from adblocker.

[2015-08-05 21:49] uaalto commented on #2799
No, I didn't figure out the fix. I did fix the issue that looked so much like what we needed, but it doesn't work. I'm a bit lost at the moment. I have an idea of a workaround, but I'm not very confident on it.
At the moment, I really think this is a problem of Firefox, because the connections are working well at the Go websockets ui server, as shown by the test tools, and the other browsers. Ther

[2015-08-05 21:51] myleshorton commented on #2799
Cool. Does FireBug or anything on the browser side offer any clues?

[2015-08-05 21:59] uaalto commented on #2799
I didn't manage to use the browser itself for inspection: I keep getting origin errors on the backend side (that could be removed for testing I believe). But `nc` shows that the connection on the backend is working well, since I can set the origin manually there after sniffing the websocket messages the browser itself sends. An important point is that every time the page on Firefox waits for conne

[2015-08-05 22:02] uaalto commented on #2799
The network inspectors in chrome or firefox don't offer any clue because they just don't see any connection happening. They are unaware of what's going on.

[2015-08-05 22:07] myleshorton commented on #2799
That in and of itself seems weird @uaalto. Do they see the connection when the bug doesn't occur?

[2015-08-05 22:10] myleshorton commented on #2395
I like it too @fffw, although I do want to also make sure we're able to deploy this fix soon so don't want re-architecting things to delay it too much. Doing it via salt would make it easier to deploy changes but:

1. How often are we really likely to deploy changes?
1. How much time would that really save?

I agree it's the ideal solution, but I'm just not sure how much of a win it would really b

[2015-08-05 22:14] uaalto commented on #2799
The browser network inspector in Firefox (the only one failing, to be precise), doesn't show any connection until if succeeds to connect, just at the same time you see the page load properly as if everything went ok. The very weird thing is that Firefox "blocks" on those connections, and the blocking time is loosely proportional to the number of previously opened tabs, but the rest of tools (nc an

[2015-08-05 22:17] myleshorton commented on #2799
Could we be hitting up against some per-domain/simultaneous connection issue? I wonder if bumping those up in about:config (search for connections) would make the problem go away, not as a solution but as a test. Then again I've seen it with just one tab open *I think*

[2015-08-05 22:19] #2854 closed

[2015-08-05 22:20] atavism commented on #2854
@myleshorton Yep, we removed the button, and only a message is being displayed now instead.

[2015-08-05 22:26] uaalto commented on #2799
_per-domain/simultaneous connection issue_: I looked for info on this but didn't succeed. I can try again this path.
You might have seen the one tab problem if it happened _after_ having many tabs opened and _if_ you didn't close _all_ of them. This is also what leads me to believe that something evil is going on _within_ Firefox.
Anyway, I should clear my mind a bit, because I'm fixating a lot on

[2015-08-05 22:30] uaalto commented on #2799
more specifically: _per-domain_ issue is what I searched and didn't find much, also led by the belief that it doesn't seem very reasonable, so I should insist.
_simultaneous connection_ issue has been the bulk of my investigation, that's why I used Thor.

[2015-08-06 04:01] aranhoide commented on #2395
I don't think it would take much re-architecting, but yeah, I don't see us changing this often, if ever.  So maybe I'll do the quickest thing now and add the command line parameter the next time that we need to change it.

[2015-08-06 06:21] #2395 closed

[2015-08-06 10:45] uaalto commented on #2799
I thought this commit fixed it, but I didn't realize that I was also making the old tabs unable to connect. The new tab would always connect instantly this way, but at the cost of the rest of the tabs.
The problem seems to be that Firefox keeps the connections in a state that blocks itself from making new connections to the same websocket server. It cleans up the state after you close *all* connec

[2015-08-06 11:13] uaalto commented on #2799
This last commit seems to produce a better behavior. You shouldn't wait more than the refresh interval (5000ms ATM).
The concept is to make sure that we force closure of connections that failed to connect in 100ms, which avoids all those new connections piling up in each call to reconnect once we have a tab that is disconnected. That probably is be the source of the problem, which Chrome manages w

[2015-08-06 11:27] uaalto commented on #2799
This change improves user experience, but there are still a few cases where it doesn't connect. Restarting flashlight after that gets it working, which previously didn't work. This is some progress.
All this is a workaround, though. So if we want to, we can just test that connection was done properly and just reload the page otherwise. I tested the idea and works, but some of the previously opened

[2015-08-06 11:34] uaalto commented on #2799
I've committed this workaround idea, which produces some interesting results.
https://github.com/getlantern/lantern/tree/issue-2799

It is not perfect, but we could apply it only to firefox, so the rest of browsers work perfect and Firefox gets a better user experience.

Please try and let me know what you think. You should just set Firefox as the default browser, open lantern and close it around

[2015-08-06 13:38] uaalto commented on #2799
New set of tests. Still not there, and this looks more and more like a bug in Firefox.

[2015-08-06 14:25] uaalto commented on #2799
This is the summary, @myleshorton:
This is already tested from many angles and possibilities. My conclusion is that Firefox doesn't handle multiple connections to the same websocket, at least on localhost. It doesn't matter how I force closing it.
The only way I found to avoid 100% this issue is to not try to reconnect automatically. My workaround seems to somewhat improve the situation, but not e

[2015-08-06 17:37] sheena3 commented on #2802
I tested this in Chrome browser in Windows 8.1. It is still opening the browser when running Lantern automatically on restart.

[2015-08-06 17:38] sheena3 commented on #2791
I tested this in Chrome browser in Windows 8.1. Lantern is running automatically on restart even when the option is disabled.

[2015-08-06 17:57] sheena3 commented on #2799
@myleshorton @uaalto - I was able to reproduce this issue only in FF with previous 2.0.0 by installing Lantern while it is already running. I couldn't find any other ways to reproduce it.

After installing 2.0.0+stable, it is working fine in FF too.

Are there any other possible scenarios in which Lantern waits indefinitely?

[2015-08-06 18:01] xiam commented on #2791
Hello @sheena3,

Could you try running the Start menu then typing regedit in the command input and look for the keys within the path `HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Run`?

![screen shot 2015-08-06 at 12 56 31 pm](https://cloud.githubusercontent.com/assets/385670/9119121/9d6d1000-3c3a-11e5-8f48-2a86dd2056f0.png)

There should be only one key named Lantern, hows does tha

[2015-08-06 18:12] myleshorton commented on #2802
OK I think I see the problem -- I'm on it.

[2015-08-06 18:14] sheena3 commented on #2791
Yeah @myleshorton , there is only one entry. Attached the screenshot.

Should I try this after restarting with the option disabled?
![image](https://cloud.githubusercontent.com/assets/11394369/9119588/04d7c24e-3c95-11e5-8be7-387ffb1cdae9.png)

[2015-08-06 18:15] myleshorton commented on #2791
Yeah this is the same issue as #2802 really. Fix coming shortly.

[2015-08-06 18:26] myleshorton opened #2888 "OSX crashes on Sierra as a result of auto-update breaking code signing"
Not sure about Windows, but unfortunately on OSX auto-updates break our signature. This results in the OS prompting the user to allow Lantern to set the system proxy, and it looks like that's the extent of it pretty much. Not sure what the solution is.

After auto-update you'll see:

[code]

and will get prompted to enter your password to allow it to set the system proxy.

[2015-08-06 18:32] xiam commented on #2888
I haven't see that prompt in my testing, how do you trigger it? What's the Lantern version you started with?

[2015-08-06 18:41] myleshorton commented on #2888
I started with manoto beta8. I *think* there might actually be two separate issues here:

1. I suspect there's something wrong with the signature of the new pac executable
1. There seems to be a separate issue with updates breaking our signature which may or may not be related to that specific prompt.

[2015-08-06 18:46] myleshorton commented on #2888
Also once you enter a password once, you don't see the prompt again on subsequent runs..

[2015-08-06 19:09] myleshorton commented on #2888
Yeah the system proxy password prompt is unrelated to the code signing issue for sure -- I get it with a fresh Lantern install on 2.0.0+stable.

[2015-08-06 19:13] myleshorton opened #2889 "OSX pac-cmd tool prompting for admin password"
Once you enter it once, it doesn't prompt you again, but it's now prompting for an admin password when trying to set the system proxy. Could be a code-signing issue, but the signature on the extracted executable looks valid.

[2015-08-06 19:16] myleshorton commented on #2889
Or maybe it's always been this way @fffw and we're just seeing it again now because the binary has changed for the first time in awhile? I can't remember now.

[2015-08-06 19:25] sheena3 commented on #2869
Works fine now.

[2015-08-06 19:25] #2869 closed

[2015-08-06 19:44] myleshorton commented on #2888
So the consequences of this will be felt more in future P2P versions the allow incoming connections. OSX by default allows code-signed applications through the firewall, but otherwise will prompt the user.

[2015-08-06 19:47] myleshorton commented on #2889
I'm pretty sure this has always been the case -- you get every time if you run this prior to running Lantern:

[code]

[2015-08-06 21:24] uaalto commented on #2799
@myleshorton @sheena3 My current understanding of this issue is that is going to happen under some stress conditions (opening many tabs with lantern), but it is a bug in Firefox, or at least a limitation. I think websockets might not be well tested for the case where the same connection is established through different tabs.

[2015-08-06 22:01] uaalto opened #2891 "[lantern-mobile] updateConfig blocks, leading to mobile OS (Android) killing the app for unresponsiveness."

[2015-08-06 22:07] myleshorton commented on #2889
This is necessary on the first run!

[2015-08-06 22:07] #2889 closed

[2015-08-06 22:26] myleshorton opened #2892 "Add a callback or similar from Go to Java when actually proxying"

[2015-08-06 22:33] atavism commented on #2892
We could do something super simple like this: https://groups.google.com/forum/#!topic/golang-nuts/JEhPqUbEzs0

[2015-08-06 22:40] #480 closed

[2015-08-06 22:40] uaalto commented on #2892
Yes, that looks exactly like what we need. With gomobile should be easy, let's do it!

[2015-08-06 23:02] myleshorton commented on #2858
https://travis-ci.org/getlantern/lantern/builds/74462953

[2015-08-07 02:10] yuan78 opened #2894 "How to build docker image by using proxy because GFW blockde the URL resources"
Previously I use VPS  to build docker image, but it's too inconvenient, everytime I need transfer back the finished binary to my local machine by FTP.
Then I want to build docker image in my local machine, but it show the below fail info  because China GFW blocked google and other download resources , how to build docker image by using proxy?

I tried to install tsocks (use shadowsocks as upstream

[2015-08-07 05:09] fffw commented on #2894
@yuan78 It's a topic unrelated to lantern project. You can use VPN to circumvent. There are lots of free and paid VPN service provider.

To copy back binary from VPS to local machine, you can use `scp` if ssh works (On Windows, PuTTY has a similar tool called pscp).

[2015-08-07 05:09] #2894 closed

[2015-08-07 07:54] uaalto commented on #2858
It was a different error, but we can use this issue. I'm going to rename issue to the error.

[2015-08-07 09:27] uaalto commented on #2858
Not reproducible locally, after 100 runs.

[2015-08-07 17:01] sheena3 commented on #2802
This works fine in windows. Tested in chrome, IE and Firefox. I will complete testing in Mac and Linux and then close this issue.

[2015-08-07 17:02] sheena3 commented on #2791
This works fine in windows. Tested in chrome, IE and Firefox. I will complete testing in Mac and Linux and then close this issue.

[2015-08-07 17:07] sheena3 commented on #2799
Thanks @uaalto is it Lantern running in all the tabs or just some random websites with Lantern running in one of the tabs? I will see if I can reproduce this scenario.

[2015-08-07 17:55] sheena3 commented on #2802
works fine. Closing

[2015-08-07 17:55] #2802 closed

[2015-08-07 17:56] sheena3 commented on #2791
Works as expected. Closing now.

[2015-08-07 17:56] #2791 closed

[2015-08-07 19:24] myleshorton commented on #2799
OK I'm moving this to 2.0.1, but I generally like the idea of working around it by just not doing the websocket reconnection stuff on FF.

[2015-08-07 19:27] myleshorton commented on #2888
Any luck reproducing this @xiam? It's basically just a matter of running spctl before and after the auto-update, so:

[code]

[2015-08-07 19:33] #2858 closed

[2015-08-07 19:48] myleshorton commented on #2733
Darn @xiam I somehow lost track of this one. Did your changes actually work for relaying the error to the client?

[2015-08-07 19:58] #2787 closed

[2015-08-07 21:00] #2807 closed

[2015-08-07 21:36] myleshorton opened #2896 "User settings not saved across versions"
As a result of changing the config to embed the version name in the yaml config file name breaks saving user settings across versions. This is related to #2390, but ideally we would move user settings into a separate file, say settings.yaml.

[2015-08-07 21:52] myleshorton opened #2897 "Lantern crashing in HTTP serving"
This has come up in 2.0.0+stable:

[code]

[2015-08-07 21:55] myleshorton opened #2898 "ui.go:134 Could not read yaml from : Empty string"
Should be an easy fix.

[2015-08-07 22:03] #2898 closed

[2015-08-07 22:07] myleshorton commented on #2897
looks like DirectAddrCh is never created!

[2015-08-07 22:15] myleshorton commented on #2897
Should be fixed in #2900

[2015-08-07 23:56] uaalto commented on #2799
@sheena3 they must be all lantern tabs. It's probably a corner case, but happens often while in development.

@myleshorton I've also investigated the option of just reopening within the same tab. Safari does this automatically. I couldn't find a reasonable and cross-browser way of doing this, though. I think also the last option you mention is best at the moment.

[2015-08-08 00:12] xiam opened #2901 "WSASend tcp 127.0.0.1:8787: An established connection was aborted by the software in your host machi"
Still few occurrences but it's currently showing on top.

[code]

[2015-08-08 00:15] xiam opened #2902 "Unable to dial server: EOF on pass 0...continuing"
This error is showing different destination servers.

[code]

[2015-08-08 00:24] xiam opened #2903 "Bad status code on CONNECT response: 502 on pass 0...continuing"
This error is showing different destination hosts.

[code]

[2015-08-08 00:31] xiam commented on #2429
I'm still having some logs on 2.0.0:

[code]

[2015-08-08 02:02] xiam commented on #2888
Hello @myleshorton,

Still no luck, I started with beta8 and after a while it received the update. Can you try this?

With beta8 manoto:

[code]

With beta9 (our fake update):

[code]

[2015-08-08 02:09] xiam commented on #2888
Oh, our latest QA alpha for 2.0.0 did trigger the prompt. The `spctl` program does not say that it was rejected, do I need to pass some other argument to it?

[code]

[2015-08-08 02:11] xiam commented on #2351
Do you still have problems accessing Google Hangouts, @fffw?

[2015-08-08 02:16] xiam commented on #2733
No @myleshorton, my branch is still on development, not sure what should we do with that. The Go error message looks too technical and I haven't found a way to relay the server error to the client.

[2015-08-08 05:40] myleshorton commented on #2888
The prompt is really 100% unrelated. So this is odd -- I'm seeing something different. This is with **manoto** beta 8, which maybe makes a difference not sure, all from the same run:

[code]

[2015-08-08 09:24] uaalto commented on #2901
Thanks @xiam! It is a duplicate of https://github.com/getlantern/lantern/issues/2429, I will close this one.

[2015-08-08 09:24] #2901 closed

[2015-08-08 11:01] xiam commented on #2888
@myleshorton

According to the checksums you have exactly the same binary that I started with and after a while you upgraded to the same one I was upgraded to. I'm going to try with `open` and without restarting Lantern to see if there is any difference.

[2015-08-08 11:14] xiam commented on #2888
Yeah, same thing. I'm using this script:

[code]

And I only got the checksums.

[code]

If you download the 2.0.0+manoto binary update from here https://github.com/xiam/lantern/releases/tag/2.0.0%2Bmanoto, do you have the same results?

[code]

[2015-08-08 12:34] yuan78 opened #2904 "encounter error of "Missing "go" command" when build docker image"
Hi,
I encountered error of "Missing "go" command" when build docker image as follow:

gary@gary-To-be-filled-by-O-E-M:~/lantern$ sudo make docker
Missing "go" command.
Makefile:236: recipe for target 'system-checks' failed
make: *** [system-checks] Error 1

But I acually installed golang1.4.2 already, and set correct PATH as below:
export GOROOT=/usr/local/go
export PATH=$GOROOT/bin:$PATH

And run

[2015-08-08 20:13] myleshorton opened #2905 "Errors running pac-cmd on windows"
Getting this a fair bit in our logs.

[code]

[2015-08-08 20:15] myleshorton commented on #2905
You want to take a look @fffw? It seems like we should have gotten an earlier error too saying we couldn't set the permissions. We actually might have gotten those, but I haven't had a chance to check.

[2015-08-08 21:14] myleshorton commented on #2315
Should be fixed in #2906

[2015-08-08 21:27] myleshorton commented on #2733
OK thanks @xiam. I actually think that as a first pass the ugly error message is OK -- better than a blank page, and we can make it pretty later. It should help with debugging either way though. @carsonefv or @Derekf5 can you guys make a super simple error page that we display when Lantern has some kind of error browsing? We can make that a separate ticket (or not depending on how quickly we get t

[2015-08-08 22:43] aranhoide commented on #2904
The issue tracker is not a support forum.  Please stop doing that.

[2015-08-08 22:43] #2904 closed

[2015-08-09 15:36] fffw commented on #2351
I didn't try to use Hangouts over Lantern recently @xiam. Let me try it at
our next stand up.

[2015-08-09 16:02] fffw commented on #2905
@myleshorton I haven't found the error setting pac-cmd permissions yet but will try to check more. It might be possibly blocked by AV software.

[2015-08-10 04:00] fffw commented on #2905
Reported Lantern version varies from beta5 to stable so they are not introduced recently. Top 5 instanceids contributed 85% to the total. `pac-cmd` are called frequently during Lantern running to notify browser that pac file changed, that explains the distribution.

While searching for "Access is denied" in Loggly, I found a few other similar errors.

I guess all of them are caused by user's local

[2015-08-10 05:33] #2315 closed

[2015-08-10 08:33] uaalto opened #2907 "Lantern doesn't launch on El Capitan"
One user reported that it doesn't work ATM.

[2015-08-10 08:36] uaalto opened #2908 "Version of Gomobile required for Java callbacks produces panic"
The panic is identified and can be fixed on our side.
[code]

[2015-08-10 11:04] uaalto commented on #2799
@myleshorton @sheena3 I confirmed this is a bug in Firefox. I managed to reproduce it with a small test case. I filed a bug on Bugzilla for Firefox [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1192773).

For now, we will avoid websocket reconnection for FF and keep tuned to the issue's progress.

[2015-08-10 11:13] xiam commented on #2888
I did another test with regular beta8 from s3 and after a few seconds it got updated to 2.0.0+stable:

[code]

[2015-08-10 12:16] xiam opened #2911 "Lantern local site flickers when starting up"
This is not a new issue, it's just a non-critical one. It would be nice to have a fix for it.

[2015-08-10 14:14] fffw opened #2913 "Lantern doesn't start on Mac OS 10.7"
Reported by one user named Aref Khandan on Facebook. He downloaded directly from website and installed correctly, but didn't see anything. No tray icon, no starting page. There's even no `lantern.log`.

We didn't explicitly state the minimum version required on website, but from previous mail, it should be 10.7 and above.

[2015-08-10 14:18] uaalto opened #2914 "Append log prefix only once in multiline output."
This reduces log size and makes it easier to use (copy&paste).

[2015-08-10 15:05] fffw commented on #2401
Similar errors still occuring.

[2015-08-10 15:27] fffw opened #2915 "If Lantern is unable to proxy traffic for a site, it should be added to the detour whitelist so that we don't proxy it"
We see error `Bad status code on CONNECT response: 403 on pass 0...continuing`.

It's the same error as https://github.com/getlantern/lantern/issues/2395. As we already removed the country list, the cause might not be the same.

A quick scan give me an impression that all those domains are not resolvable.

[2015-08-10 16:19] atavism opened #2916 "panic: Unable to determine user's home directory: user: Current not implemented on android/arm"
Built a fresh copy of the library while I was working on https://github.com/getlantern/lantern-mobile/issues/3 and the app crashes immediately with the following:

[code]

[2015-08-10 18:46] myleshorton commented on #2916
Interesting. I'm surprised it didn't crash before - odd. Added to 2.0.1

[2015-08-10 19:43] myleshorton commented on #2888
This is all using your server correct @xiam?

[2015-08-10 19:43] myleshorton commented on #2888
I.e. you put 2.0.0+stable on your server?

[2015-08-10 19:49] myleshorton commented on #2888
What does ```spctl --status``` give you @xiam?

[2015-08-10 20:00] myleshorton commented on #2888
Can you also try ```spctl --raw -a /Applications/Lantern.app```? I'm curious if you might have a cached local assessment before and after the update for some reason.

[2015-08-10 20:25] myleshorton commented on #2888
Also ```codesign --verify --verbose /Applications/Lantern.app``` before and after.

[2015-08-10 20:47] #2897 closed

[2015-08-10 20:48] xiam commented on #2888
@myleshorton Yes, this is all with my test server that uses releases listed at https://github.com/xiam/lantern/releases, I took the update binary from the 2.0.0+stable we currently have in QA.

This says nothing:

[code]

But this one says "security disabled".

[code]

This other one too:

[code]

The codesign line complains:

[code]

I don't think this was disabled by default, maybe I did and don

[2015-08-10 21:13] myleshorton commented on #2788
Unfortunately we're still not seeing any of these analytics events in our analytics. Not sure what's up.

[2015-08-10 22:02] myleshorton commented on #2888
I get:

[code]

[2015-08-10 22:12] myleshorton commented on #2888
This is useful:

https://developer.apple.com/library/mac/technotes/tn2206/_index.html

[2015-08-10 22:44] myleshorton commented on #2836
Assigning this over to you @fffw with @atavism focusing on the client side...

Would be great to run some performance tests first.

Other necessary tasks include:

1. Make sure we use the existing python script to randomize certs
1. Use customized authentication

[2015-08-10 22:48] uaalto commented on #2916
I've opened [this one](https://github.com/getlantern/lantern/issues/2908) before, which is basically this error. This is fixed in https://github.com/getlantern/lantern/pull/2910, but I have to make sure that this works well though. I assumed that it wasn't used before, because this code wasn't there before either.

[2015-08-11 00:10] atavism commented on #2836
@myleshorton @fffw The ATS server is still running on the VPS I sent both of you, and you both shuld have access.

[2015-08-11 01:39] fffw commented on #2836
I can login to the server. Thanks @atavism !

[2015-08-11 07:54] fishg opened #2918 "2.0 Beta8 aways use more than 4% cpu time"
<img width="365" alt="qq20150811-1 2x" src="https://cloud.githubusercontent.com/assets/1423545/9192810/d476ab2e-4040-11e5-8afe-897330e80b42.png">

Because of temperature,when use OS X,cpu usage is sensitive.Hope there is some way to reduce lantern cpu usage.

[2015-08-11 08:03] fffw commented on #2884
### Storage

InfluxDB is promising and works well during our test and trial. Hosted InfluxDB service would be good, but standalone server also just works. We can collect metrics to monitor itself.

### Collection

We mainly have 3 type of services in our infrastructure.

*  VPS (bunch of them and ever increasing!)

We already use salt as configuration manager. There're existing scripts running on

[2015-08-11 09:54] uaalto commented on #2813
This will be apparently solved by code signing, right?

[2015-08-11 10:36] uaalto commented on #2429
Could this be that the browser timeouts this connection because of https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight/client/handler.go#L78?

Here we are just sending a 200 OK response with HTTP 1.1. That's all. If the browser supports the CONNECT verb correctly, is going to expect this response and then send the request to be tunneled. I've been testing this

[2015-08-11 10:50] uaalto commented on #2429
I've done a quick test and could reproduce it on OSX (the _broken pipe_ version, which is just the same thing). Adding an artificial sleep before the respondOk call to allow the client program to timeout while waiting for this response.

Another way to trigger it would be aborting just before Lantern had the chance to send its response (simply closing the tab in case of a browser could trigger thi

[2015-08-11 12:14] #2892 closed

[2015-08-11 12:14] #2908 closed

[2015-08-11 12:14] #2916 closed

[2015-08-11 13:24] Derekf5 commented on #2733
@xiam @myleshorton sure thing, what should the text read?

[2015-08-11 13:26] xiam commented on #2733
Hey @Derekf5,

This is an error page, I think should be simple like the Firefox or Chrome error pages, and for the sake of ease of implementation, it should no use external CSS o image resources.

Errors are like:

[code]

So they're pretty intimidating. Maybe we can hide the details, as @myleshorton says.

[2015-08-11 14:33] carsonefv commented on #2733
Would something like this work? Text can be edited.. just took this text from a firefox error page.

![lanternwebsite_addressnotfound](https://cloud.githubusercontent.com/assets/4400763/9200129/4fe01b92-4014-11e5-9f8d-9c593d15120f.png)

[2015-08-11 15:06] xiam commented on #2733
Looks good to me @carsonefv! thanks.

[2015-08-11 16:58] myleshorton commented on #2788
I was able to get it working with a new ID -- maybe it's not liking our multiple uses of that ID or something. Trying the new one.

[2015-08-11 17:01] myleshorton commented on #2733
Thanks @carsonefv! I would maybe throw in our logo in there somewhere too. One of the main reasons for this page is to help with debugging so users are able to tell us what they see on that page, and we just want to be extra sure they know it's Lantern.

[2015-08-11 17:15] carsonefv commented on #2733
@xiam @myleshorton ok sounds good, something like this? What is the most helpful format to send this to you?
![lanternwebsite_addressnotfound](https://cloud.githubusercontent.com/assets/4400763/9204389/fed7a06e-402a-11e5-9edb-343bf7eb2224.png)

[2015-08-11 17:17] myleshorton commented on #2733
Awesome thanks @carsonefv! If you could send a psd or ai file that would probably be the easiest.

[2015-08-11 17:21] carsonefv commented on #2733
cool I just sent the ai file via e-mail @myleshorton @xiam

[2015-08-11 17:30] myleshorton commented on #2733
Sweet thanks @carsonefv!

[2015-08-11 19:00] myleshorton opened #2922 "Override the IP address in analytics data"
All requests are currently considered to be in the country of the proxy server. See

https://developers.google.com/analytics/devguides/collection/protocol/v1/devguide?hl=en#using-a-proxy-server

[2015-08-11 20:35] #2914 closed

[2015-08-11 21:31] xiam opened #2924 "Timeout while waiting for the update-server to generate a patch"
This happens the first time a patch from version X to version Y is generated. bsdiff takes a while generating the patch (more than 10s) and the Lantern client gives up waiting.

This does not represent a critical problem: the second client that request the patch will use the one that was generated (but missed) by the first client, and the first client will try again after some hours.

[2015-08-11 21:52] myleshorton opened #2925 "Detect and report user-agent in loggly"

[2015-08-11 23:25] xiam commented on #2799
@myleshorton, @uaalto

I tried to replicate this error without success using 2.0.0-beta and Firefox on Windows, do you have a consistent step-by-step way of reproducing it?

[2015-08-11 23:32] xiam commented on #2799
I'm going to try with the [documented issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1192773) opened by @uaalto

[2015-08-11 23:37] xiam commented on #2799
Nevermind, I've got it now after 15 tabs.

[2015-08-12 06:27] fffw opened #2927 "Use idletiming in chained dialer"
Fronted dialer [uses `enproxy.Dial`](https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/fronted/dialer.go#L169) which [returns `idletiming.Conn`](https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/enproxy/conn_impl.go#L44), but chained dialer [didn't do it](https://github.com/getlantern/lantern/blob/valencia/src/github.com/getlantern/flashlight

[2015-08-12 08:13] uaalto commented on #2252
@myleshorton what do you think about making this an independent library? I think this sort of project can be useful for other people, and this way we might also benefit from more extensive testing and usage by a wider developer base, eventually. Just adding it to https://github.com/avelino/awesome-go would give it some visibility.
We could call it something like __goos-version__, for example.

[2015-08-12 08:14] uaalto commented on #2252
I think the generic way of doing this resiliently would be to load OS-dependent system library that provides that information. That should be available in every major OS, just as the example provided in above's reference.

[2015-08-12 09:19] fffw commented on #2351
I still can't use Hangouts via Lantern. There's no error reported from Chrome Inspector. I didn't have a chance to open chrome://webrtc-internals/ or Wireshark while attending online meeting, but I guess I can test it by create hangouts between my own accounts.

[Hangouts on Air](https://plus.google.com/hangouts/onair?hl=en) works, but it is in fact a broadcast service and uses different technolog

[2015-08-12 09:21] uaalto commented on #2429
We could also respond 200OK sooner, ie if the balancer doesn't successfully dial in a given time, just respond 200OK and just let the balancer take over the connection as soon as is ready. The worst that could happen (all available dialers in the balancer timing out) wouldn't be any different from just losing the connection because we didn't respond 200OK in time. And we would be better off anyway

[2015-08-12 11:55] uaalto commented on #2925
@myleshorton thinking about this problem a bit, I think there are various ways to approach this.
The main problem is that:

* A logged error doesn't need to be associated to a specific request (general errors)
* A user can be using many simultaneous clients, and this is to be expected.

Approaches:

1. We could manually take care of logging the error with the request information, in sensitive plac

[2015-08-12 11:58] uaalto commented on #2252
I will start with this, as we can always redesign the approach without much effort.

[2015-08-12 12:13] fffw commented on #2831
It's resolved by https://github.com/getlantern/lantern/pull/2886

[2015-08-12 12:13] #2831 closed

[2015-08-12 13:19] marswow opened #2928 "求推出完美中文版的lantern"
如题

[2015-08-12 13:20] myleshorton commented on #2252
Yeah that sounds good, and what you describe really matches the GitHub
project I came across that already does this. I can try to dig that up
again if you want.

On Wed, Aug 12, 2015 at 4:58 AM, Ulysses Aalto <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-12 13:33] uaalto commented on #2252
That would be interesting, we might avoid re-inventing the wheel. Do you remember the kind of project it was? Maybe I can try to find it.

[2015-08-12 13:45] fffw commented on #2836
ATS as a forward proxy [is open by default](https://docs.trafficserver.apache.org/en/latest/admin/forward-proxy.en.html#security-considerations). ssl support is [through configuration](https://docs.trafficserver.apache.org/en/latest/admin/security-options.en.html#client-and-traffic-server-connections), randomized certs should be not tough, but for customized authentication using HTTP header, we ne

[2015-08-12 13:58] uaalto commented on #2252
I found this: https://github.com/matishsiao/goInfo
This one is using OS-specific command-line utilities. This has the advantage of not needing to load a library that will remain loaded the rest of the program life (although if it is a dynamic library it is probably already loaded).
The problem comes with mobile. On mobile, non-system libraries must be static (iOS at least, Android I think too). Ru

[2015-08-12 14:15] uaalto commented on #2252
I'm going to try first with system calls, which is the most lightweight option, and evolve from there.

[2015-08-12 15:44] uaalto commented on #2252
WIP [here](https://github.com/getlantern/osversion)

[2015-08-12 16:23] myleshorton commented on #2836
Sounds awesome @fffw! Let's do it.

On Wed, Aug 12, 2015 at 6:45 AM, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-12 18:05] myleshorton commented on #2252
Nice. Yeah I don't see that library offhand now, but things like this
snippet look valuable too:

https://groups.google.com/forum/#!topic/golang-nuts/NzEPGqlHIYQ

On Wed, Aug 12, 2015 at 8:45 AM, Ulysses Aalto <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-12 21:32] myleshorton commented on #2925
Yeah I agree about going with the second, although I might not worry about
the cache expiry -- maybe just having it start fresh with each run of
Lantern is enough?

[2015-08-12 21:39] myleshorton commented on #2429
Yeah I like the idea of just preemptively responding OK. I was going to add
that we could also just time how long the method itself takes before
responding OK and add that to the error log, but that would also break the
Loggly log consolidation without us added some extra logic there.

So I vote for just preemptively responding OK, although I agree there are
cases outside of our control like the u

[2015-08-12 21:40] myleshorton commented on #2927
Yeah great catch @fffw!

[2015-08-12 22:21] uaalto commented on #2925
Should be enough, yes. It's valuable information anyways, and probably an unnecessary premature optimization. Thanks!

[2015-08-12 22:27] uaalto commented on #2429
Perfect! Logging that sounds interesting too. If we just append the time it took to respond OK, we could append that to the error message string as extra information. Do you think that could help?

[2015-08-12 22:57] myleshorton opened #2929 "Not setting acl of versioned installers in S3"

[2015-08-13 02:50] jxmlhdf opened #2931 "Lantern has been interfered by GFW in China"
Lantern has been blocked since this morning in China
Hope the next version will be most faster and more stability

[2015-08-13 03:08] #2928 closed

[2015-08-13 03:23] fffw commented on #2931
@jxmlhdf From real time monitor, Lantern still works in China. What's your finding by saying Lantern has been blocked?

[2015-08-13 03:53] jxmlhdf commented on #2931
This morning Lantern start to randomly selected different regions servers results in extreme slow connection speed, moreover, there are evidences shown that JP server has been interfered results in lantern's IP has switched in between two IP address instantly

[2015-08-13 03:57] myleshorton commented on #2931
@jxmlhdf Lantern will often switch the server you connect to, and I wouldn't associate that with blocking. Are you still able to access blocked web sites.

[2015-08-13 04:31] jxmlhdf commented on #2931
Thanks for all the feedback, the slowly connection speed may caused by the instability of JP sever.
It is recommenced that close this issue

[2015-08-13 07:15] #2922 closed

[2015-08-13 07:21] DavidSuccess opened #2932 "Access to the Chinese site is sometimes not normal"
Sometimes  access to the Chinese site is not normal，for example loading images or visiting weibo are extreme  slow.When I quit lantern the connection's speed is normal.(I am in China)

[2015-08-13 09:55] fffw commented on #2932
Yes occasionally if a non-blocked site is relatively slow, Lantern will try to proxy it to make it worse! We are actively working on it. Thanks for reporting!

[2015-08-13 10:25] jxmlhdf opened #2933 "what's going on JP server?"
Lantern began to connected EU server other than JP server since this morning in China
The connection speed extreme slow.

[2015-08-13 10:27] jxmlhdf commented on #2931
It is obvious that GFW began to interfered Lantern JP server results in Lantern connect EU server instantly . The connection speed now is extreme slowly

[2015-08-13 10:28] jxmlhdf commented on #2933
It is doubt that GFW began to interfered Lantern JP server results in Lantern connect EU server instantly . The connection speed now is extreme slowly

[2015-08-13 10:41] fffw commented on #2933
Let's just keep https://github.com/getlantern/lantern/issues/2931 and close this one.

[2015-08-13 10:41] #2933 closed

[2015-08-13 10:48] fffw commented on #2931
We spotted severe packet loss from certain place to Lantern JP server. It depends on where you are and which ISP you are using. You can ping the server ip assigned to your Lantern instance to make sure the slowness is not caused by network congestion.

[2015-08-13 10:52] fffw opened #2934 "Lantern stops without any reason"
Found from the logs of 2.0.0+stable headless build.

[code]

[2015-08-13 11:20] jxmlhdf commented on #2931
Thank for your feedback, the suspected ISP in China is "China Unicom". The place where has packet loss is southeast of China. Hope team could figured the way to prevent this issue occur

[2015-08-13 11:26] jxmlhdf commented on #2931
![screen shot 2015-08-13 at 19 22 17](https://cloud.githubusercontent.com/assets/12945364/9248759/327b62da-41f1-11e5-9785-2ab4eb14f6e1.png)

[2015-08-13 11:40] jxmlhdf commented on #2931
![screen shot 2015-08-13 at 19 40 29](https://cloud.githubusercontent.com/assets/12945364/9248962/2e13c5c8-41f3-11e5-8fe6-70d787fa2ed4.png)

[2015-08-13 12:58] #2934 closed

[2015-08-13 12:59] #2648 closed

[2015-08-13 13:18] #2929 closed

[2015-08-13 13:26] myleshorton commented on #2429
Yeah I'm just worried about creating too many custom parsing rules for the loggly side. Maybe we just use a convention though? Something like $FIELD:VALUE$ would always just remove that from the log message and would make it a new field sent to loggly?

[2015-08-13 13:27] myleshorton commented on #2924
This is basically just a matter of bumping up the timeout on the client side right? Might as well just bump it to 30 and close it out I would say.

[2015-08-13 15:31] uaalto commented on #2429
I see. Why do we need to send it as a new field? Wouldn't just appending the string to the error message help too? I don't know much about Loggly, but is it because it helps categorizing better if you add this as an extra field?

[2015-08-13 15:32] #2799 closed

[2015-08-13 16:09] xiam opened #2937 "SOCKS support"
In order to be able to redirect traffic from a [tun2socks](https://code.google.com/p/badvpn/wiki/tun2socks) virtual device Lantern needs to support a local SOCKS proxy server.

This does not have to replace our current HTTP proxy, we can just spin a SOCKS server on another port and use our current HTTP proxying capabilities.

See: https://godoc.org/golang.org/x/net/proxy

[2015-08-13 16:17] uaalto commented on #2937
Nice @xiam! I used [this library (shadowsocks)](https://github.com/shadowsocks/shadowsocks-go), stripping out some of its code for doing a SOCKS proxy. I did just a toy program, but that library is solid.

[2015-08-13 16:25] uaalto opened #2938 "Bad response status for read: 500 Internal Server Error"
[code]

[2015-08-13 16:29] uaalto opened #2939 "Bad response status for read: 418 I'm a teapot"
[code]

[2015-08-13 16:58] myleshorton commented on #2939
Thanks @uaalto. These all mean that our server was unable to resolve the domain name in DNS, so it's either Chrome doing its weird probes or the user actually entering a domain that doesn't exist. Looking at the logs for 2.0.0+stable, there doesn't appear to be anything that should actually resolve.

[2015-08-13 16:58] #2939 closed

[2015-08-13 16:58] luckypoem opened #2940 "如何在局域网中共享LANTERN来翻墙？"
这里的局域网是指无线局域网，我想让我的智能手机利用电脑上的LANTERN来翻墙。我搞了一下，未成功。项目作者可否写篇WIKI文章，详细说明一下？
非常感谢！
PS:我在电脑上利用LANTERN来翻墙，没任何问题。

[2015-08-13 17:37] uaalto commented on #2939
Oh, thank you. I actually was reading your and @xiam's related conversation, but I thought it was a temporary test or something. Should we ignore these from now on? Anyway, it would come up all the time in support reports, so keeping it as a closed issue avoids it.

[2015-08-13 17:52] myleshorton commented on #2939
Yeah I think we can just ignore them going forward, but good to have the
documentation here.

On Thu, Aug 13, 2015 at 10:37 AM, Ulysses Aalto <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-13 17:56] myleshorton opened #2941 "Use CloudFlare's geo IP lookup in flashlight servers"
This will avoid using geoIP at all. We can simply return the country in a custom HTTP header (or just re-use CloudFlare's) and can also return the user's IP in a custom header.

[2015-08-13 18:04] myleshorton commented on #2884
Sounds great @fffw! I would just experiment with them and try to narrow
down whatever you think is really the best.

On Tue, Aug 11, 2015 at 1:03 AM, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-13 18:09] myleshorton commented on #2937
Cool guys. I think @atavism is working on changing tun2socks to send to
HTTP CONNECT instead, is that right @atavism? Then again the simplest
solution might just be a SOCKS proxy in go that sends everything over HTTP
CONNECT on the backend.

Very cool there's a go port of shadowsocks. Interesting!

On Thu, Aug 13, 2015 at 9:17 AM, Ulysses Aalto <notifications@github.com>
wrote:

--
--
President
Br

[2015-08-13 18:10] myleshorton commented on #2918
Honestly the seems like very reasonable CPU use. Do other tools use less?

[2015-08-13 18:14] uaalto commented on #2937
Yes, if I recall properly, SOCKS just works as a tunneling setup protocol, and then you can tunnel whatever you want (just relays data).

[2015-08-13 18:24] atavism commented on #2937
I think we should explore multiple solutions. What I'm doing first is forking our own copy of tun2socks so that it's even possible for us to make customizations.

The biggest issue to me is with Android's VPNService, you have to mark sockets "protected" in order to route them outside the VPN at all, meaning any connection Lantern makes, we need some way to track it on the Java-side and protect the

[2015-08-13 18:29] aranhoide commented on #2931
@jxmlhdf just checking: are things any better if you stop lantern and start it again, or do you get exactly the same problems?

[2015-08-13 19:34] myleshorton opened #2943 "Use country and IP headers returned from ordinary flashlight servers"

[2015-08-13 19:43] myleshorton commented on #2905
Interesting thanks @fffw. I wonder if this is users who don't have admin privileges?

[2015-08-13 19:43] myleshorton commented on #2905
If so we could just handle that in the installer.

[2015-08-13 20:05] myleshorton commented on #2695
Hey @uaalto I'm finally just now getting to this. Sorry for the delay again! I'm actually wondering if this is really feasible. As you point out, we only send HTTPS traffic to peers, which means we can't resume in the middle. As a result, this is only useful if the connection drops immediately after initially connecting and before any data is transferred, which is a very limited case.

So I actual

[2015-08-13 20:41] aranhoide commented on #2931
@jxmlhdf another thing: are you using any VPN?  If you visit whatismyip.com what IP do you get reported (please don't say that here; reply to aranhoide@getlantern.org istead)?

[2015-08-13 21:11] uaalto commented on #2695
Thanks @myleshorton !

Some speculation here:

1. We can still implement the case where the connection fails during the request, prior to receiving any bytes, and just restart it. This would bring more resilience I think.

2. Even though we can't resume connections, we can use a Range header field and request a partial file even in HTTPS, with a new connection. Flashlight-client would isolate the

[2015-08-13 21:20] uaalto commented on #2695
This seems interesting: https://tools.ietf.org/html/rfc4507#section-5.2

[2015-08-13 22:36] myleshorton commented on #2695
Yeah I think that makes sense, and it could be particularly useful in the case of large uploads -- like maybe we could redirect the request to the same place or some trick like that if things fail during an upload.

Yeah that's interesting. I think the problem, though, is having a place to plug the Range header in. We don't see any of this raw data, and we don't have access to the HTTP headers, be

[2015-08-13 22:58] myleshorton commented on #2813
On OSX it will be solved by code signing, but not on windows. Our old code that handled this one Windows is at:

https://github.com/getlantern/lantern-java/blob/master/install/win/Lantern.bat

We'll need to integrate something similar for give mode lantern in general actually. Would you mind ticketing that @uaalto?

[2015-08-13 23:46] XhstormR commented on #2940
最好说英文

[2015-08-14 00:04] fffw commented on #2536
Duplicate with https://github.com/getlantern/lantern/issues/2559

[2015-08-14 00:04] #2536 closed

[2015-08-14 00:05] fffw commented on #2559
There are also a few comments on Facebook requesting this feature.

[2015-08-14 00:42] xiam opened #2944 "The auto-update server was upgrading development versions (9999.99.99) to 2.0.0"

[2015-08-14 01:54] fffw commented on #2940
@luckypoem Your method is useful but somewhat limited because it requires
computer to keep running. We are working on Lantern mobile which is a
general circumvention tool on Android (iOS later), please stay tuned.

[2015-08-14 01:59] certainly opened #2946 "file damamaged found in 2.0.0-beta+manoto, update_darwin_amd64.bz2"
https://github.com/getlantern/lantern/releases/download/2.0.0-beta8%2Bmanoto/update_darwin_amd64.bz2

I download this file , unzip it ,chmod+x, open it, then system alerts the file is damaged. Am I alone with this?

[2015-08-14 02:17] fishg commented on #2918
<img width="515" alt="qq20150814-1 2x" src="https://cloud.githubusercontent.com/assets/1423545/9265968/7a7a09ca-426d-11e5-9142-b13c3d9f2b3a.png">
Yes,Shadowsocks client cpu usage is lower even use global proxy model.

[2015-08-14 02:24] fffw commented on #2946
The link you posted is an update diff, not an installer. Please try following link instead to download Mac installer.

https://s3.amazonaws.com/lantern/lantern-installer.dmg
or
https://raw.githubusercontent.com/getlantern/lantern-binaries/master/lantern-installer.dmg

It does make user confusing, as developers are accustomed to download from release page. I think we can:
1. Add download link at th

[2015-08-14 02:35] certainly commented on #2946
thx for your reply. now i see . As I don't have a vpn, I can't compile the source code.
Anyway, I can wait for the next executable version release. pls close this issue

[2015-08-14 03:27] fffw opened #2947 "Use versioned title for Lantern dmg"
Confusion will happen if we opened multiple dmgs.

1. Open a Lantern dmg, say beta8, it will add a volume named "Lantern" and show the install window.
2. Open a dmg with different version, it will add a volume with the same name, and the background image is from the previous dmg! I guess the Lantern.app it contains is also from previous dmg.

Use versioned title will resolve this.

[2015-08-14 03:40] fffw commented on #2939
With the pac file template updates days before, traffic to host like
`nfjbcdqbwdm:80`
will never be sent to Lantern. Hopefully it will reduce this type of error.

[2015-08-14 03:46] fffw commented on #2875
It can be fixed by not dialing detour if the host resolves to private IP addresses. Hold it until https://github.com/getlantern/lantern/issues/2470 gets resolved.

[2015-08-14 05:38] fffw commented on #2905
Unfortunately it's not, as lots of Loggly messages have user name "Administrator". The most possible reason is AV software I think.

By searching "fork/exec" in go source code, the error is triggered [here](https://github.com/golang/go/blob/release-branch.go1.4/src/os/exec_posix.go#L47), but it's not useful at all.

[2015-08-14 07:39] uaalto commented on #2695
Yes, I didn't realize that the Flashlight client can't see the contents. We are tunneling raw data from origin to target when we use CONNECT. So we have to sit at the origin (ie browser) to do this. I completely agree is something for the future. Super exciting stuff though!

I think the way to do this would be that the flashlight peer does the https connection on behalf of the user, contrary to u

[2015-08-14 07:40] uaalto commented on #2695
Second paragraph: _I think the way to do this would be_ --> _Another way to do this_

[2015-08-14 07:45] uaalto opened #2949 "Set up Firewall rules in Windows for incoming connections"
This will be necessary for give mode.

https://github.com/getlantern/lantern-java/blob/master/install/win/Lantern.bat

[2015-08-14 07:45] uaalto commented on #2813
Done. I'll be adding more information there if necessary. I keep track of that issue as part of the P2P work.

[2015-08-14 09:11] DavidSuccess opened #2950 "Today, the connection is bad for a long time."
Today, many times unable to visit the site that are blocked.（such as  google）
Lantern‘s server has been interfered by GFW more violent？
Location: China
System: Windows 10 professional.

[2015-08-14 09:18] jxmlhdf commented on #2950
Refer this issue to #2931

[2015-08-14 09:25] DavidSuccess commented on #2950
ISP ：Chinaunicom
type of the Network：LAN

[2015-08-14 12:56] luckypoem commented on #2940
@fffw,actually I didn't succeed at all in this way.to keep the pc running is no problem for me,bcoz my mobile phone is in wireless lan.so can u write a wiki page explaining how to use lantern on pc for mobile phone to cross the gfw?

[2015-08-14 16:00] myleshorton commented on #2939
Great @fffw!

On Thu, Aug 13, 2015 at 8:40 PM, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-14 16:00] myleshorton commented on #2813
Awesome!

On Fri, Aug 14, 2015 at 12:45 AM, Ulysses Aalto <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-14 16:05] myleshorton commented on #2905
Hmn..thanks @fffw. Can you play around with installing a few AV tools to see if you can reproduce it?

[2015-08-14 16:09] #2947 closed

[2015-08-14 16:15] myleshorton commented on #2918
OK thanks @fishg. If we get more users mentioning this as a problem we'll look at optimizing it, but 4% CPU to me seems pretty reasonable honestly, and right now you're the only one who has mentioned it. I don't mean to dismiss it but more just mean to explain our process -- we have other issues that are higher priority (particularly getting Lantern running on Android, which thousands of users are

[2015-08-14 16:19] myleshorton commented on #2946
Thanks @certainly!

[2015-08-14 16:19] #2946 closed

[2015-08-14 16:20] myleshorton commented on #2559
We could easily just add a setting for this @fffw. That what you're thinking? The setting itself could also mention that Lantern is running at 127.0.0.1:8787 if people want to configure things like ProxySwitchySharp to use it.

[2015-08-14 16:33] myleshorton commented on #2788
This was working for a second and then stopped. From https://groups.google.com/forum/#!topic/google-analytics-measurement-protocol/LN8WfJAPla8 it looks like we might have to generate custom client IDs for each client. Looking at this now.

[2015-08-14 16:46] myleshorton commented on #2788
Using this it looks like fixing this could be as simple as:

1. Auto-generating a new client ID (cid) for each lantern install
1. Using "dp" instead of "dh" arguments.

https://ga-dev-tools.appspot.com/hit-builder/

[2015-08-14 17:33] myleshorton commented on #2788
Although the above is different depending on where we're creating the hit from -- dp is required for pageviews but not events apparently.

[2015-08-15 02:55] fishg commented on #2918
@myleshorton Fine.Maybe I use MacBook and Windows Pad,care battery time more.

[2015-08-15 04:14] myleshorton commented on #2918
Honestly 4% CPU use should have relatively little effect on your battery.
Your screen will be much more.

On Fri, Aug 14, 2015 at 7:55 PM, fishg <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-15 04:24] #2944 closed

[2015-08-15 04:25] #2941 closed

[2015-08-15 07:44] jxmlhdf opened #2953 "Bring the new encryption algorithm "ChaCha20" into Lantern"
Performance
"The new cipher suites are fast. ChaCha20-Poly1305 is three times faster than AES-128-GCM on mobile devices." refer this issue to https://blog.cloudflare.com/do-the-chacha-better-mobile-performance-with-cryptography/

[2015-08-16 08:11] chaiyanlin opened #2954 "Using lantern via mobile device?"
Does anybody know how can we using lantern on mobile device like ios or andriod?
Thanks.

[2015-08-16 20:10] myleshorton commented on #2954
It's not currently supported, but we should have it for Android soon and iOS fairly soon after that. Android should definitely be available sometime this year.

[2015-08-17 06:22] hlcfan opened #2955 "The beta version seems prevent Slack from connecting."
Version: 2.0.0+stable (20150807.013721)

[2015-08-17 14:38] fffw commented on #2884
I started with Heroku monitoring as we have a few key services on it, but didn't have performance graphs yet.

I deployed a [lumbermill](https://github.com/heroku/lumbermill) instance on Heroku, it works smoothly to process logs sent from other Heroku apps. Unfortunately it only supports InfluxDB v0.8, I'm playing around it to support v0.9.

[2015-08-17 18:32] #2429 closed

[2015-08-17 18:32] #2788 closed

[2015-08-17 18:39] myleshorton commented on #2943
Hey @aranhoide you didn't happen to deploy the server side of this yet did you?

[2015-08-17 18:40] #2797 closed

[2015-08-17 18:44] myleshorton commented on #2868
All set!

[2015-08-17 18:44] #2868 closed

[2015-08-17 18:44] myleshorton commented on #2784
Closing again -- seems to be working well for the vast majority of users.

[2015-08-17 19:29] myleshorton opened #2960 "Better logging for proxy errors"
Our error logs currently don't report the IP address of failing servers.

[2015-08-17 19:38] myleshorton opened #2962 "Remove workaround for #2857"
packaged.go contains a legacy workaround for #2857 that was only really necessary for 2.0.0+manoto

[2015-08-17 19:44] #2962 closed

[2015-08-17 20:17] myleshorton commented on #2784
I meant to say I agree on all those @uaalto, although I don't think it's quite at the top of the list at this point.

[2015-08-17 20:17] #2784 closed

[2015-08-17 20:40] myleshorton commented on #2955
THanks @hlcfan. Is this the desktop version of slack or the web page? If the desktop version, how did you configure it? If it's the web page, can you describe more about what happens exactly? What operating system and browser are you using?

[2015-08-17 21:11] aranhoide commented on #2943
Yes I did.  You asked this in a different ticket (maybe in the PR itself?)

[2015-08-17 21:15] myleshorton commented on #2943
Oh awesome! Sorry for the duplicate questions. Thanks.

[2015-08-18 00:56] hlcfan commented on #2955
It's the Slack desktop version, I didn't config anything, the new version lantern has no configuration, like proxy list.

OS: OSX 10.10.5

First, you have Slack installed, then you install a lantern, put your laptop into sleep, then wake it up, you'll find your Slack got disconnected and cannot get connected again.

[2015-08-18 01:58] fffw opened #2966 "Lantern panics"
It occurred in a custom build `9915e15 (20150814.013327)` but might also happen in release versions. First panic caught by Lantern but second one caused the program to quit.

[code]

[2015-08-18 03:25] fffw commented on #2955
So @hicfan the problem you are facing is that Slack can't reconnect via
Lantern when your laptop wake up? Does it work if you quit Slack and open
again? Does Slack web page work in the meantime?

[2015-08-18 03:50] hlcfan commented on #2955
@fffw It doesn't work if I quit and re-open. The the web version works perfect.

[2015-08-18 04:46] myleshorton opened #2967 "Allow users to configure Lantern to run as local network proxy"
Would be a minor variation on the existing Pi settings.

[2015-08-18 07:46] uaalto commented on #2784
No problemo!! If we come back to it we'll give it a second pass. You know I'm keen on diagnosis tools =)

[2015-08-18 08:59] uaalto opened #2968 "Test fail: An error is expected but got nil. There should have been a problem dialing"
This is somewhat expected from changes to fix https://github.com/getlantern/lantern/issues/2858. The tests need to take into account that sometimes connections will succeed. The current approach of a random timeout will continually need tuning otherwise.

[2015-08-18 11:14] yoyogis opened #2970 "lantern-installer-beta.exe was deleted by Symantec Endpoint Protection"
Some description show in Symantec dialog：
Signature：WS.Reputation.1

Malicious: There is strong evidence that this file is untrustworthy.

This file has been seen by fewer than 50 Symantec users.

Symantec has known about this file approximately 2 weeks.

[2015-08-18 12:01] tvvocold opened #2971 "s3.amazonaws.com is blocked"
In China.

[2015-08-18 13:48] jxmlhdf opened #2972 "Bring the auto-updater to Lantern"
It is recommended that term should bring auto-updater to Lantern.

[2015-08-18 17:00] myleshorton opened #2973 "Include country data for all servers"
This applies to P2P too, but we're basically doing a bunch of duplicate geo lookups for peers other than our own even though Lantern has already looked up all those IPs somewhere along the line.

If we did this, we could completely eliminate our separate geolookup server, instead relying entirely on flashlight over CloudFlare.

[2015-08-18 17:07] myleshorton commented on #2973
We could easily add this into the ChainedServerInfos generated on the client side and embedded in fallbacks.go, but I'm a little unclear on what the process for that is on the config server side now. What is that process @aranhoide and @uaalto? I'll do some digging on it too, as it seems like a minor change.

[2015-08-18 17:24] #2925 closed

[2015-08-18 18:09] uaalto commented on #2967
Notes:

Most people just want to do this at home through their, PCs or something so may not be running in headless mode.

[2015-08-18 18:20] myleshorton opened #2974 "Always run 'go clean' prior to any production builds"
Saw some surprising logs in 2.0.1 -- this would be a good practice in general.

[2015-08-18 18:51] uaalto commented on #2973
I think is currently done entirely over CloudFlare's `CF-IPCountry` header, from what I recall.

[2015-08-18 18:51] uaalto commented on #2973
Can I post here the line of code? It's a private repo.

[2015-08-18 18:55] #2252 closed

[2015-08-18 18:57] #2968 closed

[2015-08-18 18:58] #2974 closed

[2015-08-18 19:02] myleshorton commented on #2973
Right @uaalto I'm asking about the process for *generating* the config files with the server data -- i.e. I want to add the country of the servers not get the country of the requester.

[2015-08-18 19:40] #2960 closed

[2015-08-18 19:58] myleshorton opened #2976 "Data race with httpclient"
We create a single direct domain fronting http.Client in flashlight.go and pass it to various Configure methods that use it. Some of those methods modify it, however, leading to a data race and unpredictable behavior:

[code]

[2015-08-18 20:01] myleshorton opened #2977 "Data race in client/handler.go between responding with OK and bad gateway"
In practice we'll pretty much always respond with OK first.

[code]

[2015-08-18 21:51] uaalto commented on #2973
Oh, sorry I misunderstood. I'm not sure about what is being done at the moment.

[2015-08-18 21:56] #2977 closed

[2015-08-18 22:13] #2976 closed

[2015-08-18 23:47] myleshorton opened #2980 "Several race conditions in peer.go"

[2015-08-19 00:16] myleshorton opened #2981 "Data race in HTTP handler.go"
There's still an existing race condition, although I don't fully understand it:

[code]

[2015-08-19 05:09] myleshorton opened #2982 "Data race in enproxy"
[code]

[2015-08-19 12:57] yuan78 opened #2984 "How to modify UI backgroud to worldmap if I build lantern binary by myself"
How to modify UI backgroud to worldmap if I build lantern binary by myself?
Pls advise how I modify the source code to achieve it? I just want to get a customized binary version.
BTW: I am already  be able to build the normal lantern binary very skillfully.
Thanks!

[2015-08-19 13:42] fffw commented on #2884
Performance dashboard for Heroku applications was online and works fine. Tested running collectd on 2 DO servers and successfully have data stored in InfluxDB. InfluxDB has not implemented real "ORDER BY" yet. Without the top N query functionality, just showing graphs of hundreds of servers is useless. Next step would be to deploy it to key servers together with Alan.

[2015-08-19 14:54] #2981 closed

[2015-08-19 15:03] jxmlhdf commented on #2984
This is also the question that I have been chasing and asking for, I did not see any drawback to use this geographic map, indeed it is extreme easier looking and contain many details such as speed , IP and so forth. I extremely confused that why would developer removed this map out instead to put some stupid website list over the start page! it is ridiculous. Bring this good feature back !!!!!!!!!

[2015-08-19 16:32] fffw opened #2985 "Report failures connecting each chained server"
As another step of https://github.com/getlantern/lantern/issues/2884, we can anonymously send failures to InfluxDB, so we can have a sense on which server is performing bad. Sometimes, server looks good but just doesn't serve traffics well.

[2015-08-19 17:03] myleshorton commented on #2985
Thanks @fffw marking as P1!

[2015-08-19 19:57] myleshorton opened #2988 "Remove support for RESTful config server"
We currently provide optional support for a RESTful config server that allows Lantern to be configured by HTTP calls. This seems overly complex and in practice is never used.

[2015-08-19 20:11] myleshorton commented on #2982
This one is really mysterious, as it's unclear how ```runClientProxy``` in flashlight.go could ever be called twice. Could this be a panicwrap issue @uaalto?

[2015-08-19 20:13] #2943 closed

[2015-08-19 20:28] #2733 closed

[2015-08-19 20:36] myleshorton opened #2991 "osversion_linux not working on ARM"
Getting this error running make packages -- will just not build on ARM for now to get 2.0.1 out the door!

[code]

[2015-08-19 20:55] myleshorton commented on #2972
Lantern already includes auto-updates! They're chrome-style binary diff updates that will happen automatically @jxmlhdf

[2015-08-19 20:55] #2972 closed

[2015-08-19 20:56] myleshorton commented on #2971
Hmmmn...so it's inaccessible for you. Where did you see those links? Our GitHub links should still work @tvvocold. Do you have access to those?

[2015-08-19 20:56] myleshorton commented on #2954
You can follow this work at https://github.com/getlantern/lantern-mobile

[2015-08-19 20:56] #2954 closed

[2015-08-19 20:58] myleshorton commented on #2931
From our reports it sounds like this was a temporary network disruption, but feel free to open it again @jxmlhdf

[2015-08-19 20:58] #2931 closed

[2015-08-19 20:59] myleshorton commented on #2891
This one's all set @uaalto right?

[2015-08-19 22:37] uaalto commented on #2891
Yes, on the Lantern side (the API). We didn't make any real changes on Firetweet, but adapted it to this new API.

[2015-08-19 22:37] #2891 closed

[2015-08-19 22:41] uaalto commented on #2991
OK. I don't have a Pi at the moment to test it. It seems like a Go API mismatch within different architectures, though.
If we are going to move to Go1.5 ,it could be gone with that.

[2015-08-19 22:43] uaalto commented on #2982
It's unlikely in my opinion. How can it be reproduced? We can just test it without panicwrap, it's easy to deactivate.

[2015-08-20 01:10] tvvocold commented on #2971
In your home page: https://s3.amazonaws.com/lantern/lantern-installer-beta.exe
In Github releases page: https://github.com/getlantern/lantern/releases the download link redirect to s3 too.

[2015-08-20 02:50] jxmlhdf opened #2992 "Improve the abilities to watch 1080P video from youtube"

[2015-08-20 02:51] jxmlhdf opened #2993 "Improve the abilities to watch 1080P video from youtube"

[2015-08-20 02:51] #2992 closed

[2015-08-20 04:08] Hanhyo opened #2994 "By default, do not run Lantern automatically on system start and do not report anonymous usage statistics"
![screen shot 2015-08-20 at 12 04 03](https://cloud.githubusercontent.com/assets/12945364/9375513/245c88a8-4734-11e5-8d17-417ef8756854.png)

[2015-08-20 04:10] jxmlhdf opened #2995 "Bring back the geographic map and speed figures"
It is extremely confused that why would developer removed geographic map out of lantern.
refer to #2984

[2015-08-20 04:14] jxmlhdf commented on #2995
![screen shot 2015-08-20 at 12 13 46](https://cloud.githubusercontent.com/assets/12945364/9375574/f3e449c6-4734-11e5-87f5-6a9df665369c.png)
![Uploading Screen Shot 2015-08-20 at 12.13.32.png…]()

[2015-08-20 04:16] jxmlhdf commented on #2995
![screen shot 2015-08-20 at 12 13 46](https://cloud.githubusercontent.com/assets/12945364/9375602/49dfc40e-4735-11e5-882c-4f645cf54d6e.png)
![Uploading Screen Shot 2015-08-20 at 12.13.32.png…]()

[2015-08-20 04:16] jxmlhdf commented on #2995
![screen shot 2015-08-20 at 12 13 46](https://cloud.githubusercontent.com/assets/12945364/9375606/536b2d60-4735-11e5-9b45-64e4ba06daf1.png)
![screen shot 2015-08-20 at 12 13 32](https://cloud.githubusercontent.com/assets/12945364/9375607/536e9db0-4735-11e5-8b44-2ad81d1578d3.png)

[2015-08-20 05:06] jxmlhdf opened #2996 "Bring Google CDN server as default effective way speed up lantern"

[2015-08-20 05:48] simodorg opened #2997 "How to add a domain which needs proxy go through?"
In Lantern 2.0, I can't find a setting page to add a domain as usual in the past version.

[2015-08-20 06:43] fffw opened #2998 "Lantern aborted on OSX"
Must be caused by `nativeLoop` not running in main thread. Run it again and everything is ok.

[code]

Full log
[code]

[2015-08-20 13:16] myleshorton commented on #2998
Is that the system tray?
On Aug 19, 2015 11:43 PM, "fffw" <notifications@github.com> wrote:

[2015-08-20 13:17] myleshorton commented on #2996
Google's CDN made much more sense when their plans were cheaper. Now
there's no reason to use them over any other CDN.
On Aug 19, 2015 10:06 PM, "jxmlhdf" <notifications@github.com> wrote:

[2015-08-20 13:43] fffw commented on #2998
Yes. It's triggered in `nativeLoop()` of `systray` package. Calling `runtime.LockOSThread()` in `systray.Run()` might be a bit late in rare cases. Adding a call to it at the very beginning of "main()" might prevent this error.

[2015-08-20 14:41] myleshorton commented on #2998
Worth a try!
On Aug 20, 2015 6:43 AM, "fffw" <notifications@github.com> wrote:

[2015-08-20 15:41] chaiyanlin commented on #2954
This is awesome! Can't wait!

[2015-08-20 16:37] #2980 closed

[2015-08-20 16:47] #2988 closed

[2015-08-20 17:10] sheena3 opened #2999 "Lantern is proxying all sites though "Proxy All traffic" option is disabled"
Proxy all traffic option is disabled by default. I checked in geoiptool.com and speedtest.net, proxy address is being displayed.

Have we added these sites to the default proxy list by any chance? If so, I will close this issue.

[2015-08-20 17:46] myleshorton commented on #2999
We haven't added them no.
On Aug 20, 2015 10:10 AM, "sheena3" <notifications@github.com> wrote:

[2015-08-20 22:29] fffw opened #3000 "Chrome blocked the download of the new installer"

[2015-08-20 22:29] fffw commented on #3000
It says "lantern-installer-qa (10).exe is malicious, and Chrome has blocked it." Might related to pac.exe

[2015-08-20 22:30] myleshorton commented on #3000
Asked more about this in forums at:

https://productforums.google.com/forum/#!topic/webmasters/lznNWFvQ0EQ;context-place=forum/webmasters

[2015-08-21 05:01] myleshorton opened #3001 "Settings icon doesn't work in IE11"
At least that's what user reports seem to indicate. @sheena3 can you confirm?

[2015-08-21 05:02] myleshorton commented on #2997
Lantern 2.0 auto-detects blocking, so it no longer has a page for adding or removing domains. Please let us know if it doesn't work for you!

[2015-08-21 05:02] #2997 closed

[2015-08-21 05:04] myleshorton commented on #2984
Thanks for your feedback @yuan78 and @jxmlhdf! We may add back the option to show the map, or we may show it in the background.

[2015-08-21 05:49] daerdai commented on #2940
我在局域网共享成功了，先运行lantern，用win+r运行%AppData%Lantern来找到.yaml的配置文件，用记事本打开，查找127.0.0.1（一共两处）修改第一处的为0.0.0.0。保存后，退出lantern。然后再重新运行lantern。现在局域网共享成功了。手机，平板或其他pc都可以通过配置来上网了！
具体配置方法：就是将手机连接同一局域网中的Wi-Fi，将代理设置改为手动，服务器地址改为你运行lantern的电脑的IP地址，端口为8787。done！！！，

enjoy！！！

[2015-08-21 06:06] czmecho commented on #2940
@daerdai 非常感谢~

[2015-08-21 06:09] daerdai commented on #2940
@czmecho 不客气，好东西大家一起分享！有问题希望大家一起探讨解决

[2015-08-21 10:27] 19000 opened #3002 "Spelling error in README"
Misspelling of "environment" in:

https://github.com/getlantern/lantern/blob/8834aa8c87984bdd17539e447f2787b3f455aaed/README.md#packaging

[2015-08-21 13:18] thelastfantasy opened #3003 "How can I set it to run after system start but not set as the default proxy."
Just want to use it when I want.

[2015-08-21 13:55] simodorg commented on #2997
@myleshorton But in China, some foreign websites are very slow without proxy although it's not blocked.

[2015-08-21 14:09] myleshorton commented on #2997
Oh that's interesting @simodorg. So they're not blocked but the GFW just slows them down, is that right? So going through a proxy makes them faster? Is that your understanding too @fffw?

[2015-08-21 14:11] simodorg commented on #2997
@myleshorton Yes, the GFW slow these websites on purpose.

[2015-08-21 14:12] myleshorton commented on #2997
Interesting. Do you have any examples of sites that seems to be true for? We can test them.

[2015-08-21 14:17] simodorg commented on #2997
@myleshorton The network in China is very complex, different provinces different ISP will get different results. For example, AWS and GitHub is quite slow with China Telecom.

[2015-08-21 14:22] myleshorton commented on #2997
Thanks @simodorg. Are GitHub and AWS faster when going through a proxy?

[2015-08-21 14:22] simodorg commented on #2997
@myleshorton Yes of course.

[2015-08-21 15:32] sheena3 commented on #3001
It works fine for me @myleshorton . I am able to click on the settings icon and able to change the options too.

[2015-08-21 15:33] sheena3 commented on #3001
Is this in Linux or windows?

[2015-08-21 18:28] sheena3 commented on #2776
I am working on IE 11. It is still showing "This page can't be displayed" when restarting the system while Lantern is running. It takes a while for IE to work normal.

[2015-08-21 18:33] sheena3 commented on #2776
This is working fine when I Logout with Lantern running and then login.

[2015-08-21 18:34] sheena3 commented on #2776
Should I close this and re-open 2719?

[2015-08-21 20:07] myleshorton commented on #3000
Turns out those previous changes didn't quite do the trick...

[2015-08-21 20:08] #3000 closed

[2015-08-21 20:54] myleshorton opened #3007 "Manoto build process should not rebuild binaries themselves and should upload signed binaries instead of unsigned"
The current Manoto build process also rebuilds the binaries themselves. This is problematic because those binaries are slightly different and don't have the same exact data. Instead, the Manoto build should purely take existing binaries and should repackage them.

[2015-08-22 00:14] renkun-ken opened #3008 "Need a customizable domain name list to force proxy"
Some domains are blocked here, e.g. travis-ci-org.global.ssl.fastly.net and I cannot visit travis-ci.org completely. This has been confirmed by http://www.fastly-debug.com/ but I don't find a way to force lantern to visit this domain name via proxy?

[2015-08-22 00:28] renkun-ken commented on #3008
I add `fastly.net` to `lantern-2.0.0+stable.yaml` and it solves the problem. travis-ci.org is back again :)

[2015-08-22 00:28] #3008 closed

[2015-08-22 01:29] xiam opened #3009 "ConnectEx tcp: The semaphore timeout period has expired."
Happens on Windows XP clients:

[code]

[2015-08-22 01:34] xiam opened #3010 "net/http: TLS handshake timeout"
Happens more often on Windows XP and Windows 7 clients.

[code]

[2015-08-22 03:11] DavidSuccess opened #3011 "This morning to now has been unable to connect."
ISP ：Chinaunicom
type of the Network：LAN

[2015-08-22 04:44] andruskewicz opened #3012 "The SCMP newspaper has 'comments'' that infer this is a "Five Eyes"/NSA program. RSVP"

[2015-08-22 05:06] #3011 closed

[2015-08-22 06:33] sammdu opened #3013 "Lantern not reliably getting set as system proxy on Linux"
I'm using Kubuntu15.04, I downloaded and installed successfully, and after I launch it, it opens a browser tab, and it seems OK till now, but it just doesn't work! I still can't access Google, but I'm fine by using shadowsocks!
I use Google chrome as my browser.
Please tell me what the hell is going on. Thanks!

[2015-08-22 07:19] LyCrystals commented on #3013
it doesn't work on ubuntu 15.04.

[2015-08-22 07:21] MuSamDu commented on #3013
Well, I'v also find this issue on previous versions of Ubuntu and lantern...

[2015-08-22 07:22] MuSamDu commented on #3013
That's why I'm using shadowsocks...

[2015-08-22 10:48] losywee commented on #3013
用不了

[2015-08-22 13:11] xxxifan commented on #3013
and in windows 10 for me.

[2015-08-22 13:16] 675816156 commented on #3013
i am using in ubuntu 14.04 and windows 7,and it works well！

[2015-08-22 13:22] MuSamDu commented on #3013
did you do some settings? Please tell me what did you do after installation, thanks!

[2015-08-22 14:25] losywee commented on #3013
我是按照github的教程安装的, 下载deb包安装在ubuntu 15.04环境下,然后蓝灯运行后会打开浏览器, 但是并不能打开被封杀的网站, 设置代理所有的网络流量还是不行.
部分日志如下:
Aug 21 06:19:13.384 - 0m0s DEBUG i18n: translate.go:102 Setting locale zh_CN
Aug 21 06:19:13.394 - 0m0s DEBUG flashlight: flashlight.go:180 ---- flashlight version: 2.0.0+stable, release: 2.0.0+stable, build revision date: 20150807.013721 ----
Aug 21 06:19:13.394 - 0m0s DEBUG flashlight.config: config

[2015-08-22 14:33] losywee commented on #3013
I have a question about Lantern, It is the Lantern how to automatic proxy in browser and i do not. Thanks.

[2015-08-22 18:30] huyinghuan commented on #3013
@MuSamDu  @losywee  @losywee @LyCrystals @losywee please set browser proxy to system proxy
On FireFox
![image](https://cloud.githubusercontent.com/assets/3005433/9425281/8e55ddf8-493d-11e5-93f3-38cf15501732.png)

on Chrome  go to chrome app store or github  get the ' omega proxy '  extensions. and choose system proxy in plugin.

I hope you  keep a low profile  and don't let this project be walled.

[2015-08-22 20:31] myleshorton commented on #3009
Interesting thanks @xiam. How do you now it's XP?

[2015-08-22 21:04] myleshorton commented on #3001
I don't think IE11 runs on Linux does it?

[2015-08-22 22:45] krrishd opened #3014 "When attempting to delete Lantern application file, it says it's open even though it doesn't show up in Force Quit or on the Dock"
I'm on OSX Yosemite 10.10.

[2015-08-22 23:13] MuSamDu commented on #3013
it still doesn't work!

[2015-08-22 23:16] MuSamDu commented on #3013
and I will do my best "keep a low profile", but do you mean also on GitHub?

[2015-08-22 23:49] percyalpha commented on #2971
@myleshorton You should use something similar to https://github.com/greatfire/z/raw/master/FreeBrowser.apk rather than using https://github.com/getlantern/lantern/releases/download/untagged-a5e2f4f7d29eda286635/newest.exe
this will be redirected to amazon s3

[2015-08-23 00:55] hellokitty111 opened #3015 "Will lantern ru on Chromebook?"
Now lantern can run on Linux, Mac, Windows. Will it support Chrome OS? Thanks.

[2015-08-23 01:03] hellokitty111 commented on #3013
It worked for me,my OS is ubuntu 15.04. I think you should turn system proxy on. Or you can also see if lantern is running Or not,
`#netstat -tunpl | grep -i lantern`

[2015-08-23 01:52] losywee commented on #3013
It works in my Ubuntu 15.04, maybe I modify the hosts file, while I delete, Lantern works normally. Thanks for the Lantern project.

[2015-08-23 03:43] huyinghuan commented on #3013
@losywee  choose ppa
![image](https://cloud.githubusercontent.com/assets/3005433/9426832/37f27f08-498c-11e5-8372-74e9704bb986.png)

[2015-08-23 04:49] myleshorton commented on #2971
Thanks @percyalpha and @tvvocold. We're already doing effectively that. All the Lantern releases are available at

https://github.com/getlantern/lantern-binaries

Although maybe we could make that more obvious.

[2015-08-23 04:50] myleshorton commented on #3014
It's in the menu bar. You just have to click it and exit @krrishd

[2015-08-23 04:50] #3014 closed

[2015-08-23 04:51] myleshorton commented on #3015
We don't have any current plans to support Chrome OS @hellokitty111, but if enough people want it we'll do it.

[2015-08-23 04:51] #3015 closed

[2015-08-23 04:53] tvvocold commented on #2971
Nice job!

[2015-08-23 04:53] #2971 closed

[2015-08-23 05:00] myleshorton commented on #2971
I just updated the README with that link as well. Thanks guys.

[2015-08-23 05:57] losywee commented on #3013
@huyinghuan  不是软件源, 而是ubuntu官方的私有仓库, 私有仓库没有同步到各种镜像源

[2015-08-23 06:00] Squ34k3rZ opened #3016 "Which sites are blocked"
Awesome work! Could you please give some examples of sites I could view on lantern that are "blocked" in the US, if any?

[2015-08-23 06:11] DavidSuccess commented on #2993
Report：
Previously used Japanese server watch video from youtube . Speed: 1M/s or higher
Now use Netherlands server watch video from youtube. Speed:100~200kb/s

[2015-08-23 07:51] DavidSuccess commented on #3016
Internet is free in the US

[2015-08-23 07:53] Norra123 commented on #3016
God bless America, I am a Chinese, and I have been blocked for long time! Thank you guys for giving me Lantern!!!!!

[2015-08-23 13:59] cybort commented on #3016
You can travel to China and have a taste.

[2015-08-23 15:04] zzz6519003 opened #3017 "[feature suggest] a chrome extension"
:beers:

[2015-08-23 18:38] xiam commented on #3009
I just selected all the logs and grouped by OS. At the time only Windows XP hosts appeared in the group.

[2015-08-23 18:42] myleshorton commented on #3009
Nice thanks!
On Aug 23, 2015 11:38 AM, "José Carlos" <notifications@github.com> wrote:

[2015-08-24 01:15] ledkk opened #3018 "when install lantern on windows 10 , the antivirus report virus"

[2015-08-24 03:16] cybort commented on #3018
You can choose to allow it run.

[2015-08-24 04:19] suuiii commented on #2993
Me too.Very very slow to open google,and now the connection is very unstable,but the occasional fast,just sometime.The Japanese server was quickly and stable.

[2015-08-24 08:02] uaalto opened #3019 "Two distinct fields "osversion" and "osVersion" are being logged"
Realized after looking at loggly's logs. Will fix shortly.

[2015-08-24 08:14] #3019 closed

[2015-08-24 11:23] luckypoem commented on #2940
hi.
我用win+r运行%AppData%Lantern出错，应为%AppData%\Lantern,不过打开了这个目录，我的为
C:\Users\Administrator\AppData\Roaming\Lantern\,未找到扩展名为.yaml的配置文件，怎么回事？
它是隐藏的文件？
谢谢。

[2015-08-24 12:26] jxmlhdf opened #3021 "In which version team will bring back the "Give access" "P2P" mode"

[2015-08-24 12:55] celeron533 commented on #3018
Sometimes, 'man-in-the-middle' could replace the binary file when downloading. You should check the MD5 first.

[2015-08-24 14:27] yasteora commented on #2940
@daerdai 这是吧这台PC当作http 代理服务器来使用吧，我看到有lantern deb包 我想如果用Raspberry运行lantern  并且按照你的办法将其作为代理服务器使用或许也可以，而且不会改变原有网络结构。不过树莓派本身没有网口，不知道能不能移植到openwrt上面跑呢

[2015-08-24 14:33] segmentationfaulter commented on #3013
It does not work with me on Ubuntu 14.04

[2015-08-24 17:08] OkanEsen opened #3022 "Provide icons for HiDPI display"
Not that important but it would be awesome if you could provide HiDPI icons, especially for Mac OS X.

[2015-08-24 17:15] sheena3 opened #3023 "Fb manoto page is also opening when running Lantern"
Is that how it is supposed to work now?

Edit: I checked this in Mac and Linux.

[2015-08-24 19:56] myleshorton commented on #3023
Basically if you have previously installed the manoto version, it will open the manoto page even if you later install the non-manoto version. To prevent this, you have to delete the .packaged-lantern.yaml file at:

~/Library/Application Support/Lantern
c:/Users/YOUR_USER_NAME/AppData/Roaming/Lantern
~/.lantern

[2015-08-24 19:56] #3023 closed

[2015-08-24 19:59] myleshorton commented on #2999
I'm not able to reproduce this. You might have to hard-refresh on some of those pages to get the browser to truly reload the site. What browser and operating system? Working fine for me on OSX Chrome.

[2015-08-24 20:27] myleshorton commented on #2776
I can't reproduce this one either @sheena3. I'm running Windows 8.1 and IE 11. How about you?

[2015-08-24 21:33] myleshorton opened #3024 "Add option to not set Lantern as the system proxy automatically"

[2015-08-24 21:40] myleshorton commented on #3017
What do you want the extension to do specifically @zzz6519003?

[2015-08-25 00:29] myleshorton opened #3025 "Use new Manoto links always"
Currently Lantern will use whatever Manoto links are configured in the package, but it won't override old links with new ones that track Lantern traffic. It should.

[2015-08-25 00:30] maxadjsky opened #3026 "Make sure one can build Lantern successfully in a censored environment by using Lantern to circumvent blockages"
when building lantern for linux,there is an error as follows:

curl: (7) Failed to connect to storage.googleapis.com port 443: Connection timed out
gzip: stdin: unexpected end of file
tar: Child returned status 1
tar: Error is not recoverable: exiting now

my os is openSUSE 13.1,and I have a shadowsocks proxy,but I don't know how to set for building

[2015-08-25 02:39] xxxifan commented on #3013
我是长城宽带   win10   ubuntu15.04  archlinux都不行  应该是跟网络有关吧。。

[2015-08-25 02:49] huyinghuan commented on #3013
@xxxifan Maybe. but I have the some network service provider with you. My os is ubuntu 14.04. and in the VirturalBox, It can work well with windows xp

[2015-08-25 03:45] fffw commented on #3026
The build process is running inside docker container, so it can't use
SOCKS5 proxies like Shadowsocks on your host. You can use VPN, or, build
Lantern on a VPS.

[2015-08-25 04:45] myleshorton commented on #2993
What server are you connecting through now?

On Sun, Aug 23, 2015 at 9:19 PM, suuiii <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-08-25 04:59] Centaur opened #3028 "Auto-detect blocked sites not always works correctly"
Sometimes Lantern recognize local sites as blocked and make the connection slow by trying to proxy it. As an example, try `yunpan.360.cn`. Lantern version: Lantern 2.0.1 (20150821.200810).
Or you may consider bring back the Lantern 1.x feature that let us user config what sites need to be proxied.

[2015-08-25 05:23] Centaur commented on #3028
Potential duplicate of #2999.  I always use Lantern in Firefox.

[2015-08-25 05:27] DavidSuccess commented on #2993
Today <http://cn.bing.com/dict/search?q=Today&FORM=BDVSP6&mkt=zh-cn> is
<http://cn.bing.com/dict/search?q=is&FORM=BDVSP6&mkt=zh-cn> the
<http://cn.bing.com/dict/search?q=the&FORM=BDVSP6&mkt=zh-cn> American
<http://cn.bing.com/dict/search?q=American&FORM=BDVSP6&mkt=zh-cn> server,and
connection speed is fast.
But another problem :
Chrome <http://cn.bing.com/dict/search?q=Chrome&FORM=BDVSP6&mkt=zh-cn

[2015-08-25 05:36] DavidSuccess commented on #2993
Today is the American server,and connection speed is fast.

But another problem :
Chrome cannot use the built-in(Internet Explorer,http://127.0.0.1:16823/proxy_on.pac) agent,
but Internet Explorer could.
If the Certificate Issue?

[2015-08-25 05:57] fffw opened #3029 "[config-server] HTTP 500 error"
Tens of "Exception with data nil" error printed per second, source should be web.clj#L124

[2015-08-25 11:50] hitalex opened #3030 "Why we don't have to invite friends on lantern 2.0?"
In the new version of lantern (v2.0), it seems that users don't have to invite friends who are not blocked to use lantern (which is good), but why? I assume the underlying working mechanism of lantern does not change.

Is that because all lantern users quietly become "friends" once they are using lantern?

[2015-08-25 12:20] daerdai commented on #2940
@luckypoem不好意思，写的时候没注意，少了\。关于你的问题，我还没遇到，你打开的文件夹里有哪些文件呢？

[2015-08-25 12:23] daerdai commented on #2940
@yasteora Hi，感谢你的提问，不过你说的方法，我还没尝试过，你可以自己尝试一下，如果可以的话，将教程与经验分享到这里来，让大家学习学习！谢谢！

[2015-08-25 14:15] myleshorton commented on #3028
@fffw can you take a look at this?

[2015-08-25 14:25] fffw commented on #3028
It's definitely one of the reason to rewrite detour! By comparing the
actual response time, we can avoid proxy a slow site.

[2015-08-25 16:26] #2470 closed

[2015-08-25 16:36] sheena3 commented on #2999
I am using the new build in windows 8.1 - IE 11 & Chrome. I used the fake DNS to block sites and then tried speedtest.net (Proxy all traffic option is disabled). The page is successfully loaded using the proxy. It is the same in OSX and Linux. Should I try some other websites too? Or this is not a reliable test to check this?

[2015-08-25 16:39] xiam commented on #3012
Thanks for the heads up but no, Lantern is not a spy program. Anyone can take a look at the source code of both client and server at our main repository. If you are still unsure you can always browse only HTTPs sites, in which content is encrypted from your computer to the destination server. HTTPs provides good enough security for everyday's communication.

[2015-08-25 16:39] #3012 closed

[2015-08-25 16:39] sheena3 commented on #3023
yep that solved the issue. Thanks!

[2015-08-25 16:40] myleshorton commented on #2999
I don't totally understand your setup. So you're using the DNS server to block speedtest.net? And then it still loads when proxy all is not checked? If that's correct, then that's how it's supposed to work. I.e. even without proxy all checked, Lantern should still auto-detect blocking and should load the page. What are you expecting to happen with your test?

[2015-08-25 17:07] sheena3 commented on #2999
Previously whenever I used the fake DNS, I cannot access any sites when
Lantern is not running. When I use Lantern, it will proxy only those sites
that are in the default proxy list. So only after enabling the proxy all
traffic option, it will start loading the speedtes.net site in the previous
releases.

This time around the page is loading even when the option is disabled.  I
actually think that

[2015-08-25 17:08] myleshorton commented on #2999
Oh, the change is that detour/auto-detect will now detect and route around that case.

[2015-08-25 17:14] myleshorton commented on #3029
@aranhoide can you take a look at this ASAP?

[2015-08-25 17:15] myleshorton commented on #3021
We don't have an exact date @jxmlhdf, but it's one of our top priorities. It should be before the end of the year.

[2015-08-25 17:16] #3021 closed

[2015-08-25 17:20] sheena3 commented on #2999
Thanks @myleshorton - FYI: I just checked without using fake DNS. It still
displayed proxy address in speedtest.net but geoiptool.com didn't. And I
found that speedtest.net is added to our default proxy list now =)

Closing this now!

On Tue, Aug 25, 2015 at 10:38 PM, myleshorton <notifications@github.com>
wrote:

--
Regards,
Sunshine

[2015-08-25 17:20] #2999 closed

[2015-08-25 17:27] sheena3 commented on #2776
I am using the same @myleshorton.

These are the steps that I followed,

1. Make IE default browser
2. Run Lantern and make sure that Run Lantern automatically on system start up is enabled, (FYI - I had proxy all traffic option disabled when doing this test if it will make any difference)
3. Restart the system
4. Lantern starts running and can be seen in the system tray
5. Use 'Show Lantern' to o

[2015-08-25 19:35] myleshorton commented on #3007
Looks like there are actually additional issues here. The binaries that are uploaded to the releases page on GitHub are the **unsigned binaries**. All the binaries that users are actually using are signed, however, which modifies the binary itself at least on OSX and possibly on other platforms as well.

@xiam the diffs between updates are calculated based on the diffs between the binaries on the