[2015-02-02 18:27] oxtoacart commented on #1902
@myleshorton @fffw See https://github.com/kardianos/service

I'm playing with that as part of figuring out a generalized solution to installing the app.  Stay tuned.

[2015-02-02 18:28] oxtoacart commented on #2208
@myleshorton What does this mean?  Are you talking about the proxy on port 8787?  If so, this is already done.

[2015-02-02 18:31] myleshorton commented on #2141
@fffw you want to take a look at this?

[2015-02-02 18:32] myleshorton opened #2210 "Set up a data center closer to Iran"

[2015-02-02 18:36] myleshorton commented on #2112
That sounds great @fffw can you make that change?

[2015-02-02 18:37] myleshorton commented on #2108
@fffw can you take a look at this too?

[2015-02-02 18:38] myleshorton commented on #2054
Can you take a look at this too @fffw?

[2015-02-02 18:40] myleshorton commented on #1879
Any remaining signs of this @oxtoacart?

[2015-02-02 18:43] myleshorton commented on #21
https://github.com/inconshreveable/go-update looks promising. Assigning to you @xiam

[2015-02-02 18:56] myleshorton commented on #2208
Yeah that's what I'm talking about. Does GetModeProxy.java really do nothing other than delegate at this point? So it probably shouldn't extend AbstractHttpProxyServerAdapter.java and should maybe have a new name, does that sound right?

[2015-02-02 18:56] myleshorton opened #2211 "Re-apply to Google for nonprofits."

[2015-02-02 19:23] oxtoacart commented on #2208
@myleshorton Yeah, GetModeProxy simply manages the lifecycle of flashlight at this point.  Since its days are numbered, I figured it's not worth messing with it too much.

[2015-02-02 19:39] myleshorton commented on #2208
OK cool closing!

[2015-02-02 19:39] #2208 closed

[2015-02-02 20:01] myleshorton commented on #1902
OK interesting @oxtoacart. What's the main thing you're trying to get out of https://github.com/kardianos/service? We run Lantern as a service now on OSX, and the Windows services APIs are notoriously hairy. It's also not immediately clear what the benefit of running as a service on Windows is versus just running on startup. Theoretically there's auto-restart type stuff, but in practice if Lantern

[2015-02-02 20:06] xiam commented on #2201
@myleshorton Sure! I think that this masquerade should be removed from the YAML cloud configuration for the clients stop using it, but I also think that if I remove the host from `flashlight/genconfig/domains.txt` and regenerate `flashlight/config/masquerades.go` without this host it will work for new flashlight releases. Which option would be more appropriate?

[2015-02-02 20:15] myleshorton commented on #2201
I think both would be great! Actually, maybe this is a good moment to also put that cloud version on GitHub instead of Amazon since Amazon will have issues in China. Do you want to do that as well and to change the URL the client points to when it starts Flashlight to be a file on GitHub? It has to actually be checked into some repo as otherwise GitHub will just forward it to Amazon anyway. We cou

[2015-02-02 20:23] xiam commented on #21
@myleshorton Cool!

I have some questions:

* Are we considering the current lantern release or our future Go release?
* Which platform should I focus on first? It could be OSX then Windows and finally Linux.

I think that if we focus on replacing binaries instead of patching a running process we could start testing this solution in a few days, that would be the most straightforward thing to do an

[2015-02-02 20:28] xiam commented on #2201
The option about github sounds a lot easier to maintain and keep up to date, so I think it would be better moving our config files here and update our code accordingly. I actually have a [related issue](https://github.com/getlantern/flashlight-build/pull/36#discussion_r23657537) that I shall finish to fully understand cloud configuration, once I got that I'll be able to return and fix this more ea

[2015-02-02 20:48] myleshorton commented on #2201
Sounds good @xiam

[2015-02-02 20:49] myleshorton commented on #21
This will be for a future Go release. We'll talk more about this on the call today, but we're going to prioritize a minimal version of the Go release to have ready by Valencia.

No preference really.

That sounds perfect!

[2015-02-02 20:56] oxtoacart commented on #21
@xiam I agree that starting with a full update is a good start, but go-update also supports binary patching.

In fact, the [equinox](https://equinox.io/) service (built by Alan Shreve as well) handles all the difficult parts of [binary diffs](https://equinox.io/docs) for us.  It's [free](https://equinox.io/pricing) for open source projects, so I think we should just go ahead and use it.  The only

[2015-02-02 21:01] myleshorton commented on #2210
We could try the Vultr Frankfurt data center:

https://www.vultr.com/locations/

[2015-02-02 21:03] myleshorton commented on #2210
Or India through these guys:

http://vps.net/cloud-datacenter-locations/asian-datacenters

This site is really useful:

http://serverbear.com/

[2015-02-02 21:11] myleshorton commented on #21
Sounds good. On the binary diffs front, we'll just want to keep an eye out for whether or not they're really effective with compressed binaries, as the compression will likely completely throw off the diffs. Maybe we can update based on the uncompressed versions on disk, though, not sure.

[2015-02-02 21:15] myleshorton commented on #1983
This is great @fffw! Yeah I've been amazed how much faster UDT is for larger files over long distances, but it's amazing you saw that much improvement over just 1 min. The one thing that's a little unfortunate in our case is just that files for web sites tend to be so small. For those smaller files I don't think there's much of an improvement, but I could be wrong.

[2015-02-02 21:23] oxtoacart commented on #21
We should avoid compressing the binary itself (i.e. don't use upx).  Assuming that we're still using an installer to distribute the initial binary, the installer can and should be compressed and that won't have any impact on the binary diff since that's done on the binary itself, not the installer.

That reminds me - @xiam one of the design goals of our initial installer (which I'm taking a look a

[2015-02-02 21:25] oxtoacart commented on #2201
We already access cloud.yaml via our own proxy, so from a blocking resistance perspective it doesn't matter where it lives.

[2015-02-02 21:27] myleshorton commented on #2201
Good point!

[2015-02-02 21:41] myleshorton opened #2212 "AVG AntiVirus Free Edition 2015 Flagging Lantern as a virus"
May not be an issue with the new installer when we release them.

[2015-02-02 21:55] oxtoacart commented on #1902
As you know, one of my objectives is to avoid having anything but the barest bones installer code and having an executable that can stand on its own.  I think this will simplify initial distribution and will definitely simplify updates, since we can focus on just updating the binary rather the results of what an installer ran. However, we still want to follow platform-specific conventions like ins

[2015-02-02 21:56] aranhoide commented on #2202
I just asked

https://groups.google.com/forum/#!topic/lantern-users-en/lPsZmtX2Hpo

[2015-02-02 22:12] myleshorton commented on #1902
@fffw so I would maybe just leave the privilege issue for now until we have a better idea of exactly how we'll handle it.

[2015-02-02 22:14] oxtoacart commented on #2201
BTW, if we get binary diffs working with #21, we can get rid of the cloud-based YAML distribution and just use whatever is baked into the binary.  When we need to make a change, we can just push a new binary.  This has the advantage that we're always testing the code and the configuration together.  As it stands, when we push a new configuration, we end up with various versions of the codebase all

[2015-02-02 22:17] myleshorton commented on #2143
@fffw is there any way to just try out a demo of this?

[2015-02-02 22:43] fffw commented on #2143
@myleshorton new code and demo is under https://github.com/getlantern/systray/tree/issue-2143

[2015-02-02 22:52] myleshorton opened #2213 "Public IP/GeoIP lookup in Go"
Needs it be tunneled itself.

[2015-02-02 23:09] atavism commented on #2207
@myleshorton I suppose a related task would be to create a version of the UI with all of these components stripped out. Actually, maybe a version that strips everything out except for the server-sent events? We could make that a submodule of go-lantern.

[2015-02-02 23:18] oxtoacart commented on #2210
@myleshorton Nice finds!

[2015-02-02 23:20] oxtoacart commented on #2213
See https://github.com/getlantern/lantern/blob/392431a144e64a785eb9556f07a6f4a245c17321/src/main/java/org/lantern/util/PublicIpAddress.java#L81

Basically, our GeoIP lookup service returns the caller's IP, so you can just make a call to that.

[2015-02-02 23:55] myleshorton commented on #2207
Yeah totally @atavism. I'm also not wed to the SSE approach, but maybe for the purposes of the MVP it makes sense to keep using it.

[2015-02-03 00:08] aranhoide commented on #2213
Any reason not to always do that?  I was going to add a ticket to implement GeoIP lookup in Go, but as a first step I'll just edit the title of this one.

[2015-02-03 00:10] myleshorton commented on #2213
Makes sense @aranhoide!

[2015-02-03 00:11] myleshorton commented on #2201
Love it!

[2015-02-03 00:12] myleshorton commented on #2201
Not sure about updates on Android though. Usually would be through the Play Store, but I think that's generally blocked. We can also just worry about that later though.

[2015-02-03 00:52] atavism commented on #2201
@myleshorton @xiam Yeah, Google Play is completely unavailable in China and Iran. We can still distribute the apk file (or a QR code actually) over the web though. The app itself could periodically check for and download the latest version as outlined [here](https://stackoverflow.com/questions/15213211/update-an-android-app-without-google-play).

[2015-02-03 04:41] #2112 closed

[2015-02-03 05:10] myleshorton commented on #2213
This is also partially already implemented on the go side @aranhoide at:

https://github.com/getlantern/flashlight/blob/master/statserver/peer.go#L143

The big problem there is that the call isn't tunneled.

[2015-02-03 07:46] fffw commented on #2108
Oh the error disappears at commit [#cca8ca3](https://github.com/getlantern/flashlight-build/commit/cca8ca352b494fa03c2c11d75544c1e69f3e9d84), while introducing tcpproxying.

[Previous commit](https://github.com/getlantern/flashlight-build/commit/8c866d639fd4815f639c195c9d68d0949203752f) fails frequently on time out.

Safe to close?

[2015-02-03 11:10] fffw commented on #2141
@myleshorton you mean to try Linode deployment or to conduct more testing against CloudFlare?

Either way, it will be very helpful for me to understand the structure and usage of flashlight.

[2015-02-03 13:15] oxtoacart commented on #2213
Yeah, that existing call is only used in Give mode so tunneling isn't necessary.

[2015-02-03 13:19] fffw commented on #2054
Maybe we can just use this [more mature library](https://github.com/antage/eventsource), I found its interface more simple among others, just `http.Handle("/events", es)` and `es.SendEventMessage("hello", "", "")` in any goroutine.

Take a look at [the example](https://github.com/antage/eventsource/blob/master/examples/greeter.go).

[2015-02-03 13:19] oxtoacart commented on #1879
I believe that with the changes to enproxy on the peerscanner branch, this is resolved.

[2015-02-03 16:06] oxtoacart opened #2215 "[peerscanner] Reduce attack surface for fake registrations and unregistrations"
@xiam Noticed that peerscanner accepts X-Forwarded-For and X-Peerscanner-Forwarded-For headers to identify a client's ip address on registration and unregistration.  This poses several problems:

1. On registration, anyone can fake an IP address. This won't cause them to get added to the rotation since we don't do that until we've confirmed that we can proxy through that IP address, however it doe

[2015-02-03 17:02] myleshorton commented on #2141
Yeah that's a good point @fffw. We might actually be able to close this ticket and focus on #1763. Let's actually wait for @oxtoacart to get back on this one so we can get some really good numbers on how much and if the Tokyo switch improves things.

[2015-02-03 17:09] oxtoacart commented on #2213
Most definitely :)

[2015-02-03 17:10] myleshorton commented on #1739
This is definitely still happening on devel and actually causes Google login to fail in some cases.

[2015-02-03 17:11] myleshorton commented on #1739
It does look like it's possible we're triggering CloudFlare's DDOS protection, as I'm seeing a lot of this type of thing in the logs:

[code]

[2015-02-03 17:23] myleshorton commented on #2108
Sounds great. Closing.

[2015-02-03 17:23] #2108 closed

[2015-02-03 17:27] myleshorton commented on #1768
It looks like there's a regression with the blur around get mode peers on the map:

![image](https://cloud.githubusercontent.com/assets/1143966/6025384/ec7d637e-ab86-11e4-9e04-3c080a8a7046.png)

[2015-02-03 17:28] myleshorton commented on #1768
Or maybe it's just more noticeable in get mode...

[2015-02-03 17:46] myleshorton opened #2216 "Some nodes in CloudFlare's DNS not using CloudFlare's CDN"
This could be causing some of the issues we've been seeing with CloudFlare connectivity.

[2015-02-03 17:47] myleshorton commented on #2216
It's likely we have to retry on failures if the API call to set this fails. Could be related to the new peerscanner changes as well.

[2015-02-03 17:58] myleshorton opened #2217 "[bug] Incoming traffic not appearing on the map in give mode"
When running in give mode, no incoming traffic appears on the map on devel even when there almost certainly is traffic. This shows up clearly when switching between devel and master, with traffic showing up almost immediately on master but with nothing on devel. DNS registration is happening properly in both cases.

[2015-02-03 18:32] oxtoacart commented on #2216
@myleshorton Which nodes?  I just took a quick look and the only ones with the gray cloud are not proxies (all listed at the bottom).

[2015-02-03 18:46] myleshorton commented on #2216
I switched em all over.

On Tuesday, February 3, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-03 19:00] oxtoacart commented on #2216
Gotcha.  Was it peers, fallbacks, items in rotations?

[2015-02-03 19:05] myleshorton commented on #2216
Both peers and fallbacks, but there was a higher percentage of peers
potentially because there's more churn but not sure.

On Tue, Feb 3, 2015 at 11:00 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-03 19:10] atavism commented on #1768
@myleshorton I'm seeing this too, but I don't think it's a regression. I think what's going on at that spot on the map: there are two adjacent or overlapping peers, and that's increasing the overall size/distortion of the dot, especially since the appearance of every other get-mode peer looks fine. Decreasing the gaussian blur standard deviation slightly seems to mitigate this.

[2015-02-03 19:12] myleshorton commented on #1768
I actually saw that for a few get mode peers through @atavism -- actually all the ones I saw were that way.

[2015-02-03 19:37] oxtoacart commented on #2216
@myleshorton Thanks, that helps!  It's annoying that CloudFlare's API requires a 2nd call to activate the orange cloud.

[2015-02-03 19:47] myleshorton commented on #2216
Yeah agreed @oxtoacart -- makes the code more awkward for sure. I figured I'd just check 'em while I was in there in case it was causing production issues, even that 409 conflict bug. I'm seeing that a lot still though -- for some reason it's now appearing all the time -- #1739

[2015-02-03 19:52] oxtoacart commented on #1739
@myleshorton I think the 409 error has something to do with a problem in the DNS settings.  Looking into it now.

[2015-02-03 19:54] oxtoacart commented on #1739
So, I see the error quite a bit when running with fallbacks.getiantem.org.  However, if I point my flashlight.yaml at a specific fallback, I don't see the error.  So, perhaps something is wrong in the fallbacks rotation.

[2015-02-03 20:05] oxtoacart commented on #1739
For some reason, there are two fallbacks registered with the same ip `128.199.113.148`, fl-singapore-003-2 and fl-singapore-003-20.  003-20 doesn't even have an active droplet.  I'll try deleting it.

[2015-02-03 20:06] oxtoacart commented on #1739
@myleshorton I'm not seeing the 409 error at the moment.  Are you?

[2015-02-03 20:21] oxtoacart commented on #1739
@myleshorton I added a little program for checking duplicates in CloudFlare - https://github.com/getlantern/flashlight-build/commit/46122e3c39b9b974806c0b7e62c53827f314181f

[2015-02-03 20:28] oxtoacart commented on #1739
Weird, now I see

`enproxy: Dest: www.google.com:80    ProxyHost: fl-ara-002.getiantem.org    Unable to issue read request: Bad response status for read: 409 Conflict`

But I don't even see fl-ara-002 in DNS ...

[2015-02-03 20:30] oxtoacart commented on #1739
Well, its ip was in DNS as fl-newyork-001-1.  It looks like that IP got recycled, so we were sending traffic to a host that was reporting a new name but still in DNS under an old name.

[2015-02-03 20:32] oxtoacart commented on #1739
Okay, I deleted the fl-newyork-001-1 entry.  Might be good now (at least until this happens again).

[2015-02-03 20:34] oxtoacart commented on #1739
I think to be safe, the code in peerscanner that tests a host should make sure that the reported host matches the name under which the host is requesting to be registered.  If they don't match, we shouldn't add it into rotation.

[2015-02-03 20:51] oxtoacart commented on #1739
I just ran a test with boom making 250 requests and didn't get any 409's.

[2015-02-03 21:03] myleshorton commented on #1739
Fascinating @oxtoacart.

Were both actually in the roundrobin as well? I wonder if the automatic restarts could cause something like that? Although I don't see fl-singapore-003-20 in any alerts at all.

[2015-02-03 21:10] oxtoacart commented on #1739
The only thing in the roundrobin is the ip, so by definition it can only appear once.  fl-singapore-003-20 is one that I think I removed manually a while ago because it was chronically overloaded.

[2015-02-03 21:54] oxtoacart commented on #1739
@myleshorton This is now fixed in the peerscanner branch.

[2015-02-03 21:54] myleshorton commented on #1739
I guess I don't understand how the conflict arises then. Everything is always referenced by domain name when hitting the same proxy for sticky routing right? Maybe they're just seeing that on their end and sending an error regardless? Odd.

[2015-02-03 21:55] oxtoacart commented on #1739
409 conflict is a bit of a misnomer.  We were proxying through a host that returned the name fl-ara but that was registered as fl-newyork.  So the request to fl-ara fails because CloudFlare doesn't know what to do with it.

[2015-02-03 22:06] atavism commented on #1768
@myleshorton I think I resolved the issue. Do get mode peers on the map look better for you now?

[2015-02-03 22:27] atavism commented on #1768
@myleshorton I think I resolved the issue. Do get mode peers on the map look better for you now?

[2015-02-04 00:26] atavism commented on #2205
@myleshorton I ended up using the beego framework, and the current UI is being served from a static directory. How do we feel about adopting an MVC structure, or would that be overkill?

The whitelist component I'm putting into a separate module.

[2015-02-04 01:22] oxtoacart commented on #2205
@atavism Cool!  Can you please add [go-bindata-assetfs](https://github.com/elazarl/go-bindata-assetfs#readme) to put the static resources inside the binary?

[2015-02-04 01:28] atavism commented on #2205
Sure.

[2015-02-04 01:47] atavism commented on #2205
@oxtoacart I don't see an easy way to use this with beego. Should we just use the standard http package instead?

[2015-02-04 01:51] oxtoacart commented on #2205
@atavism I'm not wedded to the implementation of go-bindata-assetfs, but bundling the resources into the binary one way or another is IMHO a requirement, since my plan is to make the whole app distributable in binary form (which will also ease upgrades/patching).

Regarding beego versus net/http, what are you hoping to get out of using beego?  And would something like [gorilla](http://www.gorillat

[2015-02-04 01:57] atavism commented on #2205
beego was recommended on the call. It's a full-fledged MVC framework which is probably overkill. I didn't see a super compelling reason to use it in particular, and I actually intended to use gorilla (which I've worked with before) originally. It has the advantage of being split up into a bunch of independent libraries already so we can pick and choose the features we want.

[2015-02-04 02:00] oxtoacart commented on #2205
+1 on Gorilla!

[2015-02-04 02:00] oxtoacart commented on #2205
Actually, +1 on net/http until and unless we need Gorilla.

[2015-02-04 02:15] atavism commented on #2205
Sounds good. Thanks! FYI, to update you: we created a new https://github.com/getlantern/go-lantern repo  -- I'll be committing a first version there.

[2015-02-04 02:17] myleshorton commented on #2205
Cool. Yeah I wasn't so much recommending it as much as mentioning it as an
option. I'm totally cool with straight net/http.

On Tuesday, February 3, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-04 03:38] myleshorton commented on #1768
Yes looks great thanks @atavism!

[2015-02-04 05:14] myleshorton commented on #1739
Awesome @oxtoacart thanks!

[2015-02-04 13:16] fffw commented on #2143
Now works on Ubuntu and Debian. Also changes API to allow checked / disabled menu items. Seems enough to support our MVP.

Anyone have interest to review https://github.com/getlantern/systray/pull/1?

[2015-02-04 18:36] atavism opened #2218 "MVP UI with unnecessary components stripped out"

[2015-02-04 18:38] atavism commented on #2218
There's a version of this ready in the issue-2218 branch. All the cometd, interaction servlet, and model-related functionality has been stripped out.

[2015-02-04 18:41] atavism commented on #2218
As of now, this reduced version of the UI basically displays the global map, the "About" and "Contact" links/modals, and a button/modal for managing your whitelist.

[2015-02-04 18:43] myleshorton opened #2219 "Email mailing list about new stable version(s)"
This may also involve you @carsonefv! It will likely also just be the same thing I send to the lantern-devel list, so will likely be relatively informal. We should also think about things like Chinese and Farsi translations though. Like maybe we always have @fffw and someone else do translations before they go out.

[2015-02-04 18:43] myleshorton opened #2220 "Retire Fastly"
We still have a fair bit of traffic going through our Fastly servers from old Lantern versions. When we send out emails announcing a new stable version, we should also include that we're retiring infrastructure for old versions, so people will have to upgrade. Also FYI @carsonefv. Related to #2219

[2015-02-04 18:44] myleshorton commented on #2218
Awesome @atavism! That'll make that task of the whitelist API much easier.

[2015-02-04 19:09] xiam commented on #21
I'm going to create an "autoupdate" repository to propose a solution for this, along with tests and documents. As far as I understand we don't actually have the final binary yet but we're going to prepare to work with only one binary, this binary itself must not be a compressed executable, but it can safely be gzipped (as a common file).

Also, we should consider updating via proxy when the direct

[2015-02-04 19:16] myleshorton commented on #21
Agreed on all fronts @xiam! I think that's exactly what we want, with probably the multiple files as a last step that may or may not be necessary in the end.

[2015-02-04 20:41] myleshorton opened #2221 "Web site mirror missing images"
https://s3.amazonaws.com/getlantern.org/index.html

This will likely be more of an issue when we roll out specifically to Iran and China where users need to access the unblocked version of the sites.

@fffw can you look into what's happening with these images? See:

https://github.com/getlantern/www.getlantern.org/blob/master/deploytos3.bash

[2015-02-05 02:23] fffw commented on #2221
Oh I mistakenly place images using absolute paths in index.html, corrected.

As I don't have credentials to push to s3, @atavism could you review https://github.com/getlantern/www.getlantern.org/pull/55 and push?

[2015-02-05 03:04] myleshorton commented on #2221
Nice! I just put the credentials in https://github.com/getlantern/too-few-secrets if you want to push directly (I think those are the correct credentials at least!)

[2015-02-05 04:30] fffw commented on #2221
Updated to http://getlantern.s3-website-ap-southeast-1.amazonaws.com and confirmed through `curl`, but https://s3.amazonaws.com/getlantern.org/index.html still not get updated after 1 hour. Additional action required?

[2015-02-05 15:23] fffw commented on #2221
https://s3.amazonaws.com/getlantern.org/index.html still not get updated.
@atavism @oxtoacart @myleshorton do you have any idea about it?

I tried a while on S3 console using my own account but didn't get any luck.

[2015-02-05 16:07] myleshorton commented on #2221
Hmnn I'm not sure unfortunately @fffw -- it should be picking up the change. Have you seen that @atavism?

[2015-02-05 16:48] myleshorton commented on #2143
Awesome @fffw!! I think we can wait for @oxtoacart to review next week when he's back.

[2015-02-05 18:09] myleshorton commented on #2210
Just wanted to note that the key is really setting up our data center **close to CloudFlare's data center** that gets traffic from Iran. We should test, but could be Milan or Vienna, for example.

[2015-02-05 18:10] myleshorton commented on #1763
I just wanted to note here too that the key is really locating our data center **close to the CloudFlare data center** or other domain-fronted data centers that get traffic from the regions we're targeting. For China that's Hong Kong and not sure for Iran.

[2015-02-05 22:58] fffw commented on #2210
A global ping test like below might be helpful to determine which data center has lowest delay, and to which cloudfront node.

[2015-02-06 04:15] myleshorton commented on #2210
Great idea @fffw!

On Thu, Feb 5, 2015 at 2:58 PM, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-06 04:43] oxtoacart commented on #2210
Neat idea!  Few things to consider:

Clients don't connect to roundrobin.getiantem.org, they connect to some
masquerade domains using hardcoded IPs in masquerades.go.  It would be
interesting to run this test for at least a sampling of those to see what
the latencies to CloudFlare are like.

As Adam mentioned, the other thing to consider is the latency from
CloudFlare to our VPSs.  I'm not sure of

[2015-02-06 04:46] myleshorton opened #2222 "Some DO servers still running old version of flashlight and consequently not registering with DO"
It's possible peerscanner is taking them out of rotation and they're never getting back in. If you look at the 30 day timeline in the following, it looks like that may have been the case in this instance (unclear how widespread this is). If this happens for a lot of servers, it'll obviously put more strain on the remaining ones and will make it more likely they'll get taken out too.

https://cloud

[2015-02-06 04:56] myleshorton commented on #2222
Also just in a quick scan on just one page, the following are the same:

https://cloud.digitalocean.com/droplets/3674591
https://cloud.digitalocean.com/droplets/3674684
https://cloud.digitalocean.com/droplets/3674782
https://cloud.digitalocean.com/droplets/3675668
https://cloud.digitalocean.com/droplets/3699601

[2015-02-06 05:30] fffw commented on #2210
Neat idea!  Few things to consider:

Clients don't connect to roundrobin.getiantem.org, they connect to some

masquerade domains using hardcoded IPs in masquerades.go.  It would be

interesting to run this test for at least a sampling of those to see what

the latencies to CloudFlare are like.

We can automate if we want, might be quicker than manual operation on samples.

As Adam mentioned, the o

[2015-02-06 14:36] oxtoacart commented on #2222
@myleshorton

That's not what's happening.  I took a look at the list of servers and found ...

1. The following droplets aren't registered in CloudFlare at all (meaning that peerscanner is not the one that took them out, since peerscanner doesn't remove fallbacks from CloudFlare, just from rotation)

https://cloud.digitalocean.com/droplets/3674454
https://cloud.digitalocean.com/droplets/3674591
h

[2015-02-06 15:14] oxtoacart commented on #2222
I just tried running highstate for one of these, and got the following:

[code]

So, it looks like the cloudmaster doesn't even know about this nor likely the other similar servers.

[2015-02-06 17:18] atavism commented on #2221
Hey guys, this should be fixed now. We need to use "./images" instead of just "images" in the paths when serving the site from S3. I updated the scripts to reflect this. https://s3.amazonaws.com/getlantern.org/index.html should be good to go now.

[2015-02-06 17:18] #2221 closed

[2015-02-06 17:45] myleshorton commented on #2221
Awesome thanks @atavism!

[2015-02-06 17:57] aranhoide commented on #2202
Windows 7 professional, user says.

[2015-02-06 18:53] myleshorton commented on #2202
Thanks @aranhoide! I just went ahead and responded directly on that thread.

[2015-02-06 22:15] myleshorton opened #2223 "Implement new login screen for Janus."

[2015-02-06 22:18] oxtoacart commented on #2223
We'll have to define how we want the authentication process to work.  Depending on what we do, there may or may not be an actual "login" screen, but there will almost certainly be some screen.

[2015-02-07 01:03] fffw commented on #2221
Thanks a bunch @atavism!

[2015-02-07 03:30] aranhoide commented on #2222
I think you wrote `ps-` when you really meant `fl-`.

On Fri, Feb 6, 2015 at 4:14 PM, oxtoacart <notifications@github.com> wrote:

[2015-02-07 03:33] aranhoide commented on #2222
flashlight might be stuck in an old version if the relevant minions are not responding to the master.  Since this is causing such pain, I'll redeploy everything to a new cloudmaster this weekend, even if the cloudfront stuff is not done yet.

[2015-02-07 04:15] oxtoacart commented on #2222
Thanks @aranhoide!  FWIW, I really don't think it's such horrible pain.  As far as I can tell, this isn't impacting users, it's just wasting some money on unutilized DO droplets.  IMHO that can wait until after the weekend.

BTW, if try to run highstate against the correct name (fl-singapore-005-21) it still doesn't work.  However, after ssh'ing to the machine, I'm able to manually run highstate o

[2015-02-07 05:56] myleshorton commented on #2222
Yeah I totally agree we should consolidate the cloudmasters. For some
reason I thought we had already done that but I guess not. Let's ditch
fisk-cloudmaster once and for all!

Thanks for the sleuthing Ox.

On Fri, Feb 6, 2015 at 8:15 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A

[2015-02-07 12:29] oxtoacart commented on #2222
@aranhoide @myleshorton Do you think it would make sense to hold off on the consolidation until we've figured out what we're doing with #1763?  If we consolidate now, we'll likely have to stop some old servers and start some new ones.  Probably not a big deal either way.

[2015-02-07 17:53] myleshorton commented on #2222
I don't think it matters a whole lot, although I do think we need to get
the ball rolling on #1763 particularly for Iran.

On Saturday, February 7, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-07 20:33] myleshorton opened #2224 "Run content filtering software on our own networks"
We have this continual problem where we don't actually use the software we build, and it makes it difficult to relate to our users and to identify and fix issues quickly. Running content filtering software as a standard practice on our own networks would effectively simulate conditions in censored regions.

[2015-02-07 21:10] oxtoacart commented on #2224
+1
On Feb 7, 2015 2:33 PM, "myleshorton" <notifications@github.com> wrote:

[2015-02-07 21:20] atavism opened #2225 "[peerscanner] tls: invalid ServerKeyExchange error registering server"
Appearing in Papertrail:

[2015-02-07 21:30] myleshorton commented on #2224
I like this because I know in my own household s**t would hit the fan if my wife couldn't access Facebook. Would be a pretty good motivator!

[2015-02-08 00:07] oxtoacart commented on #2225
Strongly suggest bumping down to P3.  This happened once a few days ago on a system that gets over 100000 requests per day.

[2015-02-08 00:16] myleshorton commented on #2225
That's fine. I had no idea how common it was, and it's the type of error
doesn't tend to happen just once. If that's all it was feel free to close.

On Saturday, February 7, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-08 00:37] oxtoacart commented on #2225
Sounds good. Let's reopen if it starts happening more frequently.

[2015-02-08 00:38] #2225 closed

[2015-02-08 16:16] fffw commented on #1902
Draft implementation at https://github.com/getlantern/pacon/pull/1

[2015-02-08 18:33] oxtoacart opened #2226 "[feature] Auto-updates without interrupting proxying/UI activity"
In the initial implementation, auto-updates will simply happen without user intervention, potentially momentarily interrupting browsing or interaction with the UI.

It would be slick to do these using a zero-downtime restart technique such that server sockets remain bound, which would prevent the user from noticing anything other than maybe a slight delay while the program restarts.

There are var

[2015-02-08 18:35] oxtoacart commented on #2226
Related to #21

[2015-02-08 18:36] oxtoacart opened #2227 "[feature] Automatically restart Lantern if it crashes"
We should make every effort to keep Lantern from crashing, but if it does, it would be nice for it to log the crash and then automatically restart.

[2015-02-08 19:37] aranhoide commented on #2227
As suggested by an example @myleshorton mentioned elsewhere, where Lantern would keep crashing on startup indefinitely, we may want to delay restarts with an exponential backoff schedule.

[2015-02-08 19:54] oxtoacart commented on #2227
+1

[2015-02-08 22:53] atavism commented on #2195
I still need to merge my changes with flashlight-build and add unit test coverage, but this is mostly working.

To try it out:
[code]
The UI should automatically open. Once you open the whitelist screen, the textarea will appear populated with your current list of proxied sites found in ~/.lantern/proxy_on.pac. By clicking "Continue", your whitelist will be updated and a new PAC file will be gener

[2015-02-08 23:03] atavism opened #2228 "Add welcome screen"
This will appear when the UI first opens.

Some notes:

- It should contain a link to the whitelist configuration screen
- Future possibilities: dynamic content that we control; recent trends from social media

[2015-02-09 00:36] oxtoacart commented on #2195
I tried checking this out, but the submodule update gives me an error:

[code]

[2015-02-09 00:38] oxtoacart commented on #2195
@atavism When you integrate this into flashlight-build, can you please:

1. Store the whitelist information in the YAML configuration (flashlight.yaml)

2. Drive the whitelist from the configuration (e.g. follow the pattern established in existing packages like client, server, etc.)?  That way, we'll be able to modify the whitelist from the YAML just as we can modify other configuration.

3. Pleas

[2015-02-09 01:00] atavism commented on #2195
Not sure what's causing that. Can you try

[code]

Regarding all three of your points, that's the plan. I'm currently using original.txt (which contains the concatenated whitelists found in the lantern resources folder), but I planned to move that into flashlight.yaml next. I'll put the http server configuration in a next section in the config as well.

[2015-02-09 01:05] atavism commented on #2195
Also, I just tested everything out running a flashlight client and with pacon partially integrated. It's working great! When you modify your whitelist, that immediately updates your PAC file, but those changes aren't automatically detected by the browser so we'll have to toggle proxying on and off. Not a big deal though.

[2015-02-09 01:39] oxtoacart commented on #2195
@atavism

Thanks, I'm past the submodule stuff.  After running ./genassets.bash and then go get && go build, I get the below:

[code]

bindata_assetfs.go is curiously empty - I would have expected it to have the UI resources(?).

[2015-02-09 01:39] oxtoacart commented on #2195
BTW, I forgot one other request for integrating into flashlight.  Can you please use a subtree for lantern-ui rather than a submodule?

[2015-02-09 01:53] atavism commented on #2195
Yeah that file shouldn't be empty. genassets.bash executes go-bindata-assetfs ui/app/...   - is that directory empty for you for some reason?

[2015-02-09 01:55] atavism commented on #2195
Yeah, I plan to make the ui a subtree instead of a submodule.

[2015-02-09 01:59] oxtoacart commented on #2195
ui/app is populated.

[2015-02-09 02:02] oxtoacart commented on #2195
Is `github.com/elazarl/go-bindata-assetfs` the right one to use?

[2015-02-09 02:04] oxtoacart commented on #2195
Oddly if I run go-bindata-assetfs ui, that generates some content in the bindata_assetfs.go file.

[2015-02-09 02:09] oxtoacart commented on #2195
Also, if I run `go-bindata ui/app/...`, that seems to work.  So I bet this is a bug in go-bindata-assetfs.

[2015-02-09 02:21] oxtoacart commented on #2195
It looks like go-bindata-assetfs is choking on ui/app/_css/app.css, which is larger than what bufio.Scanner seems to be able to handle.  Looking into it.

[2015-02-09 02:39] atavism commented on #2195
Yep, that's the version I'm using and the latest release. Weird you're having issues: I didn't run into a similar problem at all. I'm not at my computer at the moment--maybe it has to do with the version of Go I compiled with? Might have been using 1.3.

[2015-02-09 02:52] oxtoacart commented on #2195
Okay, I fixed the bug in go-bindata-assetfs in a fork of ours, and pull requested it:

https://github.com/elazarl/go-bindata-assetfs/pull/5

[2015-02-09 02:53] oxtoacart commented on #2195
@atavism A really cool feature would be being able to run using the local ui folder if available and only using the embedded assets for the production deployment.  That would help at development time by allowing us to modify resources without having to re-embed and restart.

[2015-02-09 02:54] oxtoacart commented on #2195
I'm using 1.4.  That could account for the difference.

[2015-02-09 02:55] atavism commented on #2195
Awesome, thanks for fixing that? Definitely agree about we should only embed the ui with production deployments! I'll add that to my TODO list.

[2015-02-09 02:56] atavism commented on #2195
thanks for fixing that!*

[2015-02-09 03:34] fffw commented on #2226
I was originally thinking that asking user to restart application is enough, just like what OS update or Chrome do. But when silent services such as Lantern Pi or OpenWRT plugin comes into mind, an uninterrupted upgrade is definitely a must.

[2015-02-09 14:25] oxtoacart commented on #2226
Good point!

[2015-02-09 14:29] oxtoacart opened #2229 "Make sure that proxying for oneself works"
Several times now we've gotten feedback from users that they tried installing Lantern on two different machines in order to use one as the proxy for the other.  Just like much of P2P, this often isn't working right now, which understandably raises questions.

When we revisit P2P, we should make absolutely sure that this use case works (as long as NAT traversal or port mapping are available).

[2015-02-09 14:40] oxtoacart commented on #2227
One idea was suggested by @atavism  is using a library that implements Erlang-style supervisor trees:

* https://github.com/thejerf/suture
* https://godoc.org/code.google.com/p/gosup/supervisor

[2015-02-09 14:40] oxtoacart commented on #2227
Another option is using a supervisor process.

What I'm thinking when I say "supervisor" is actually a process.  This would be a very simple process that runs the actual lantern process as a child.  If the child process ever dies, or stops emitting a heartbeat, the supervisor would restart it.  The supervisor process would be given a higher priority (nice on UNIX) so that if the system is becoming

[2015-02-09 14:40] oxtoacart commented on #2227
Just for dealing with panics, we could also consider putting in a global recover in our main method and then reinitializing the system without restarting the process.

[2015-02-09 15:11] myleshorton commented on #2229
+1

On Monday, February 9, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-09 15:50] oxtoacart opened #2230 "[feature] Make sure that the UI provides clear status about all my friends (including myself)"
Right now, users have a lot of confusion about whether they're friends are online and whether or not they should be able to proxy through them.  This confusion arises for several reasons:

1. The friends list uses the terms "connected" and "not connected" to indicate whether or not we're getting signaling traffic from a peer associated with that users.  That's confusing since this is not the same

[2015-02-09 15:50] oxtoacart commented on #2229
I think we can also do better around the messaging here - opened #2230.

[2015-02-09 15:55] myleshorton commented on #2226
Yeah makes sense @fffw! We could auto-detect those platforms and always
auto-update and auto-restart.

On Monday, February 9, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-09 16:01] oxtoacart commented on #2226
auto-update and auto-restart.

I think we've already said that for our initial implementation we'll just auto-restart without prompting anyway, even if it's not seamless.

If we gain the ability to do it seamlessly, we might as well do it on platforms, right?

[2015-02-09 16:53] myleshorton commented on #2226
+1

On Monday, February 9, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-09 18:15] atavism opened #2231 "Launch the UI in Go"

[2015-02-09 19:17] myleshorton opened #2232 "Report Go errors to Loggly"

[2015-02-09 19:20] myleshorton commented on #2228
Thanks for logging this @atavism! We can probably start with just a Facebook and Twitter link a la the post-download section on the web site, but the others certainly can't hurt if we've got the time. I marked this as p2 since it's really icing on the cake when we knock out all the other issues, but it would be awesome to get to it.

[2015-02-09 20:23] oxtoacart opened #2233 "[feature] Once HTTP 2.0 support is available in Go, support request pipelining in enproxy"
This could dramatically improve latency, especially for HTTPS traffic.  With pipelining in place for write requests, we can reduce the writeFlushTimeout to be more aggressive about flushing writes.  This will reduce the inherent latency in enproxy at the potential cost of increasing the bandwidth overhead a little.

[2015-02-10 00:17] myleshorton commented on #2210
We could do a pilot with OTF Cloud on this

[2015-02-10 00:19] myleshorton commented on #21
See https://github.com/getlantern/autoupdate/issues/1

[2015-02-10 00:44] myleshorton opened #2234 "[Desktop] Implement our own DNS resolution to bypass DNS poisoning"
The FireFly guys use a neat little trick: just use a custom host file to completely bypass DNS poisoning! That just works alone in a lot of cases. Pretty neat.

[2015-02-10 00:46] oxtoacart commented on #2234
@myleshorton How do they install it?

[2015-02-10 01:13] oxtoacart opened #2235 "Continue to support cross-compilation of flashlight (go-lantern)"
Once we introduce the new systray support, go-lantern will have native dependencies and won't be cross-compilable using our existing mechanism.

Some options to consider:

* http://www.limitlessfx.com/cross-compile-golang-app-for-windows-from-linux.html
* https://github.com/karalabe/xgo

[2015-02-10 01:14] oxtoacart commented on #2235
@myleshorton I'm not sure whether this should be Phase 1 or Phase 2.  If it's Phase 2, that means several of us will need to set up VMs with build environments for go-lantern.  I'm spending a little time investigating whether we can make this happen easily enough to include in Phase 1 and save ourselves the headache.

[2015-02-10 02:02] fffw commented on #2235
We may consider always compile C code as libraries on each OS, and link it from anywhere using the [upcoming {SRCDIR} tag](https://github.com/golang/go/issues/7891) in cgo directive, which is already available if we compile go from newest source.

It is based on the fact that
*  compiling C code is much slower, and
*  cgo code is relatively steady so we need not compile them each time, and
*  it u

[2015-02-10 02:08] oxtoacart commented on #2235
@fffw Interesting.  Are you saying that we can link to libraries (static or dynamic(?)) during cross-compilation without doing anything special?

[2015-02-10 02:20] oxtoacart commented on #2235
@fffw I guess at a minimum having these libraries precompiled wouldn't require us to have all of the headers (like windows.h) available.  That would be a big win.

[2015-02-10 02:38] fffw commented on #2235
Try github.com/fffw/go-udtwrapper

[2015-02-10 02:45] fffw commented on #2235
As an example, try `go get github.com/fffw/go-udtwrapper` and modify fd.go, substitute {SRCDIR} at L17 to the **absolute path** of `go-udtwrapper`, and try `GOOS=linux go build` / `gox -os="linux"`.

It doesn't work at this moment, as there's compilation error in go code.

[2015-02-10 10:03] aranhoide opened #2236 "[statshub] Error 500: Resource {0} did not meet condition {1}"
From the Papertrail logs:

[code]

[2015-02-10 10:20] aranhoide commented on #2226
If by "uninterrupted" you mean without requiring user intervention, I
agree.  If you mean that ongoing connections can't be aborted, I think it's
a nice to have and not a must.

On Mon, Feb 9, 2015 at 4:34 AM, fffw <notifications@github.com> wrote:

[2015-02-10 15:57] oxtoacart commented on #2235
@fffw So, I've been playing around with this a little bit in systray, with the Linux version.  I tried building a static library and then linking the Go program to that.  Unfortunately, the static library has references to undefined symbols from the GTK and appindicator libraries.  To make this work, I think I will need to dynamically load those libraries instead.  I'll play around with that.

[2015-02-10 16:11] fffw commented on #2235
I'm also trying on systray ;-)

[2015-02-10 16:29] oxtoacart commented on #2235
Cool!  Are you also trying dynamic loading, or a different approach?

[2015-02-10 16:31] fffw commented on #2235
No clue yet. I'm just trying to understand how linking works on linux.

[2015-02-10 16:37] oxtoacart commented on #2235
Cool.  Good luck!

[2015-02-10 16:41] fffw commented on #2235
On Windows, each dll has a lib which acts as a stub, theoretically, we can just put this lib in repo and link to it, then the exe can run on any box which has dll with same binary interface. But on linux, we have to link directly to .so file, even though the only purpose is to consult the symbol table?

[2015-02-10 16:45] oxtoacart commented on #2235
Yeah, I spent a little time looking into stubs and didn't find anything particularly useful.  It seems like in theory though we should be able to do what you say.

[2015-02-10 16:48] oxtoacart commented on #2235
This article may be helpful - http://docs.oracle.com/cd/E23824_01/html/819-0690/chapter2-22.html

[2015-02-10 17:42] myleshorton commented on #2235
You should also be able to compile statically linked shared libraries. On Windows, keep in mind we ultimately support XP SP3, which means we need to build against the v90 platform toolset.

[2015-02-10 17:44] oxtoacart commented on #2235
@myleshorton How would a statically linked shared library help?

[2015-02-10 17:58] myleshorton commented on #2235
Oh yeah it looks like you already tried that on Linux. Ignore me. I think for Valencia we can do platform-specific builds but would be great to figure this out in general.

[2015-02-10 18:00] oxtoacart commented on #2235
I don't think I actually tried a statically linked shared library.  Was just trying to understand what you were thinking to see if we could implement.

[2015-02-10 18:07] myleshorton commented on #2235
Well theoretically with a fully statically shared shared library you shouldn't have any issues with missing symbols. It's unclear to me how much of the OS libs we'd have to suck in to make that happen though -- might make the libs too large.

[2015-02-10 18:08] oxtoacart commented on #2235
Ahh, gotcha.  Yeah, the big concern there too would be licensing.  I'm pretty sure we're not allowed to redistribute Windows libraries.  And for Linux, we can distribute them but then we have to abide by the GPL.

[2015-02-10 18:11] myleshorton commented on #2235
Good point! With the GPL it would probably be fine to license just that
component under the GPL, but I think overall that's probably a deal breaker.

On Tue, Feb 10, 2015 at 10:08 AM, oxtoacart <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-10 18:12] myleshorton commented on #2226
Agreed @aranhoide

[2015-02-10 18:17] oxtoacart opened #2237 "Localization in Go app"
Required for:

#2231
#2143

[2015-02-10 18:18] myleshorton commented on #2237
Great point. I get #2143 but why's it required for #2231

[2015-02-10 18:22] oxtoacart commented on #2237
It's required for #2231 because on Windows, if the user just has IE, we prompt her to please install Chrome.

[2015-02-10 18:28] myleshorton commented on #2237
Oh right!

On Tue, Feb 10, 2015 at 10:22 AM, oxtoacart <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-10 19:58] oxtoacart opened #2238 "Send logs to system-specific locations"
Instead of sending logs to stdout and stderr, we need to send them to OS-specific locations.

OS X and Linux - use syslog
Windows - ??? (maybe just files, in which case we need to make sure to rotate them)

[2015-02-10 20:01] oxtoacart opened #2239 "[go-lantern] Rename everything "flashlight" to "lantern""
go-lantern is based off flashlight, which uses the name flashlight extensively (source files, package names, log prefixes, etc.).  At some point, we should change this all to lantern.

To keep merges clean, we may want to hold off on this until flashlight (i.e. Lantern 1.x) is no longer being maintained.

[2015-02-10 20:39] atavism commented on #2231
Is there anything stopping us from supporting IE moving forward? The UI looked fine on the latest version. This would simplify the task some: we'd always use the preferred browser as the default option. I ask because, IIRC, IE still owns a majority of the browser market in China (47.62% according to one estimate).

That said, the library I'm using for this makes it really easy to always choose Chr

[2015-02-10 20:51] myleshorton commented on #2231
I think that's fine as a starting point. The one tricky part is I think a
lot of the IEs in China are IE6, but let's just start with the default
browser and see where we are.

On Tuesday, February 10, 2015, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-10 21:17] Derekf5 commented on #2061
@myleshorton @atavism here are the names of the servers that we have received thus far.

tychometadata
Creativity
hypnagogic
elesdyzer
merfolk
SHOWSTORM
Hi’iaka
Hecate

[2015-02-10 21:43] oxtoacart commented on #2231
+1

[2015-02-11 00:51] fffw commented on #2231
As per [realtime statistics](http://tongji.baidu.com/data/browser), IE6 and IE7 occupies less than 10% in total. We can safely take IE8 as minimum supported version.

[2015-02-11 01:53] oxtoacart opened #2240 "lantern-ui is too big"
One of the main goals of the Valencia release is to achieve a small binary, perhaps even small enough to distribute via email.  In its current form, lantern-ui increases the size of the gzip compressed lantern binary by about 6MB.  That seems like way too much.

@atavism is working on trimming it down, but I wonder what the minimum size is that we can actually achieve given our web-based UI and fa

[2015-02-11 02:53] myleshorton commented on #2240
Wo - that's a way bigger increase than last time I played with it. Agreed
that's way too big.

On Tuesday, February 10, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-11 02:58] myleshorton commented on #2061
Thanks!

On Tuesday, February 10, 2015, Derekf5 <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-11 03:18] myleshorton commented on #2234
They actually just do it in software. So they get a request and just check
if they can route directly to the IP, and they load the ip out-of-band in
some fashion.

On Monday, February 9, 2015, oxtoacart <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723

[2015-02-11 07:07] fffw commented on #2237
So basically, we want to detect OS display language at startup and show translated text in tray menu and dialog.

There's no standard way to detect display language.

* Mac
`defaults read .GlobalPreferences AppleLanguages`

* Windows
[`GetUserDefaultLocaleName`](https://msdn.microsoft.com/en-us/library/dd318136(VS.85).aspx) for Windows Vista + and [`GetUserDefaultLCID`](https://msdn.microsoft.com/

[2015-02-11 08:29] wangzehao opened #2241 "最近使用Lantern不能翻GFW了，好伤感"

[2015-02-11 08:48] fffw commented on #2241
Hey, thank you for using Lantern. Lantern still works for many user inside China. Please refer https://github.com/getlantern/lantern/wiki/Get-Involved#user-content-report-problems for various ways to report the specific problem you encountered and find help.

I'll close this issue as GitHub issues is for feature/bug tracking but not for user support.

[2015-02-11 08:48] #2241 closed

[2015-02-11 11:34] fffw commented on #2237
I crafted some localisation code based on https://github.com/getlantern/go-lantern/tree/issue-2195. @myleshorton could you grant write permission to me so I can push a new branch?

[2015-02-11 15:21] fffw commented on #2237
https://github.com/getlantern/go-lantern/tree/issue-2237

[code]

[2015-02-11 16:25] atavism commented on #2195
@oxtoacart I updated genconfig to include the original.txt whitelist in cloud.yaml http://s3.amazonaws.com/lantern_config/cloud.valencia.yaml.gz That gets coalesced with the client config when flashlight starts.

[2015-02-11 16:28] oxtoacart commented on #2237
Cool!  Can you please factor the localization stuff into a library?  Also,
I found a library that claims to be able to detect the OS locale -
https://github.com/pivotal-cf-experimental/jibber_jabber.  Can you please
integrate that into your library?

As a side note, jibber_jabber shows a technique of dynamically loading DLLs
on Windows and calling methods on it without using any custom C code.  Th

[2015-02-11 16:29] oxtoacart commented on #2195
Great!  Looking forward to code reviewing your changes.  Are you close to submitting a PR?

[2015-02-11 17:31] atavism commented on #2195
@oxtoacart Yeah, definitely. I'm still working on the unit testing (there's additional cases now that the whitelist is generated from the YAML configs, plus user customizations, and how those changes propagate to the PAC file, etc.). Should have it wrapped up shortly though.

[2015-02-11 17:37] oxtoacart commented on #2195
Awesome!  If you want, you can go ahead an integrate [tarfs](https://github.com/getlantern/tarfs) now.  I'm done with documentation/unit testing.

[2015-02-11 17:44] oxtoacart commented on #2237
Oh, btw, I've created [tarfs](https://github.com/getlantern/tarfs), which we'll use for embedding resources (including the language files) in our binary.  If you could structure the API of the localization library so that we can feed it data from tarfs, that would be helpful.  Maybe something like a lookup function that takes a locale and returns a byte slice with the corresponding data? `func (lo

[2015-02-11 17:46] oxtoacart commented on #2234
Ah, so they're not messing with the hosts file, they just have their own local DNS resolver (although it probably doesn't implement the DNS API I'm guessing).  It would actually be interesting to do an "unblocked DNS" project, that uses the same technique but actually just works as a local DNS server or something (or maybe plugs in with the OS's name resolution stuff, if that's even possible).

[2015-02-11 17:50] oxtoacart commented on #2231
So what will we do in the case where someone is running an older, unsupported version of IE?

[2015-02-11 17:52] oxtoacart commented on #2236
This is happening to all of our stat tables now, which means we're not archiving stats to BigQuery at all right now.

[2015-02-11 17:55] myleshorton commented on #2231
That's super useful @fffw thanks! I guess the big question is does it work in IE8? We could detect the default browser and version in the registry and message the user if they have an unsupported browser.

[2015-02-11 17:56] oxtoacart commented on #2231
We could also just do it in the UI.

[2015-02-11 17:57] myleshorton commented on #2234
Yeah it would be nice to parcel out just that component.

On Wed, Feb 11, 2015 at 9:46 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-11 17:58] myleshorton commented on #2231
Yeah the only annoying part about that approach is that the unsupported browsers are unsupported in part because they're a PITA to deal with in terms of making whatever messaging we put in there visually consistent.

[2015-02-11 18:01] oxtoacart commented on #2234
Yeah, in general that's something to think about with all of these complimentary techniques.  On the one hand, there's a benefit to having lots of tightly focused solutions that people can install easily and that just work.  On the other hand, there's a benefit to having a single solution that employs a lot of techniques to stay unblocked.

In the case of a monolithic solution, one major problem t

[2015-02-11 18:03] oxtoacart commented on #2231
Simple is better in this case.  Just redirect to a very plain page that says "please get a better browser", with the Lantern logo, maybe a nice background (although white would be fine), and the closest approximation to our font that we can find.  Heck, we could even just make this a PNG and do the whole page as an image.

[2015-02-11 18:04] oxtoacart commented on #2112
@fffw I just noticed that this is working for me now, and it was awesome!  Thank you.

[2015-02-11 18:05] myleshorton commented on #2231
True -- just an html body with some text, a link, and embedded CSS for the font should work pretty globally.

[2015-02-11 18:08] myleshorton commented on #2234
I just think each technique solves some particular slice of the problem, so deploying the best possible solution for each particular slice to give the user the best possible overall experience is about the best we can do.

[2015-02-11 18:13] oxtoacart commented on #2234
I think I agree, I'm just saying that we could do a better job messaging the user about what's going on.  For example, if we had an extension, we could have it change color to show what quality of service the user is getting (green, yellow, red) and provide more details if the user wants them.

So for example, we might show yellow if we're having to domain-front for the current site, and if someon

[2015-02-11 18:17] oxtoacart commented on #2054
Sorry about the slow reply.  That example that you send looks like a pub/sub kind of model with multiple clients all getting the same message.  That's not necessarily always what we want to do.

[2015-02-11 18:18] myleshorton commented on #2195
Hey @atavism actually let's just use this better whitelist that already uses our same format:

https://raw.githubusercontent.com/yinghuocho/firefly-blacklist/master/firefly-blacklist.txt

It's from Firefly, built by @yinghuocho and David Fifield. Let's just make sure the new one is a superset of ours and it, as the firefly list might not include some iranian sites.

That work?

[2015-02-11 18:20] myleshorton commented on #2234
See https://github.com/yinghuocho/firefly-hosts/blob/master/firefly-hosts.txt

@yinghuocho remind me why it's IPv6 only again?

[2015-02-11 18:31] oxtoacart commented on #2195
@myleshorton So are we preferring this new list over the autoproxy list mentioned in #2177

[2015-02-11 18:33] myleshorton commented on #2234
Yeah that would be super cool! It would also be super valuable for debugging on our end.

[2015-02-11 18:37] myleshorton commented on #2195
Not necessarily for all time, but for now the firefly list includes the autoproxy list and more, so it's more comprehensive and we might as well just use it. I think there's a larger task of figuring out how to keep that list up to date, making it country-specific, etc.

[2015-02-11 18:41] oxtoacart commented on #2195
Ahh, that's cool that it includes the autoproxy list.

I eyeballed the list and noticed quite a few sites under the .ir TLD on there.  Are those Iranian sites that are blocked in China?  Do we want them on the whitelist for Iranian users?  In fact, do we want to use a China-centric whitelist at all for this Iran-focused release?

[2015-02-11 18:43] myleshorton commented on #2195
Not sure about the .ir sites, but it just seems like if we're in the process of re-integrating a new whitelist we might as well take a moment to just integrate a better one.

[2015-02-11 18:48] oxtoacart commented on #2195
I dig it, I'm just asking some questions to make sure that it really is a "better" one.

[2015-02-11 18:51] myleshorton commented on #2195
Cool. Yeah, it's basically just much more actively maintained than our list, which we really update very rarely partly because we don't have a lot of insight into what's blocked.

[2015-02-11 18:52] oxtoacart commented on #2195
I understand.  So are you saying you're comfortable with those .ir sites being on the whitelist, even though some may potentially not need to be?

[2015-02-11 19:00] myleshorton commented on #2195
Yeah I think that's fine. If they're blocked in China, they're useful to have on their. If they're not blocked in Iran, it's not a huge loss. Your concern is that the .ir TLDs are less likely to blocked in Iran, is that right?

[2015-02-11 19:07] oxtoacart commented on #2195
Yeah, the likely scenario is that they're not blocked in Iran and we're needlessly slowing down access to them by forcing them through the proxy.  A worse scenario is that they're actually localized and may actually display differently because they're being accessed from foreign proxies.  The worst case scenario is that they're region-locked (think Hulu in America) and won't work at all because we

[2015-02-11 19:14] myleshorton commented on #2195
I think those two are pretty unlikely, but certainly theoretically possible.

Sounds fine to me!

[2015-02-11 19:58] #2143 closed

[2015-02-11 20:28] atavism commented on #2195
@myleshorton Sure, that's fine. I'm storing our default list of sites in cloud.yaml now so I'll just update genconfig to combine multiple *.txt files from a whitelist diectory into a single list. I'll also remove the *.ir sites from firefly-blacklist.txt before I commit it.

[2015-02-11 20:30] myleshorton commented on #2195
Nice!

On Wed, Feb 11, 2015 at 12:29 PM, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-11 22:06] atavism commented on #2195
@oxtoacart I kept encountering an issue fetching cloud.yaml where the same set of domains were being appended to the whitelist array in flashlight.yaml. It looks like you ran into the same issue with the domain-fronted server list (in updateFrom() in flashlight/config/config.go). I think I'll just write a helper function to avoid replicating the same dedup logic?

[2015-02-11 22:22] oxtoacart commented on #2195
If you'd like.  Keep in mind that the logic will have to be different.  We overwrite the whole list of fronted servers with whatever comes from the cloud.yaml.  In the case of the whitelist, we actually need to respect whatever changes the user has made.  We came up with a scheme for this in the old Lantern, which you can see in [Whitelist.java](https://github.com/getlantern/lantern/blob/b0cb5ba4b

[2015-02-11 22:28] oxtoacart commented on #2195
BTW, there was some potentially relevant discussion on #2177.

[2015-02-11 22:33] atavism commented on #2195
@oxtoacart Yes, I'm already applying whatever customizations to the whitelist before it gets returned to the user. I store revisions in a separate array and merge the two sets. I'm just talking about synchronizing the global set of whitelisted domains. Whatever modifications the user makes, we still want that global set to always be available in the config, no? (In case the user wants to reset to

[2015-02-11 22:36] oxtoacart commented on #2195
That's right!

[2015-02-12 00:21] oxtoacart commented on #2195
I'm not saying we do this now, but one simple thing we could do short of maintaining country-specific whitelists would be to maintain a mapping of countries to TLD and exclude domains from the whitelist whose TLD corresponds to country in which we're running.  So basically just a runtime automated version of what @atavism is doing.

[2015-02-12 04:01] yinghuocho commented on #2234
@myleshorton: there are IPv4 hosts files maintained by Chinese programmers/users. But these public ones constantly become invalid. So I just integrated IPv6. The firewall of IPv6 seems not that aggressively updated.

[2015-02-12 04:09] oxtoacart opened #2242 "Remove natty and waddell"
To save space

[2015-02-12 09:21] fffw commented on #2237
jibber_jabber works. Thank you @oxtoacart! I'd like to use it directly in 'main' as the api is very simple.

It's very neat that tarfs exposes `http.FileStream` interface. https://github.com/getlantern/i18n and maybe other libs can easily interoperate with tarfs now.

Dynamically loading is very useful, although it might not be easy to apply to systray as it has so many syscalls, even callbacks.

[2015-02-12 12:13] oxtoacart commented on #2237
On Thu, Feb 12, 2015 at 3:21 AM, fffw <notifications@github.com> wrote:

I'm glad!  You're welcome.

Is there a reason that anything other than the localization library needs
to know the user's locale? If not, it might be easier just to include it in
your localization library.

I'm glad it works. Thanks for code reviewing tarfs!

I agree that it would be annoying to reimplement systray using dynam

[2015-02-12 12:56] fffw commented on #2237
to know the user's locale? If not, it might be easier just to include it in
your localization library.

Hmm you are right.

straightforward, so if you provided systray itself as a DLL, we could
interface with that through dynamically loading it without too much trouble
(I think).

Then we have to distribute or embed and extract the DLL.

[2015-02-12 15:06] atavism commented on #2195
@myleshorton I'm storing firefly-blacklist.txt now: https://github.com/getlantern/flashlight-build/blob/issue-2195/src/github.com/getlantern/flashlight/genconfig/cloud.yaml
The compressed version is ~ 52KB: http://s3.amazonaws.com/lantern_config/cloud.valencia.yaml.gz

[2015-02-12 16:03] fffw commented on #2240
`du -k | sort -nk 1` under `app/bower_components`
[code]
I think at least ui-bootstrap, angular-scenario and jquery/src can be removed.

Better approach is to use jsmin and htmlmin to compress assets to dist folder, and only embed that folder. I've done that before with similar libraries, reduced js size to < 500KB.

[2015-02-12 16:19] myleshorton commented on #2240
Yup makes sense @fffw

On Thursday, February 12, 2015, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-12 17:42] atavism commented on #2195
Hey @oxtoacart, quick question: what's the best way to update a section of the yaml config on disk? I know I can start an HTTP config server to push updates, but I'm assuming there's an easier way. This is right before the customizations propagate to the PAC file. I ended up writing another function in config/config.go for this:
[code]

[2015-02-12 18:06] oxtoacart commented on #2195
yamlconf already has an API for making updates, and in fact all updates need to be made through that API - http://godoc.org/github.com/getlantern/yamlconf#Manager.Update

The documentation for type Manager explains in more detail - http://godoc.org/github.com/getlantern/yamlconf#Manager

[2015-02-12 18:19] atavism commented on #2195
Ah, gotcha. I'm passing a mutator to the manager Update function now. Thanks!

[2015-02-12 18:47] atavism commented on #2231
I added a new openui flag to specify whether or not the UI should be automatically opened in the default browser. The current syntax is
[code]

[2015-02-12 20:22] oxtoacart commented on #2231
Great, thanks!  BTW, for Valencia, I'm updating flashlight so that it can
run without any command-line parameters by just defaulting them.  So role
defaults to client, address defaults to localhost:8787 and once I merge
your changes, I'll default uiaddr to localhost:16785 and openui to true.

Cheers,
Ox

-----------------------------------------------------------------------------------------

"I

[2015-02-12 20:23] atavism commented on #2195
When I go to create a PR with the whitelist changes, every subtree gets included in the diff. Would creating a separate PR that contains most subtree changes (mainly the UI) and merging that to master first be a sufficient workaround?

[2015-02-12 20:23] xiam commented on #21
We have some progress on this issue. I built a [Go package](https://github.com/getlantern/autoupdate) around go-update and equinox.io that provides a binary with the ability to update itself, we can use it for the new Lantern binary.

Here's a [code example](https://github.com/getlantern/autoupdate/blob/master/_test_app/main.go) and [documentation](https://github.com/getlantern/autoupdate/tree/mas

[2015-02-12 20:26] oxtoacart commented on #2195
Let's try it as-is. If it's too much of a pain to review, I'll ask you to do a separate PR for the subtree changes.  Thanks!

[2015-02-12 20:29] oxtoacart commented on #21
@xiam I'm working on the first-time installers.  I already have Mac working, Windows is mostly there (needs some automation and documentation) and Linux is starting today.  I think once those are ready, that'll be a good time for us to pair on pulling in your changes, and I can review your autoupdate work at the same time.

In the meantime, do you want to grab another P1 item from the [queue](http

[2015-02-12 20:39] myleshorton commented on #2231
Perfect @oxtoacart!

[2015-02-12 20:58] myleshorton commented on #2238
So on OSX and Windows we should just use what we're using now since those are the standard locations, i.e.

~/Library/Logs/Lantern
c:\Users\USER\AppData\Roaming\Lantern\logs (different on XP/Vista -- see https://github.com/getlantern/lantern/blob/devel/src/main/java/org/lantern/LanternClientConstants.java#L106)

[2015-02-12 21:00] oxtoacart commented on #2238
Okay, but if we do that we'll have to add log rotation logic.  My hope was that by using syslog on UNIX and maybe EventLog on Windows, we could avoid that.

[2015-02-12 21:04] atavism commented on #2195
@oxtoacart Okay, cool. I'll actually list the relevant files in the PR comment to make it easier for you to find them too. It looks like "git subtree merge-squash" lets me condense a subtree commit history as well. BTW, do we actually need packages like freetype-go underneath src?

[2015-02-12 21:06] oxtoacart commented on #2195
I'm guessing something that we import depends on it.  Can you grep for it?  If it's a transitive dependency, we want to vendor it for stability.

[2015-02-13 00:05] myleshorton commented on #2232
This could be another great one to look at @fffw, @aranhoide, or @xiam. It's definitely not the most glamorous, but it is super important if someone wants to grab it.

[2015-02-13 00:17] myleshorton commented on #2240
As a point of comparison, installers built from 1.5.17 with and without lantern-ui differ in size as follows:

with lantern-ui:
15.9 MB

without lantern-ui:
13.8 MB

So the ui takes up 2.1 MB.

[2015-02-13 00:21] myleshorton commented on #2240
So also @atavism, @fffw, and @oxtoacart, remember the only directory we actually distribute is **lantern-ui/app/**

[2015-02-13 00:44] myleshorton commented on #2240
And just at a quick glance the code in lantern-ui/app at least on devel is almost the exact same size as on master, so not sure if the issue is in the compression, in how we're embedding it, in what we're including, or what, but something seems off in one of the above.

[2015-02-13 00:46] myleshorton commented on #2238
Oh I see. Fine with me on first pass.

On Thu, Feb 12, 2015 at 1:00 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-13 04:53] myleshorton commented on #2234
Thanks @yinghuocho! I know China has great IPv6 deployment, but does it actually typically work end-to-end for most users (i.e. routers to ISPs to destination sites)? If so, that's extremely intriguing more generally. Do you have any experience with that @fffw?

[2015-02-13 05:16] fffw commented on #2234
@myleshorton I've not heard large scale deployment at home broadband.

[2015-02-13 05:18] myleshorton commented on #2234
Thanks @fffw. Are you personally able to load any sites over IPv6?

[2015-02-13 05:31] fffw commented on #2234
@myleshorton No. No any IPV6 route out by default.

[2015-02-13 05:33] myleshorton commented on #2234
Interesting thanks @fffw. If that's the case, what makes this valuable @yinghuocho?

[2015-02-13 18:06] fffw commented on #2240
Employed [Gulp](http://gulpjs.com/) tools to build the whole tree from 'app' to 'dist', reduced size to half and didn't impact the function.

Maybe we can consolidate fonts if we want it to be smaller.

[code]

I need write permission on https://github.com/getlantern/lantern-ui to push my branch.

[2015-02-13 18:10] atavism commented on #2240
@fffw Awesome! I just added you.

[2015-02-13 21:12] myleshorton commented on #1739
I'm seeing this on the issue-2195 for the host:

fl-singapore-005-33.getiantem.org

[2015-02-13 21:17] oxtoacart commented on #1739
Interesting - the IP corresponding to that host is in roundrobin.getiantem.org with a gray cloud (should be orange) and it's not individually registered.  So, this is either a duplicate of or related to #2216.

[2015-02-13 21:17] myleshorton commented on #2231
What branch is the ui-opening stuff on @atavism?

[2015-02-13 21:23] atavism commented on #2231
The same branch as the whitelist functionality: issue-2195. You have to pass in "-uiaddr localhost:16785 -openui" to see it open.

[2015-02-13 21:36] myleshorton commented on #2231
Nice!

On Fri, Feb 13, 2015 at 1:23 PM, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-13 22:52] atavism commented on #2232
https://github.com/pkar/plywood

[2015-02-14 00:00] myleshorton commented on #1739
OK I'm going to manually set those to orange in production for now.

[2015-02-14 16:14] fffw commented on #1902
Factored command line tool to seperate repo as per our pow wow discussion.

PR https://github.com/getlantern/pac-cmd/pull/1 is the tool.

PR https://github.com/getlantern/pac/pull/2 is the go code to use it.

[2015-02-14 16:23] myleshorton commented on #1902
Awesome! I'll give it a look.

On Saturday, February 14, 2015, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-14 18:19] oxtoacart commented on #1739
Thanks Myles.  Unfortunately, that didn't help because when there are
servers in rotation that don't have a corresponding entry of their own, we
still get 409 conflict.

I restarted peerscanner to deal with this.  On startup, peerscanner looks
for anything in rotation that doesn't have a matching individual entry and
removes it from rotation.

Cheers,
Ox

------------------------------------------

[2015-02-15 06:44] yinghuocho commented on #2234
@myleshorton, @fffw, many universities in China support IPv6.

[2015-02-15 09:06] fffw commented on #2232
I found https://github.com/segmentio/go-loggly on [official list](https://www.loggly.com/docs/loggly-libraries-catalog/) which is more coherent and well maintained.

POST to Loggly.com through proxy is tricky as the proxying code itself indeed requires reporting. If that is not the case, we can integrate it directly to https://github.com/getlantern/golog, and supply another Transport to it if we d

[2015-02-15 12:23] oxtoacart commented on #2232
This should be worked on along with #2238 since they're closely related.

[2015-02-15 12:38] oxtoacart commented on #2238
@fffw If you look in the valencia-mac branch, you'll find some changes to golog that allow configuring different streams for error and debug.  This is where you can plug in Loggly, so I recommend branching from valencia-mac.

I'm going to go ahead and add a file rotation library so that we can log to files, and then I'll assign this over to you to finish along with the Loggly changes.

[2015-02-15 12:44] fffw commented on #2238
For flexibility, the api might be something like
`golog.SetOutputs(golog.System, os.Stdout, loggly.New(token), golog.Rotator(dir, prefix, "10M"),...)`

[2015-02-15 12:56] oxtoacart commented on #2238
I don't think golog should have any dependencies on loggly, and I'm going to make file rotation a separate library.

This can all be handled by composing io.Writer's on top of each other, like this (pseudocode)

[code]

[2015-02-15 13:04] oxtoacart commented on #2204
We decided to punt on installers for now.  Most of the work for this was already done and is available here - https://github.com/getlantern/flashlight-build/tree/valencia-installers.

[2015-02-15 13:05] oxtoacart commented on #2209
We decided to punt on installers for now.  When we're ready to look at this again, this tool should be of great use - https://github.com/jordansissel/fpm

[2015-02-15 13:06] fffw commented on #2238
That's exatcly what I mean, except that I didn't know `io.MultiWriter` before.
[go-loggly](https://github.com/segmentio/go-loggly) is an `io.Writer`, and https://github.com/dogenzaka/rotator is a decent rotator, which is also an `io.Writer`.

As for Syslog or EventLog, end user might be not easy to submit them to support.

[2015-02-15 13:09] oxtoacart commented on #2238
[rotator](https://github.com/dogenzaka/rotator) looks perfect!  I was looking for something like that and couldn't find it.

Excellent that go-loggly is just an io.Writer!

I agree that syslog isn't the best option, so I will use files on all platforms.

[2015-02-15 15:18] myleshorton commented on #2204
Oh I thought we were only punting on Windows since users of circumvention
tools are relatively used to that approach there. I think we still need a
drag and drop installer on OSX.

On Sunday, February 15, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-15 15:21] oxtoacart commented on #2204
Ahh, good thing I clarified.  What about Linux?

[2015-02-15 15:28] myleshorton commented on #2204
I feel like we ultimately need one there too but can certainly punt for now.

On Sunday, February 15, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-15 15:31] oxtoacart commented on #2209
Moving back to Beta 1 but leaving P2.

[2015-02-16 02:19] myleshorton commented on #2234
Interesting thanks @yinghuocho!

[2015-02-16 21:08] #2216 closed

[2015-02-17 03:43] ed2k commented on #2223
why we need a screen? for normal get mode users, the best case is, it just works out of the box (maybe with an animated tray icon). the gui could be for advanced user or trouble shooting.

[2015-02-17 03:55] oxtoacart commented on #2223
I agree.  The main purpose of authentication is to provide a foundation for P2P services.  Lantern can and should work out-of-the-box without the user having to use a GUI.  However, if and when the user is ready to engage in P2P Lantern, there will be some sort of authentication required.

There are plenty of users who have already shown that their interested in P2P by adding friends and I believe

[2015-02-17 17:45] #2242 closed

[2015-02-17 17:46] oxtoacart commented on #2235
We're supporting c

[2015-02-17 17:46] oxtoacart commented on #2235
We're supporting cross-compilation targeting Windows, but Ubuntu is still outstanding.

[2015-02-17 17:51] xiam commented on #2213
I was thinking on using `github.com/getlantern/flashlight/util` to tunnel the `http.Get` call.

But, do we have a way to know if a client proxy is actually listening? If not, can we safely suppose it will be listening at that point in time? or should we try to proxy and see if it fails and try a naked request?

[2015-02-17 17:53] oxtoacart commented on #1739
Fixed along with #2216.

[2015-02-17 18:06] oxtoacart opened #2243 "[flashlight] Don't make unproxied requests to fetch yaml config in client mode"
'fetchCloudConfig' in config.go attempts to fetch the yaml config by first making a direct request and only falling back to a proxy if that doesn't work.  This isn't super-terrible because the config happens to be on s3 right now, but if we ever put the config on something more unique, this could allow censors to detect lantern.  When role = client, we should really never even attempt a direct req

[2015-02-17 18:07] oxtoacart commented on #2213
Good question.  You can use [waitforserver](http://godoc.org/github.com/getlantern/waitforserver) to wait for the client proxy to come up.

When running with `-role client` (i.e. Get mode), we should never make unproxied requests to any of our infrastructure. I noticed that we already do this in config.go and logged #2243.

[2015-02-17 20:51] xiam commented on #2213
@oxtoacart Before being able to use waitforserver, we need to know in which interface and port is the client proxy listening to, and that's a value that can be changed by the user (`-addr`). I think the most simple way to do this is having an exported variable that holds the configuration for the running process, I mean, instead of declaring a [local variable](https://github.com/getlantern/flashli

[2015-02-17 21:12] oxtoacart commented on #2213
The pattern that we're following right now is that whenever the config changes, we notify interested parties of that - see https://github.com/getlantern/flashlight-build/blob/valencia/src/github.com/getlantern/flashlight/flashlight.go#L121

If you have a method like lookupIp(), you could just call that in here.  Note - you'll need to call it twice, once for the first-time setup, and then once insi

[2015-02-17 21:13] oxtoacart commented on #2213
BTW @xiam, I really appreciate that you ask me for my opinion on such things!

[2015-02-17 21:32] xiam commented on #2213
Oh, but of course! Got it now :-)! thanks @oxtoacart.

[2015-02-17 21:34] oxtoacart commented on #2213
NP.  BTW, you might wonder why we don't have a more generic mechanism for subscribing to config updates.  The reason is that I like for my code to be as sequential as possible, and by doing it this way the config updates are applied in a predictable order and anyone can step through the code to see what's going on.

[2015-02-17 22:40] oxtoacart commented on #2240
If we get things down to 2.1 MB compressed (as embedded in the executable), that's good enough for now.

[2015-02-17 22:43] myleshorton commented on #2213
We also need to ultimately send this to the UI via a websocket.

[2015-02-17 22:46] oxtoacart commented on #2207
There is no setup sequence anymore.

[2015-02-17 22:46] #2207 closed

[2015-02-18 02:50] xiam commented on #2213
Hello @atavism! What do you recommend for the websocket communication? I guess there are other parts already using websockets and I could make a simple function that can be used by an existent service.

[2015-02-18 05:02] xiam commented on #2213
I ran into an interesting condition here and I think it could be important. My working branch is [issue-2213](https://github.com/getlantern/flashlight-build/tree/issue-2213).

I built and launched a flashlight proxy.

[code]

Then I tried to test the proxy.

[code]

It seems to me it takes longer than usual to show a result and also produces more errors than the version currently in `devel`.

Afte

[2015-02-18 08:06] #2238 closed

[2015-02-18 08:08] oxtoacart commented on #2213
@xiam We had a problem with our domain-fronting infrastructure late last night.  Could you please try your test again and see if it's any better now?

[2015-02-18 08:12] oxtoacart commented on #2213
@xiam Sorry I didn't make this clear earlier, but I think we'll actually need to use direct domain-fronting to geo.getiantem.org.  Otherwise, the IP address we get back will be the IP address of a proxy.  See https://github.com/getlantern/lantern/blob/devel/src/main/java/org/lantern/geoip/GeoIpLookupService.java for the Java implementation of this.

[2015-02-18 12:15] atavism commented on #2213
Hi, @xiam! Yes, it should be fairly easy for you to integrate this with the existing implementation. See https://github.com/getlantern/flashlight-build/blob/websocket/src/github.com/getlantern/flashlight/http/http.go and https://github.com/getlantern/flashlight-build/blob/websocket/src/github.com/getlantern/ui/app/js/app.js ; there's also code for displaying the self dot on the map already here: h

[2015-02-18 14:08] oxtoacart commented on #2213
@xiam I just added explicit support for direct fronting to fronted.  See https://github.com/getlantern/flashlight-build/pull/56.

[2015-02-18 16:17] oxtoacart commented on #2240
@myleshorton @atavism @carsonefv

In the new reduced set of web resources, the single largest remaining category of files is now our [fonts](https://github.com/getlantern/lantern-ui/tree/issue-2195/dist/font).

Do you happen to know if we're actually using all of those fonts in the Lantern UI?

[2015-02-18 16:19] xiam commented on #2213
@oxtoacart Thanks! It's working now, I'm glad that was a known problem and not something new.

[2015-02-18 16:34] xiam commented on #2213
@oxtoacart I think it could be useful if I add a new `FrontedClient() (*http.Client, error)` exported function to the `util` package that we could use in cases like this. This function would create a `fronted.Dialer` with Host `fallbacks.getiantem.org` and will return a `DirectHttpClient()`. How does it sound?

[2015-02-18 16:45] oxtoacart commented on #2213
@xiam I think the util package should remain stateless, and fronted dialers are actually stateful.  Client is already initializing fronted dialers based on the configuration - https://github.com/getlantern/flashlight-build/blob/devel/src/github.com/getlantern/flashlight/client/balancer.go#L22

Can you plug in there?

[2015-02-18 16:52] myleshorton commented on #2240
Wow great find @oxtoacart! That's crazy. I say we just switch to standard fonts wherever we can. @carsonefv can you maybe take a look at what standard web fonts are the closest to each of those fonts we're using? If I remember correctly, @skivvies added them I think for getting some of the left-to-right stuff working, but over 1MB for fonts is not what we want.

Actually, given that this could cau

[2015-02-18 16:54] oxtoacart commented on #2240
Yeah, ticketing for now is fine.  An intermediate step rather than removing these fonts completely would just be to confirm that we're actually using all of them.  If there are a few that are unused, that would be a quick win.  For example, there's an svg file in there - is that even in use or is that just for reference?

[2015-02-18 16:58] oxtoacart commented on #2240
@myleshorton You had expressed some concern about resources potentially ballooning when embedded in our binary.  I ran an experiment using the latest tarfs.

The dist folder, compressed with gzip, is 2198526 bytes.
When embedded in the binary, after gzip compression, it adds 2199457 bytes to the size of the binary, which is 931 bytes extra, or 0.04%.

So, I think we're good there.

[2015-02-18 17:01] carsonefv commented on #2240
Sure, where can I see what fonts we're currently using? I think we should
just use the helvetica font family, that's what I used for the welcome
screen design and it looks very similar to the current UI.

-Carson

On Wed, Feb 18, 2015 at 11:58 AM, oxtoacart <notifications@github.com>
wrote:

[2015-02-18 17:03] oxtoacart commented on #2240
I just ran a grep to see which of the files is referenced in our css or javascript:

[code]

[2015-02-18 17:04] oxtoacart commented on #2240
Looks like we can at least get rid of `LigatureSymbols-2.11.otf`.

[2015-02-18 17:06] oxtoacart commented on #2240
@carsonefv If you're familiar with css, you can see our CSS here:

https://github.com/getlantern/lantern-ui/blob/issue-2195/app/_css/app.css

[2015-02-18 17:11] oxtoacart opened #2244 "Save space by not using custom fonts"
In #2240 we noticed that about half of our web resource weight is fonts (over 1MB compressed).  We should consider switching to a standard font-family like Helvetica to save space.  We need to make sure that works okay for RTL languages like Farsi.

[2015-02-18 17:12] oxtoacart commented on #2240
From a quick glance at the css, it looks like all of the fonts are used by at least one CSS directive, so I don't think we can take anything except LigatureSymbols-2.11.otf out right now.

I've opened #2244 for the font issue.

[2015-02-18 17:14] carsonefv commented on #2240
Ok I see - I would suggest the following changes:

*Droid Sans Mono* change to *Andale Mono*
*Roboto Thin* change to *Helvetica Light*
*Roboto Light* change to *Helvetica*
*Roboto* change to *Helvetica Bold*
*Roboto Medium* change to *Helvetica Bold*
*Roboto Black* change to *Helvetica Bold*
*Ligature symbols* - Delete?

On Wed, Feb 18, 2015 at 12:06 PM, oxtoacart <notifications@github.com>
wrote:

[2015-02-18 17:17] oxtoacart commented on #2244
@carsonefv suggests "

*Droid Sans Mono* change to *Andale Mono*
*Roboto Thin* change to *Helvetica Light*
*Roboto Light* change to *Helvetica*
*Roboto* change to *Helvetica Bold*
*Roboto Medium* change to *Helvetica Bold*
*Roboto Black* change to *Helvetica Bold*
*Ligature symbols* - Delete?

"

[2015-02-18 17:18] oxtoacart commented on #2240
Thanks @carsonefv!  I've noted your suggestion in the new ticket.

[2015-02-18 17:41] oxtoacart opened #2245 "Don't use peers rotation"
Peers are currently still unreliable and they also have various security issues (they see your ip, the see your destination hosts, they see your unencrypted traffic).

I already removed peers from the default configuration - https://github.com/getlantern/flashlight-build/commit/01c9c69ef7fc0c46863c231bf63eea92f4e7628b#diff-51c0f46cacd391b79c1c92419364f220

We need to make sure to do the same for t

[2015-02-18 17:51] myleshorton commented on #2245
Wait you removed all peers from the round robin? So no give mode peers get
any traffic again? We just fixed that not long ago. This is the type of
change that needs more discussion. What makes you say they're unreliable?
All the other factors have always been the case since originally adding
peers to domain fronting.

On Wednesday, February 18, 2015, oxtoacart <notifications@github.com> wrote:

--

[2015-02-18 18:00] oxtoacart commented on #2245
No.  I changed the flashlight client to not connect to peers.getiantem.org (see the commit that I referenced).

No, see above.

change that needs more discussion.

That's why I opened this ticket.

Because sometimes when I run flashlight against just peers.getiantem.org I get lots of errors.  By their nature, peers are problematic because they come online and offline much more frequently than fall

[2015-02-18 18:01] myleshorton commented on #2244
Awesome! It does look like the ligature symbols are at least referenced in
the CSS but not sure if they're actually used.

On Wednesday, February 18, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-18 18:03] oxtoacart commented on #2245
Here's a good example - I was just browsing with peers.getiantem.org.  For a few minutes, it was ducky and even faster than fallbacks because peers are geographically closer to me.  Then bam, stuff started failing:

[code]

[2015-02-18 18:03] oxtoacart commented on #2244
The ligature symbols appear to be used for our icons at the bottom right.

Cheers,
Ox

-----------------------------------------------------------------------------------------

"I love people who harness themselves, an ox to a heavy cart,
who pull like water buffalo, with massive patience,
who strain in the mud and the muck to move things forward,
who do what has to be done, again and again."

-

[2015-02-18 18:05] aranhoide commented on #2245
From what I gather, this has only been committed to the valencia branch so far, and only affects the client behavior on first startup with no flashlight.yaml.  cloud.yaml will override this.  I think even if we don't go for this, peers should be given a tiny weight in the built-in configuration, so they won't be used for initial setup unless no fallbacks work.

[2015-02-18 18:07] oxtoacart commented on #2245
Correct.  My understanding with the Valencia release was that we wanted to make an excellent first impression on our new Iranian users.  Sending traffic through peers.getiantem.org IMHO interferes with that, both from an actual usage perspective as well as our messaging to users (i.e. the censors can find out your ip and what you're browsing by running some Lantern peers).

[2015-02-18 18:08] xiam commented on #2213
@oxtoacart I'm getting a bit confused, I understand I could take a random (?) chained server from `cfg.ChainedServers` and use the `chainedServer.dialer()` to get a dialer, except this dialer is a `*balancer.Dialer` that does not satisfy the `frontend.Dialer` interface as it does not have a `DirectHttpClient()` method, and I think we don't have a way to access `DirectHttpClient()` from that contex

[2015-02-18 18:26] myleshorton commented on #2240
Awesome!

[2015-02-18 18:26] oxtoacart commented on #2213
Chained servers don't domain front.  You need to grab a fronted server.

[2015-02-18 18:27] myleshorton commented on #2240
Awesome @oxtoacart on the size front by the way!

[2015-02-18 18:43] carsonefv commented on #2244
Yeah I just realized that too we should keep that if we can

-Carson

On Wed, Feb 18, 2015 at 1:03 PM, oxtoacart <notifications@github.com> wrote:

[2015-02-18 18:45] atavism commented on #2240
+1! Nice find.

[2015-02-18 19:15] xiam commented on #2213
@oxtoacart Thanks for the clarification! Sorry if I'm a bit slow here.

I'm now looking at ./flashlight/client/fronted.go, and this is the dialer I need: https://github.com/getlantern/flashlight-build/blob/devel/src/github.com/getlantern/flashlight/client/fronted.go#L60, but it is still transformed into a `*balancer.Dialer`, I think I could add a `DirectHttpClient` property to the `balancer.Dialer

[2015-02-18 19:17] myleshorton commented on #2245
OK, so they're still in the roundrobin but not getting used, unless cloud.yaml overrides it. I think that's reasonable in the sense that we probably don't want clients essentially hard-coded to use peers.

So they won't get any traffic unless again we include them in cloud.yaml (which we currently still do).

OK. I think given that we can just override that in cloud.yaml, and given that we don't r

[2015-02-18 19:19] myleshorton commented on #2245
Yeah I agree, and that's actually how it works with the QoS header now (i.e. they won't be used for critical services). Long term I think this will be a big area for further work. It's interesting, @oxtoacart that peers worked great for you for awhile -- could be that geographic optimizations for peers could be really useful.

[2015-02-18 19:36] oxtoacart commented on #2245
Peers are getting traffic from Lantern Java clients.  That won't change no matter what we do with the new Lantern for Valencia.

Also, part of this ticket is to build a new cloud.yaml that doesn't include them.  If we put them in cloud.yaml, that will very quickly override whatever settings came out-of-the-box.  I'll stand by my assertion that if we want our Iranian users to have the best first im

[2015-02-18 19:48] myleshorton commented on #2245
Of course, but old clients aside this change eliminates traffic to peers if we also change cloud.yaml.

This is a change we can make easily at any time, so let's discuss further in person.

The web team is in the process of redoing a bunch of the copy for the site.

[2015-02-18 19:57] oxtoacart commented on #2213
@xiam I would do something like this - https://github.com/getlantern/flashlight-build/pull/59

Note that I'm using the fronted.Dialer with the highest QOS to maximize our chance of success.

[2015-02-18 20:00] xiam commented on #2213
@oxtoacart Thanks a lot! I really appreciate your help, Ox.

[2015-02-18 20:01] oxtoacart commented on #2213
@xiam You're welcome.

[2015-02-18 20:03] oxtoacart commented on #2245
No, we would/should create a new version of cloud.yaml for the valencia release.  That doesn't affect old clients.

My point is that I think we should do this prior to releasing/advertising the Valencia lantern so that people have a great experience from download through first time running.  If people download lantern, run it and get routed through some bad peers, they will have a negative first i

[2015-02-18 20:04] oxtoacart commented on #2245
Actually, now that I think about it, I realize that we need to decide this sooner rather than later so that we can QA with a configuration that matches what we'll be pushing to users.  If we're using peers, we should QA with peers.  If we're not, we should not.

[2015-02-18 20:05] atavism commented on #2245
I've been using this already: http://s3.amazonaws.com/lantern_config/cloud.valencia.yaml.gz

[2015-02-18 20:08] oxtoacart commented on #2245
@atavism Thanks!

[2015-02-18 20:18] myleshorton commented on #2245
Right. I understand that old clients will still exist, but over time as users upgrade this change eliminates all peer traffic. That's all I'm saying.

I agree there are reasons to remove peers, but as of now traffic going to peers is a small overall portion of the total, and it's a system we've invested in significantly and have iterated quite a bit on improving through better checks from peerscan

[2015-02-18 20:22] oxtoacart commented on #2245
Last week when I asked about supporting upgrades from old Lantern clients, we all agreed that this was an unlikely use case that we wouldn't worry about supporting right now.

And you're not concerned about the marketability of Lantern once our website copy clearly explains the risks inherent in using it?

[2015-02-18 20:28] myleshorton commented on #2245
We agreed that it was unlikely old clients in Iran would conflict with new clients in Iran because we don't have that many clients running in Iran.

? We included the feature originally, so no.

[2015-02-18 20:30] oxtoacart commented on #2245
We've never clearly explained the impact of it, so I doubt many (if any) users currently understand their exposure.  Unless I'm missing something ...

[2015-02-18 21:36] myleshorton commented on #2245
That's true, although that was more because we just didn't get to it than anything else. Our current messaging describes accessing content through peers up to 4 hops away, however, which is essentially the same.

If we get feedback from users about it being problematic, we should respond to it, but we shouldn't do so preemptively.

[2015-02-18 21:50] xiam commented on #2213
OK, so I created a geo package inside flashlight and I updated [statserver](https://github.com/getlantern/flashlight-build/commit/2dc7a717e277611fed2cde6bf25f292e26d4d56e#diff-2744f8edbc2908aaa5455b8045541f4bL147) to use it instead of a non-proxied request.

Now I want to use the same package to get geolocation information of the user and, as the websocket funcionality is in the websocket branch,

[2015-02-18 23:38] oxtoacart commented on #2245
I've added peers back to the default set of fronted servers - https://github.com/getlantern/flashlight-build/commit/e722299bc8fc62e83a5705da41deca5c5f335e25

By default, there's a 4 to 1 mix of fallback to peer traffic (same as before in Lantern Java).  I strongly encourage you to run the new lantern, update your lantern.yaml to make fallbacks a minor part of the mix (on OS X it's in `~/Library/Ap

[2015-02-18 23:43] oxtoacart commented on #2213
The valencia branch has the most recent tarfs package.

[2015-02-19 00:24] myleshorton commented on #2245
Thanks @oxtoacart! Just to be clear on my pushback -- I'm actually not completely against removing peers, but it's just a really big change in terms of our overall direction and strategy and so just can't be made unilaterally. Will test with just peers for sure!

[2015-02-19 17:14] #2204 closed

[2015-02-19 17:20] aranhoide commented on #1792
This is done.  The new production cloudmaster is called 'production-cloudmaster'.  The old ones have been killed, and all their minions have been relaunched or reparented to the new one.  The DNS entries of the old flashlight servers have been cleaned up.

[2015-02-19 17:20] #1792 closed

[2015-02-19 17:25] myleshorton commented on #1792
Awesome @aranhoide!

On Thu, Feb 19, 2015 at 9:20 AM, aranhoide <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-19 17:29] oxtoacart commented on #1792
Fantastic!  The new servers are working great for me.

[2015-02-19 17:43] oxtoacart commented on #2237
I'll integrate this into flashlight-build to localize the system tray once #2205 has been merged.

[2015-02-19 17:49] oxtoacart commented on #2240
Once #2205 is merged, let's pull this in and regenerate dist.

[2015-02-19 18:07] xiam commented on #2213
Hello @atavism,

 I'm integrating my changes into the websocket branch but I got into some merge errors.

First, the tarfs, it had a lot of conflicts so I copied tarfs from the valencia branch since that's the most recent package version.

After that I found flashlight had some problems like:

[code]

And things like that. I see that those merge errors are due to parts that were removed in the val

[2015-02-19 18:20] xiam opened #2246 "[feature] Create an update server to replace Equinox"
Right now, we're using the Equinox.IO platform to distribute our releases.

Thinking on the long run, it may be safer to rely on an update server that we can control.

The Equinox.IO server is not open source, so if we want to deploy a server we have to create it first.

Given that we already have an API for auto-updates and a tool for signing and releasing binaries, creating this server should no

[2015-02-19 18:26] oxtoacart commented on #2246
One thing that we can do to simplify deployments is to actually just have the release server pull releases from GitHub.  The [GitHub API](https://developer.github.com/v3/repos/releases/) allows accessing releases.  And since these are public releases, the release server doesn't have to authenticate.  This way, we don't need a release tool and don't need to implement an authentication scheme for ou

[2015-02-19 21:15] oxtoacart opened #2247 "Consolidate pac-cmd and winproxy"
We have two projects that do almost exactly the same thing and share a lot of code, pac-cmd and winproxy.  We should consolidate the windows portion of the code somehow.

[2015-02-19 22:06] atavism commented on #2213
Hey @xiam, I would just work off this branch https://github.com/getlantern/flashlight-build/pull/62 @oxtoacart took care of most of those issues already there

[2015-02-19 22:33] aranhoide commented on #2222
All old servers have been killed.

[2015-02-19 22:33] #2222 closed

[2015-02-19 23:06] xiam commented on #2213
@atavism Fine, just did it with no problems. Let me take another look our websocket services to finish this up :-).

[2015-02-19 23:11] oxtoacart commented on #2213
@xiam I'm doing a little bit of tweaking in the websockets code to make it a little bit more generic.  If you can wait until tomorrow morning, I should have it ready to go by then.

[2015-02-19 23:48] xiam commented on #2213
@oxtoacart Sure. I'll continue investigating how things are currently working on the UI but I'll wait for your message to continue my integration.

[2015-02-20 14:14] #2243 closed

[2015-02-20 15:01] oxtoacart commented on #2195
@myleshorton @atavism The UI for this is unusably slow with our full 7000+ proxied sites list.  Unless we're sure that we can get that part of it working today, I say we remove the button from the UI for now.

[2015-02-20 15:02] oxtoacart commented on #1902
Library is ready, assigning it to myself to integrate.

[2015-02-20 15:03] oxtoacart commented on #2240
Actual changes are ready, assigning to myself to integrate.

[2015-02-20 15:10] myleshorton commented on #2195
Sounds good.

On Friday, February 20, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-20 16:22] fffw commented on #2232
I figured a new approach, which is to spawn a goroutine on startup, watch any additions to the log file, and write them to Loggly. It will record the last entry of successful send and send later entries if possible once network is available.

With it, we can have those errors when network is not reachable, or during startup/shutdown. I think it's important to us, as Lantern is a network utility.

[2015-02-20 16:33] oxtoacart commented on #2232
logrus looks interesting, but we don't have time to switch to it today.

Using the file as a buffer for log messages to Loggly is also interesting.  The only thing to be careful about there is that if the buffer gets too large, we probably don't want to flush the whole thing to Loggly.

[2015-02-20 18:45] myleshorton opened #2248 "UI not loading on Windows"
@oxtoacart and @atavism the UI isn't actually loading for me at all on Windows, either on FireFox or Chrome. I've tried the websocket-ox-tweaks branch as well as issue2237

![image](https://cloud.githubusercontent.com/assets/1143966/6307045/87ce7f84-b8ed-11e4-8489-6f2ef4e33dd3.png)

[2015-02-20 18:46] myleshorton commented on #2248
We're calling the waitforserver utility before launching the browser correct?

[2015-02-20 18:46] myleshorton commented on #2248
Actually refreshing the browser doesn't bring it up even after Lantern's been running for awhile, so looks like it's something else.

[2015-02-20 18:55] myleshorton opened #2249 "System tray call for opening Lantern on Windows is creating a command prompt window"
Need to tweak the arguments in

https://github.com/skratchdot/open-golang/blob/master/open/exec_windows.go

[2015-02-20 18:57] oxtoacart commented on #2248
@myleshorton Looking into it now.  I bet its a file path issue.

[2015-02-20 19:04] atavism commented on #2248
@myleshorton I had the same issue. Does the UI code reside in src/github.com/getlantern/ui relative to your current $GOPATH (which should be set to the flashlight-build directory)?

[2015-02-20 19:09] oxtoacart commented on #2248
PR - https://github.com/getlantern/flashlight-build/pull/70

[2015-02-20 19:10] oxtoacart commented on #2249
@myleshorton It's possible that tweaking arguments may not do it, since it's relying on the shell built-in `start`, so it actually has to start a shell to get it (I think).

[2015-02-20 19:36] oxtoacart commented on #2249
This StackOverflow thread might provide some insights - http://stackoverflow.com/questions/3677773/how-can-i-run-a-windows-batch-file-but-hide-the-command-window

The vbscript option with wscript.exe seems attractive to me.

[2015-02-20 19:37] oxtoacart commented on #2249
To elaborate on the vbscript option, we could just have a string in our program that contains the vbscript, extract it temporarily and run it with wscript.exe (which is a gui program and doesn't get a command window).

Actually, in general, using VBScript for doing windows utility tasks seems attractive, as long as we're not doing anything performance critical.

[2015-02-20 21:02] atavism commented on #2228
@myleshorton How often should this appear? Every time a new instance of the UI is opened?

[2015-02-20 21:04] myleshorton commented on #2228
I think probably just the first time, although for now every time would be
fine.

On Friday, February 20, 2015, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-20 22:48] oxtoacart commented on #2240
Nice work @fffw!

[2015-02-20 22:48] #2240 closed

[2015-02-20 22:48] oxtoacart commented on #2237
Nice work @fffw!

[2015-02-20 22:48] #2237 closed

[2015-02-20 22:49] oxtoacart commented on #2231
Nice work @atavism!

[2015-02-20 22:49] #2231 closed

[2015-02-20 22:49] oxtoacart commented on #2218
Nice work @atavism!

[2015-02-20 22:49] #2218 closed

[2015-02-20 22:49] oxtoacart commented on #2205
Nice work @atavism!

[2015-02-20 22:49] #2205 closed

[2015-02-20 22:50] oxtoacart commented on #2195
Nice work @atavism!

[2015-02-20 22:50] #2195 closed

[2015-02-20 22:52] #2248 closed

[2015-02-20 22:57] myleshorton commented on #2249
Thanks for the links @oxtoacart. It actually looks like that build flag isn't working - running a simple test with just go build and flags on windows works with cmd /c start.

[2015-02-20 23:01] oxtoacart commented on #2249
Sorry, don't know what you mean.  Can you please elaborate?

[2015-02-20 23:21] myleshorton commented on #2249
I'll fiddle with crosscompile to see if I can fix it.

[2015-02-20 23:23] oxtoacart commented on #2249
Fix what?  Are you seeing a console window when lantern runs?

[2015-02-20 23:27] myleshorton commented on #2249
Yeah I'm seeing it in both cases. Not you?

[2015-02-20 23:28] oxtoacart commented on #2249
Checking valencia branch now.

[2015-02-20 23:31] oxtoacart commented on #2249
Ahh.  What I see is a command prompt popping up briefly and disappearing when I run lantern.  I believe this is the window due to the cmd /S start trick.

What the `-H=windowsgui` linker flag does is prevent the lantern program from having its own persistent console window.  If you compile without that flag, you'll see that when you run lantern you actually get a console that shows the lantern out

[2015-02-20 23:34] oxtoacart commented on #2249
@myleshorton

BTW - here's an example of using a visual basic script to run a shell:

https://github.com/getlantern/flashlight-build/pull/74/files#diff-5e942261b43c8f4431a8248fdd19d520R41

[2015-02-20 23:36] myleshorton commented on #2249
Right. I'm saying that with that flag and straight go build on windows with a simple test program you don't get the temporary console.

[2015-02-20 23:45] oxtoacart commented on #2249
Ahh. That's very interesting.

[2015-02-21 01:47] oxtoacart commented on #2249
So what I'm finding is that if I build without the -H=windowsgui flag, I get the permanent console but not the temporary ones.  It doesn't matter whether I crosscompile from my Mac or build directly on Windows.

It looks like when lantern is built as a gui-mode program, it needs to open a shell to execute the cmd command.

[2015-02-21 02:21] fffw commented on #2249
Seems `ShellExecuteEx` does the [trick](https://msdn.microsoft.com/en-us/library/windows/desktop/bb776886(v=vs.85).aspx), I'm trying.

[2015-02-21 02:40] oxtoacart commented on #2249
Implemented - https://github.com/getlantern/flashlight-build/pull/75

[2015-02-21 02:45] oxtoacart commented on #2249
@fffw - see getlantern/flashlight-build#75

[2015-02-21 03:15] fffw commented on #2249
@oxtoacart Oh I drafted [another version](https://github.com/getlantern/flashlight-build/commit/7e4cbe6415e878e67f0eb5b18f8f01b88d5be08f) which calls `ShellExecuteW` through lazy loaded dll. It also works. I'm not sure which one is better.

[2015-02-21 03:19] fffw commented on #2249
Unfortunately `ShellExecuteW` doesn't fit in the `exec.Cmd` model

[2015-02-21 03:25] myleshorton commented on #2249
That's not the case with straight go build - there it works as I described.
I'll investigate further when I have a sec but sounds like something with
gox.

On Friday, February 20, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-21 03:37] fffw commented on #2249
@myleshorton I've tried `go build` and it still opens command window. `open-golang` actually executes `cmd /C start ...` which will open a new window, only if there's already one it can attach. We got to eliminate it.

[2015-02-21 03:53] myleshorton commented on #2249
Turns out it wasn't the flag alone (sorry forgot to try all the combos). This is the one that works (look at the exec call):

[code]

and test.go:

[code]

[2015-02-21 04:12] fffw commented on #2249
@myleshorton Oh that's super cool. So we found 3 ways and this one is the simplest.

[2015-02-21 04:18] myleshorton commented on #2249
Yeah sorry I forgot I had switched to that and thought it was just the
linker flag that made it work when it was both.

On Friday, February 20, 2015, fffw <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-21 07:34] fffw opened #2250 "Show lantern icon for executables"
Especially for Windows, as it's distributed as standalone exe file

[2015-02-21 08:00] fffw commented on #2250
Maybe https://github.com/akavel/rsrc can do the work. I'm trying.

[2015-02-21 08:36] oxtoacart commented on #2250
Cool idea!

[2015-02-21 08:53] oxtoacart commented on #2249
@myleshorton That's awesome!  In my testing it works with ./crosscompile too!

[2015-02-21 09:06] oxtoacart commented on #2249
@myleshorton and @fffw Great work!

[2015-02-21 09:06] #2249 closed

[2015-02-21 09:33] fffw opened #2251 "fdcount test fails occasionally"
in https://travis-ci.org/getlantern/flashlight-build/builds/51615935

--- PASS: TestTCP (0.86s)
=== RUN TestWaitUntilNoneMatchOK
--- PASS: TestWaitUntilNoneMatchOK (0.32s)
=== RUN TestWaitUntilNoneMatchTimeout
--- FAIL: TestWaitUntilNoneMatchTimeout (0.31s)
	Location:	fdcount_test.go:104
	Error:		Should be true
	Messages:	Should have waited less than time to close conn

[2015-02-21 10:36] fffw opened #2252 "detect os version in go"
We need it for error reporting to Loggly.
@oxtoacart has a great reference  https://groups.google.com/forum/#!topic/golang-nuts/NzEPGqlHIYQ

[2015-02-21 12:35] #2250 closed

[2015-02-21 14:22] xiam opened #2253 "Message for "Unable to listen at" error is confusing"
We're using a panic for a situation that could happen naturally at runtime and this may confuse the user, there is no need for the stack trace when the problem is that we have another application listening on the port flashlight attempted to use.

[code]

[2015-02-21 14:27] oxtoacart commented on #2253
Agreed.  In fact, what we need is a way to show a message box alerting the user to this (and similar) problems, since in production users won't have the console window.

[2015-02-21 15:15] atavism commented on #2253
We could use a lockfile to detect whether or not an instance of Lantern is already running and then just show an alert in the UI indicating this.

[2015-02-21 16:18] oxtoacart commented on #2253
+1 on detecting another instance of lantern.  Instead of using a lock file, we could just try to talk to it as if it's a lantern and if that works, consider it a lantern.  At that point, we could just open the UI again.

We'd still need to deal with the case that some other program is using that port, in which case we'd need to show an alert.  An alert in the UI won't work because there is no UI y

[2015-02-21 16:22] oxtoacart commented on #2232
This is 99% done.  Just need to grab the country from @xiam's geoip work once that has been merged.

[2015-02-21 16:28] myleshorton commented on #2253
Agreed @oxtoacart. I actually think attempting to bind to a known port is
the cleanest way to do this, especially in go where I believe support
for lock files on windows is still a bit of a mess.

On Saturday, February 21, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A F

[2015-02-21 17:30] atavism commented on #2228
@myleshorton It should only display once. I'm checking for a local storage key (or cookie where unsupported) before the welcome screen is shown. Also, clicking on 'Lantern' also shows it.

[2015-02-21 17:34] oxtoacart commented on #2228
Great idea on putting this state in the browser!
On Feb 21, 2015 11:30 AM, "atavism" <notifications@github.com> wrote:

[2015-02-21 18:38] xiam commented on #2213
I opened a [PR](https://github.com/getlantern/flashlight-build/pull/82) that intends to close this ticket, the user's geolocation information is now sent to the client and logged to the console.

@atavism I looked at the code you told me is for drawing the point but I'm feeling a bit lost, do you think you could help me finding a way through? Here's the code that prints the geolocation information

[2015-02-21 18:48] xiam commented on #2253
Yeah, simple lock files sometimes cause problems, what if the program crashes or the machine's power is shutdown? The lock file would still be there.

I've seen other programs saving its PID to some file. Program like these read this file at startup and then look for the PID to determine if another instance is runing.

This is better than a lockfile because if the PID is not found then it means la

[2015-02-21 19:53] atavism commented on #2213
@xiam Great! I added some code to update the model location field after the geolocation finishes. The point automatically gets drawn on the map once those attributes are set. See [here](https://github.com/getlantern/flashlight-build/commit/39941d14b493f7d001e4efd8d722205d3b1dd9dc). With those latest changes, you should see your point on the map now.

[2015-02-22 04:32] myleshorton commented on #2228
Sweet!

On Sat, Feb 21, 2015 at 7:34 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-22 04:48] myleshorton commented on #2253
Interesting on the saving a PID to a file @xiam, and I totally agree that straight lock files get problematic with crashes. I actually really like the combination of binding to a port and then if you can't bind attempting to tell the existing application to either open itself or close depending on what you want. The bind is nice because it's just as quick as checking a file, and only if there's a

[2015-02-22 13:48] xiam commented on #2213
Thanks a lot @atavism! Now I see the point.

Ha-ha.

[2015-02-22 15:06] oxtoacart opened #2254 "Map doesn't render in Firefox on OS X"
Using Firefox 35.0.1.

Chrome and Safari work.

![screen shot 2015-02-22 at 9 05 59 am](https://cloud.githubusercontent.com/assets/5000654/6318992/1ed4c8ea-ba72-11e4-8a39-4a845587ad15.png)

[2015-02-22 15:06] oxtoacart commented on #2254
This is in the valencia branch, btw.

[2015-02-22 15:14] xiam commented on #2254
I was about filling this too, it also does not work on Linux.

[2015-02-22 15:31] atavism commented on #2254
Taking a look now.

[2015-02-22 16:08] atavism commented on #2254
The map renders fine on the 0.0.12 branch so it's some new change we've introduced that's breaking it.

[2015-02-22 16:32] atavism commented on #2254
This is fixed here https://github.com/getlantern/flashlight-build/pull/88/files

[2015-02-22 17:12] #2254 closed

[2015-02-22 17:19] oxtoacart opened #2255 "Update lantern icons to latest versions"
Derek to supply

Need to remember to do favicon.ico too.

[2015-02-22 17:45] oxtoacart opened #2256 "Need to display Lantern version in footer of UI"
I just noticed that the UI footer isn't showing the Lantern version.  That'll be handy for debugging in the field.

[2015-02-22 20:48] #2255 closed

[2015-02-23 13:25] atavism commented on #2256
Yeah, this is super simple to display this in the UI: we just need to set the version field in the model. To get the version number, (and any other Lantern configuration details we may need), we could send that over the websocket when it first opens?

[2015-02-23 13:55] oxtoacart commented on #2256
Sounds good to me.

[2015-02-23 14:09] vcarus commented on #678
Same problems here.
I've uninstalled Lantern, but can't remove the extension.
I ran Lantern in Get mode, too.

Mac OSX here. I can't find the AppData folder or something like that. Anyone can help me please.
@myleshorton @scouttle @FrogManBear

[2015-02-23 18:08] atavism commented on #2256
Cool. How does auto-update affect the version number? Do we plan to hard-code the version number in a source file and just increment it whenever a new update is made available?

[2015-02-23 18:41] oxtoacart commented on #2256
@atavism The version and build date are compiled into the executable and are available here:

https://github.com/getlantern/flashlight-build/blob/valencia/src/github.com/getlantern/flashlight/flashlight.go#L33

On auto-update, we will get a new executable, which has a new version and build date built-in.  After restarting, when the UI connects it will be connected to a process that has that new ve

[2015-02-23 19:49] #2213 closed

[2015-02-23 19:50] oxtoacart commented on #1902
This is now integrated.  Great work @fffw!

[2015-02-23 19:50] #1902 closed

[2015-02-23 20:00] atavism commented on #2256
@oxtoacart Thanks!

[2015-02-23 20:06] #2228 closed

[2015-02-23 21:56] xiam opened #2257 "[bug] OSX: Pressing "Cancel" in the admin privileges dialog produces a panic in flashlight"
In OSX, when Lantern starts and the web UI appears, a message asking for Admin privileges is shown, if I hit "Cancel", flashlight panics and the UI shows the loading animation forever.

This is the panic message:

[code]

I don't have the `cocoasudo` utility in my system.

I ran into this problem while reviewing a PR: https://github.com/getlantern/flashlight-build/pull/92#issuecomment-75643577

[2015-02-23 22:23] oxtoacart commented on #2232
Bumped up to P1 so we don't miss this.

[2015-02-23 22:25] atavism commented on #2209
Do we plan to submit the package to the actual Debian repo this time? Would be great if new Ubuntu users only have to run ``yum install lantern``

[2015-02-23 22:38] xiam commented on #2232
Since @fffw is on holiday I think I can take a stab at this.

[2015-02-23 22:49] oxtoacart commented on #2232
@xiam I'm actually almost done with the integration.  PR coming soon :)

[2015-02-23 22:57] oxtoacart commented on #2232
@xiam I actually just realized that there's a big task here - we need to communicate with loggly via our proxy.  I'm assigning over to you.  I did manage to get the country information in there, it's on this branch - https://github.com/getlantern/flashlight-build/tree/issue2232-integrate.

[2015-02-23 23:21] xiam commented on #2232
@oxtoacart Sure! Looking into it.

[2015-02-23 23:37] xiam commented on #2232
Looks like I can provide an io.Writer to `golog.SetOutput()` in `logging.go`, this new writer will print its output (as it does today) and keep a buffer that will push the logs to Loggly through a proxy, when the proxy is available.

I would use https://github.com/segmentio/go-loggly.

And looks like we have some previous work in `logging.go`, but it does not buffer requests nor uses a proxy.

We

[2015-02-24 00:05] oxtoacart commented on #2232
@xiam We're already logging to go-loggly from logging.go (see the branch).  go-loggly actually already buffers, so the only thing we need to do still is get go-loggly to use our proxy.

[2015-02-24 00:58] aranhoide opened #2258 "[flashlight-build] Error cross compiling from Linux 64bit"
[code]

[2015-02-24 04:01] xiam commented on #2232
I'm having a problem here: the loggly client expected working over HTTPs and the proxy set up by `client.Configure()` could not communicate to it, I switched to plain HTTP and now the proxy communicates with a server but replies with this:

[code]

That happens only when the client uses the proxy client, when I use a normal `http.Client` it does not happen.

Does it sound familiar to you?

[2015-02-24 04:09] oxtoacart commented on #2232
You can't use the same client as you use for geolocation.  Geolocation is special because our geolocation server is actually registered with CloudFlare.  Loggly doesn't use CloudFlare, so you will have to proxy via the local proxy at port 8787.  Something like this:

[code]

[2015-02-24 04:11] xiam commented on #2232
Oh, right!

[code]

and

[code]

Got it.

[2015-02-24 15:02] oxtoacart opened #2259 "Improve flashlight map geolocation by having servers return their own location"
Right now, flashlight clients locate servers on the map based on geolocating the CloudFlare IPs to which they connect.  This isn't super useful, since the proxy servers aren't the CloudFlare servers, plus with CloudFlare's use of anycast, the displayed locations of CloudFlare IPs aren't necessarily accurate anyway.

One way to fix this would be to have the servers return their correct location in

[2015-02-24 15:33] oxtoacart opened #2260 "Windows Proxy Settings don't work with IE 8 on Windows XP"
Chrome works fine, but IE doesn't.

![screen shot 2015-02-24 at 9 26 44 am](https://cloud.githubusercontent.com/assets/5000654/6352411/14d989c4-bc08-11e4-9239-f07423392dfc.png)

![screen shot 2015-02-24 at 9 24 48 am](https://cloud.githubusercontent.com/assets/5000654/6352419/2015c258-bc08-11e4-9009-9080f89aaebe.png)

Interestingly enough, the pac url in Internet Settings is blank.

![screen shot

[2015-02-24 15:36] oxtoacart opened #2261 "Lantern UI doesn't display in Internet Explorer 8 on Windows XP"
I'm still on the fence as to whether or not we even want to support IE, but if we are then we'll need to fix this.

![screen shot 2015-02-24 at 9 34 34 am](https://cloud.githubusercontent.com/assets/5000654/6352462/762132a4-bc08-11e4-91a6-24b971f519fe.png)

Additional screenshots:
![screen shot 2015-02-24 at 8 29 20 pm](https://cloud.githubusercontent.com/assets/385670/6363956/7593e39c-bc65-11e4-8

[2015-02-24 15:36] oxtoacart commented on #2260
This could be a string encoding issue ...

[2015-02-24 17:32] #2256 closed

[2015-02-25 01:43] myleshorton commented on #2209
Yeah we should add them if possible so they can be installed with aptitude
(I think we can skip yum for now probably right?). I've never done that
before though and have no idea where to add them.

On Mon, Feb 23, 2015 at 2:25 PM, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A F

[2015-02-25 02:20] myleshorton commented on #678
Hey @vcarus sorry for the delayed reply, but you can remove it manually from here:

/Users/your_user_name/Library/Application Support/Mozilla/Extensions/{ec8030f7-c20a-464f-9b0e-13a3a9e97384}

[2015-02-25 02:38] xiam commented on #2260
They do work now:

![screen shot 2015-02-24 at 8 34 54 pm](https://cloud.githubusercontent.com/assets/385670/6363932/04cab2d0-bc65-11e4-9473-ff04b616f8d3.png)

Thank you @oxtoacart.

[2015-02-25 02:38] #2260 closed

[2015-02-25 02:39] atavism opened #2262 "UI missing resources running Lantern on Windows"
Steps to reproduce on the valencia branch:

Compile Lantern
[code]

Generate Windows executable:
[code]

After running lantern-installer.exe, Lantern appears to install correctly, and the UI opens in my default browser (Chrome), but the UI fails to load certain resources and displays the following:

![image](https://cloud.githubusercontent.com/assets/6346213/6363936/7564cc8a-bc6d-11e4-9bc3-9727046

[2015-02-25 02:42] oxtoacart commented on #2261
Duplicate of #2262

[2015-02-25 02:43] oxtoacart commented on #2261
Oops, not a dupe.

[2015-02-25 02:44] xiam opened #2263 "[bug] UI fails to start on IE8 (Windows XP)"
This is on Windows XP, IE8.

The first time Lantern UI comes up, a confusing message like this is shown:

![screen shot 2015-02-24 at 8 28 59 pm](https://cloud.githubusercontent.com/assets/385670/6363950/666ec71a-bc65-11e4-882c-df4b8836f187.png)

Users can easily enable that setting by clicking the bar and choosing "Enable Intranet Settings" (it should be documented somewhere):

![screen shot 2015

[2015-02-25 02:45] oxtoacart commented on #2260
@xiam. Thanks for reviewing!

[2015-02-25 02:46] oxtoacart commented on #2263
This is a dupe of #2261

[2015-02-25 02:52] atavism commented on #2263
Thanks for the extra screenshots, @xiam! I copied those over to #2261

[2015-02-25 03:11] oxtoacart commented on #2261
Embedding the app folder instead of the dist folder yields some more useful console output.

![screen shot 2015-02-24 at 9 06 56 pm](https://cloud.githubusercontent.com/assets/5000654/6364262/2d4aa48c-bc69-11e4-9e73-c32c1935ef69.png)

If I'm interpreting this correctly, there's a lot of stuff that's going to need to be fixed to get this to run on IE 8.

[2015-02-25 03:16] oxtoacart commented on #2261
BTW, only 3.61% of the visits to getlantern.org were with Internet Explorer, and of those only 24% were IE versions below 11.  So, only 0.8664% of our visits are from IE versions prior to 11.  If we can get this thing working on 11, I think that might be good enough.

@atavism @myleshorton What do you think?

[2015-02-25 03:20] oxtoacart commented on #2262
@atavism Have you pulled valencia recently?  Earlier today I noticed that we weren't always updating the dist folder when we should have been, so I committed this - https://github.com/getlantern/flashlight-build/commit/9bfdb1a7e9ca9a1f0a70d8df0d4a7d513b3db31b

If you run `UPDATE_DIST=true ./crosscompile.bash` it'll update the dist folder before embedding.  Does that help any?

[2015-02-25 03:27] atavism commented on #2262
Ah, yeah it does! Thanks. I pulled from valencia a few hours ago, but I'll be sure to run that command from now on while testing. This isn't an issue then. Closing.

[2015-02-25 03:27] #2262 closed

[2015-02-25 04:20] atavism commented on #2261
@oxtoacart Yeah, I agree. jQuery 2.0+ and AngularJS 1.1+ don't support IE8 at all which explains all the error messages. We should just try to ensure compatibility with IE 11 initially and definitely display an error message for older versions. I've been testing on 11 and haven't encountered any issues at all so far. I'm going to test on IE10 tomorrow.

[2015-02-25 06:40] myleshorton commented on #2261
Agreed @oxtoacart and @atavism let's skip IE8!!

[2015-02-25 14:47] oxtoacart opened #2264 "[flashlight] Get global and user stats from statshub and populate map"
Right now, flashlight doesn't query statshub for stats and thus can't populate the country tooltips or the tooltip for the self user, nor the stats information in the footer.

[2015-02-25 14:48] oxtoacart opened #2265 "[flashlight] Disable country tooltips"
Right now, the flashlight client doesn't get any stats from statshub and can't populate the country tooltips with any information.  We should disable these for now.  #2264 reenables them.

[2015-02-25 16:40] Derekf5 opened #2266 "User Feedback: Cannot access Google Scholar in Get mode"
A user told us via twitter that Lantern was working fine in get mode except that google scholar could not be accessed.  I tried to replicate the problem, and even after inputing scholar.google.com into the proxied sites list, this is the screen i was shown.

![screen shot 2015-02-25 at 11 36 53 am](https://cloud.githubusercontent.com/assets/7864729/6375052/a12b03e6-bce2-11e4-8cf1-8df277d454ea.png)

[2015-02-25 18:02] #2232 closed

[2015-02-25 18:02] #2265 closed

[2015-02-25 18:03] #2045 closed

[2015-02-25 19:13] #2245 closed

[2015-02-25 23:58] oxtoacart opened #2267 "Deceased Lantern systray icons pile up on Windows"
After stopping Lantern, the systray icon on Windows sticks around until and unless you hover over it.  If you stop and start Lantern multiple times, the icons pile up.

![screen shot 2015-02-25 at 5 55 54 pm](https://cloud.githubusercontent.com/assets/5000654/6383605/e6e855d4-bd17-11e4-94c6-a377678ee57e.png)

[2015-02-26 00:19] fffw commented on #2267
Oh we didn't remove trayicon while quiting. Let me try it.

[2015-02-26 02:37] #2267 closed

[2015-02-26 03:45] aranhoide commented on #2209
In principle, distributing Lantern in the official Ubuntu repos means we get locked to the release schedule of Ubuntu.  What we could do is create our own repo that users could install via a ppa, but that is no more convenient for users than just downloading the .deb, so it doesn't make sense unless we're going to push updates to that repo, which would overlap with our auto-update functionality.

[2015-02-26 03:49] oxtoacart commented on #2209
Actually, the nice thing about in-app auto-update is that we could push a more or less arbitrary version to the official Ubuntu repos and it can just update itself automatically once it runs.

[2015-02-26 03:55] aranhoide commented on #2209
I don't think that is allowed in the official repos, that's what I meant.  IIRC the version of e.g. Firefox and Chromium is fixed and you can only get security updates for any given Ubuntu release.  You get version updates if you upgrade your Ubuntu version.

[2015-02-26 03:57] aranhoide commented on #2209
cf. https://wiki.ubuntu.com/StableReleaseUpdates

[2015-02-26 06:04] vcarus commented on #678
@myleshorton Thanks for your reply.

I went to the about:config page of firefox and searched the key word lantern.
2 things found, and manually removed.
Done.

[2015-02-26 06:17] oxtoacart commented on #2209
Our auto-update has nothing to do with the Ubuntu repos.  We can put version 2.0.0 in the Ubuntu repo, and while it's running it might upgrade itself to 2.1, then 2.2, etc., all completely outside of the deb workflow (just like on our other platforms).

[2015-02-26 06:24] aranhoide commented on #2209
In theory Chrome could do that too, but that doesn't happen in Ubuntu's Chromium.  The closest thing that works like that AFAIK is flash, but that is not a package per se.  What you install is a plugin that downloads flash.

Also, I don't think we are likely to ever get into the official repo with statically built libraries, but I could be wrong.

[2015-02-26 07:33] myleshorton commented on #678
Great @vcarus! Yeah that's probably the easier route =).

[2015-02-26 08:09] aranhoide commented on #2209
Also, I think the earliest we could get this in the Ubuntu official repo would be in next Ubuntu release, so this would never make it to the Valencia version anyway.

My inclination would be to punt on submitting to the official distribution until the Go Lantern seems mature and stable enough that we'd feel comfortable to ship it even if we knew it would only get security updates thereafter.

[2015-02-26 15:46] atavism opened #2268 "Support previous user settings"
- Enable/disable anonymous usage reporting
- Run Lantern on system startup

This task also involves re-enabling the settings screen in the UI.

[2015-02-26 16:00] oxtoacart commented on #2210
From running some traceroutes, it looks like traffic from Iran to cloudflare.com tends to be routed to Europe (London, Frankfurt, Paris).

[2015-02-26 16:31] myleshorton commented on #2210
Yup that's what I suspected - interesting it goes to multiple though. Does
that depend on the domain?

On Thursday, February 26, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-26 16:32] myleshorton commented on #2210
Sounds like the DO Amsterdam data center might not be so bad.

On Thursday, February 26, 2015, Adam Fisk <afisk@getlantern.org> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-26 16:35] oxtoacart commented on #2210
Yeah, I'm trying the Amsterdam datacenter as we speak.

Regarding the routing - no, I see different routes used all for the `cloudflare.com` domain.  It's possible that they're all ending up at the same CloudFlare data center and just taking different routes there, but for now I think just placing servers in Europe is close enough.

I'm running tests with boom from Iran which will tell us more sho

[2015-02-26 16:41] atavism commented on #2210
Are you on testing from our r0ute.com VPS? I was going to build flashlight on there and run some tests, but it looks like you already did (or started to).

[2015-02-26 16:45] oxtoacart commented on #2210
Yes, I'm testing from the r0ute.com VPS.

[2015-02-26 16:50] atavism commented on #2210
Do you want to pair on this ticket? I was going to work on this. Do you want me to setup some flashlight servers in the DO Amsterdam data center to start?

[2015-02-26 16:52] myleshorton commented on #2210
I'm also curious about the vultr Milan data center and just generally
testing different options.

On Thursday, February 26, 2015, atavism <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-26 16:53] oxtoacart commented on #2210
@atavism Yeah.  If you want to modify lantern_aws so that we can target the Amsterdam 3 data center when we spool up new flashlight instances, I'll take a look at the peerscanner changes.  We've been using this naming convention for flashlight:

fl-<cc>-yyyymmdd-###

Where <cc> is the two digit country code where the servers are located, yyyymmdd is the date the server was launched and ### is a se

[2015-02-26 16:54] oxtoacart commented on #2210
@myleshorton I agree it would be interesting to explore other provides, but if you look at the results that I just emailed, the Amsterdam data center performs very well indeed from Iran.  Since we already have the ability to deploy to Digital Ocean, I would say we start with that and explore the other stuff if we have time.

[2015-02-26 16:57] myleshorton commented on #2210
Yeah that's fine. I'm more talking about when we really dive into the speed
iteration.

On Thursday, February 26, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-26 17:01] atavism commented on #2210
Yep. I'm looking into the lantern_aws changes now.

[2015-02-26 17:20] oxtoacart commented on #2210
@atavism Let me know if you have any questions about the lantern_aws stuff.  @aranhoide knows the most about it, but I've had my hands in there.  I think what you need to do is add a provider to salt/salt_cloud/cloud.providers that's like do_sg but is do_nl.

[2015-02-26 17:20] oxtoacart commented on #2210
Oh, you'll need to add a profile to cloud_profiles too.

[2015-02-26 17:23] oxtoacart commented on #2210
@atavism Actually, looks like the do provider takes a configuration parameter (grain) with the DO region.  That parameter appears to be set in bin/config.py and you can override it in your bin/config_overrides.py.  If we're lucky, that might be all that's necessary.

[2015-02-26 17:26] atavism commented on #2210
@oxtoacart Yep, changed all of those and created a new profile for Amsterdam. Waiting for SQS to process the requests I made and for the servers to show up in DO. Should be finished shortly.

[2015-02-26 17:30] atavism commented on #2210
Ah, ```config_overrides.py``` is used to override the options set in ```config.py```. Makes sense. It might be useful to update ```fake_controller.py``` to accept a profile parameter option too.

[2015-02-26 17:55] oxtoacart commented on #2210
@atavism I'm still not seeing any servers?  Which cloudmaster did you use?

[2015-02-26 18:02] atavism commented on #2210
@oxtoacart I'm looking into it. I used "production-cloudmaster" -- do I need to run ```bin/update.py``` to propagate the new profiles there first?

[2015-02-26 18:17] oxtoacart commented on #2210
@atavism Weird, it looks like the cloudmaster isn't getting messages (at least not from me).

@aranhoide Any suggestions?  I ran `bin/fake_controller.py launch-fl fl-nl-20150225-001` against the production cloudmaster, and `launch-progress.bash` doesn't show anything being launched.

[2015-02-26 21:15] oxtoacart commented on #2210
Implemented.  This has yielded an entire order of magnitude improvement in request times for https://www.google.com/humans.txt from within Iran, which bodes very well for other usage as well.  Huge win!

[2015-02-26 21:15] #2210 closed

[2015-02-27 01:21] #2236 closed

[2015-02-27 11:48] fffw opened #2269 "Add Google domains to whitelist"
If lantern hits the servers at DO Amsterdam, accessing http://www.google.com will 302 redirect to http://www.google.nl, which is not in our whitelist.

As a workaround, we can treat Google specially and add all its [supported domains](http://www.google.com/supported_domains) to whitelist.

[2015-02-27 12:06] fffw opened #2270 "lantern.log not created on Windows"

[2015-02-27 12:08] fffw commented on #2270
exe built from [valencia](https://github.com/getlantern/flashlight-build/tree/valencia) branch will not create lantern.log, whereas
[issue2270](https://github.com/getlantern/flashlight-build/tree/issue2270) branch can write this file as normal.

Same on Windows XP/7/8.1 VM.

[2015-02-27 13:29] #2257 closed

[2015-02-27 14:21] #2270 closed

[2015-02-27 14:28] oxtoacart commented on #2269
@fffw Great find!  Am I correct in saying that this was a problem with the old Lantern too since in Singapore Google redirects to www.google.com.sg?

[2015-02-27 14:39] fffw commented on #2269
Yes exactly.

[2015-02-28 11:36] myleshorton commented on #2210
Awesome!

On Thursday, February 26, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-02-28 11:36] myleshorton commented on #2209
Makes sense to me @aranhoide. I don't know much about this area. Are there
third party repos that a lot of people generally have set up?

On Thursday, February 26, 2015, aranhoide <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-03-01 04:26] #2251 closed

[2015-03-01 04:27] myleshorton commented on #2261
closing!

[2015-03-01 04:27] #2261 closed

[2015-03-01 05:08] myleshorton commented on #2269
Yeah I like the idea of just adding the supported domains @fffw. You want to add that?

[2015-03-01 05:12] fffw commented on #2269
Created at PR at https://github.com/getlantern/flashlight-build/pull/105

[2015-03-01 05:46] myleshorton opened #2271 "Give mode servers appearing in orange instead of green"

[2015-03-01 05:47] myleshorton commented on #2271
This should be a quick one @atavism if you want to give it a peek. Happy to as well.

[2015-03-01 05:52] myleshorton opened #2272 "favicon looks pixelated"
![image](https://cloud.githubusercontent.com/assets/1143966/6429619/6d934fb6-bfdf-11e4-9147-30ec243b7ce6.png)

[2015-03-01 06:08] myleshorton opened #2273 "Getting 401 Unauthorized during proxying"
Mar 01 06:05:50.026 - fronted: HTTP ERROR FOR MASQUERADE bizimyol.info: Head http://www.google.com/humans.txt: Dest: www.google.com:80    ProxyHost:     Unable to issue write request: Bad response status for read: 401 Unauthorized
Mar 01 06:05:50.572 - enproxy: Failing on Dest: www.google.com:80    ProxyHost:     Unable to issue write request: Bad response status for read: 401 Unauthorized

[2015-03-01 07:35] myleshorton opened #2274 "Tunneling of cloud.yaml failing"
Mar 01 07:33:01.004 - yamlconf: Custom polling failed: Unable to read yaml from http://s3.amazonaws.com/lantern_config/cloud.valencia.yaml.gz: Unable to fetch cloud config at http://s3.amazonaws.com/lantern_config/cloud.valencia.yaml.gz: Get http://s3.amazonaws.com/lantern_config/cloud.valencia.yaml.gz: http: error connecting to proxy http://localhost:10080: dial tcp 127.0.0.1:10080: connection re

[2015-03-01 07:39] myleshorton commented on #2234
They become invalid because of IP-based blocked, correct @yinghuocho? They just start blocking all the IPs in those lists in addition to poisoning the DNS?

[2015-03-01 07:42] myleshorton commented on #2269
Looks like #2274 is blocking this.

[2015-03-01 07:42] myleshorton commented on #2209
Have you ever looked at https://build.opensuse.org/ @aranhoide? Looks interesting for supporting multiple Linux varieties.

[2015-03-01 07:51] myleshorton opened #2275 "pac file directing users to port 8787 where nothing's running"
This means proxying isn't working at all!

[2015-03-01 08:16] myleshorton opened #2276 "Merging of updated proxied sites from cloud.yaml is broken"
They both don't get updated in lantern.yaml nor in the pac file. Not sure if things other than the proxied sites also aren't getting updated.

Need a better unit test to catch this.

[2015-03-01 08:18] oxtoacart commented on #2273
That's during a masquerade test. Its not unusual for some masquerades to fail. That's why we test them before using them.  Suggest closing.

[2015-03-01 08:31] myleshorton commented on #2273
Why would they fail?

[2015-03-01 08:32] myleshorton commented on #2273
As in, it makes sense they might fail in a censored region, but why outside of one?

[2015-03-01 08:34] myleshorton commented on #2274
Note this only fails on the first attempt. The successive ones succeed after the initial polling interval.

[2015-03-01 08:34] myleshorton commented on #2274
We need to wait for the proxy to actually be up.

[2015-03-01 08:37] #2263 closed

[2015-03-01 08:39] myleshorton commented on #2230
Also see #1371

[2015-03-01 08:41] myleshorton commented on #2202
Closing in light of new installers/go port.

[2015-03-01 08:41] #2202 closed

[2015-03-01 08:41] myleshorton commented on #2200
This is all set @atavism correct?

[2015-03-01 08:42] atavism commented on #2200
Yeah, we can close this.

[2015-03-01 08:42] #2200 closed

[2015-03-01 08:43] myleshorton commented on #2201
Closing since this is on the java side.

[2015-03-01 08:43] #2201 closed

[2015-03-01 08:44] myleshorton commented on #2184
This one's still an issue right @oxtoacart?

[2015-03-01 08:44] myleshorton commented on #2178
Is this one still happening @oxtoacart?

[2015-03-01 08:47] myleshorton commented on #2159
Closing with new installers.

[2015-03-01 08:47] #2159 closed

[2015-03-01 08:49] myleshorton commented on #2123
Java. Closing.

[2015-03-01 08:49] #2123 closed

[2015-03-01 08:50] myleshorton commented on #2090
Closing since this is on the java side.

[2015-03-01 08:50] #2090 closed

[2015-03-01 08:50] #2073 closed

[2015-03-01 08:51] #2074 closed

[2015-03-01 08:52] myleshorton commented on #2033
Fixed in Valencia.

[2015-03-01 08:52] #2033 closed

[2015-03-01 08:52] #2023 closed

[2015-03-01 08:53] #2006 closed

[2015-03-01 08:53] #2005 closed

[2015-03-01 08:53] #2010 closed

[2015-03-01 08:53] #2022 closed

[2015-03-01 08:54] myleshorton commented on #1994
java

[2015-03-01 08:54] #1994 closed

[2015-03-01 08:54] myleshorton commented on #2060
java

[2015-03-01 08:54] #2060 closed

[2015-03-01 08:55] myleshorton commented on #1978
java

[2015-03-01 08:55] #1978 closed

[2015-03-01 08:56] oxtoacart commented on #2275
Port 8787 is the port on which Lantern runs unless you specify a different command-line parameter.  Since users won't be running Lantern from the command-line, I'm bumping this down to a P3.

@myleshorton Sound OK?

[2015-03-01 08:57] myleshorton commented on #1923
Is this one done @oxtoacart?

[2015-03-01 08:57] myleshorton commented on #1900
See #21

[2015-03-01 08:57] #1900 closed

[2015-03-01 08:58] myleshorton commented on #1892
java

[2015-03-01 08:58] #1892 closed

[2015-03-01 08:58] #1883 closed

[2015-03-01 08:59] #1842 closed

[2015-03-01 08:59] myleshorton commented on #1836
This still an issue with the latest round @oxtoacart?

[2015-03-01 09:00] myleshorton commented on #1826
This is done @atavism right? Except it sounds like maybe there's a bug pulling the blog?

[2015-03-01 09:00] #1782 closed

[2015-03-01 09:01] myleshorton commented on #1717
This is fixed in the Valencia release.

[2015-03-01 09:01] #1717 closed

[2015-03-01 09:01] myleshorton commented on #1690
java

[2015-03-01 09:01] #1690 closed

[2015-03-01 09:02] #1688 closed

[2015-03-01 09:03] myleshorton commented on #1687
Hey I didn't notice if this is integrated in the latest NSIS installer @oxtoacart. Is it? If not it's an easy add.

[2015-03-01 09:03] myleshorton commented on #1674
OK -- this is being done in #2269 @percyalpha

[2015-03-01 09:03] #1674 closed

[2015-03-01 09:04] #1608 closed

[2015-03-01 09:04] oxtoacart commented on #2273
Variety of reasons, including but not limited to the domain having moved off CloudFlare.  I don't know why that host failed the masquerade check at that point in time, and I actually can't reproduce it now.

[2015-03-01 09:04] #1512 closed

[2015-03-01 09:05] myleshorton commented on #1469
Hopefully not an issue with new installers.

[2015-03-01 09:05] #1469 closed

[2015-03-01 09:05] oxtoacart commented on #2274
@myleshorton This sounds like a P2 at most then, yes?

[2015-03-01 09:06] #1453 closed

[2015-03-01 09:06] #1397 closed

[2015-03-01 09:06] oxtoacart commented on #2184
Yup.

[2015-03-01 09:07] #1216 closed

[2015-03-01 09:07] #1268 closed

[2015-03-01 09:07] #1323 closed

[2015-03-01 09:08] #1353 closed

[2015-03-01 09:08] #1349 closed

[2015-03-01 09:09] #1201 closed

[2015-03-01 09:12] #1132 closed

[2015-03-01 09:13] #1131 closed

[2015-03-01 09:13] #1053 closed

[2015-03-01 09:13] oxtoacart commented on #2178
Looks like it's working fine.

[2015-03-01 09:13] #2178 closed

[2015-03-01 09:14] #1026 closed

[2015-03-01 09:14] #1024 closed

[2015-03-01 09:14] #976 closed

[2015-03-01 09:15] #765 closed

[2015-03-01 09:15] oxtoacart commented on #1923
Yes, we're being aggressive on all checks now, including peers.

[2015-03-01 09:15] #1923 closed

[2015-03-01 09:16] oxtoacart commented on #1836
This is fixed.

[2015-03-01 09:16] #1836 closed

[2015-03-01 09:16] #213 closed

[2015-03-01 09:16] #157 closed

[2015-03-01 09:17] myleshorton commented on #140
@oxtoacart and @Derekf5 knocked this out

[2015-03-01 09:17] #140 closed

[2015-03-01 09:17] oxtoacart commented on #1687
This is fixed in Valencia, yes.  We kill any existing lantern process on install and uninstall.

Note - this only works when upgrading from a Go-based release.  If you were running the old Java Lantern, you might still see this error.  Since we're not supporting that use case, we can close this.

[2015-03-01 09:17] #1687 closed

[2015-03-01 09:19] myleshorton commented on #2275
That's not working for me. I get connection refused trying to hit 8787 on 127.0.0.1 after running flashlight with no command-line parameters.

[2015-03-01 09:21] oxtoacart commented on #2275
@myleshorton Your lantern.yaml probably has a port from a previous time that you can with the command-line parameter.  If you wipe out your lantern.yaml and run again, it should work.

[2015-03-01 09:25] myleshorton commented on #2275
Yup works! Thanks @oxtoacart

[2015-03-01 09:27] oxtoacart commented on #2275
@myleshorton I'm reopening as a P3 since this is a little annoying if you do use a different port for whatever reason.  Sound good?

[2015-03-01 09:30] myleshorton commented on #1739
Seeing this again.

[2015-03-01 09:31] oxtoacart commented on #1739
@myleshorton Can you include recent log snippets please?

[2015-03-01 09:34] myleshorton commented on #1739
Yeah looks like it's all the one host:

fronted: HTTP ERROR FOR MASQUERADE zemtv.com: Head http://www.google.com/humans.txt: Dest: www.google.com:80    ProxyHost: 2e293647f92bc9204609150c2980ba28.getiantem.org    Unable to issue read request: Bad response status for read: 409 Conflict
enproxy: Dest: www.google.com:80    ProxyHost: 2e293647f92bc9204609150c2980ba28.getiantem.org    Unable to issue r

[2015-03-01 09:36] oxtoacart commented on #1739
Here's one recent snippet:

[code]

This is a peer.  I think the root cause is likely different this time.

@myleshorton Have you seen this for anything other than peers recently?

[2015-03-01 09:37] myleshorton commented on #2273
That's a pretty darn rare case though.

It seems like the majority of the time if we're seeing this it's likely to indicate some bug. Why would we ever get an unauthorized for example? I'm also seeing things like the following for sites that are clearly responsive in manual tests:

fronted: HTTP ERROR FOR MASQUERADE www.maxmind.com: Head http://www.google.com/humans.txt: Dest: www.google.com:80

[2015-03-01 09:39] myleshorton commented on #2275
Yeah that works.

[2015-03-01 09:39] myleshorton commented on #1739
I'm only seeing it for that peer right now @oxtoacart

[2015-03-01 09:41] oxtoacart commented on #1739
The peers rotation looks very messed up.  There are a bunch of ips in there that don't correspond to individual registered peers, and they all have the orange cloud off.

[2015-03-01 09:42] myleshorton commented on #1739
Oh wow.

[2015-03-01 10:10] oxtoacart commented on #2276
Turns out the problem wasn't with the logic, it was that the cloud.yaml.tmpl template was out of date with the latest config format.

[2015-03-01 10:43] myleshorton opened #2277 "script building and running Lantern"
It would be nice/easier if there were a simple script that would automatically build and run lantern in a standard way during development.

[2015-03-01 11:00] #2274 closed

[2015-03-01 11:01] #2276 closed

[2015-03-01 16:26] ed2k commented on #1717
what is valencia release, is there anywhere else mention that release name?

[2015-03-01 17:36] atavism commented on #1717
Hey @ed2k, it's a new version of get-mode Lantern that doesn't require logging in at all. We'll be announcing the first release on the mailing list very soon (probably next week!)

[2015-03-01 22:30] oxtoacart commented on #1739
Okay, what happened here is that I deployed a peerscanner built from the valencia branch, but the latest peerscanner updates (which dealt with the orange cloud issue) were actually on devel.  I've now merged devel into valencia and rebuilt peerscanner from there.

[2015-03-01 22:33] oxtoacart commented on #1739
To clarify a little, the change that I made to track country-specific rotations was made in the valencia branch, which didn't have the most recent peerscanner updates from devel.  By merging devel into valencia and building from there, peerscanner now has the country-specific rotation tracking along with the most recent updates from devel.

[2015-03-01 22:35] myleshorton commented on #1739
Awesome!!

On Sun, Mar 1, 2015 at 11:33 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-03-01 23:12] oxtoacart commented on #1739
Still happening :(

[2015-03-01 23:14] oxtoacart commented on #1739
This most recent time it happened with fallbacks in the nl.fallbacks rotation.

[2015-03-02 02:56] fffw commented on #2224
Have a try on https://github.com/phoeagon/gfw-sim?

[2015-03-02 08:02] oxtoacart commented on #2224
Cool!  I don't have a router handy at the moment, but I am using the
dumbhosts file that's linked from that project:

https://github.com/phoeagon/dumbhosts

Cheers,
Ox

-----------------------------------------------------------------------------------------

"I love people who harness themselves, an ox to a heavy cart,
who pull like water buffalo, with massive patience,
who strain in the mud and

[2015-03-02 08:16] myleshorton commented on #2224
Very cool @fffw! dumbhosts is pretty darn simple/easy too.

[2015-03-02 08:21] #2269 closed

[2015-03-02 08:21] oxtoacart commented on #2269
I merged and uploaded an updated yaml to Amazon.

[2015-03-02 08:54] #1739 closed

[2015-03-03 07:39] #2277 closed

[2015-03-03 07:47] oxtoacart commented on #2272
The icon was 64 pixels, max allowed for favicon is 32.

[2015-03-03 07:47] #2272 closed

[2015-03-03 08:05] oxtoacart commented on #2184
I just tried uploading a small image to GitHub and that didn't work either.

[2015-03-03 17:21] oxtoacart opened #2278 "[flashlight servers] Support additional Google Talk ports"
Right now, flashlight servers don't allow ports other than 80, 443 and 5222.  However, Google Talk sometimes uses 5223 or 5228.  This causes the problem described below, whereby Lantern gets marked as a bad proxy.

https://code.google.com/p/chromium/issues/detail?id=101317

[2015-03-03 17:54] oxtoacart commented on #2278
Fixed.  It's currently being deployed to all flashlight servers.

[2015-03-04 13:29] zebulon303 opened #2279 "Firewall issue (Lantern 1.5.17-c3feb51)"
Althought my UPnP service is on
![image](https://cloud.githubusercontent.com/assets/1409706/6484185/d7edc8f4-c279-11e4-8a9e-d4385d49d8fd.png)

and that I configured my NAT
![image](https://cloud.githubusercontent.com/assets/1409706/6484222/32ffbb1c-c27a-11e4-9497-84313b8bf86d.png)

I still get the following message
![image](https://cloud.githubusercontent.com/assets/1409706/6484142/860bbbfe-c279-1

[2015-03-04 17:15] oxtoacart opened #2280 "Peers may be getting overloaded, take them out of rotation for flashlight"

[2015-03-04 23:10] myleshorton commented on #2279
Thanks @zebulon303! What version of Lantern are you using? Do you see any traffic on your machine (on the Lantern map)?

[2015-03-05 05:43] zebulon303 commented on #2279
The beta version (which in the title of the issue).
I believe this error came from the windows firewall.
After recreating the rules with the correct port, the message  has
disapeared and everything seems to run fine.

On Thu, Mar 5, 2015 at 12:10 AM, myleshorton <notifications@github.com>
wrote:

[2015-03-05 07:55] #2209 closed

[2015-03-05 08:18] aranhoide commented on #2209
Re: openSUSE, I hadn't seen it, no.  I'll give it a look.  This fpm tool we use also allow building various package types.

As for third party repos, those are usually added just to download a single package or related set of packages.  For example, this is how you'd install Oracle Java 7 on a fresh Ubuntu installation:
[code]
While this is convenient for what it does, just downloading and install

[2015-03-05 09:33] myleshorton commented on #2279
Whoops sorry missed the title. Very glad it's now working. Lantern should be dynamically adding a firewall rule to allow incoming traffic, but it sounds like that didn't work. Do you see a rule for Lantern in your incoming rules?

[2015-03-05 09:42] oxtoacart opened #2281 "Build 32-bit Ubuntu version of Lantern 2.0.0"
Then add it back to https://github.com/getlantern/lantern/wiki/Lantern-Beta-Versions

[2015-03-05 09:56] zebulon303 commented on #2279
Everything seems to work fine if you install Lantern on a clean system.
In my case I have deleted the firewall rules from previous install, and
when I reinstall lantern it offers me to recreate the rule.

So to answer your question, yes I see the incoming rules.

On Thu, Mar 5, 2015 at 10:34 AM, myleshorton <notifications@github.com>
wrote:

[2015-03-05 10:14] oxtoacart opened #2282 "Re-enable modified UI for managing proxied sites"
There's already a UI in place, but:

1. It's currently disabled because it's too slow when displaying all sites

2. To simplify, we want to change it so that users only manage their own proxied sites and the default proxied sites are just taken as a given.

[2015-03-05 12:13] oxtoacart opened #2283 "Consider tuning TCP kernel parameters on fallbacks and flashlight servers"
This occurred to me while looking at documentation for Shadowsocks - https://maxlv.net/optimize-a-shadowsocks-server/

[2015-03-05 12:16] oxtoacart commented on #2278
I just saw this error again, so this must not have deployed successfully to all servers.

[2015-03-05 12:22] oxtoacart opened #2284 "Don't log hostname and ip address to Loggly"
Loggly logs are including the hostname and ip address of the Lantern instance that's logging.  We should exclude such private information.

[2015-03-05 12:36] oxtoacart commented on #2278
I just ran highstate manually on the cloudmaster server and it looks like it did update all servers.  Will close unless we see the problem again.

[2015-03-05 12:36] #2278 closed

[2015-03-05 13:40] fffw commented on #2184
I just successfully uploaded a 3.9MB dmg to GitHub. By watching detour log, the writes to s3.amazonaws.com are pretty normal.

[2015-03-05 13:56] oxtoacart commented on #2184
@fffw Thanks!  I did run into this just a few days ago, so I there's definitely still some diagnosing to do.

[2015-03-05 14:02] oxtoacart opened #2285 "Seeing a lot of geolookup errors and a lot of ungeolocated instances"
[code]

Version 2.0.0-beta1 (20150303.164445)

[2015-03-05 14:05] oxtoacart commented on #2285
Interestingly this is reporting `clientHost` properties that seem to show flashlight server IPs, for example `128.199.140.127` which is a singapore flashlight server.

[2015-03-05 14:13] myleshorton opened #2286 "Deploy tools to measure Lantern performance in-country"
We need to run consistent Lantern performance monitoring in country.

One tool to check out:

http://www.web-polygraph.org/

[2015-03-05 14:16] oxtoacart commented on #2285
Oh, the clientHost will always be a proxy server since the client is always connecting to Loggly via a proxy!  This error isn't necessarily an error, since we actually retry the lookup.  I'm just going to knock down the log level on this.

[2015-03-05 14:19] oxtoacart commented on #2286
Thanks for logging!

[2015-03-05 14:40] oxtoacart commented on #2284
The IP address is actually the proxy's address, so that's okay.  We just need to remove the hostname.

[2015-03-05 14:54] oxtoacart commented on #2285
I'm not seeing errors on the papertrail logs for geo.getiantem.org, so I'm guessing this error is actually coming from CloudFlare.  I've put in better logging, so whenever we deploy that we'll hopefully get a better idea of what's happening.

[2015-03-05 15:05] myleshorton opened #2287 "Loggly not grouping by message"
For some reason Loggly appears to be unable to correctly interpret the structured data in order to extract and group logs by message. It's working for some logs but not others.

[2015-03-05 15:08] oxtoacart commented on #2287
I noticed that the messages end in a carriage return - not sure if that's causing it, but might be worth trying to remove that.

[2015-03-05 15:14] oxtoacart commented on #2284
The hostname is now recorded as `hidden`.

[2015-03-05 22:39] oxtoacart opened #2288 "Make sure flashlight client can be run headless for use by ooniprobe and other command-line testing"
This relates to https://trac.torproject.org/projects/tor/ticket/15171

We need to make sure that we can disable the UI stuff and the automatic system proxy management through command-line flags.

[2015-03-05 23:58] myleshorton commented on #2287
Yeah I noticed that too. The ones that are working have it too though -- I
was actually wondering if they were only working because they included it.

On Thu, Mar 5, 2015 at 4:08 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-03-06 04:26] silentmoose commented on #2252
Fixed with pull request. the class  getLogInfo.java. This class uses the SystemProperties java util to record all usefull info for logging issues.

[2015-03-06 08:13] oxtoacart opened #2290 "Only send HTTPS traffic to peers"
Especially with domain fronting, but also with extended trust networks, peer proxies are essentially untrusted parties.  To avoid them being able to read user's content and worse, inject malicious JavaScript, we should never send them HTTP traffic (thanks for that suggestion @myleshorton!).  From a network management perspective, this probably isn't such a horrible thing since popular sites like G

[2015-03-07 13:07] oxtoacart opened #2291 "If Lantern is started while the network is down, it does not start successfully even after the network comes back up"
What happens is that all of the masquerade checks fail while the network is down, and when the network comes back up, we're left with no masquerades.

One way to solve this would be to continuously try the masquerades (with a back-off) until we get some that succeed.

[2015-03-07 15:20] myleshorton commented on #2290
I was chatting with a prominent security researcher about this at the airport, and he was actually not particularly worried about it. Tor, after all, allows HTTP through exit nodes as well. Tor makes other modifications to Tor Browser to protect against things like proxy bypass attacks that would leak your IP. In Lantern's case, though, we never presume not to leak your IP and don't protect agains

[2015-03-07 16:59] oxtoacart commented on #2290
I've worked in banking and built PCI-DSS compliant systems, so I actually know something about this. Mixed content is actually quite prevalent and represents a risk even when not on the checkout page because of the possibility of session hijacking.

Mixed content is apparently quite prevalent (unfortunately) -https://qualys.jive-mobile.com/#jive-document?content=%2Fapi%2Fcore%2Fv2%2Fposts%2F2400

[2015-03-07 21:47] myleshorton commented on #2290
Oh there's absolutely no illusion that mixed content sites don't exist. It's more a matter of what you're actually able to do on the page even with that mixed content, which is what we were starting to talk about when this first came up. Do you want to articulate the specific attack you're concerned about?

[2015-03-07 22:43] oxtoacart commented on #2290
Session hijacking is one example of an attack about which I am concerned.  If the site has mixed content, uses session cookies and doesn't restrict those session cookies to HTTPS only, I can grab the session cookie as it's transmitted over an HTTP request to the same domain, even just for something mundane like an image.  With the session cookie, I can then do a variety of interesting things, like

[2015-03-08 01:35] myleshorton commented on #2290
Cool. One reason I ask is that a lot of [newer browsers](https://blog.mozilla.org/tanvi/2013/04/10/mixed-content-blocking-enabled-in-firefox-23/#footnote1) do a fair bit to prevent mixed content attacks in general, which your link also alludes to. The most obvious is blocking javascript loaded over HTTP in HTTPS pages. Chrome's a [little vague](https://support.google.com/chrome/answer/1342714?hl=e

[2015-03-08 02:04] oxtoacart commented on #2290
Yeah, I certainly have, and I don't remember where I heard it first mentioned on the team, but it's an impression I've had since fairly soon after joining.  In fact, I use Lantern on unencrypted Wifi networks for this reason, which I mentioned to you a few days ago.

In the absence of untrusted peers, Lantern is in fact privacy enhancing on unencrypted Wifi networks (as long as you trust Lantern).

[2015-03-08 02:30] oxtoacart commented on #2290
Interesting idea.

Don't know.  Might break something somewhere, and we can't really test to find out ahead of time.

Our FAQ already recommends it.  Perhaps we can feature the recommendation more prominently?

Yeah, seems like that would be out of our hands.

The adopt-a-server feature that was suggested solves this problem comprehensively by putting the "peers" in the hands of Team Lantern, thus

[2015-03-08 18:36] myleshorton commented on #2290
It's certainly come up in casual conversation within the team, but it's definitely not a feature we've formally supported or publicly proclaimed.

[2015-03-08 18:41] myleshorton commented on #2290
This seems like a fruitful ultimate direction. We actually used to parse and implement the HTTPS Everywhere rules internally in Lantern, but decided to remove it in favor of ultimately just integrating the extension in large part because those guys do a great job of continually improving it and keeping the rules up to date. I was chatting in Valencia with people about just integrating it into our

[2015-03-08 19:51] oxtoacart commented on #2290
@myleshorton Your original suggestion of just not sending anything other than HTTPS traffic to untrusted peers seems like a very nice and easy to implement solution to allow us to safely reintegrate these peers into the network.  Figuring out some of these other options seems like something that we can do afterwards with the goal of ultimately pushing HTTP traffic to them too.

What do you think?

[2015-03-08 19:58] myleshorton commented on #2290
I'm cool with that. I do think we should ultimately look at things like what percentage of our traffic is HTTP versus HTTPS to see what kind of impact that would have at scale. We should also make sure to analyze this as a part of our audit. I'm confused as to how the attack you pinpointed is not an issue in Tor, actually. As far as I can tell you can just passively look at all HTTP traffic while

[2015-03-08 20:11] myleshorton commented on #2279
Ah I see - that makes sense. We only add the rules at install, so if you deleted them they would only come back after re-install. I'm going to close for now, but feel free to open if there's some nuance I'm missing!

[2015-03-08 20:11] #2279 closed

[2015-03-08 21:03] zebulon303 commented on #2279
What you might miss, is IF  the port change between installs, then you
should delete the previous rules. (But I do not know if port changing is a
possibility)
I HAD to delete the rules so they were recreated.

On Sun, Mar 8, 2015 at 9:11 PM, myleshorton <notifications@github.com>
wrote:

[2015-03-09 02:52] oxtoacart commented on #2290
Yup.  If we do a successful adopt-a-server program, the adopted servers can handle plain HTTP traffic, so then it just becomes a question of achieving the right balance between self-hosted and Lantern-hosted proxies.

I don't think so.  They just warn you that exit nodes can eavesdrop on unencrypted traffic - https://tails.boum.org/doc/about/warning/index.en.html#index1h1 and https://www.torprojec

[2015-03-09 04:09] atavism commented on #2290
Tor Browser includes the NoScript extension, and it's configured by default to "Enable Automatic Secure Cookies Management" which appends the ";Secure" attribute to every non-secure cookie. Also, I thought Firefox and Chrome block all mixed content (and have for awhile) by default now? I'm actually having trouble finding a site with active mixed content that I'm able to load. Do we have an example

[2015-03-09 06:33] oxtoacart commented on #2290
Nice!

Looks like it depends on the type of content.  For active content (i.e. scripts), they block the content and show a warning that lets the user override it.  For passive content (e.g. images), Chrome will load the content but will show a warning in the lock icon of the address bar.  I haven't tested with Firefox.

IE 8 will show a warning popup that requires the user to accept the security w

[2015-03-09 07:18] fffw commented on #2252
Thank you @silentmoose for submitting, but this issue is targeting the new go code, not java.

[2015-03-09 07:51] fffw commented on #2287
Is it simply because of length limit? Those messages appear in grouping panel are shorter than those not. In Java logging, `message` are shortened version of `fullMessage`.

To simplify, can we just group by tag (yamlconf, enproxy, balancer, ...) instead of message?

[2015-03-09 08:34] fffw opened #2292 "Browser got HTTP 500 error when EOF received in reverse proxy"
`http: proxy error: EOF` will be logged to console at the same time (not through golog).

[2015-03-09 08:55] fffw commented on #2292
[Go source](http://golang.org/src/net/http/httputil/reverseproxy.go#L147) treat EOF as error. We may need to check in detail.

[2015-03-09 14:26] silentmoose commented on #2252
@fffw ah my apologies. If the formatting was the same couldn't the same file be used for both languages?

[2015-03-09 17:48] #2094 closed

[2015-03-09 17:49] myleshorton commented on #2280
This is merged now correct @oxtoacart?

[2015-03-09 17:50] oxtoacart commented on #2285
Leaving open pending results of better logging.

[2015-03-09 18:01] oxtoacart commented on #2280
Yes, done.

[2015-03-09 18:01] #2280 closed

[2015-03-09 18:04] myleshorton opened #2293 "Re-enable TCP-based give mode peers"
This should include registering them with peerscanner and mapping ports with NAT-PMP/UPnP.

[2015-03-09 18:05] xiam commented on #2281
I think that if I continue working on the Docker image for building Lantern for Linux we should be able to close this easily, should I open a new issue for this Docker image?

[2015-03-09 18:06] myleshorton commented on #2212
Let's re-open if this is still an issue with the latest stuff.

[2015-03-09 18:06] #2212 closed

[2015-03-09 18:06] #2211 closed

[2015-03-09 18:07] #2198 closed

[2015-03-09 18:08] myleshorton commented on #2165
This is done correct @oxtoacart?

[2015-03-09 18:09] myleshorton commented on #2136
Done @oxtoacart?

[2015-03-09 18:12] oxtoacart commented on #2293
#2290 is a prerequisite for this.

[2015-03-09 18:13] oxtoacart commented on #2281
@xiam Yes, a new ticket for the docker stuff sounds good.

[2015-03-09 18:13] oxtoacart commented on #2165
Yes, done.

[2015-03-09 18:13] #2165 closed

[2015-03-09 18:14] oxtoacart commented on #2136
Nah, this still needs to happen.

[2015-03-09 18:20] myleshorton commented on #2246
Very cool idea on using GitHub releases! The ```GET /repos/:owner/:repo/releases/latest``` is particularly powerful for this.

[2015-03-09 18:22] myleshorton commented on #2293
#2290 will be on the other end, though -- i.e. on the get side.

[2015-03-09 18:29] oxtoacart commented on #2293
@myleshorton For sure.  I was just talking about the piece of actually honoring peer registrations again (which we currently don't do).  Should we open a separate ticket for that?

[2015-03-09 18:30] oxtoacart commented on #2288
I've added a `-headless` flag for this.

[2015-03-09 18:34] myleshorton commented on #2293
Within peerscanner correct @oxtoacart? If so yeah a separate ticket would be awesome.

[2015-03-09 18:36] myleshorton commented on #1763
I keep saying "for China that's Hong Kong" -- just saw that in an old email too -- but that's actually incorrect. Most traffic through CloudFlare from China should go through South Korea.

[2015-03-09 18:44] oxtoacart opened #2294 "[peerscanner] Reenable registration of peers"
Currently, peerscanner doesn't register peers to the peers rotation.  Once #2290 is finished, we can reenable this functionality.

[2015-03-09 18:45] oxtoacart commented on #2293
Done - https://github.com/getlantern/lantern/issues/2294

So is this current ticket for porting Give mode functionality to the Go app?  That presumably also needs UI changes (e.g. showing the Give/Get selection screen)?

[2015-03-09 18:57] myleshorton commented on #2290
Responding to a few comments here...

That'll require scaling both give mode peers and adopt a server in some sort of unison. Might be possible, but might not be.

Very cool. We should consider that in the mix as well. I think we should make this a focus of the security audit -- i.e. what simple steps can we take to make it safe for peers to serve HTTP, if any?

[2015-03-09 19:01] oxtoacart commented on #2290
Not entirely.  Adopt a server can outpace give mode peers since it's able to handle both HTTP and HTTPS.

I agree in general.  I do think it's important for us to remember that any extensions that we recommend/install can also be used in the absence of give mode peers, and that when doing an apples to apples comparison, including give mode peers will always be less safe than not including them.  P

[2015-03-09 19:04] myleshorton commented on #2293
On the UI side we could also just implement it in terms of the whitelist -- i.e. just make the whitelist blank for uncensored users. If they add sites to the list, we could then just stop registering them with peerscanner to keep things simple. Either way we need to show a different welcome screen for give mode though -- I'll add a ticket for that.

[2015-03-09 19:07] oxtoacart commented on #1763
So, interestingly enough, I've run a couple of traceroutes from a VPS in China, and on both I see that the first hop outside of China is actually in western Europe.

[code]

11 is in China, 12 is somewhere in Germany, France, UK region.

This raises a couple of questions:

1. CloudFlare has [data centers](https://www.cloudflare.com/network-map) in east Asia. Why don't we seem to be hitting these?

[2015-03-09 19:16] oxtoacart commented on #2281
Done.

[2015-03-09 19:16] #2281 closed

[2015-03-09 19:44] myleshorton commented on #2287
Yeah it's looks like that's it @fffw -- see https://github.com/getlantern/lantern-common/blob/master/src/main/java/org/lantern/loggly/LogglyMessage.java#L36

Why not just do the same thing? I.e. add a fullMessage field and cap message in exactly the same way?

[2015-03-09 21:18] oxtoacart commented on #2246
@fffw Here's a bsdiff C library that you could use if you want - https://github.com/mendsley/bsdiff

Never tried it, so I can't vouch for it.

[2015-03-10 01:41] fffw commented on #2287
Maybe we can do both. Grouping by the component is more meaningful sometimes. Same message with different remote hosts/ip addresses will result in different groups.

BR,Merlin

On Tue, Mar 10, 2015 at 3:44 AM, myleshorton <notifications@github.com>
wrote:

[2015-03-10 03:52] xiam commented on #2246
Thanks @oxtoacart, I'll try first with bsdiff from command line, as it will allow me to deliver faster than if I wrapped that C library to be used with CGO.

Now, I have studied this problem through the day and compared it to what we already have in the autoupdate client, if we want to use Github to publish our releases we need to make sure we provide enough information, specifically the following

[2015-03-10 05:19] fffw commented on #2292
Another concrete example, direct access to `http://www.dapenti.com/blog/index.asp` will timeout, whereas HTTP 500 through Lantern.

Returns 500 is meaningful for server side reverse proxy, but not here.

[2015-03-10 08:51] fffw commented on #2099
Below is the result of my test:

*  `curl -v www.bbc.co.uk`
Responds a 403 Forbidden with the content @collina mentioned.

* `curl -v twitter.com` or `curl -v www.facebook.com`
Resolves to 10.10.34.34 and returns 200 OK with content of http://peyvandha.ir.

* `curl -v https://twitter.com` or `curl -v https://www.facebook.com`
Resolves to 10.10.34.34 and times out.

* adds `/etc/hosts` entry for ww

[2015-03-10 09:32] oxtoacart commented on #2246
Sounds good.  If you want, you can use byteexec to embed the bsdiff program, that way the server program is self-contained.

Makes sense.

lantern-{windows|linux|darwin}-{x86,x64,arm}.{exe|deb|dmg}
[code]

[2015-03-10 11:39] xiam commented on #2246
@oxtoacart Right, good point, I was missing that. I think we can still deliver `Lantern.{dmg|exe|deb}` installers along with `lantern-{windows|linux|darwin}-{x86,x64,arm}.{exe|bin}` files as assets on the same release, we just need to ignore the installers and that would be easy because they don't need to use the same naming convention. If we're concerned about users getting the binary instead of

[2015-03-10 14:38] oxtoacart opened #2295 "Don't log UI websocket disconnects or use of closed network connection as error"
We're currently seeing errors in Loggly like `flashlight.ui: Error reading from UI: websocket: close 1006 unexpected EOF`.  This will happen if the browser is closed, which really isn't an error.  Should change to debug to keep it from polluting the logs.

[2015-03-10 14:45] oxtoacart commented on #2295
Also `flashlight.ui: Error reading from UI: use of closed network connection`.

[2015-03-10 15:03] oxtoacart opened #2296 "The first time that I run Lantern after installing on OS X, nothing happens"
After installing Lantern, I double click to run it. This gives me a message saying "Lantern is an application downloaded from the Internet. Are you sure you want to open it?". When I click "Open", nothing happens. If I double click the Lantern app again, then it runs.

I expect Lantern to run after I click "Open".

[2015-03-10 15:21] aranhoide commented on #2295
Are these the only scenarios in which these errors show up, or might we silence genuine problems by not logging these as errors anymore?

[2015-03-10 15:21] oxtoacart commented on #2246
+1 on single release with all artifacts. We can tailor the release description to include links to the artifacts that people want to download to help avoid any confusion with the other artifacts.  Naming those other artifacts well would help too, for example:

`autoupdate-binary-windows-x86`.

1. Don't use lantern in the name
2. Don't include an extension so that people can't run the thing (at lea

[2015-03-10 15:22] oxtoacart commented on #2295
@aranhoide It's always possible that there's a legitimate problem that would cause these, but given that we're talking about connections via the loopback interface, it's very unlikely.

[2015-03-10 15:25] oxtoacart commented on #2292
+1.  Fundamentally the problem is that we're turning all sorts of different errors from the final connection into 500 errors. We could include a custom header on the responses from the proxy that we could use to transmit more detailed information about the error, and then mimic it on the client-side. So for example if we get an unexpected EOF, the client would just close the connection from the br

[2015-03-10 16:02] xiam commented on #2246
The naming scheme without the `lantern` word and without extension sounds good to me!

[2015-03-10 16:36] oxtoacart commented on #1763
So, using the Netherlands servers from China is definitely slow:

[code]

[2015-03-10 19:20] myleshorton commented on #1763
Cool. I still think Vultr seems like an interesting option to test -- https://www.vultr.com/locations/

[2015-03-10 19:26] oxtoacart commented on #1763
Yes, I'll try Vultr's Tokyo data center next.

[2015-03-10 19:31] myleshorton commented on #2246
One thing to keep in mind here is that our email invites actually link directly to that "latest" tag. So I think as long as we use the actual API call to /repos/:owner/:repo/releases/latest and not our own "latest" tag we should hopefully be in OK shape. Presumably that call sorts releases based on date, and we might have to do something sneaky to make that not always our own "latest" -- not sure.

[2015-03-10 19:53] oxtoacart commented on #1763
Here are the results of testing with the Singapore servers (for comparison).  Interestingly, they're worse than Netherlands, which gives us some idea of what our Chinese users have been dealing with.

[code]

[2015-03-10 19:55] myleshorton commented on #1763
Wow -- that's incredibly valuable. Also, we actually have access to the otf cloud now, which lets us set up data centers in both Hong Kong and Seoul, which would be super interesting for comparison. Credentials added to too-many-secrets, access at https://portal.otfcloud.org

[2015-03-10 20:21] myleshorton commented on #2296
Wow -- big issue -- thanks for noticing/logging.

[2015-03-10 20:24] chipstehr commented on #2296
I'm getting the same thing from my friend whose downloaded it on Mac in
iran today. She says nothing happens.
On Mar 10, 2015 4:22 PM, "myleshorton" <notifications@github.com> wrote:

[2015-03-10 21:00] oxtoacart commented on #2296
BTW, I think there are also issues with installing the new Lantern if you already had the old Lantern (and vice versa).  What I'm talking about in this ticket is a clean install.

[2015-03-10 21:42] myleshorton commented on #2099
Very interesting @fffw! Thanks. How well is your GFW detection working now in testing?

[2015-03-10 22:08] oxtoacart commented on #1763
Here are the results using Vultr's Tokyo data center.  Much better overall.  However, it's still significantly slower than the 0.9459 seconds/request average that we saw when testing from Iran to Netherlands.

[code]

[2015-03-10 22:22] myleshorton commented on #1763
Interesting. It seems like the Hong Kong and Seoul ones are the next
obvious candidates.

On Tue, Mar 10, 2015 at 3:08 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-03-10 23:07] myleshorton commented on #2279
Thanks @zebulon303. The incoming rules we're adding are for the executable itself and aren't port-specific, so I think we're in good shape there. Thanks again.

[2015-03-11 00:36] oxtoacart commented on #1763
Here are the results using an otfcloud server in Hong Kong.  Slightly worse than Tokyo.

[code]

[2015-03-11 00:50] oxtoacart commented on #1763
And here are the results using an otfcloud server in South Korea. Slightly worse than Hong Kong.

[code]

[2015-03-11 00:54] oxtoacart commented on #1763
I don't think the otfcloud Hong Kong server was a good test platform for this.  I used [speedtest-cli](https://github.com/sivel/speedtest-cli) to check how fast the connections on the three test servers are, with the below results.  Notice the really slow upload speed on the otfcloud Hong Kong server.

If we can find a Hong Kong server with a good internet connection, that might prove to be the fa

[2015-03-11 00:57] fffw commented on #2099
@myleshorton I'm using it day in and day out. I also give it to several friends and the feedback is good.

The tricky part is how to handle timeouts. Currently, if a site times out in any time, it will be put in a temporary list so will be dialed through enproxy next time. If no error occured till closing in next connection, it will be added to permanent whitelist.

If a site is really slow or acc

[2015-03-11 03:12] myleshorton opened #2297 "Lantern not starting on OSX 10.7.5"
Here's the syslog message:

com.apple.launchd.peruser.502[178] ([0x0-0xed0ed].com.getlantern.lantern[3208]): Job appears to have crashed: Segmentation fault: 11

[2015-03-11 05:06] myleshorton commented on #2099
Very cool @fffw! Maybe look at some differential in loading times for the timeout case? I.e. if it times out, then time the dial through enproxy. If that succeeds but takes a long time, then we know it's close to timing out in general. If enproxy works right away, we know it's blocked.

[2015-03-11 05:15] myleshorton commented on #1763
Looks like Rackspace has a Hong Kong data center. I'm having trouble finding others though.

EC2 in Tokyo might be worth a shot too.

[2015-03-11 06:54] #2287 closed

[2015-03-11 06:55] oxtoacart commented on #2297
Could this be related to #2296?

[2015-03-11 11:16] xiam commented on #2246
@myleshorton Makes total sense, I think than won't be a problem as I'll ignore everything that does not follow the naming convention, tags included.

A good thing about all this is that the "lantern" repo is actually separated from "flashlight-build", maybe we can publish releases for users in the "lantern" repo and releases for autoupdate in "flashlight-build", let's that about that after finishi

[2015-03-11 13:41] oxtoacart commented on #2296
system.log shows

`Mar 11 08:40:36 percymba com.apple.launchd.peruser.502[448] ([0x0-0xf80f8].com.getlantern.lantern[86032]): Exited with code: 2`

[2015-03-11 13:43] oxtoacart commented on #2296
Interestingly enough, status 2 is not one that we're setting in flashlight.go.

[2015-03-11 13:51] oxtoacart commented on #2296
On first run, the only stuff that appears in the Lantern log is:

[code]

[2015-03-11 14:17] oxtoacart commented on #2296
The warning is controlled by the com.apple.quarantine file attribute.  The file attributes can be listed using `xattr -l Lantern.app` and for testing, the quarantine attribute can be set using `xattr -w com.apple.quarantine "0001;54ff06df;Google\x20Chrome;0533EB84-A2CC-43AF-BD10-BE6ACD26200D" Lantern.app `.

[2015-03-11 14:24] oxtoacart commented on #2296
When running with the quarantine flag, after allowing OS X to open the app, it's passing an extra command-line argument:

`Mar 11 14:22:53.081 - flashlight: Parsing flags from: [/Users/ox.to.a.cart/flbuild/Lantern.app/Contents/MacOS/lantern -psn_0_1122578]`

`flag.Parse()` fails on this and exits.

[2015-03-11 15:45] myleshorton commented on #2296
Great sleuthing!

On Wed, Mar 11, 2015 at 7:24 AM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-03-11 16:16] myleshorton commented on #2297
Looks like its cocoasudo. This is from building and running on 10.7.

flashlight: Unable to set up pac setting tool: Unable to execute /Users/afisk/Library/Application Support/byteexec/cocoasudo: signal: illegal instruction

[2015-03-11 16:44] myleshorton commented on #2297
Where did the cocoasudo binary come from @oxtoacart?

[2015-03-11 16:58] oxtoacart commented on #2297
There's a link in the elevate README - https://github.com/kalikaneko/cocoasudo

[2015-03-11 16:58] oxtoacart commented on #2297
I think I just compiled it myself.  Perhaps I need to change some settings when compiling it to make sure it's backwards compatible.

Nice work, btw!

[2015-03-11 17:04] myleshorton commented on #2297
Cool. Looks like there's a link in the elevate README *in flashlight-build*. We have to figure out some way to start pushing this stuff upstream.

[2015-03-11 17:04] oxtoacart commented on #2297
Oh yeah, I meant to push upstream after our release.  Pushing now.

[2015-03-11 17:40] oxtoacart commented on #2297
Okay, the initial push got some packages, but failed on others.  The ones that failed are listed below.  I'll work through these and see if I can update gost to make pushing easier.

### bad object error
github.com/getlantern/buuid
github.com/getlantern/bytecounting
github.com/getlantern/chained
github.com/getlantern/cloudflare
github.com/getlantern/deepcopy
github.com/getlantern/fdcount
github.co

[2015-03-11 18:34] aranhoide commented on #1763
Are the flashlight benchmarks using domain fronting?  IIRC for domain fronting we are hardcoding the IPs as resolved in Singapore.  Might this affect the results, anycast notwithstanding?

[2015-03-11 18:38] aranhoide commented on #1763
BTW if the location where the IPs are resolved does make a difference, one thing to try would be to introduce location-sensitive IPs in the configuration.  Those would be either specific to each datacenter or (harder to anticipate) to user location.

[2015-03-11 18:38] oxtoacart commented on #1763
@aranhoide That's a great point, it very well could.  I'll try running the test without the ips and see if that makes a difference.

BTW, what was the reason we hardcoded the IPs again?

[2015-03-11 18:40] aranhoide commented on #1763
@oxtoacart IIRC we conjectured that IPs were less likely to get blocked than the corresponding domains.

[2015-03-11 18:41] aranhoide commented on #1763
IIRC we fall back to domains though, so if you remove the IPs from the config yaml you should get more neutral benchmarks (I think that's what you meant by "running the test without the ips"?).

[2015-03-11 18:43] oxtoacart commented on #1763
@aranhoide Yes, that's what I meant by running the test without the ips.  I'll actually just hack the code to ignore the ip.

BTW, I've been generating the cloud.yaml from my local machine, so the IPs in circulation have not been Singapore-specific in a long time.

[2015-03-11 18:45] aranhoide commented on #1763
If masquerade IPs matter, that may explain a bias in favor of Amsterdam wrt Singapore.

[2015-03-11 18:46] oxtoacart commented on #1763
Yup.

[2015-03-11 18:47] oxtoacart commented on #2297
Okay, everything has been pushed upstream.  I updated gost to make this a little easier by adding a `-u` option to `gost push`.  README explains it.

[2015-03-11 18:57] aranhoide commented on #1763
A cheaper way to do (again, if IPs affect speed) would be to try resolving the domains first, and only using IPs as a backup.  That way we get location-sensitive IPs without complicating the code or our processes, and lantern keeps working (albeit slower) if the masquerade domains are blocked but the IPs aren't.  If we detect that condition in the field then we can worry about speeding up the IPs.

[2015-03-11 19:05] oxtoacart commented on #1763
I ran a test against our Tokyo server without IPs.  I did this by reducing the masquerades list to a handful of domains and removing their hardcoded IPs.  Results are below.  This doesn't look significantly different than the original run.

[code]

[2015-03-11 19:27] oxtoacart commented on #1763
@aranhoide I was hoping that linode had a Tokyo data center, since it's supported by Salt Cloud.  Sadly, after signing up, I found out that they're still rolling it out and it's not yet available.

Do you have an idea how difficult it would be to support configuring Vultr instances with Salt?

[2015-03-11 19:51] aranhoide commented on #1763
I don't have an idea about how hard it is to support a new provider with
salt-cloud.  I'll look it up.

Note, though, that the only operations we perform with salt-cloud are
provisioning and killing instances.  In a pinch, it shouldn't be hard to do
those directly via the Vultr API.  Once you run the salt-bootstrap script,
a Vultr Ubuntu 14.04 x64 VM shouldn't be any different from our other
insta

[2015-03-11 20:06] myleshorton commented on #2297
Awesome thanks Ox

On Wednesday, March 11, 2015, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2015-03-11 23:10] myleshorton commented on #2297
I'll take this ticket.

[2015-03-12 06:27] fffw commented on #2099
Added detection for Iran at https://github.com/getlantern/flashlight-build/pull/114

I compiled a binary on CentOS VPS to test.

If someone have interest to try, you can
[code]

then open another session
[code]

[2015-03-12 15:32] oxtoacart opened #2298 "Investigate whether lantern is consuming unnecessary bandwidth and look into ways to reduce it"
An Iranian user using 2.0.0-beta1 indicated that Lantern seemed to use a lot of extra bandwidth even when idle, which is a problem for users with metered internet connections (apparently common in Iran(?)).  We should determine what, if anything, is causing this and see if we can improve on it.

Couple of initial things to look into:

- We have various things that run in the background periodicall

[2015-03-12 15:42] sheena3 opened #2299 "Lantern Website - In the Blog page, the fb logo icon is showing up as lines"
![blog page](https://cloud.githubusercontent.com/assets/11394369/6621397/6220d0d8-c8fc-11e4-8093-d62ef3a0868e.png)

[2015-03-12 15:43] sheena3 opened #2300 "Lantern Website - Lantern Logo shows up as lines in the browser tab when navigated to the blog page"
![blog page](https://cloud.githubusercontent.com/assets/11394369/6621432/9c476538-c8fc-11e4-9a46-ab7010b2a656.png)

[2015-03-12 15:47] sunshine19090 opened #2301 "Lantern Website - After selecting a different language in the About page, if I navigate to the blog page - it still shows up in English."
![blog page](https://cloud.githubusercontent.com/assets/11394369/6621510/fd2e221a-c8fc-11e4-9203-f950478d48b8.png)

In this file, I selected "Francais"

[2015-03-12 16:16] aranhoide commented on #2301
Something else may be wrong, then.  "O programu" and "Otázky" don't seem like French at all.

[2015-03-12 16:32] sheena3 opened #2302 "Lantern Website - Forum Menu has a different font from the other menus in the Blog page"
![menu](https://cloud.githubusercontent.com/assets/11394369/6622537/38a7f63a-c903-11e4-8870-f5f377e44fe1.png)

Forum Menu has a different font from the other menus in the Blog page. Once the page is accessed then the font changes to normal.