[2016-04-20 14:49] xiam commented on #4018
I'll add it to the server tasks, @myleshorton, @atavism

[2016-04-20 14:56] oxtoacart commented on #4023
I tested on Windows 7 with IE 10 and Chrome, using Lantern built from the release-2.2.0 branch.  Proxy all was disabled, no DNS blocking enabled.  I was able to access both geoiptool.com and slack.com.

[2016-04-20 14:57] myleshorton commented on #4024
Yeah cool. I guess one bottleneck will be translating, and honestly we probably want completely different messages depending on the locale here too -- i.e. I don't think many people use Xunlei outside of China.

We should also probably include suggested fixes, maybe in parentheses? In order these could be:

1. (Try disabling them or sending their traffic through lantern at 127.0.0.1:8787)
1. (Try

[2016-04-20 14:58] myleshorton opened #4029 "Switch to github instead of amazon link"

[2016-04-20 15:02] xiam commented on #4021
That's most likely to be the cause @fffw. I'm not sending any timezone information.

@fffw, @atavism  is the ui capable of accepting an RFC 3339 date like `2006-01-02T15:04:05Z07:00`?

[2016-04-20 15:20] myleshorton opened #4030 "Add manoto feed for fa_IR"
https://www.manoto.news/rss/news/rss.xml

[2016-04-20 15:20] myleshorton commented on #4030
Hey @oxtoacart I figured this could be a handy entry point as you at the feed aggregator -- sometimes easier to get your hands dirty!

[2016-04-20 15:21] myleshorton commented on #4030
Also FYI @xiam

[2016-04-20 15:25] Derekf5 commented on #4024
Thanks @myleshorton that all sounds good to me, heres what it looks like now.
<img width="484" alt="screen shot 2016-04-20 at 11 24 48 am" src="https://cloud.githubusercontent.com/assets/7864729/14680217/88c04584-06ea-11e6-80fe-a7cba4451ad8.png">
<img width="486" alt="screen shot 2016-04-20 at 11 24 53 am" src="https://cloud.githubusercontent.com/assets/7864729/14680218/88c20c8e-06ea-11e6-9500-372

[2016-04-20 15:29] myleshorton commented on #4024
Cool thanks @Derekf5! How set are you on some of the caps =)? Like "OOPS" and "Browser"? I feel like my 8th grade english teacher, Mrs. Hogan, would not be happy.

[2016-04-20 15:30] Derekf5 commented on #4024
HA! yes copy can be changed no problem :)

[2016-04-20 15:30] Derekf5 commented on #4024
Specs coming in a minute or so.

[2016-04-20 15:36] Derekf5 commented on #4024
![error-lantern-feed](https://cloud.githubusercontent.com/assets/7864729/14680708/2a7d3f7a-06ec-11e6-8720-d01eb7c096ba.png)
@myleshorton let me know if you need any more info

[2016-04-20 15:38] fffw commented on #4021
js code should be able to handle time zone anyway, with whichever library
we can find.

On Wednesday, April 20, 2016, José Carlos <notifications@github.com> wrote:

[2016-04-20 15:56] fujita-nozomi opened #4031 "something wrong when i browse www.nicovideo.jp"
the problem is " yes i can access this site but some content
(video and swf player) always not 'show up' "

but browse youtube always working~
and I install the flash player then i switch another browser(Firefox\IE EDGE\Chrome)
youtube always working but nicovideo always not "show up" the swf player

[2016-04-20 16:08] butlerL commented on #2940
in command line:
/Applications/Lantern.app/Contents/MacOS/lantern -addr=0.0.0.0:8787

[2016-04-20 16:57] oxtoacart commented on #4030
@myleshorton Manoto News seems to use their english name as their title.  Is that okay or should we use a Persian translation?

[2016-04-20 17:00] myleshorton commented on #4030
Not sure @oxtoacart -- could just use english for now and change it if necessary I think.

[2016-04-20 17:16] #4030 closed

[2016-04-20 17:32] myleshorton opened #4033 "Review certificate used for auto-updates"
This could be any self-signed cert really. Maybe don't tie it to an existing bns cert?

[2016-04-20 17:46] xiam commented on #4021
I checked and Go is handling this date conversion just fine, it uses GMT times tho, is this date being converted to local time @fffw?

[2016-04-20 17:51] xiam commented on #4020
Could not find the extra dots in the feed, @fffw:

![screen shot 2016-04-20 at 12 50 28 pm](https://cloud.githubusercontent.com/assets/385670/14684622/84967c10-06f6-11e6-8065-3a898b4b6cee.png)

![screen shot 2016-04-20 at 12 50 02 pm](https://cloud.githubusercontent.com/assets/385670/14684630/896d3ddc-06f6-11e6-98d7-21ee98ba2963.png)

[2016-04-20 18:06] uaalto commented on #3998
This error should be fixed now @myleshorton
I will leave it open until you confirm it in your side, if you want.

[2016-04-20 18:46] uaalto commented on #3936
I've added this check, so the users can still change their linked device, but make sure that if the new one is the same that was linked, it will signal that error.

[2016-04-20 18:55] sunshine19090 commented on #4023
That's weird! @myleshorton @oxtoacart  I am able to access these sites today with proxy all disabled. I checked atleast four times before I logged the issue but now the issue is gone. I am going to close it now. I will reopen this if it happens again.

[2016-04-20 18:55] #4023 closed

[2016-04-20 18:58] sunshine19090 commented on #4007
Yep, I don't see the button now.

[2016-04-20 18:58] #4007 closed

[2016-04-20 19:01] oxtoacart commented on #3936
Thanks @uaalto !

[2016-04-20 19:46] myleshorton commented on #4023
Thanks @sunshine19090!

[2016-04-20 19:53] sunshine19090 commented on #4009
Yeah this looks good now.

[2016-04-20 19:53] #4009 closed

[2016-04-20 20:06] xiam commented on #4018
Think it's fixed now.

[2016-04-20 20:08] myleshorton commented on #4018
Nice so just add the QA label @xiam and assign it to @sunshine19090!

[2016-04-20 20:10] myleshorton commented on #4024
Hey @fffw can you add this? It's maybe a first step towards your diagnostics page!

[2016-04-20 20:23] sunshine19090 commented on #4022
I agree @fffw

[2016-04-20 20:27] percyalpha opened #4034 "Mobile - Some articles are missing their abstracts"
On Android,
1. Abstract of some articles are missing, e.g most recent articles on FtChinese, even though the RSS feed does include abstract. CDT export full article content, we can just truncate it as abstract. Currently, no abstract is shown.

This is a specific ft Chinese article

[code]

![image](https://cloud.githubusercontent.com/assets/7925929/14689312/a5762a70-06fb-11e6-92f2-f362f0456783.pn

[2016-04-20 20:31] oxtoacart commented on #3987
@myleshorton What's your `ulimit -n` ?

[2016-04-20 20:59] sunshine19090 commented on #4006
I don't see any article with title that are going beyond 2 lines. So I am assuming now that it has been fixed.

[2016-04-20 20:59] sunshine19090 commented on #4006
I will reopen if I see this again.

[2016-04-20 20:59] #4006 closed

[2016-04-20 21:02] sunshine19090 commented on #3997
I see that the NYT video snapshots are good but none of the other channels has video today. Perhaps we can close this for now and then reopen if occurs again. Is that okay @myleshorton ?

[2016-04-20 21:03] myleshorton commented on #3997
Sounds good to me @sunshine19090

[2016-04-20 21:04] #3997 closed

[2016-04-20 21:06] myleshorton commented on #3987
2560

On Wed, Apr 20, 2016 at 1:31 PM, oxtoacart <notifications@github.com> wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2016-04-20 21:19] #2584 closed

[2016-04-20 21:19] #2562 closed

[2016-04-20 21:20] myleshorton commented on #2467
Another variant on this: `detour.go:146 Dial detoured failed: Still unable to dial tcp://push.mail.163.com:80 after 3 attempts`

[2016-04-20 21:22] oxtoacart commented on #3987
Whoa nelly, that's a reasonably high limit!

[2016-04-20 21:46] myleshorton opened #4035 "Unknown message type from backend running 2.1.2"
Saw this on one of our VPSes, apparently after an auto-update to 2.1.2:

[code]

The user-facing result of this is that the version doesn't appear and that none of the settings appear checked even though they're clearly set in the settings.yaml

[2016-04-20 21:47] myleshorton opened #4036 "Security warning from angular translate"
Seeing this in Chrome on test VPS:

[code]

[2016-04-20 22:10] sunshine19090 opened #4037 "UI shows Reuters and Reddit too when selecting a language that we don't support in browser settings"
![image](https://cloud.githubusercontent.com/assets/11394369/14692111/e73f6968-0709-11e6-8a3e-e4a0c4991700.png)

[2016-04-20 22:11] sunshine19090 commented on #4037
In the above case, I selected Chines (traditional) in chrome. I see the same behavior in Firefox when selecting zh-hk for chinese hongkong.

[2016-04-20 22:17] sunshine19090 opened #4038 "Language in Lantern page is not translated in IE when selecting zh-cn"
![image](https://cloud.githubusercontent.com/assets/11394369/14692278/ed7b3d6a-070a-11e6-8131-bb603b6d15a2.png)

[2016-04-20 22:22] xiam opened #4039 "Proxy communications to the pro server over Lantern"

[2016-04-20 22:52] sunshine19090 commented on #4037
This also happens when toggling between languages

[2016-04-20 22:56] myleshorton commented on #4037
It should just show the English feed in that case
On Apr 20, 2016 3:52 PM, "sunshine19090" <notifications@github.com> wrote:

[2016-04-20 23:42] Derekf5 opened #4040 "Lantern Mobile newsfeed Button not centered"
Just noticed this...
looks like it needs to move right 15dp

<img width="359" alt="screen shot 2016-04-20 at 7 47 56 pm" src="https://cloud.githubusercontent.com/assets/7864729/14693854/dbb20f52-0730-11e6-93ed-3c6a825cab0f.png">
.

[2016-04-20 23:56] myleshorton commented on #4039
This should generally be happening already right @xiam? I know the CORS stuff is hitting the local server, but isn't everything else already going through Lantern or no?

[2016-04-21 00:22] xiam commented on #4039
No, we we were using a plain `http.DefaultClient`, so that only happened when Lantern was set as system proxy. This is the related PR that should provide support for tunneling this over Lantern https://github.com/getlantern/lantern-pro/pull/5

[2016-04-21 01:11] fffw commented on #4036
It requires a rather simple fix. I can do it in 2.2.0.

[2016-04-21 01:53] fffw commented on #4024
Sure. It can be a good start point.

[2016-04-21 02:32] fffw commented on #4021
Ok I see @xiam . I'll handle time zone conversion in js code.

[2016-04-21 03:18] fffw commented on #4021
Desktop parses `publishDate` as GMT time, and recognises time zone of browser when display.

There're cases that `publishDate` in RSS is not the same as what shows in article. One example is http://www.aljazeera.com/news/2016/04/frontrunners-trump-clinton-win-york-primaries-160420032200547.html

In feed.json: `{"publishedDate": "2016-04-20T14:30:31Z",...}`,
in article page: `20 Apr 2016 09:32 GMT`

[2016-04-21 03:34] fffw commented on #4020
@xiam It only happened to Buzzfeed. Excerpt from feed.json:

[code]

Oh I think I should use `meta.title` instead of `meta.description`. I didn't notice that field before.

[2016-04-21 03:54] xiam commented on #4020
I think the 3 extra dots are those appearing at the right bottom of the article far apart from the description, right @sunshine19090?

[2016-04-21 04:23] sunshine19090 commented on #4037
Yeah @myleshorton, it shows the English feed but I see the Reuters and Reddit channels too when I change from en-us to zh-hk or vice-versa.

@xiam removed those channels two days before as we had problems with those but these are appearing now in this particular case.

Regards,
Sunshine

[2016-04-21 04:29] myleshorton commented on #4035
@sunshine19090 it would be great if you could try to run with 2.1.2 and see if you can reproduce this when it auto-updates. This was running on Windows server, but I would just try Windows 7. You can get it from https://s3.amazonaws.com/lantern/lantern-installer-2.1.1.exe

[2016-04-21 04:29] myleshorton commented on #4036
Awesome @fffw!

[2016-04-21 04:29] sunshine19090 commented on #4020
Yes @xiam, that's right. Sorry for the confusion. Going forward, I will start highlighting in the screenshots for issues like this :)

Regards,
Sunshine

[2016-04-21 04:33] myleshorton commented on #4034
Thanks @percyalpha. These should really be two separate tickets though. Would you mind separating them?

[2016-04-21 04:34] myleshorton commented on #4034
I'm thinking we can handle both of these on the server side @xiam. What do you think?

[2016-04-21 04:44] myleshorton commented on #4037
Oh interesting @sunshine19090 thanks. It should be ultimately hitting the same exact english feed as it normally does. Any thoughts on this @xiam?

[2016-04-21 05:15] fffw commented on #4020
Interesting I didn't notice it. It didn't happen to me on Chrome or Safari. It should already be fixed in e5e0dafb054e3d056c50ebcc43892dd82f1fe38d, but let me check again on Edge.

[2016-04-21 05:32] fffw commented on #4020
I can't see it on Edge or IE. It's unlikely to be caused by css cache. @sunshine19090 did you see it all the time?

![image](https://cloud.githubusercontent.com/assets/10410437/14698721/10965c9e-07c4-11e6-992b-594a8d9fe282.png)

[2016-04-21 07:27] atavism commented on #4040
Thanks, @Derekf5! I just fixed this and sent you an e-mail with the updated version, if you want to take a look.

[2016-04-21 07:28] fffw commented on #4019
Will be in next QA build

[2016-04-21 07:32] fffw commented on #4034
The second one should be caused by string truncation at client side.

[2016-04-21 07:36] atavism opened #4044 "Error fetching feed: net/http: TLS handshake timeout"
I've been seeing this consistently the past few nights, always around the same time (midnight PST). The news feed never loads at all. Assuming this is unrelated, but I recently upgraded to ``go1.6.1`` and ``+e1840f9`` gomobile.

 I'm also seeing the same error as last week (and I experienced this around the same time):
``ERROR balancer: balancer.go:79 Unable to dial server (trusted) chained proxy

[2016-04-21 07:42] fffw commented on #4037
If the feeds don't include newest articles then it must be some cache thing, either locally or by CloudFlare. Lantern desktop will cache feeds, but only for 5 minutes.

[2016-04-21 07:56] atavism commented on #4044
Now I'm also seeing the same error as last week (and I experienced this around the same time):

``ERROR balancer: balancer.go:79 Unable to dial server (trusted) chained proxy at xxx:443 []: dial tcp xxx:443: i/o timeout on pass 0...continuing``

[2016-04-21 08:38] fffw commented on #4038
That's because the translation library Lantern desktop uses, `angular-translate`, determines language in following order:
[code]
Chrome/Firefox set 1-2, Safari set 2, IE set 2-5, but only 5 is changed to zh-CN when the languages in "Internet Options" is changed, so language is detected as en_US. In a system with Chinese version of IE installed, it should detect correctly.

[2016-04-21 11:10] #4015 closed

[2016-04-21 13:00] uaalto commented on #3809
Done.

[2016-04-21 13:00] #3809 closed

[2016-04-21 13:04] supersndqd commented on #3758
amd64~~~

[2016-04-21 14:19] fletchere opened #4045 "arch linux gnome 3.20 system tray icon"
![screenshot from 2016-04-10 20-26-12](https://cloud.githubusercontent.com/assets/13220514/14712307/2acb0244-07a2-11e6-97e0-b025458c9372.png)

[2016-04-21 15:14] #4040 closed

[2016-04-21 15:16] myleshorton commented on #4038
OK so I'm closing then @fffw. I assume this works on your machine?

[2016-04-21 15:16] #4038 closed

[2016-04-21 15:16] myleshorton commented on #4037
Caching on CloudFlare should be completely turned off, but we could add a query string as well to make sure. I'll take this one.

[2016-04-21 15:31] xiam commented on #4037
I think we have a problem with the feeds here as reuters is still included for some reason.

[2016-04-21 15:56] xiam commented on #4034
I can take a look at 1, not sure on 2.

[2016-04-21 16:19] xiam commented on #4037
I think I deployed and old config.yaml which still had reuters on it, is this still happening @sunshine19090 ?

[2016-04-21 16:25] xiam commented on #4021
I think this is the expected behaviour, AJ uses GMT and the client translates that GMT into the local time, so unless we want to show timezones in the UI I think we're fine. Closing for now.

[2016-04-21 16:25] #4021 closed

[2016-04-21 17:27] sunshine19090 commented on #4020
Yep, I think it was fixed already. I don't see it now @fffw.

[2016-04-21 17:27] #4020 closed

[2016-04-21 17:29] oxtoacart opened #4046 "Google Analytics Data for Lantern is missing OS and other client information"
Google Analytics gets this information from the user-agent, and our Go-based library populates a generic user agent that doesn't provide useful information to Google Analytics.

Things that would be useful to capture:

- Operating System
- Browser (although a user could be using multiple browsers in one session)
- Lantern Version

cc: @myleshorton

[2016-04-21 17:40] oxtoacart opened #4047 "Support in-app surveys"
Preferably in a way that outreach team can craft and push out their own surveys.

cc: @myleshorton

[2016-04-21 18:27] myleshorton opened #4048 "Add lantern version in request headers"

[2016-04-21 18:48] myleshorton opened #4049 "Mobile - Some descriptions of articles in Chinese show invalid characters"
For BBC Chinese, there is some decoding issues. In the abstract, some characters are not decoded correct and shown as a questions mark within a square. (It's not a Chinese character, thank you very much )

![image](https://cloud.githubusercontent.com/assets/1143966/14720560/df8abdfa-07b6-11e6-8707-d97ad7f59e10.png)

[2016-04-21 18:49] myleshorton commented on #4034
I moved #2 to another ticket and will assign to you @fffw

https://github.com/getlantern/lantern/issues/4049

[2016-04-21 18:51] #4036 closed

[2016-04-21 18:52] myleshorton commented on #4018
This one looking OK @sunshine19090?

[2016-04-21 18:52] #4029 closed

[2016-04-21 19:08] sunshine19090 commented on #4037
Yes @xiam, it happens only when I change it to language that we don't support. For example, it happens when I change from en-us to zh-hk and also when changing from zh-hk to en-us.

I am using the build version 20160419.165911. Should I download a new one and check?

[2016-04-21 19:09] sunshine19090 commented on #4035
Sure @myleshorton, I will update here after testing.

[2016-04-21 19:15] myleshorton commented on #4022
We'll handle this one with #4024

[2016-04-21 19:15] #4022 closed

[2016-04-21 19:18] sunshine19090 commented on #4035
I am not getting any message.  The auto-update works fine and the settings are set correctly while auto-updating but the UI looks weird in all the browsers.

Both 2.1.1 and 2.1.2 looks like the below screenshot.

Steps I followed to reproduce:

1. Uninstalled and removed all the lantern files
2. Installed fresh version of 2.1.1.
3. Quit lantern and reopen.
4. Automatically updated to 2.1.2. Settin

[2016-04-21 19:26] sunshine19090 commented on #4037
Now the Reuters and the reddit channel appears even without changing languages. @xiam Have you added these channels now in our feeds or it is still a bug?

[2016-04-21 19:29] sunshine19090 commented on #4019
@myleshorton @fffw I don't see any change in the UI. I am using the latest QA build version 20160419.165911.

[2016-04-21 20:18] atavism commented on #4049
This is an issue on the client side. I'm shortening article summaries to 150 characters, and that must be severing unicode characters towards the end.

[2016-04-21 20:27] myleshorton opened #4051 "Jump in crashes on Android on April 4"

[2016-04-21 21:30] sunshine19090 commented on #4018
No, I still see the special characters. I will add the screenshot soon.

[2016-04-21 21:38] sunshine19090 commented on #4018
![screenshot_2016-04-21-14-30-00](https://cloud.githubusercontent.com/assets/11394369/14725050/90fe436a-07ce-11e6-9396-9627aa0b2d58.png)
![screenshot_2016-04-21-14-29-41](https://cloud.githubusercontent.com/assets/11394369/14725051/91004930-07ce-11e6-8334-d40e90fb69c9.png)

[2016-04-21 21:41] atavism commented on #4018
Weird.. I'm not seeing that:

![image](https://cloud.githubusercontent.com/assets/6346213/14725152/24b575d8-07cf-11e6-87ad-f607a0efc081.png)

[2016-04-21 21:47] xiam commented on #4037
@sunshine19090 I was running a local feed combiner with an old version of the config file (with reuters on it) and that was messing things up... can you check again?

[2016-04-21 21:58] #4018 closed

[2016-04-21 21:59] xiam commented on #4034
Hey @atavism, this is the ftchinese feed; I looked at the generated file and we have content for those entries on `content` and `contentSnippet`, could you check this particular feed and let me know if something seems wrong with that data? Thanks

[2016-04-21 22:36] myleshorton commented on #4024
@fffw I was hoping to make progress on this but didn't. You mind tackling it?

[2016-04-21 22:37] myleshorton commented on #4044
@atavism and @oxtoacart I really think this is the most important thing we're seeing right now, both in Everfeed and Lantern as a whole. If you guys are able to connect tonight, let's also jump on a call tomorrow @oxtoacart if that works and see how we might be able to tackle it.

[2016-04-22 01:26] fffw commented on #4024
Will focus on it today.

[2016-04-22 01:38] fffw opened #4052 "Continuous build Lantern client"
It can be a VPS with simple scripts to grab designated branch, make it, and send out email/Slack with link to new binary along with the list of commits (issues it fixed would be better!).

[2016-04-22 01:39] fffw commented on #4019
@sunshine19090 new QA build isn't out yet. Continuous build would help this situation. I created https://github.com/getlantern/lantern/issues/4052 to discuss about it, low priority.

[2016-04-22 02:05] fffw commented on #4037
@xiam To avoid similar situation from happening again, we can turn `upload` to a command line flag and default to `false`.

[2016-04-22 02:20] fffw commented on #3289
It should be caused by detour incorrectly detect the site as being blocked. With upcoming detour improvements, and the `manage system proxy` option, it can be resolved. Close this to avoid duplication.

[2016-04-22 02:20] #3289 closed

[2016-04-22 02:23] fffw commented on #3292
Both were added.

1. With the `Manage system proxy` option, the user can choose use PAC or not.
2. With the separation of `settings.yaml` and `config.yaml`, user specific options will  not be overridden.

[2016-04-22 02:23] #3292 closed

[2016-04-22 02:28] fffw commented on #3296
Working on it. https://github.com/getlantern/lantern/pull/3804

[2016-04-22 02:29] fffw commented on #3299
No longer true.

[2016-04-22 02:29] #3299 closed

[2016-04-22 02:33] fffw commented on #3300
I believe we fixed it a while ago.

[2016-04-22 02:33] #3300 closed

[2016-04-22 02:37] fffw commented on #3302
@angela0 You can also add `-headless` option to avoid pop-up Lantern page at all.

If Lantern fails to set system proxy in some Linux system, you can always point you application to user `127.0.0.1:8787`, either through application specific options, or the standard `http_proxy` or `https_proxy` environment variable.

[2016-04-22 02:37] #3302 closed

[2016-04-22 02:44] fffw commented on #3303
@renkun-ken Did you still see it occasionally with latest version?

[2016-04-22 02:45] fffw commented on #3304
Community contribution is welcome, but the resource is tight to work on it now.

[2016-04-22 02:45] #3304 closed

[2016-04-22 02:46] fffw commented on #3304
BTW: Lantern Android is released and can be downloaded from https://getlantern.org

[2016-04-22 02:46] xiam commented on #4037
@sunshine19090 we finally found what was happening here, should be working fine now, can you check?

@fffw the flag sounds good, maybe `-dry-run` could be better since it's more general.

[2016-04-22 02:47] oxtoacart commented on #2707
This is still happening in version 2.1.2.

[2016-04-22 02:47] fffw commented on #3306
Lantern does write logs, the location varies per OS, you can see it on this page https://github.com/getlantern/lantern/wiki/Emailing-lantern-logs

[2016-04-22 02:47] #3306 closed

[2016-04-22 02:50] fffw commented on #3311
No such error is shown up in recent week, on Loggly.

[2016-04-22 02:51] fffw commented on #3317
No information provided, closing.

[2016-04-22 02:51] #3317 closed

[2016-04-22 02:51] fffw commented on #3318
Ref https://github.com/getlantern/lantern#building-mobile

[2016-04-22 02:51] #3318 closed

[2016-04-22 02:52] #3321 closed

[2016-04-22 02:52] #3323 closed

[2016-04-22 02:52] oxtoacart commented on #2722
@myleshorton @xiam What exactly is the goal here?

[2016-04-22 02:53] #3324 closed

[2016-04-22 02:54] oxtoacart commented on #2770
No occurrences in 2.1.2, closing.

[2016-04-22 02:54] #2770 closed

[2016-04-22 02:56] fffw commented on #3327
@antonywong Is it still true? Do you have Xunlei installed?

[2016-04-22 02:56] oxtoacart commented on #2773
Interestingly we also see clients reporting this when requesting the config.yaml from CloudFront.

[2016-04-22 02:57] myleshorton commented on #4019
I'll do another build tomorrow morning first thing @fffw and @sunshine19090 to make sure I bring in all the latest changes.

[2016-04-22 03:00] oxtoacart commented on #2873
Doesn't appear to be happening on release 2.1.2.  Closing.

[2016-04-22 03:00] #2873 closed

[2016-04-22 03:02] oxtoacart commented on #2902
This is still happening on 2.1.2.

[2016-04-22 03:03] oxtoacart commented on #2903
@fffw The 502 status is from the proxy, in response to a CONNECT request.  It's not coming from the origin server.

[2016-04-22 03:04] oxtoacart commented on #2903
This is still happening on 2.1.2.

[2016-04-22 03:04] oxtoacart commented on #2911
@xiam is this still happening?

[2016-04-22 03:06] fffw commented on #4037
@xiam The point is to avoid unintentional harm by making sure the default option do nothing to production environment. One could forget to supply `-dry-run` option during test/debug.

[2016-04-22 03:06] oxtoacart commented on #2913
We no longer support versions of OS X below 10.8, closing.

[2016-04-22 03:06] #2913 closed

[2016-04-22 03:09] oxtoacart commented on #2915
It seems that if Lantern encounters something that it definitely can't proxy, we should add it to the detour "whitelist".  I'm renaming the ticket to reflect that.

[2016-04-22 03:11] fffw commented on #3329
It can be an indication that the proxy is potentially blocked, or forcibly closed by proxy.

[2016-04-22 03:13] oxtoacart commented on #2940
#3290 covers what needs to be done to make this easier for users, closing this ticket.

[2016-04-22 03:13] #2940 closed

[2016-04-22 03:14] oxtoacart commented on #2970
@sunshine19090 Do we test new releases with antivirus programs?  If we're succeeding with Symantec now, let's close this.

[2016-04-22 03:15] oxtoacart commented on #3003
Yes, #2422 looks like it takes care of this, closing.

[2016-04-22 03:15] #3003 closed

[2016-04-22 03:16] oxtoacart commented on #3009
This is still happening on 2.1.2.

[2016-04-22 03:21] fffw commented on #2903
@oxtoacart I mean it's the normal response code our proxy should return if the origin server is unreachable, and that's out of our control. Lantern should not report that as error.

[2016-04-22 03:22] oxtoacart commented on #3026
I think it would be reasonable for Lantern to be able to build successfully in a censored environment if someone is running Lantern :)

[2016-04-22 03:24] oxtoacart commented on #3028
Blocked by #3296.

[2016-04-22 03:25] oxtoacart commented on #3074
Unclear and outdated, closing.

[2016-04-22 03:25] #3074 closed

[2016-04-22 03:26] oxtoacart commented on #3096
@sunshine19090 Another report of antivirus issues.

[2016-04-22 03:26] oxtoacart commented on #3098
@uaalto Is there anything left to do here?

[2016-04-22 03:30] oxtoacart commented on #3114
@myleshorton We talked about this today.  My opinion is that the benefits of making sure everyone is running recent versions of Lantern outweigh the risks of a specific release having a problem.  Rather than allowing auto-updates to be disabled, it's better for us to just continue making sure we're putting out high quality builds.  Especially since we have a beta phase before we release for auto-u

[2016-04-22 03:31] oxtoacart commented on #3135
This can be configured through the settings.yaml.  Perhaps we just need better documentation?

[2016-04-22 03:34] oxtoacart commented on #3184
A panic sounds bad. @atavism @fffw Any idea if this is still happening?

[2016-04-22 03:35] fffw commented on #3333
@sunshine19090 What did we get so far? We can automate executable submission or make a checklist for some of the AV vendors.

[2016-04-22 03:36] oxtoacart commented on #3192
This sounds like a duplicate of #3028.

[2016-04-22 03:36] #3192 closed

[2016-04-22 03:37] oxtoacart commented on #3200
Related to #3472.  Really the system should do this automatically, so I'm closing this.

[2016-04-22 03:37] #3200 closed

[2016-04-22 03:38] oxtoacart commented on #3228
Duplicate of #3472.

[2016-04-22 03:38] #3228 closed

[2016-04-22 03:39] fffw commented on #3337
Thanks @Arthur2e5 it's a good idea!

We can also add template to the issue window,  like what Go team does in https://github.com/golang/go/issues/new

[2016-04-22 03:40] fffw commented on #3343
Close in favour of https://github.com/getlantern/lantern/issues/3296

[2016-04-22 03:40] #3343 closed

[2016-04-22 03:40] oxtoacart commented on #3260
Duplicate of #3054.

[2016-04-22 03:40] #3260 closed

[2016-04-22 03:42] oxtoacart commented on #2903
@fffw Agreed.  Updating title.

[2016-04-22 03:44] myleshorton commented on #3114
Yeah honestly @oxtoacart I'm torn on this one between giving users what they want and fixing our processes to avoid this happening. Chrome is the closest example to me. Occasionally quite frankly Chrome updates seem to break things, but overall it's a tremendous benefit. They also make it quite hard to disable updates (registry setting on windows, for example), so overall I think we should continu

[2016-04-22 03:44] #3114 closed

[2016-04-22 04:06] Arthur2e5 commented on #3337
Ah, almost forgot about this issue. Added a link to the issue template help too.

Just one idea on the template: add a fenced code block and ask people to paste console output or log there. This should help tidy up a lot of things.

[2016-04-22 04:11] Arthur2e5 commented on #3940
// PR: #3985

[2016-04-22 04:23] myleshorton opened #4053 "Add non-interactive flag to analytics"
See https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#ni

[2016-04-22 04:23] sunshine19090 commented on #3096
@ox I was unable to contact 360 antivirus regarding this. I don't remember the exact reason now but I think there was no proper info on how to contact the support team. But I was able to get some of the other AV companies to proactively whitelist which are provided in detail in issue #3333.

Regards,
Sunshine

[2016-04-22 04:27] oxtoacart commented on #3096
Thanks @sunshine19090!  Looks like there's a customer support email address now - support@360safe.com.  Worth another try?

[2016-04-22 04:32] sunshine19090 commented on #3333
yeah sure @fffw, I can organize the details and send it to you.

[2016-04-22 04:33] sunshine19090 commented on #3096
Yep, I will try emailing them tomorrow @oxtoacart. But should I send them 2.2.0 or 2.1.2?

[2016-04-22 04:33] #3096 closed

[2016-04-22 04:36] sunshine19090 commented on #2970
Yes @oxtoacart, I always run both the installer and the executable in virustotal.com and so far I have not seen any problem with Symantec AV. We can close this.

[2016-04-22 04:38] oxtoacart commented on #3096
I would do 2.1.2.

[2016-04-22 04:39] oxtoacart commented on #3096
@sunshine19090 Did you mean to close this or the Symantec one?

[2016-04-22 04:42] atavism commented on #3966
If you guys want to inspect Lantern's battery usage, assuming you're using 5.0 and above, you can run the following command:  ``adb shell dumpsys batterystats --unplugged org.getlantern.lantern > dump.txt`` to get a full battery dump of the device. This also looks like a good tool to play around with https://github.com/google/battery-historian

[2016-04-22 04:46] oxtoacart commented on #3966
Nice!

[2016-04-22 06:27] matthewbassett commented on #3909
Good deal! (: Thanks for a great product, and I look forward to the
possibility of an ARM based installation (:

Matt

On Sat, Apr 16, 2016 at 9:28 AM macrowh <notifications@github.com> wrote:

--
Thanks,

Matt

[2016-04-22 06:52] fffw commented on #3346
@ppLorins Do you still suffer from it?

[2016-04-22 07:03] fffw commented on #3351
@xiam It's still ongoing right?

[2016-04-22 07:05] fffw commented on #3353
Close in favor of https://github.com/getlantern/www/issues/33

[2016-04-22 07:05] #3353 closed

[2016-04-22 07:08] fffw commented on #3361
As a http(s) proxy, Lantern will definitely not interfere with VPN.

[2016-04-22 07:08] #3361 closed

[2016-04-22 07:10] fffw commented on #3362
@qmhedging As a workaround, you can visit https://www.bloomberg.com instead of http version.

[2016-04-22 07:12] fffw commented on #3370
Yeah, same on Windows.

[2016-04-22 07:13] fffw commented on #3372
The SOCKS5 proxy listens at localhost:8788.

[2016-04-22 07:13] #3372 closed

[2016-04-22 07:15] fffw commented on #3373
@xubin990510 Have you tried latest version?
CC @atavism

[2016-04-22 07:27] fffw commented on #3377
Thanks @wlmqljj we are trying hard to make Lantern service stable while keeping away from the censors, include hiding IPs to them.

[2016-04-22 07:27] #3377 closed

[2016-04-22 07:49] fffw commented on #3382
@mcenroer I changed the title to reflect the actual issue you mentioned. Lantern should reply `PROXY <the-actual-ip-or-host-name-receives-pac-request>:8787; DIRECT` instead of `0.0.0.0` in PAC file.

The IP/hostname can be obtained from the request URL, so if Lantern gets a PAC request `http://my-awesome-pc:16823/proxy_on.pac`, then `PROXY my-awesome-pc:8787; DIRECT` should also work.

[2016-04-22 07:55] fffw commented on #3383
It just reflects the underlying error dialing DDF.

[2016-04-22 07:56] renkun-ken commented on #3303
Sorry, it looks like it only rarely happens. I cannot reproduce this.

[2016-04-22 07:56] #3303 closed

[2016-04-22 07:57] fffw commented on #3303
Please feel free to open new issue if that happens.

[2016-04-22 08:02] fffw commented on #3385
Loggly search shows it only happens to Windows XP and 2003 Server. It tightly related to user's local environment, ref http://superuser.com/questions/317745/hostname-aliases-in-xp-pro

[2016-04-22 08:02] #3385 closed

[2016-04-22 08:04] fffw commented on #3387
Will close this @geosmart . Feel free to create new issue with more details!

[2016-04-22 08:08] #3387 closed

[2016-04-22 08:13] fffw commented on #3390
@Larry-Liang @RADiEnCe `gateway timeout` just means Lantern proxy couldn't reach the site in reasonable time. It could be various reasons, e.g., Internet routing problem, network glitches, site temporarily overloaded, etc.

[2016-04-22 08:13] #3390 closed

[2016-04-22 08:19] fffw commented on #3394
I should say it's out of the scope of Lantern. You can protect it the same way you protect your existing proxy server to GitHub etc. If your existing proxy server supports upstream proxy, you can run Lantern listen on localhost and pointing your existing proxy server to it.

[2016-04-22 08:19] #3394 closed

[2016-04-22 08:22] fffw commented on #3398
Lantern can redirect to the diagnostic page (https://github.com/getlantern/lantern/issues/3288)

We are towards it (https://github.com/getlantern/lantern/issues/4024)

[2016-04-22 08:22] #3399 closed

[2016-04-22 08:23] #3408 closed

[2016-04-22 08:25] fffw commented on #3410
@myleshorton @oxtoacart I think we no longer use statshub, right?

[2016-04-22 08:30] fffw commented on #3414
It's interesting that you can use Lantern on OSX 10.5 as Lantern officially supports 10.8+
Unfortunately, we don't have an environment to reproduce. It could be an unrecovered system proxy setting but not sure.

[2016-04-22 08:30] #3414 closed

[2016-04-22 08:31] #3415 closed

[2016-04-22 08:34] fffw commented on #3423
Lantern will set system http(s) proxy automatically. You can also point SOCKS proxy to `localhost:8788`

[2016-04-22 08:34] #3423 closed

[2016-04-22 08:36] fffw commented on #3425
@atavism pass the ball to you ;-p

[2016-04-22 08:39] fffw commented on #3287
@Dannywanxyz it should be caused by blocked server or bad network quality to the server. Do you still experience it?

[2016-04-22 08:41] #3440 closed

[2016-04-22 09:07] fffw commented on #4038
Actually I don't have a machine or VM with Chinese version of Windows. Will try get one. `angular-translate` has worked for a long time for Chinese user so I don't think it breaks in this version.

[2016-04-22 12:04] oxtoacart commented on #3410
The newest client code does not use statshub.  I think it's safe to turn it off (or at least reduce it to the smallest available dyno size).

[2016-04-22 12:09] uaalto commented on #3998
@sunshine19090 maybe you want to take a look at these :)
(I'm not sure if Pro is a priority for you right now)

[2016-04-22 13:25] fffw commented on #3998
@uaalto I received SMS with `SNY Lantern code: xxxxxx`. Should be ok to close.

[2016-04-22 13:25] #3998 closed

[2016-04-22 14:13] uaalto commented on #3998
Thank you @fffw !
Just to make sure: You got "Lantern code: XXXXXX", right? I don't know what you mean by SNY there.

[2016-04-22 15:43] myleshorton commented on #3410
Yeah agreed @oxtoacart!

[2016-04-22 16:19] sunshine19090 opened #4054 "Mobile - Lantern crashes when trying to send desktop version via email when there is no network connection"
![screenshot_2016-04-22-09-15-54](https://cloud.githubusercontent.com/assets/11394369/14747818/44f8722c-086b-11e6-979e-65bdb00c6d10.png)

[2016-04-22 16:21] sunshine19090 opened #4055 "Mobile - Show a proper message when there is no internet connection"
![screenshot_2016-04-22-09-16-10](https://cloud.githubusercontent.com/assets/11394369/14747861/854ea22e-086b-11e6-8362-c4692e4de87e.png)

[2016-04-22 17:34] myleshorton commented on #4034
OK I'll assign this to @atavism for now. @atavism feel free to kick this back over to @xiam if it seems like it can't be solved on the client side.

[2016-04-22 19:15] atavism commented on #4034
@xiam Thanks! It looks like a those ``content`` and ``contentSnippet`` entries contain image tags. How are you handling those on desktop? Could we strip them out on the server?

[2016-04-22 19:19] xiam commented on #4034
I think @fffw is printing them as HTML. I can do the HTML stripping if you
like, not sure if that would have secondary effects.
On Fri, Apr 22, 2016 at 14:15 atavism <notifications@github.com> wrote:

[2016-04-22 19:23] atavism commented on #4034
Yeah, that would be great. I think it should be fine. If you want to leave it the same on desktop, you could add a separate field.

[2016-04-22 19:27] sunshine19090 opened #4056 "Mobile - Couldn't send desktop version"
On clicking the "Send email" button, I am getting the message "There was a problem sending you Lantern Desktop. Please try again later." even when the network connection is good.

[2016-04-22 19:28] sunshine19090 commented on #4056
Please close this issue if this is related to #4054.

[2016-04-22 19:33] sunshine19090 opened #4057 "Mobile - Show a spinner while the feed loads"
In my phone, it takes about 4-5 seconds when I quit and reopen lantern. Meanwhile, I am not even sure if it is going to load or not.

[2016-04-22 19:41] sunshine19090 opened #4058 "Mobile - Lantern crashes when it couldn't fetch the feeds because of blocking"
Steps:
1. Use DNS blocking
2. Quit lantern if already open.
3. Open lantern app but do not turn it on.

The app crashes while trying to fetch the feeds.

[2016-04-22 21:04] atavism commented on #4057
Thanks, @sunshine19090. Good idea! Will add it now.

[2016-04-22 21:05] myleshorton commented on #4024
Hey @fffw I implemented an initial version of this on the issue-4024 branch. Still having a few problems with capturing feed loading errors (doesn't look like hideNewsfeed() or showNewsfeed() are ever actually called from `on-feeds-loaded` or `on-error` in news.html) but just wanted to let you know the skeleton is in there.

[2016-04-22 21:14] atavism commented on #4034
Ok, this should be fixed with https://github.com/getlantern/lantern/pull/4059

[2016-04-22 21:42] myleshorton commented on #3013
@louy2 feel free to submit a pull request, and thanks so much for digging deeper on this!

[2016-04-22 21:45] myleshorton commented on #3945
This could be another cause of the drop in user numbers guys. Adding @oxtoacart, @atavism, and @percyalpha. @sunshine19090 weren't we at one point not seen as malicious software by Kaspersky? Do we need to contact them again?

[2016-04-22 21:47] percyalpha commented on #3945
Yeah, this could be. I'll also test with domestic anti-virus both on windows and android

[2016-04-22 21:53] sunshine19090 commented on #3945
@myleshorton I was about to mail you regarding this yesterday but forgot to do the same. Kaspersky needs our company address to be on our website to process our application for proactively whitelisting our software.  Forwarded you the email. If we can put up our address in the website, then I can start working with them. Thanks!

[2016-04-22 21:57] sunshine19090 commented on #3945
@myleshorton Anyway, when I ran our version 2.1.1 in virustotal.com, I didn't find any AV company giving a false positive. I believe it included Kaspersky too. May be should I try some other website for this purpose?

[2016-04-22 23:04] sunshine19090 commented on #4058
@atavism I couldn't reproduce this now. I got this twice though. I am trying to reproduce but no luck so far. Sometimes, it shows the message "OOPS Error fetching feeds".

[2016-04-22 23:05] sunshine19090 commented on #4035
@myleshorton can you please provide me the details? I will look further into this after finishing my test in Mobile.

[2016-04-22 23:19] sunshine19090 opened #4060 "Mobile - Unable to access other blocked apps even when Lantern is turned on"
Apps like fb, path, twitter opens up and tries to load but only the spinner appears and it looks like never-ending. I waited for 2 mins to make sure.

[2016-04-22 23:24] sunshine19090 opened #4061 "Mobile UI - It will be nice if the menu channels background color remains same irrespective of Lantern running or not"
When Lantern is running, the menu turns blue and turns white when it is not. It will be nice to not change the background color based on Lantern's status.

![screenshot_2016-04-21-14-32-17](https://cloud.githubusercontent.com/assets/11394369/14757256/6466b282-08a6-11e6-8c98-2049a072560a.png)
![screenshot_2016-04-21-14-29-41](https://cloud.githubusercontent.com/assets/11394369/14757257/646c5ee4-08a

[2016-04-22 23:29] sunshine19090 opened #4062 "Mobile UI - Bold the font of the selected channel alone and keep the remaining channels font normal"
Sometimes it is taking little time to know which channel I am browsing. Just the black line under the channels name doesn't help much. It will help in Readability if the selected channel has the Bold font and all the other channels remain normal. Does that make sense?

[2016-04-22 23:32] atavism commented on #4061
It looks to me like from your screenshot the menu is white when Lantern is turned on and blue when its off though? The feed headers not turning white looks like an issue. When you turn Lantern on, they don't turn white?

[2016-04-22 23:39] sunshine19090 commented on #4061
@atavism I am talking about the channel headers. It changes blue when lantern is turned ON and turns white when lantern is turned OFF. It looked odd to me to change the header colors like that. It is only a suggestion to keep the headers background color to remain the same like white background and black font(like in the second screenshot) even lantern is turned ON.

[2016-04-22 23:42] atavism commented on #4061
Right, I agree it looks weird. I'm saying the actual issue is that the headers aren't turning white (they're remaining black) after you turn Lantern on.

[2016-04-22 23:44] atavism commented on #4061
If you close/re-open the app and turn Lantern on, does the text stay black?

[2016-04-22 23:48] atavism commented on #4061
Here's what it looks like for me:
![image](https://cloud.githubusercontent.com/assets/6346213/14757609/078a9f16-08aa-11e6-8133-e43c0c6eb16a.png)

[2016-04-22 23:54] atavism commented on #4060
@sunshine19090 I'm unable to re-produce this. I turned Lantern on and browsing with FB & Twitter works fine. Does this happen for you consistently? Could be an issue with the server you're being assigned to. Could you find out the server IP and let me know in Slack?

[2016-04-23 00:09] xiam opened #4063 "feed-combiner: don't remove a feed if the source could not be reached"

[2016-04-23 00:37] atavism commented on #4057
Ok, I opened a PR for this [here](https://github.com/getlantern/lantern/pull/4064/files).

This is what it looks like.. Look good to you, @Derekf5?

![image](https://cloud.githubusercontent.com/assets/6346213/14758154/ce0647de-08b0-11e6-8c2c-2f2d496a5d57.png)

[2016-04-23 02:01] #4045 closed

[2016-04-23 05:56] pokerWu opened #4065 "在ubuntu16.04LTS中如何使用lantern"
没有16.04版本的lantern，下载14.04的版本无法安装

[2016-04-23 07:33] fffw commented on #3998
Hmm @uaalto `SNY ` is a prefix which also appeared in SMS sent by Stripe. I don't think it can be removed from Lantern side.

[2016-04-23 13:34] hufan-Akari commented on #4065
`dpkg -i lantern-installer-beta-64-bit.deb`

[2016-04-23 15:24] noob9527 commented on #3547
@kashu

能解释下 "-role=client" 这个参数的作用吗?,我加上这个参数后无法启动lantern

我的lantern版本是2.1.2
OS版本是 ubuntu16.04

[2016-04-23 15:33] louy2 commented on #3013
I'm glad I could help.

Unfortunately apart from the environment variables, Linux does not support PAC file, nor does it have a standard way of dynamically changing proxy settings for existing browser sessions. Appending the above mentioned lines to `~/.xprofile` by code is probably error prone. I think the best we can do is to offer a tips on the welcome page.

[2016-04-23 15:34] louy2 commented on #3013
Oh, and of course, better disable the "set system proxy" option in the web GUI under Linux to avoid confusion.

[2016-04-23 15:56] louy2 commented on #3013
Okay, so PAC setting is primarily by [pac-cmd](https://github.com/getlantern/lantern/tree/devel/src/github.com/getlantern/pac-cmd) from what I observe. The tool, while claiming to work on Linux, actually only covers the [GConf](https://projects.gnome.org/gconf/) platform. I'd admit that's probably best I can do. So that option should be left as-is for systems with GConf.

On the other hand, I can

[2016-04-23 17:57] Jaggle commented on #3423
@houpe ，who qinding ed you to say that ?too naive (just joking,:))

[2016-04-23 19:42] oxtoacart opened #4067 "Error loading specific NYTimes Article"
This URL yields a 400 - Bad Request error.

http://www.nytimes.com/2016/04/23/opinion/the-baghdad-follies.html?action=click&pgtype=Homepage&clickSource=story-heading&module=opinion-c-col-left-region&region=opinion-c-col-left-region&WT.nav=opinion-c-col-left-region

After a few more tries, it eventually succeeded.

Happening in Chrome on OS X.

[2016-04-23 21:59] kashu commented on #3547
把这个参数删了，不要加

[2016-04-23 23:40] fffw opened #4068 "Got different proxy servers from the config via DDF"
Mostly happen during peak time.

[2016-04-24 00:56] fffw commented on #4068
What Lantern want is not a typical usage of CDN, so it may lead to some unexpected effect. While consulting CloudFront docs to understand clearly what it promises, some of the below would help.

1. Having config-server serve on multiple paths, say, "/<device-id>/cloud.yaml.gz". CloudFront may fail to deal with query strings, but should never respond cached content of different path. It does not ha

[2016-04-24 01:40] fffw commented on #4068
@myleshorton @oxtoacart @aranhoide Ok response is surely cached by CloudFront. When Lantern got an incorrect server, there's always "X-Cache: Hit from cloudfront" header appeared in the response header. I double checked the code that cache buster is appended to fronted URL. That suggest point 1 above. We can also report error when the cache is hit.

Example below, from the log file I sent to dev:

[2016-04-24 02:05] fffw commented on #4005
The cause of "400 bad request" is [fetcher.go#L115](https://github.com/getlantern/lantern/blob/release-2.1.2/src/github.com/getlantern/flashlight/config/fetcher.go#L115). We should use `strconv` instead of type conversion directly.

[2016-04-24 02:42] myleshorton commented on #4005
Yeah so this is the same issue we were discussing before @fffw. That code is never touched in production because no one has pro. It's also fixed on the pro branch though.

[2016-04-24 02:42] myleshorton commented on #4005
So without pro you don't have a User ID.

[2016-04-24 05:11] kashu opened #4072 "Lantern server side is failed now!"
![123 1](https://cloud.githubusercontent.com/assets/16624642/14765665/cb4b68c6-0a1d-11e6-8613-4a6a8c86224b.png)
2016.04.24 +0800 CST

Lantern server side is down.
What about you ?

[2016-04-24 05:28] kashu commented on #4072
Sorry, now it works normally.

[2016-04-24 05:29] #4072 closed

[2016-04-24 09:21] xgdgsc opened #4073 "cannot download for other operating system"
On the frontpage https://getlantern.org/ , I cannot select to download for other OS rather than what I' m currently using.

[2016-04-24 11:25] oxtoacart commented on #4068
Updated CloudFront to pass through querystring.  This seems to have fixed the problem for @fffw.

[2016-04-24 11:25] #4068 closed

[2016-04-24 11:35] oxtoacart commented on #4068
@fffw Great work finding and debugging this!

[2016-04-25 02:24] fffw commented on #3746
No longer required as we rely on Go defaults now.

[2016-04-25 02:24] #3746 closed

[2016-04-25 02:25] fffw commented on #3184
Didn't occur for a long time. Closing.

[2016-04-25 02:25] #3184 closed

[2016-04-25 04:21] Eccolala opened #4074 "cannot use lantern 2.1.2 on ubuntu 14.04 64bit,and where is the bug report?"
![image](https://cloud.githubusercontent.com/assets/8536168/14773788/f6aad3da-0ae0-11e6-8959-5c01e0593a40.png)

[2016-04-25 10:01] uaalto commented on #3998
Interestingly, I don't receive it. Well, that's a different issue anyway. Thank for testing Merlin!

[2016-04-25 12:24] #4074 closed

[2016-04-25 12:44] Derekf5 commented on #4057
Yeah looks good @atavism the only think i would do is move the spinner to the middle of that section.

[2016-04-25 14:31] jesseei commented on #3758
I only got a 32bit computer with CentOS, but there is no version work for this.

[2016-04-25 14:33] xiam commented on #3351
Not right now, let's close it for now.

[2016-04-25 14:33] #3351 closed

[2016-04-25 14:35] xiam commented on #2722
The goal is let users know that Lantern goes to the system tray at certain point and that you have to click it to bring it on again.

[2016-04-25 14:40] xiam commented on #3933
@oxtoacart removing `settings.yaml` should be enough

[2016-04-25 15:10] oxtoacart commented on #2722
Thanks @xiam, I've updated the title to reflect this.

[2016-04-25 15:10] oxtoacart commented on #3933
Thanks @xiam!

[2016-04-25 15:44] xiam commented on #2694
Still happening, almost exclusively on Windows XP

[2016-04-25 15:46] #2662 closed

[2016-04-25 15:48] xiam commented on #2661
Still happening a lot on different Windows versions.

[code]

[2016-04-25 15:49] xiam commented on #2659
Not a problem anymore.

[2016-04-25 15:49] #2659 closed

[2016-04-25 15:50] baoyangc opened #4077 "lantern is down in my mac"
pascalprecht.translate.$translateSanitization: No sanitization strategy has been configured. This can have serious security implications. See http://angular-translate.github.io/docs/#/guide/19_security for details.
app.js:115 New websocket instance created [object Event]
app.js:749 Got Lantern default settings:  Object
app.js:903 enabling ga.
app.js:878 Tracked page view.
app.js:106 Got unknown me

[2016-04-25 16:03] xiam commented on #2528
Not appearing anymore.

[2016-04-25 16:03] #2528 closed

[2016-04-25 16:07] xiam commented on #2461
Not valid anymore.

[2016-04-25 16:07] #2461 closed

[2016-04-25 16:15] xiam commented on #2455
Not happening anymore.

[2016-04-25 16:15] #2455 closed

[2016-04-25 16:27] xiam commented on #1942
I don't think we need this anymore, feel free to reopen.

[2016-04-25 16:27] #1942 closed

[2016-04-25 16:31] xiam commented on #1889
Closing for now but feel free to reopen.

[2016-04-25 16:31] #1889 closed

[2016-04-25 16:32] xiam commented on #1865
Not relevant anymore.

[2016-04-25 16:32] #1865 closed

[2016-04-25 16:35] xiam commented on #1826
Adding P1 because this looks almost done and it just requires confirmation.

[2016-04-25 16:36] xiam commented on #2294
Not relevant anymore.

[2016-04-25 16:36] #2294 closed

[2016-04-25 16:36] xiam commented on #1944
Not relevant anymore.

[2016-04-25 16:36] #1944 closed

[2016-04-25 16:47] #1827 closed

[2016-04-25 16:54] myleshorton opened #4078 "Add lantern version to analytics"

[2016-04-25 17:51] gaovv2000 opened #4079 "openSUSE can't be run "make lantern""
**When i was run command "make lantern" in terminal,return the error message ：**

Makefile:191: recipe for target 'src/github.com/getlantern/flashlight/ui/resources.go' failed
make: *** [src/github.com/getlantern/flashlight/ui/resources.go] Error 127_

**and then ,i was copy file  'src/github.com/getlantern/flashlight/ui/resources_stub.go'  to 'resources.go', redo the command "make lantern", retur

[2016-04-25 18:45] myleshorton opened #4080 "Add back weight to ClientConfig"
Without this, updating our genconfig code will create configs that break all clients prior to 2.1.2.

[2016-04-25 18:45] myleshorton commented on #4080
FYI @aranhoide **do not** update genconfig to the latest code please, as that will break a lot of stuff.

[2016-04-25 18:58] oxtoacart opened #4081 "Limit support window for released Lantern versions"
In order to avoid having to support an unlimited number of Lantern releases and allow us to focus on supporting a limited number better, let's limit how many release we support.

A good starting point is to support three concurrent releases:
- Current beta
- Current GA
- Prior GA

Hot-fix releases don't count towards this.

For anything in the supported window, we should start testing all supporte

[2016-04-25 18:58] oxtoacart commented on #4081
See #4080 for the kinds of things we need to think about in supporting multiple releases.

[2016-04-25 19:41] myleshorton commented on #4077
Interesting @baoyangc thanks. Did you click on the autoReport check box? What browser are you using?

[2016-04-25 19:41] myleshorton commented on #4077
Oh I see Chrome...

[2016-04-25 19:45] sunshine19090 commented on #4037
Works fine now.

[2016-04-25 19:45] #4037 closed

[2016-04-25 20:05] oxtoacart commented on #4080
Turns out this isn't an issue.  The only thing that genconfig generates that we need is the embedded configuration, which gets backed into the client executable.  The cloud-based configuration of fallbacks is done here:

https://github.com/getlantern/lantern/blob/master/src/github.com/getlantern/flashlight/genconfig/cloud.yaml.tmpl#L8

And the cloud-based configuration of user-specific servers is

[2016-04-25 20:05] #4080 closed

[2016-04-25 20:06] sunshine19090 commented on #4019
@myleshorton I still see a minute cut off in all browsers and platforms but not big enough for anyone to notice it. Shall I close it or assign it to @fffw ?

[2016-04-25 20:11] sunshine19090 opened #4082 "Chrome UI - Some of the wordings are not translated to Chinese"
1. Welcome to Lantern! wordings are shown in English.
2. All the words in the footer are in English.
3. The header "All" in lantern feeds is in English.

In Firefox all these are properly translated.

Firefox:

![image](https://cloud.githubusercontent.com/assets/11394369/14797315/ff50c3a4-0ae6-11e6-9623-0e886a8b66b5.png)

Chrome:

![image](https://cloud.githubusercontent.com/assets/11394369/147973

[2016-04-25 20:20] myleshorton opened #4083 "Automatically update the 'latest' tag with each new release"
We'll be pushing that tag out via various platforms so should re-integrate updating it.

https://github.com/getlantern/lantern/releases

[2016-04-25 20:23] myleshorton commented on #4082
Are you seeing this too @fffw?

[2016-04-25 20:30] sunshine19090 commented on #4061
@atavism In the previous version that I used, the font color changed to black when Lantern turned ON. After installing the new build, the font color remains unchanged. But I still feel that the background color of the headers does not have to change when we turn on/off lantern.

[2016-04-25 20:32] myleshorton commented on #3933
I experienced a version of this too, except it took me to the payment page after I entered my phone number for authorizing the device.

[2016-04-25 20:37] atavism commented on #3933
@myleshorton And you already have an active Pro account, that you signed up with on desktop? If you check logcat, after you authorize your device, it should print out your current account status

[2016-04-25 21:46] sunshine19090 commented on #4060
@atavism I am not experiencing this issue in the new build. Closing for now.

[2016-04-25 21:46] #4060 closed

[2016-04-25 21:57] myleshorton opened #4085 "Use if-modified header for all newsfeed requests on mobile and desktop"

[2016-04-25 21:57] myleshorton commented on #4085
@fffw and @atavism this one would probably be worthwhile -- I can also look at it!

[2016-04-25 22:47] #4049 closed

[2016-04-26 00:40] oxtoacart commented on #3987
I just saw something similar to this on mobile:

[code]

The really weird thing is that I'm in airplane mode and don't have a working connection.  So, this might be a leak with us failing to close a connection somewhere.

[2016-04-26 00:46] #4056 closed

[2016-04-26 01:38] mebest100 opened #4086 "bug report: latest lantern cannot show systray"
I build lantern from the src, but find out latest lantern cannot show systray.
I checked main.go (line 32):
a := &app.App{
        ShowUI: !*headless,

whether the bug connected with it?  pls fix this issue asap

[2016-04-26 01:44] oxtoacart commented on #3987
I don't think a web page could cause this, as browsers only open a limited number of connections at a time.  I ran with a pre-lazy-loading version (f59191deb24fea7dc4e9fef02e901eb96378e89a) and didn't see an inordinate number of connections (maxed out around 73, and I had 10 other tabs open).

I suspect that we may just have a leak somewhere.  I tried fetching config frequently and disabling my ne

[2016-04-26 02:41] fffw commented on #4085
Browser will send relevant headers when refresh page or open new tab, but won't do so if browser is restarted. Need to persist last fetch time in local storage.

[2016-04-26 02:46] fffw commented on #4082
Oh I didn't see it but probably know what's the reason. Will check it tomorrow.

[2016-04-26 02:48] fffw commented on #4019
@sunshine19090 If you can still see the cut off please paste a screen so I can check what caused it.

[2016-04-26 03:06] hediyi opened #4087 "Is there a convenient way to switch lantern on/off, or without the lantern page poping out every time?"
I google all the time and I have to rely on lantern. The problem is I have to quit lantern many times in a day, for several reasons:
- to connect to the the wifi of a local cafe (they require you to type in some pin code on a web page which is not available when lantern is on)
- to watch videos from a domestic website
- to gain faster access to some domestic website

So I repeat this like a dozen

[2016-04-26 03:34] myleshorton commented on #4086
It's working fine for me. That code is also logically correct @yuan78 -- we only want to show the UI if we're not running in headless mode.

What operating system?

[2016-04-26 04:00] myleshorton commented on #4087
Hey @Vince. This is great feedback, thanks! We'd love to make Lantern perfect for you. A couple of questions:

What's the web page of the wifi? Is it one of those popup windows that sometimes appear? Any idea what address or IP it's loading from?

Can you give an example of a site? **Do you have Lantern set to "proxy all"?** If not, it should load that page directly already, so you should be able

[2016-04-26 04:04] myleshorton commented on #4085
Oh sweet good point @fffw! So it's just a handy addition for mobile then @atavism.

[2016-04-26 04:07] yuan78 commented on #4086
Hi, the OS is Ubuntu 15.10 x64

[2016-04-26 06:18] linxu opened #4088 "ubuntu16 can not be used after installation"
ubuntu16.04 can not be used after installation

can pack a 16.04 version?

[2016-04-26 07:44] netroby opened #4089 "Would you please provided us daily build for all platform?"
Would you please provided us daily build for all platform?
I am keep watching the develop repository. and i would like to download and test nightly build . i have no expierence to build myself
If you can provided me nightly build , i would like to help test and report problem i found.

[2016-04-26 07:56] bill363yang commented on #3771
npm i gulp -g
It is in README

[2016-04-26 12:35] oxtoacart commented on #3987
I left this running overnight, and it doesn't look like I have a file descriptor leak on desktop anyway.

[2016-04-26 12:42] #3771 closed

[2016-04-26 12:49] myleshorton commented on #4089
Thanks @netroby this is actually ticketed already!

[2016-04-26 12:49] #4089 closed

[2016-04-26 12:53] myleshorton commented on #4073
I agree this would be a nice change @xgdgsc thanks.

[2016-04-26 12:59] myleshorton opened #4090 "[desktop] integrate checkout.com"
Also has alipay integration. It also supports webhooks:

https://www.checkout.com/

[2016-04-26 14:29] myleshorton commented on #4085
I can take this one @atavism

[2016-04-26 14:31] myleshorton commented on #2776
Hey @sunshine19090 I'm wondering if this one is still an issue. Can you still reproduce this based on your last comment?

[2016-04-26 14:56] renkun-ken opened #4091 "Lantern suddenly not working"
I'm using lantern under Ubuntu 16.04 LTS and today it suddenly does not work. I use the `pac` auto mode and cannot visit any website.

The following is the log when I start lantern and visit google and github:

[code]

[2016-04-26 14:58] renkun-ken commented on #4091
The version of lantern is Lantern 2.1.2 (20160413.044557)

[2016-04-26 14:59] louy2 commented on #4087
Yes, exactly. It is not available through Lantern because they are mostly served on a LAN server, and for some reason all IP requests go though Lantern regardless whether it's blocked.

There are already proxy switching extensions for both Chrome and Firefox so advanced users can setup so that the extension reads from the PAC served by Lantern. OTOH a no-config extension would definitely offer cle

[2016-04-26 15:07] louy2 commented on #3288
Before UI, I guess it is probably easier to just update the Github Wiki for now. And since it's Markdown we may actually generate it into UI later. The current wiki seems way outdated, referring to the original beta UI.

[2016-04-26 15:44] oxtoacart opened #4092 "Mobile Geolocation in Google Analytics seems Off"
cc: @atavism

A lot of users are appearing in the locations of their proxies (Amsterdam, New York, Japan).

![image](https://cloud.githubusercontent.com/assets/5000654/14824492/d813f36e-0b9b-11e6-84f4-1fd1cd05442b.png)

[2016-04-26 15:44] oxtoacart commented on #4092
Making this a P2 in case it indicates a larger problem with proxying.  Likely it's related to us being the full device VPN and the Google Analytics requests going through that.

[2016-04-26 15:48] louy2 commented on #4091
Same here, although it is fine now, such error has not been so frequent and continuous. During the downtime my normal network is fine.

It wasn't particularly long, but the downtime lasted from (format added):

[code]

to (format added):

[code]

This is also to the contrary of normal `Unable to dial` error which yields the following error (format added):

[code]

[2016-04-26 15:51] aranhoide commented on #4091
We had a problem with a recent deployment, which should be fixed now.  Is Lantern working again for you now?

[2016-04-26 15:51] oxtoacart opened #4093 "Newsfeeds - don't include BuzzFeed in All view"
Some of the content in BuzzFeed is a little edgy, so to avoid putting off some users with it, let's suppress it from the All feed.

[2016-04-26 16:41] louy2 commented on #4065
如果成功了的话可以来把 Issue 关掉吗？

[2016-04-26 17:51] sunshine19090 commented on #4019
@fffw

![letters are cut off](https://cloud.githubusercontent.com/assets/11394369/14828643/c1c34938-0b9c-11e6-9359-2c56b68d061f.png)

[2016-04-26 17:52] sunshine19090 commented on #4019
Since this is a minor issue, please feel free to push this to next release or close it.

[2016-04-26 18:02] sunshine19090 commented on #2776
Nope @myleshorton. I haven't come across this issue in 2.1.0 or releases after that. But I still see this happeneing in Edge and Safari after restarting but not consistent.

[2016-04-26 18:17] sunshine19090 commented on #4058
Unable to reproduce.

[2016-04-26 18:17] #4058 closed

[2016-04-26 18:38] myleshorton opened #4096 "Change plan or caching rules to cache thumbnails on CloudFlare"

[2016-04-26 18:40] atavism commented on #4055
@sunshine19090 Agree we could show a different message when there is no Internet connection, but I think the "Error fetching feed" message also works and suffices for now. Ok with making this a P2 and moving it to the 2.2.1 release?

[2016-04-26 18:42] sunshine19090 commented on #4055
Yeah sounds good to me. Moving it to P2.

[2016-04-26 19:08] myleshorton commented on #2776
OK should we close this one then and open others as they pop up @sunshine19090?

[2016-04-26 19:10] sunshine19090 commented on #2776
Yeah, I agree @myleshorton. I think we already closed the other ones. I will check it out.

[2016-04-26 19:10] #2776 closed

[2016-04-26 19:12] sunshine19090 commented on #3901
Unable to reproduce. so closing for now. I will reopen if I able to reproduce.

[2016-04-26 19:12] #3901 closed

[2016-04-26 19:23] sunshine19090 opened #4097 "Add the hub address in bravenewsoftware.org"
As part of Kaspersky AV whitelisting, we need the address to be displayed somewhere in the website.

[2016-04-26 20:00] #3685 closed

[2016-04-26 21:00] #4017 closed

[2016-04-26 21:20] myleshorton commented on #4085
This one's all set on mobile too. I verified that the internal `https://github.com/koush/ion` library @atavism caches responses when it's possible to do so. While we don't do this for the feed itself, requests for the full feed are rare enough that it doesn't seem necessary.

[2016-04-26 21:20] #4085 closed

[2016-04-26 21:33] myleshorton commented on #4092
Yeah we don't do anything on mobile to tell analytics our real IP @oxtoacart, so it just uses the proxy IPs.

[2016-04-26 21:33] myleshorton commented on #460
Closing in favor of newer tickets.

[2016-04-26 21:33] #460 closed

[2016-04-26 21:33] #484 closed

[2016-04-26 21:34] #487 closed

[2016-04-26 21:34] #544 closed

[2016-04-26 21:34] #559 closed

[2016-04-26 21:35] #655 closed

[2016-04-26 21:35] #942 closed

[2016-04-26 21:35] #972 closed

[2016-04-26 21:35] #1025 closed

[2016-04-26 21:35] #1067 closed

[2016-04-26 21:36] #1052 closed

[2016-04-26 21:36] #1088 closed

[2016-04-26 21:37] #1191 closed

[2016-04-26 21:37] #1192 closed

[2016-04-26 21:37] #1195 closed

[2016-04-26 21:37] #1200 closed

[2016-04-26 21:37] #1207 closed

[2016-04-26 21:38] #1210 closed

[2016-04-26 21:38] #1206 closed

[2016-04-26 21:38] #1224 closed

[2016-04-26 21:39] #1241 closed

[2016-04-26 21:39] #1355 closed

[2016-04-26 21:39] #1499 closed

[2016-04-26 21:39] #1526 closed

[2016-04-26 21:40] #1301 closed

[2016-04-26 21:40] #1566 closed

[2016-04-26 21:40] #1589 closed

[2016-04-26 21:40] #1610 closed

[2016-04-26 21:40] #1519 closed

[2016-04-26 21:41] #1621 closed

[2016-04-26 21:41] #1638 closed

[2016-04-26 21:41] #1735 closed

[2016-04-26 21:41] #1754 closed

[2016-04-26 21:41] #1771 closed

[2016-04-26 21:41] #1774 closed

[2016-04-26 21:42] #1781 closed

[2016-04-26 21:42] #1780 closed

[2016-04-26 21:42] #1773 closed

[2016-04-26 21:42] #1807 closed

[2016-04-26 21:42] #1822 closed

[2016-04-26 21:42] #1826 closed

[2016-04-26 21:43] #1878 closed

[2016-04-26 21:43] #1922 closed

[2016-04-26 21:43] #1928 closed

[2016-04-26 21:43] #1936 closed

[2016-04-26 21:43] #1925 closed

[2016-04-26 21:44] #1938 closed

[2016-04-26 21:44] #1945 closed

[2016-04-26 21:44] #1940 closed

[2016-04-26 21:44] #1983 closed

[2016-04-26 21:45] #1987 closed

[2016-04-26 21:45] #2039 closed

[2016-04-26 21:45] #2055 closed

[2016-04-26 21:46] #2057 closed

[2016-04-26 21:46] #2058 closed

[2016-04-26 21:46] #2040 closed

[2016-04-26 21:46] #2059 closed

[2016-04-26 21:47] #2136 closed

[2016-04-26 21:47] #2172 closed

[2016-04-26 21:47] #2176 closed

[2016-04-26 21:47] #2183 closed

[2016-04-26 21:48] #2173 closed

[2016-04-26 21:48] #2191 closed

[2016-04-26 21:48] #2192 closed

[2016-04-26 21:48] #2217 closed

[2016-04-26 21:49] #2220 closed

[2016-04-26 21:49] #2253 closed

[2016-04-26 21:49] #2293 closed

[2016-04-26 21:49] #2311 closed

[2016-04-26 21:50] #2320 closed

[2016-04-26 21:50] #2340 closed

[2016-04-26 21:50] #2607 closed

[2016-04-26 21:51] #2675 closed

[2016-04-26 21:51] #2723 closed

[2016-04-26 23:24] renkun-ken commented on #4091
Cool, it works now!

[2016-04-26 23:24] #4091 closed

[2016-04-26 23:26] uaalto commented on #3598
These versions are deprecated, please download latest version.

[2016-04-26 23:26] #3598 closed

[2016-04-26 23:29] uaalto commented on #3573
Should we consider this closed until further notice? Being so hard to replicate we might have this bug stalled here.

[2016-04-26 23:33] uaalto commented on #3567
Issue review: agreed with the priority.

[2016-04-26 23:34] uaalto commented on #3556
Interesting. Are you still able to reproduce this @sunshine19090 ?

[2016-04-26 23:37] uaalto commented on #3547
issue review: agreed wirh priority

[2016-04-26 23:39] uaalto commented on #3524
This is not resolved, right @oxtoacart ? How relevant is it and how much does it affect user experience?

[2016-04-26 23:58] uaalto commented on #3512
Could any of you confirm if this issue still happens, please? Also, if you could provide any details it would be much appreciated. Thank you!

[2016-04-27 00:00] uaalto commented on #3510
Hi @diigu. Could you please confirm if this is still the case with latest release?
Thank you!

[2016-04-27 02:22] #4065 closed

[2016-04-27 03:25] jindongwang opened #4099 "Cannot get access to Google Scholar"
We are using Lantern in our lab, but recently we all found that we are not able to get access to Google Scholar, while other sites work well. Scholar said:

[code]

We all know that was because our ips are blocked by Google and some other kind of reasons.
But we just want know how to get to Scholar?

Lantern version is the latest and we have tried reinstalling it.
Please help us! You know how hard

[2016-04-27 03:30] myleshorton commented on #4099
Thanks @jindongwang. This is unfortunately a symptom of sending a lot
of traffic through our infrastructure. Do they give you a CAPTCHA to
solve or no? Actually a screenshot of the page would be very helpful.
We do have one theoretical workaround that we have not deployed yet,
but in the meantime what is your external IP address on your network?
You can check it by going to something like https://

[2016-04-27 03:38] esdoppio commented on #4087
Really appreciate the new switch feature! Does it come with a keyboard shortcut : p @myleshorton

Exactly. When lantern is on, it gives a msg of something like "_Still unable to dial tcp://captive.apple.com:80 after 3 attempts_" in the pop-up window. The complete address it's loading from is

http://wiportal.wiwide.com/portal?res=notyet&uamip=10.254.0.1&uamport=3990&challenge=cc6fa101526b2500894e9

[2016-04-27 03:38] fffw commented on #3573
Anyway it's not a bug of Lantern itself. Close it for now.

[2016-04-27 03:38] #3573 closed

[2016-04-27 03:42] yuan78 commented on #4086
Hi,
I update to latest src, it can show systemtray now.
but how can I kill the pop-up window by modify the main.go? Pls advise the detailed procedures. Thx!

[2016-04-27 06:01] jindongwang commented on #4099
Thank you @myleshorton for being so nice to answer my question.
1.My IP address is 159.226.43.59
2.There is no CAPTCHA available on the Scholar page, just the 'sorry' words.
3.The screenshot is here:
![qq 20160427112125](https://cloud.githubusercontent.com/assets/6158206/14843170/76994842-0c80-11e6-9996-8bb57ec8c1af.png)

[2016-04-27 06:34] fffw commented on #4019
Thanks @sunshine19090 for catching it. So 16 px `line-height` is not sufficient on Edge, while 18px works for all browsers.

[2016-04-27 08:57] fffw commented on #4082
@sunshine19090 Could you post Chrome's language settings when you can see the untranslated strings? I tried several combination but still couldn't reproduce.

[2016-04-27 09:42] rfreitas commented on #3362
Might be related. If I open this link: http://www.bloomberg.com/features/2016-how-to-hack-an-election/ with lantern on in Chrome (OSX El capitan), I'm redirected to bloomberg homepage.

[2016-04-27 09:52] uaalto commented on #3573
Thank you @fffw !

[2016-04-27 12:37] oxtoacart commented on #3054
A user just requested this on the user forum.

[2016-04-27 13:47] oxtoacart commented on #3524
@uaalto I think it's still relevant, but I haven't seen it much personally and I haven't heard users complaining about this specifically.  @atavism Do you have any insights?

[2016-04-27 13:56] oxtoacart commented on #3410
Okay, I've deleted the Redis instance and the Heroku application.  I'm leaving the BigQuery data around in case we ever want to query it.  The Redis data is backed up to S3 should we ever want to revive it.

[2016-04-27 13:56] #3410 closed

[2016-04-27 13:58] oxtoacart commented on #3410
cc @uaalto

[2016-04-27 15:13] myleshorton commented on #4054
What's the status of this one @atavism?

[2016-04-27 15:22] atavism commented on #4054
Just waiting for @sunshine19090 to verify its fixed

[2016-04-27 15:27] uaalto commented on #3616
We are aware of other software interacting with Lantern. The most we can do is show an alert for cases where we know there is such interaction.
I'll close this, but please feel free to open if you can provide more information so we can work with it.
Thank you!

[2016-04-27 15:27] #3616 closed

[2016-04-27 15:30] uaalto commented on #3487
@atavism this sounds like it is fixed, right?

[2016-04-27 15:31] atavism commented on #3487
Yep, this is fixed now!

[2016-04-27 15:31] #3487 closed

[2016-04-27 15:32] uaalto commented on #3547
Duplicate of https://github.com/getlantern/lantern/issues/3505
Closing this, the other is older.

[2016-04-27 15:32] #3547 closed

[2016-04-27 15:35] uaalto commented on #3479
Done.

[2016-04-27 15:35] #3479 closed

[2016-04-27 15:37] uaalto commented on #3476
Hey @atavism, I'm not currently aware of the plan for distribution channels of the app. Is this prioritary?

[2016-04-27 15:41] uaalto commented on #3487
Awesome thanks!

[2016-04-27 15:42] uaalto commented on #3461
This is a very generic that could've happened for several reasons. Closing it until we can identify a more specific issue.

[2016-04-27 15:42] #3461 closed

[2016-04-27 15:43] uaalto commented on #3449
Hi @zhpower. We plan to builld Lantern in the future, but in the meantime you can do what @muyufan says.

[2016-04-27 15:43] #3449 closed

[2016-04-27 15:44] uaalto commented on #3451
Closing. It is already in production. Is that correct @oxtoacart ?

[2016-04-27 15:44] #3451 closed

[2016-04-27 15:46] uaalto commented on #3445
Hi! Unfortunately, we are only supporting building from our own Docker scripts.

[2016-04-27 15:46] #3445 closed

[2016-04-27 15:47] uaalto commented on #3447
Thank you for the explanation @andydkcat! I hope you made it work @CNairbird

[2016-04-27 15:47] #3447 closed

[2016-04-27 15:49] oxtoacart commented on #3451
Yup, already in prod.

[2016-04-27 15:57] uaalto commented on #3444
Closing, because we can't really dig any deeper with this information. Please, if you continue experiencing issues with Lantern, would you mind sending us the logs? https://github.com/getlantern/lantern/wiki/Emailing-lantern-logs

Thank you!

[2016-04-27 15:57] #3444 closed

[2016-04-27 16:05] uaalto commented on #3430
It seems like you have other software using the same port as the UI (16823). In order to confirm this, we would need you logs. Would you mind sending them? https://github.com/getlantern/lantern/wiki/Emailing-lantern-logs

Thank you!

[2016-04-27 16:05] #3430 closed

[2016-04-27 16:05] oxtoacart commented on #4044
@atavism This seems to have been resolved by the DOS fix, right?

[2016-04-27 16:07] uaalto commented on #3441
Thank you for posting this instructions @kashu !
I'll be closing this because we have no more news from the op and there wasn't any information that we could use to actually identify a bug.

[2016-04-27 16:07] #3441 closed

[2016-04-27 16:08] uaalto commented on #3425
@atavism any news on this?

[2016-04-27 16:12] uaalto commented on #3443
This sounds like a transient issue that was fixed. Should I close it @atavism @aranhoide ?

[2016-04-27 16:47] oxtoacart commented on #4096
We have HTTPS enabled on CloudFlare for thumbs.getiantem.org, and with that Page Rule enabled, we're not allowed to configure any caching or anything else.

[2016-04-27 16:49] oxtoacart commented on #4096
Incidentally, given that we're using a self-signed certificate right now, HTTPS to our server doesn't buy us much.

[2016-04-27 17:16] myleshorton commented on #3904
Is this one done @uaalto?

[2016-04-27 17:17] myleshorton commented on #3898
@xiam I just want to make sure the javascript side is handling this "correctly", as we've now switched the backed to use a string for user ID. Is the frontend sending a string?

[2016-04-27 17:22] myleshorton commented on #541
Closing in favor of other extensions

[2016-04-27 17:22] #541 closed

[2016-04-27 17:23] #2792 closed

[2016-04-27 17:24] myleshorton commented on #4092
It is very odd we see so many in Amsterdam, though. Users being assigned incorrectly possibly @aranhoide?

[2016-04-27 17:26] #424 closed

[2016-04-27 17:26] #642 closed

[2016-04-27 17:29] myleshorton commented on #2813
This will be an issue again with IPFS.

[2016-04-27 17:29] #2826 closed

[2016-04-27 17:29] #2855 closed

[2016-04-27 17:30] #3271 closed

[2016-04-27 17:31] myleshorton commented on #3477
Is this one still an issue @sunshine19090?

[2016-04-27 17:32] uaalto commented on #3904
Yes, sort of. The problem has been solved differently: Since /purchase now blocks and is idempotent we just need to call it until it succeeds or timeouts. It's simpler for the client, so that's why we wend down this route.
We can close it.

[2016-04-27 17:33] myleshorton commented on #3711
Is this one all set @atavism?

[2016-04-27 17:34] myleshorton commented on #3742
Have you seen this one recently @sunshine19090?

[2016-04-27 17:35] #3711 closed

[2016-04-27 17:35] myleshorton commented on #3752
Let's just make absolutely sure this one's not a problem.

[2016-04-27 17:36] atavism commented on #3711
Yep, ticket is no longer relevant

[2016-04-27 17:37] sunshine19090 commented on #4057
@Derek, For me it looks like the spinner is centered but the ON/OFF button is not. But am not sure as I couldn't take a proper pic when it appeared. Please check and close the issue if it looks good to you.

![screenshot_2016-04-27-10-33-22](https://cloud.githubusercontent.com/assets/11394369/14861854/cd0def4c-0c63-11e6-94ae-0dad6a5ec069.png)

[2016-04-27 17:38] sunshine19090 commented on #3742
No @myleshorton, I am closing this.

[2016-04-27 17:38] #3742 closed

[2016-04-27 17:39] atavism commented on #4057
@sunshine19090 On/off looks off because I sent you a build without [this](https://github.com/getlantern/lantern/pull/4098) merged in. I will send you an updated version

[2016-04-27 17:44] myleshorton commented on #3017
As a first pass on this, let's use the extension as a debugging tool when things seem to go wrong with Lantern. The extension could be helpful in testing what the current proxy settings are, potentially if there's another conflicting extension, could test if Lantern's working at all, if the network is working at all, etc.

[2016-04-27 17:46] myleshorton commented on #3288
Work on this will be closely related to #3017 and will likely build on the error page UI in the newsfeed.

[2016-04-27 17:47] #1672 closed

[2016-04-27 17:48] #1611 closed

[2016-04-27 17:48] #1574 closed

[2016-04-27 17:48] #1218 closed

[2016-04-27 17:49] #1122 closed

[2016-04-27 17:50] #1119 closed

[2016-04-27 17:50] #658 closed

[2016-04-27 17:51] #1087 closed

[2016-04-27 17:52] #2561 closed

[2016-04-27 17:52] #2301 closed

[2016-04-27 17:53] #2128 closed

[2016-04-27 17:53] #2025 closed

[2016-04-27 17:54] #1996 closed

[2016-04-27 17:55] #2580 closed

[2016-04-27 18:05] myleshorton opened #4100 "Figure out why we see so many IPs in analytics"

[2016-04-27 18:17] myleshorton opened #4101 "Separate mobile from desktop data"

[2016-04-27 18:21] myleshorton opened #4102 "Determine user's active proxy settings in Chrome extension"

[2016-04-27 18:43] myleshorton opened #4103 "Implement client and server side monitoring that allows us to correlate high level problems and allows quantitative analysis"

[2016-04-27 19:09] sunshine19090 commented on #4057
Now it looks good @atavism. But I see spinner whenever I open the lantern app on top of the feeds text. The look of the spinner is not so good on top of the text. May be it is just because the spinner is big compared to the text in the background. Will it look better if the spinner is little small?

Anyway moving this to P3 as this works fine.

![screenshot_2016-04-27-12-01-26](https://cloud.githu

[2016-04-27 19:11] sunshine19090 commented on #4019
@fffw Sorry, I forgot to mention that it happens in all the browser not only in Edge. The screenshot in my previous comment is from Chrome browser.

[2016-04-27 19:18] sunshine19090 commented on #4034
I am seeing abstract in all the articles in the english feed. @atavism  Is this specific to Chinese feed?

[2016-04-27 19:20] atavism commented on #4034
Yes, I'm seeing summaries for all articles in the Chinese feed too. Think we can close this

[2016-04-27 19:21] sunshine19090 commented on #4034
Okay, thanks @atavism.

[2016-04-27 19:21] #4034 closed

[2016-04-27 19:22] sunshine19090 commented on #4054
Working fine now.

[2016-04-27 19:22] #4054 closed

[2016-04-27 19:34] myleshorton commented on #3929
Yeah you can't enter it later. You want an explanation about whether or not you'll be able to enter one later @oxtoacart? What do you think @Derekf5?

[2016-04-27 19:37] myleshorton commented on #2865
@sunshine19090 can you test with Windows 10 defender?

[2016-04-27 19:39] #2507 closed

[2016-04-27 19:39] Derekf5 commented on #3929
Hmm, im not sure we need to explain that you cant enter it later @oxtoacart @myleshorton .  Most of the time Promo codes are one time use at checkout.  If they missed signing up with a code and still want some free time, they can always start inviting friends.

[2016-04-27 19:39] myleshorton commented on #2905
Also see user report in #3833

[2016-04-27 19:40] #3833 closed

[2016-04-27 19:41] sunshine19090 commented on #2865
Sure @myleshorton, I can test it for 2.2.0.

[2016-04-27 19:41] myleshorton commented on #3883
Duplicate

[2016-04-27 19:41] #3883 closed

[2016-04-27 19:42] myleshorton commented on #2905
See also #3883

[2016-04-27 19:42] myleshorton commented on #3922
We'll look closer at this @spartan116x

[2016-04-27 19:45] myleshorton commented on #3687
@sunshine19090 what language was your system set to before you set it to english?

[2016-04-27 19:46] myleshorton commented on #3327
@sunshine19090 can you try to reproduce this one too?

[2016-04-27 19:57] myleshorton opened #4104 "Lantern not successfully loading pages from the local LAN"
Reported in #4087

[2016-04-27 19:58] sunshine19090 commented on #3687
@myleshorton It was English(India). I still have my language set to English (India) and now I don't see any problem. Also, I noticed that I am able to open lantern page using http://127.0.0.1:16823 instead of ui.lantern.io in Edge browser. In previous releases, I wouldn't be able to use the former.

[2016-04-27 20:02] myleshorton commented on #4087
This is very useful @esdoppio and @louy2 thanks. You'd be interested in this too @oxtoacart and @fffw.

The LAN issue is ticketed at #4104

This is very interesting. I wonder @fffw if this could be because the direct connection times out too soon, and Lantern proxies it. Would the new version of detour get around that?

That's exactly what we're striving for! The one problem right now is that some

[2016-04-27 20:04] myleshorton commented on #4087
We've looked at SwitchyOmega and SwitchySharp. Are there others you use @louy2?

[2016-04-27 20:11] sunshine19090 commented on #3556
Yes @uaalto, I am still able to reproduce it.

[2016-04-27 20:14] sunshine19090 commented on #3477
No @myleshorton, Closing it now.

[2016-04-27 20:14] #3477 closed

[2016-04-27 20:17] #3904 closed

[2016-04-27 20:18] sunshine19090 commented on #3253
Oh, this was a one time thing. Anyway, I think this was resolved when @fffw was working with that high CPU usage issue as it never occurred after that but not sure.

[2016-04-27 20:18] #3253 closed

[2016-04-27 20:22] louy2 commented on #4087
No.

[2016-04-27 20:38] myleshorton commented on #4034
And you guys specifically looked at the financial times feed right @atavism and @sunshine19090?

[2016-04-27 20:41] atavism commented on #4034
@myleshorton Yep, the FT Chinese feed has summaries now too.

[2016-04-27 21:12] myleshorton commented on #4034
Awesome @atavism thanks!

[2016-04-27 23:01] Derekf5 opened #4105 "Formatting Issue on New error page 2.2.0"
<img width="1440" alt="screen shot 2016-04-27 at 6 10 30 pm" src="https://cloud.githubusercontent.com/assets/7864729/14870668/d0a4fb5a-0ca9-11e6-951a-0c7f829d33e6.png">

The content block below "Oops, something went wrong" needs to be centered.  It is all currently to far left.

[2016-04-28 00:57] xiam commented on #4039
The PR referred above is now merged.

[2016-04-28 00:57] #4039 closed

[2016-04-28 00:57] xiam commented on #3807
Same as https://github.com/getlantern/lantern/issues/4039

[2016-04-28 01:15] myleshorton commented on #3807
The backend hits heroku directly for CORS AFAIK though @xiam

[2016-04-28 01:23] xiam commented on #3807
@myleshorton this was closed on this PR: https://github.com/getlantern/lantern-pro/pull/5, unless we need anything else

[2016-04-28 01:37] #4005 closed

[2016-04-28 02:02] fffw commented on #4104
It actually only happens to the login page. Different OS may have different mechanism. I logged https://github.com/getlantern/lantern/issues/3258 before.

[2016-04-28 02:18] fffw commented on #4087
@myleshorton It's exactly what new detour want to fix. It won't solve all cases, though. I've seen a few sites respond a simple error page if the client IP is not allowed but take seconds to render a complex page for direct requests. Detour will be spoofed in that case. A quick on/off button still makes sense.

[2016-04-28 02:35] fffw commented on #4019
@sunshine19090 I adjusted the line height a bit. Could you try the latest QA build?

[2016-04-28 03:31] myleshorton commented on #3258
Closing in favor of #4104 just because it's a little more general.

[2016-04-28 03:31] #3258 closed

[2016-04-28 03:32] myleshorton commented on #4104
@fffw I would think this is an issue with certain wifi login pages resolving to the local network in DNS no? So might be an issue in http-proxy where it should really redirect or something? I was assuming that was the cause, but it could be some OS-level thing I'm missing.

[2016-04-28 04:01] sunshine19090 commented on #4019
yeah @fffw , it looks good now in Windows 7, all browsers. I will check in other platforms and close the ticket.

[2016-04-28 04:04] guijianchou opened #4106 "Any traffic statistics count and self install path for next version"
Thanks all your developers make effort for our google user in China. I would love get further feather and some tips for NEXT getlantern version.

[2016-04-28 04:09] sunshine19090 commented on #4105
@Derekf5 @myleshorton  Perhaps we should consider adding "Check your Internet connection" too. I tested with no internet connection to see this page and found that the reasons we specified doesn't make me think that there could be a problem with my connection.

[2016-04-28 04:16] sunshine19090 opened #4107 "On clicking the Try Lantern Android link, the page appears with overlapped text in the background when there is no internet connection."
![image](https://cloud.githubusercontent.com/assets/11394369/14875296/2d513576-0cbe-11e6-92ea-12059e28a9ee.png)

[2016-04-28 04:28] #3687 closed

[2016-04-28 04:31] sunshine19090 commented on #4082
@fffw I am using Chinese and not Chinese Traditional.

[2016-04-28 04:56] sunshine19090 opened #4108 "Articles in Chinese feed are mixed up"
I see Jandan.net, theinitium.com, chinadigitaltimes.com under a single channel and all other channels are also mixed up.

![image](https://cloud.githubusercontent.com/assets/11394369/14875760/c60c4b76-0cc2-11e6-83f0-ecff25093bbd.png)

[2016-04-28 04:57] sunshine19090 commented on #4108
The english feed is also being affected when I change my Language settings from Chinese to English(US).

![image](https://cloud.githubusercontent.com/assets/11394369/14875785/121f1f52-0cc3-11e6-96ff-5450d1991be0.png)

[2016-04-28 05:04] sunshine19090 opened #4109 "Mobile - The abstract says "reddit: the front page of the internet" for almost all the articles in reddit"
Also some of the articles missing the image.

![screenshot_2016-04-27-21-41-58](https://cloud.githubusercontent.com/assets/11394369/14875849/da42fa12-0cc3-11e6-93d8-08fe13af5cd9.png)

[2016-04-28 05:56] atavism commented on #4109
@xiam @fffw Is this also an issue on desktop, or are we using a different field for article description for the reddit feed? I'm using the ``meta["description"]`` and ``contentText``. Should I use something else for reddit?

[2016-04-28 06:38] fffw commented on #4109
@atavism It's the same on desktop. There's no field containing any meaningful abstracts in feeds.json. It's not surprising as most Reddit pages are not articles at all. They are just links with discussion threads.

[2016-04-28 07:20] sunnyXn opened #4110 "lantern 2.1.2 for mac run incorrect"
the lanten 2.1.2 for mac  ，  google 49.0.2623.112 , is not run.
then google show , Are waiting for the agent for the response of the tunnel.

log:
Apr 28 07:09:43.921 - 0m0s DEBUG i18n: translate.go:106 Setting locale en_US
Apr 28 07:09:43.929 - 0m0s DEBUG flashlight: flashlight.go:152 ---- flashlight version: 2.1.2, release: 2.1.2, build revision date: 20160413.044557 ----
Apr 28 07:09:43.930 - 0

[2016-04-28 08:17] fffw commented on #4082
Thanks @sunshine19090 ! It will be fixed in next QA build.

[2016-04-28 08:21] fffw opened #4114 "`getlantern/lantern` test failed"
https://travis-ci.org/getlantern/lantern/builds/126314302

[2016-04-28 09:41] fffw commented on #4105
List items are better to be left-aligned, so we need to make the content box a bit narrower, so the first line is visually centered.

[2016-04-28 10:10] fffw commented on #4105
We can also increase the space between "Oops" and the line after it. Larger space would look better in Chinese or probably other languages with shorter text.

![image](https://cloud.githubusercontent.com/assets/10410437/14882620/357609bc-0d6c-11e6-9de6-46b5e8fb63f2.png)

[2016-04-28 12:13] xiam commented on #4109
That's right, see this for instance: https://www.reddit.com/r/television/comments/4grxte/netflix_to_traumatize_whole_new_generation_with/

We don't have any "article content" there.

[2016-04-28 12:17] jack2gs commented on #3946
Got it. Thank you very much! :)

[2016-04-28 12:17] #3946 closed

[2016-04-28 12:21] fffw commented on #2370
The actual error doesn't matter anymore. Detour logic checks all network errors.

[2016-04-28 12:21] #2370 closed

[2016-04-28 12:21] fffw commented on #2774
Done

[2016-04-28 12:21] #2774 closed

[2016-04-28 12:22] fffw commented on #2390
Extracted user settings to `settings.yaml`

[2016-04-28 12:22] #2390 closed

[2016-04-28 13:31] xiam commented on #4109
I am now manually removing those descriptions.

[2016-04-28 13:44] xiam commented on #4108
Could not find any problem with feeds from desktop, is this issue reproducible?

[2016-04-28 13:45] oxtoacart commented on #3940
@sunshine19090 The requirement to test is:

1. By default, the lantern.yaml should not be human readable
2. If you use the `-readableconfig` command-line flag, it should be human readable
3. You should be able to switch between using `-readableconfig` and not using it, and Lantern should still work

[2016-04-28 14:43] sunshine19090 commented on #4108
I was able to reproduce it twice yesterday. I will try it again today @xiam.

Regards,
Sunshine

[2016-04-28 14:52] atavism commented on #4044
@oxtoacart Yes, it appears so. I haven't seen this at all since we deployed the fix.

[2016-04-28 15:36] myleshorton opened #4117 "Put manoto news first in persian feed"

[2016-04-28 15:39] oxtoacart opened #4118 "Include lantern-mobile Java code in Travis build"

[2016-04-28 15:40] oxtoacart opened #4119 "Create Automated Unit Tests for lantern-mobile and run them in Travis build"

[2016-04-28 15:40] oxtoacart opened #4120 "Report on coverage for lantern-mobile Unit Tests and add badge to README"

[2016-04-28 15:41] oxtoacart opened #4121 "Create coverage reports for http-proxy and add badge to README"

[2016-04-28 15:41] oxtoacart opened #4122 "Create coverage reports for http-proxy-lantern and add badge to README"

[2016-04-28 15:42] oxtoacart opened #4123 "Include MobileSDK in Travis build"

[2016-04-28 15:42] oxtoacart opened #4124 "Create automated unit tests for MobileSDK"

[2016-04-28 15:42] oxtoacart opened #4125 "Report on coverage for MobileSDK and add badge to README"

[2016-04-28 15:43] oxtoacart opened #4126 "Run automated build for pubsub"

[2016-04-28 15:43] oxtoacart opened #4127 "Report on coverage for pubsub and add badge to README"

[2016-04-28 15:43] oxtoacart opened #4128 "Run automated build for everfeed-combiner"

[2016-04-28 15:43] oxtoacart opened #4129 "Add unit tests for everfeed-combiner"

[2016-04-28 15:44] oxtoacart opened #4130 "Report on coverage for everfeed-combiner and add badge to README"

[2016-04-28 15:44] oxtoacart opened #4131 "Report on and Improve Unit Test Coverage Across Lantern Projects"
The level of test coverage (and coverage reporting) across the various Lantern projects varies quite widely.  We should get to a position where we have decent coverage on all of them so that it then becomes easy to keep coverage up as we add new features.

Let's not chase an arbitrary % coverage threshold, but as a rough feel I think we should be able to achieve 70% or better across the board.

[2016-04-28 16:11] aranhoide commented on #3775
Subtasks:

https://github.com/getlantern/http-proxy-lantern/issues/48

https://github.com/getlantern/lantern_aws/issues/124

https://github.com/getlantern/lantern_aws/pull/123

These are in a dormant state.  I imagine the first one should be completed first: end-to-end testing makes more sense once IPv6 has been verified to work in `http-proxy(-lantern)` itself.

[2016-04-28 16:14] xiam commented on #4108
I finally ran into this problem, this is a client's caching issue that goes away when `localStorage` is cleared or the cache is emptied. Don't know how to reproduce it at will, any clues @fffw?

[2016-04-28 16:18] aranhoide commented on #3775
As for priority, even though @myleshorton periodically bumps this one, following the letter of the coding guidelines I can give it P2 at most, and I think even that's a stretch, considering that IP enumeration doesn't seem to be happening in our biggest market and the gains, while potentially game changing, are also highly theoretical at this point, since it's not clear what's the collateral damag

[2016-04-28 16:32] aranhoide commented on #3777
@fffw assigning to you since you said you'll look at this.

Setting to closest milestone that is not due yet.  I'll call this a P2 because incompatibilities will happen, and while fixing them or working around them would be great, just being aware of them so we can help users in their troubleshooting may be the best we can do in many cases.

[2016-04-28 16:41] aranhoide commented on #3782
If we're going to give https://github.com/getlantern/config-server/issues/40 a try, we probably want to do so before this one, since solving that would make this issue moot.

Anyway, I don't understand what we want to achieve here.  Can't we make `http-proxy-lantern` delete these regardless of whether they are in `Connection:`?  Aren't we doing so already?  And, do we want any hypothetical proxies

[2016-04-28 16:42] aranhoide commented on #3782
Giving it a P3 for now since it depends on another issue and I'm not sure we even want this after all.  Feel free to bump if I've misunderstood this, @fffw.

[2016-04-28 16:57] aranhoide commented on #3784
This seems really bad, but assigning P2 since there's at least a known workaround and users can use other browsers, and similar bugs with Chrome get this priority.  @Rice321 feel free to bump to a higher priority if you think I'm underestimating the importance of this.

IIRC @myleshorton was looking into this, so I'm assigning to him.

[2016-04-28 17:03] aranhoide commented on #3790
@oxtoacart feel free to bump priority/milestone if you think `net/http` is a bottleneck likely to affect users' experience.

[2016-04-28 17:06] aranhoide commented on #3791
Tentatively giving this a high priority and squeezing it into 2.2.1 because it seems a quick fix and it might impact growth, which is a current concern.  @xiam: feel free to change any of this (and/or reassign to something else) if you know better.

[2016-04-28 17:08] aranhoide commented on #3821
@fffw : tentatively assigning to you since you seem likely to know how to update the README.  Feel free to reassign or change priority if you know better.

[2016-04-28 17:09] aranhoide commented on #3821
Also setting 2.2.1 milestone to convey that this is not really tied to any release and could be fixed any time IIUC.

[2016-04-28 17:11] aranhoide commented on #3830
Currently all Chinese users are getting proxies in Tokyo.  We are aware that Singapore is slower for some ISPs, so not much more we can do about this.

[2016-04-28 17:11] #3830 closed

[2016-04-28 17:13] atavism commented on #3791
Thanks, @11hwu2 and @aranhoide. I actually didn't realize we were pointing to such an old build with the share messages. I went ahead and fixed this here: https://github.com/getlantern/lantern/pull/4132/files

[2016-04-28 17:15] aranhoide commented on #3844
Closing since this seems very specific to user's changes in `/private/var`.  If other people have similar issues, please open a new ticket describing your problem in detail.

[2016-04-28 17:15] #3844 closed

[2016-04-28 17:19] aranhoide commented on #3853
Leaving milestone blank since this doesn't seem a bug with Lantern but at most some opportunity to improve documentation.   @atavism I assigned to you since I guess you're building this stuff all the time.  Feel free to reassign etc.

[2016-04-28 17:21] aranhoide commented on #3856
@nanmuyao could you please send us your logs, as described in

https://github.com/getlantern/lantern/wiki/Emailing-lantern-logs

[2016-04-28 17:23] xiam commented on #4117
Hey @fffw, @atavism,

I've added a new `sorted_feeds` entry that contains the keys of the feeds object, but sorted:

![screen shot 2016-04-28 at 12 11 04 pm](https://cloud.githubusercontent.com/assets/385670/14894854/5347922a-0d3b-11e6-9c5c-7f68ace9ed6b.png)

Let me know if this change fits you, other options could be changing the feeds object into an array or add a new field "order_id" on feeds s

[2016-04-28 17:25] myleshorton commented on #3853
Did you run go `gomobile init` @yuan78?

[2016-04-28 17:28] oxtoacart commented on #3790
@aranhoide I think the only thing that might make this higher priority is if it solves our issue with not being able to upgrade http-proxy to Go 1.6.

[2016-04-28 17:32] aranhoide commented on #3861
@junneyang : for one thing, Lantern is not supposed to proxy `ping`; it's purely a HTTP proxy.  Your logs suggest Lantern is successfully proxying to our logging infrastructure at least.  So I'll assume this is a misunderstanding and close this issue for now.

Have you tried browsing to Google?  What problem are you experiencing exactly?

Also, how did you install Lantern?  It seems to be installe

[2016-04-28 17:32] #3861 closed

[2016-04-28 17:35] aranhoide commented on #3790
@oxtoacart interesting.  Do we have an issue for that?  Maybe adding a reference from that one to this one would be a good way to keep track of this conditional priority.

[2016-04-28 17:37] aranhoide commented on #3867
@xiam: assigning to you since you're our docker wizard.

[2016-04-28 17:39] aranhoide commented on #3870
@fliar's PR is merged now.

[2016-04-28 17:39] #3870 closed

[2016-04-28 17:45] aranhoide commented on #3909
Thanks for your feedback and suggestion, @matthewbassett !

I'll refer to this issue from https://github.com/getlantern/lantern/issues/3054 and mark this as a duplicate to keep this discussion but centralize any future talk in the other one.

[2016-04-28 17:48] #3909 closed

[2016-04-28 17:49] aranhoide commented on #3054
See also: https://github.com/getlantern/lantern/issues/3909

[2016-04-28 17:50] aranhoide commented on #2080
This seems related to lantern-java.  There's already a ticket for building Lantern 2 for ARM, so closing this one.

[2016-04-28 17:50] #2080 closed

[2016-04-28 17:53] aranhoide commented on #3910
@sunshine19090 : assigning to you since you're working on these antivirus false positives.  Please reassign if someone else needs to look at this first.

[2016-04-28 17:53] #3911 closed

[2016-04-28 17:58] aranhoide commented on #3912
Sorry, the issue system is meant to report problems with Lantern or to request features.  Please post this question in the developer mailing list:

https://groups.google.com/forum/#!forum/lantern-devel

[2016-04-28 17:58] #3912 closed

[2016-04-28 18:02] aranhoide commented on #3913
Thanks for your help!  Currently only Ubuntu is officially supported.  Hopefully @hitzhangjie's and @iliul's suggestions have been of help.  If you intend to build Lantern on a server, you may want to pay special attention to this part too:

https://github.com/getlantern/lantern#building-lantern-for-running-on-a-server

[2016-04-28 18:02] #3913 closed

[2016-04-28 18:04] aranhoide commented on #3920
Please reopen if problem persists/reappears.

[2016-04-28 18:04] #3920 closed

[2016-04-28 18:07] aranhoide commented on #3921
@apollolj do you see any reports about your antivirus flagging Lantern?

[2016-04-28 18:14] aranhoide commented on #3941
Is this related to #3853?

[2016-04-28 18:15] aranhoide commented on #3941
The upstream issue is closed, so I'm assuming this is resolved.  @uaalto please reopen otherwise.

[2016-04-28 18:15] #3941 closed

[2016-04-28 18:17] aranhoide commented on #3942
@xiam: please reassign if you think someone else may be more fit for this one.

[2016-04-28 18:20] aranhoide commented on #3948
@oxtoacart @atavism : please bump the priority if you think I'm underestimating (well, underguessing :) ) the efficiency impact of this.  Feel free to reassign too, of course.

[2016-04-28 18:29] oxtoacart commented on #3790
Switching to fasthttp may resolve getlantern/http-proxy-lantern#37.  Not sure though - would need to test.

[2016-04-28 18:32] oxtoacart commented on #3948
I think @atavism has already effectively implemented this.  Am I right?

[2016-04-28 18:39] myleshorton commented on #4105
Yeah @sunshine19090 I think that's a good point, although in an ideal world I think we'd load a cached version of the feed in that case.

[2016-04-28 18:40] myleshorton commented on #4105
Ok added a little more space per your suggestion @fffw.

[2016-04-28 18:49] myleshorton commented on #4105
This will be in the next build @sunshine19090

[2016-04-28 18:49] oxtoacart opened #4134 "Include Lantern client version in Google Analytics metrics collected by http-proxy"

[2016-04-28 19:01] oxtoacart commented on #4093
@sunshine19090 You should be able to continue seeing BuzzFeed on its own, but none of the BuzzFeed articles should show up in the All feed.

[2016-04-28 19:03] xiam commented on #4093
That requires a new build, I think.

[2016-04-28 19:03] sunshine19090 opened #4135 "Each article is repeated twice in Jandan.net feed in both mobile and desktop"
![image](https://cloud.githubusercontent.com/assets/11394369/14897965/3f5586fc-0d39-11e6-9768-a5d953147e00.png)

[2016-04-28 19:05] oxtoacart commented on #4093
It does.  I was just leaving a testing note for whenever it's ready to test.

This raises an interesting question @xiam and @myleshorton.  How do we track what build something is in so that @sunshine19090 knows what to retest?

[2016-04-28 19:07] sunshine19090 opened #4136 "Mobile - BBC chinese feed is blank"
It is working fine in desktop.

[2016-04-28 19:07] xiam commented on #4135
Thanks, good finding. Confirmed on feed-combiner side.

[2016-04-28 19:12] atavism commented on #4136
It's showing up for me. It's just totally blank for you?

![image](https://cloud.githubusercontent.com/assets/6346213/14898187/71cc471e-0d3a-11e6-9786-412b3d2692d7.png)

[2016-04-28 19:16] sunshine19090 commented on #4136
It was like in the screenshot. I came across the same issue when I changed the language back to English feed but it went away after closing and reopening the app.

![screenshot_2016-04-28-12-05-14](https://cloud.githubusercontent.com/assets/11394369/14898289/df3ad4b4-0d3a-11e6-9742-02f3b3c59b80.png)

[2016-04-28 19:21] sunshine19090 commented on #4136
@atavism I was trying to reproduce in the chinese feed and this time all were blank except for one feed at the end. Also, I didn't see the spinner when it took time to load. After quitting and reopening, I was able to see them again and the spinner too.

[2016-04-28 19:28] myleshorton commented on #4108
I'll grab this one guys.

[2016-04-28 19:40] myleshorton commented on #4136
Just a guess, but maybe just switching the language itself doesn't trigger a reload of the feed @atavism? If so that would be more of an issue in testing environments than in real world use.

[2016-04-28 19:41] sunshine19090 opened #4137 "Mobile - Able to close the pop-up "No internet connection available!" by touching in any other part of the screen."

[2016-04-28 19:44] sunshine19090 opened #4139 "Mobile - Feeds should refresh automatically when it detects internet connection"
I got the message "OOPs Error fetching feeds" when there is no internet connection but it isn't going away until I manually refresh after connecting to my wifi. It doesn't refresh even after switching on lantern.

[2016-04-28 19:52] myleshorton opened #4140 "Track errors loading feeds"
This will automatically tell us where people are asking for feeds but not getting them in addition to telling us about any errors with the feeds themselves.

[2016-04-28 20:02] sunshine19090 opened #4141 "A pop-up and a screen needs translation in Chinese"
![screenshot_2016-04-28-12-32-30](https://cloud.githubusercontent.com/assets/11394369/14899542/6175ddd8-0d41-11e6-9a1b-9e34871d4d98.png)
![screenshot_2016-04-28-12-32-08](https://cloud.githubusercontent.com/assets/11394369/14899541/61733c18-0d41-11e6-8616-e2580980afbf.png)

[2016-04-28 20:14] sunshine19090 commented on #4109
@xiam @atavism Looks good in desktop. In Mobile, I still see that some of them has abstract that doesn't make sense. Screenshot attached.
![screenshot_2016-04-28-13-10-12](https://cloud.githubusercontent.com/assets/11394369/14899897/11565a38-0d43-11e6-89ef-1cb6a56b853b.png)

[2016-04-28 20:17] myleshorton opened #4143 "Use cached feed if there's no network connection"

[2016-04-28 20:19] sunshine19090 opened #4144 "After changing the language to Persian in chrome, lantern is not loading the feeds"
I am seeing only the spinner.

![image](https://cloud.githubusercontent.com/assets/11394369/14900078/c7260016-0d43-11e6-94c2-4cabb733ea13.png)

[2016-04-28 20:21] sunshine19090 opened #4145 "Persian language - Date on the articles for the iranwire.com are Dec 31,1"
![image](https://cloud.githubusercontent.com/assets/11394369/14900177/29af34f0-0d44-11e6-80b0-b517ec1fc609.png)

[2016-04-28 20:22] myleshorton commented on #4143
Ha! This should actually be fixed as a bi-product of the fix for #4108

[2016-04-28 20:30] sunshine19090 opened #4147 "Translate the self help page in Chinese and Persian"
1. Self-help page.
2. The new link to switch between the feeds and the old look

[2016-04-28 20:35] #4140 closed

[2016-04-28 20:46] atavism commented on #4137
Interesting. I'm only able to click the "OK" button. Will take a look.

[2016-04-28 20:49] myleshorton commented on #4107
This one's ready to test @sunshine19090

[2016-04-28 20:51] myleshorton commented on #4044
Closing

[2016-04-28 20:51] #4044 closed

[2016-04-28 20:51] atavism commented on #4141
These strings were never added to Transifex. I just did that and will open a PR once the new translations are available (@Derekf5, if you want to ping our translators about it?)

[2016-04-28 20:59] myleshorton commented on #4144
And you refreshed the page right @sunshine19090? This is working for me on OSX.

[2016-04-28 21:01] myleshorton opened #4148 "image href problem with iranwire.com"
Looks like the URL just might be wrong. Here's the dev console:

![image](https://cloud.githubusercontent.com/assets/1143966/14901316/928475ee-0d49-11e6-89b0-f09b710bb7b9.png)

[2016-04-28 21:01] Derekf5 commented on #4141
sure thing @atavism

[2016-04-28 21:11] sunshine19090 commented on #4144
Oh, this is in Windows 7 @myleshorton . I did refresh the page. I even tried quitting the browser. I didn't check in Mac yet.

[2016-04-28 21:17] myleshorton commented on #4117
Can you take a look at this @fffw?

[2016-04-28 21:26] uaalto commented on #3941
Yes it's fine. Thank you!

[2016-04-28 21:32] xiam commented on #4135
Should be fixed now.

[2016-04-28 21:34] uaalto commented on #3790
It might be a dangerous path. We tested extensively the current server, and is supported by the Go team. The promise of faster server comes with drawbacks, and AFAIK about how it handles edge cases. For a proxy, it makes sense to be more standard, while fasthttp seems like a good option if you control all the calls performed to the server, so you don't care about the full HTTP specification. BTW,

[2016-04-28 21:39] myleshorton commented on #4145
Let's just leave out the date if there's no date field @fffw

[2016-04-28 21:47] fffw opened #4149 "Show the feed name in each article of "All" tab"
Currently site domain is shown

[2016-04-28 21:50] atavism commented on #4141
This should be resolved with https://github.com/getlantern/lantern/pull/4150

[2016-04-28 21:52] myleshorton opened #4151 "Add newsfeed to architecture diagram"

[2016-04-28 21:52] oxtoacart commented on #3790
@uaalto Good point.

[2016-04-28 21:57] myleshorton commented on #4096
I'll take this one.

[2016-04-28 22:00] myleshorton opened #4152 "Improve test automation"

[2016-04-28 22:12] xiam commented on #4145
The `publishedDate` field is now completely removed when invalid, @fffw  and @atavism.

[2016-04-28 22:13] oxtoacart commented on #4096
@myleshorton Cool.  I'd be curious how you solve it.

[2016-04-28 22:16] xiam commented on #4148
@fffw This is caused by iranwire's feed, they include images like:

![screen shot 2016-04-28 at 5 13 51 pm](https://cloud.githubusercontent.com/assets/385670/14903135/bba79b7a-0d64-11e6-97d1-d1c40402421f.png)

Since mobile is using `contentText`/`contentSnippetText` instead of the HTMLy `content`/`contentSnippet` could we use the same on desktop?

[2016-04-28 22:27] atavism opened #4153 "Sort feeds on mobile"
Instead of ordering the feeds alphabetically, a new ``sorted_feeds`` field specifies the order the feeds should appear in.

[2016-04-28 22:50] fffw commented on #4148
Sure I can switch to use `contentText/contentSnippetText` to avoid the console errors. The actual issue is an empty `image` or `imageSquare` field. I guess it's absent in RSS/ATOM right @xiam ?

[2016-04-28 23:01] xiam commented on #4148
@fffw I am seeing many `image`/`imageSquare` links filled up on this iranwire feed but I can check a particular entry if you want. Just to make sure, when those fields are empty the thumbnail is not supposed to be shown, right?

[2016-04-28 23:34] fffw commented on #3821
Ha README was already updated. Closing.

[2016-04-28 23:34] #3821 closed

[2016-04-28 23:57] fffw commented on #4148
@xiam It's dw.com that lacks image links. If image link is empty, the whole thumbnail area is hidden on desktop.

[2016-04-29 01:22] kingwrcy opened #4156 "can not work today"
Yesterday afternoon and today morning lantern can not work in ShangHai China,below is log file:
Anyone can help?My lantern Version is :2.1.2
[code]

[2016-04-29 01:31] xckevin commented on #3886
good job

[2016-04-29 01:43] xiam commented on #4148
Right @fffw! I renamed the issue, dw.com is not the origin of the problem described above, iranwire.com is. dw.com does not have images and that's because I am removing them by hand, which is something we want to do because dw.com images are repeated for some reason.

[2016-04-29 01:54] myleshorton commented on #4156
Thanks @kingwrcy. Do you guys see any blocking @fffw or @aranhoide?
On Apr 28, 2016 6:22 PM, "kingwrcy" <notifications@github.com> wrote:

[2016-04-29 03:12] fffw commented on #4156
The IP is blocked. @aranhoide I retired it.

@kingwrcy Lantern should automatically use a new server in a few minutes. Please let us know if it still doesn't work.

[2016-04-29 03:15] fffw commented on #4147
Chinese translation is in Transifex. Asked help to translate Persian.

[2016-04-29 03:18] kingwrcy commented on #4156
It's worked now,Thank you! @fffw @myleshorton

[2016-04-29 03:18] #4156 closed

[2016-04-29 03:25] fffw commented on #3206
Close in favour of https://github.com/getlantern/lantern/issues/3892

[2016-04-29 03:25] #3206 closed

[2016-04-29 04:15] #2677 closed

[2016-04-29 04:15] #2601 closed

[2016-04-29 04:15] #2454 closed

[2016-04-29 04:16] #2393 closed

[2016-04-29 04:16] #2372 closed

[2016-04-29 04:16] #1970 closed

[2016-04-29 04:37] aranhoide commented on #3989
Did it work for you before?  What's your Lantern version?

@atavism are you aware of any similar problems in the current or previous versions?

[2016-04-29 04:40] aranhoide commented on #3983
@uaalto : please bump up the priority if this looks like it's happening all the time for some recent clients.

[2016-04-29 04:55] aranhoide commented on #3774
@VDerGoW : I took the liberty to translate the title, since it'll make it easier for us to do keep track of this and do something about it.

[2016-04-29 04:57] aranhoide commented on #3774
So the request here is not to show the browser on system startup when Lantern is set to automatically start.  The `-headless` option achieves this, but at the cost of losing the system tray.  Also, users shouldn't need to use command line args to address basic usability issues.

[2016-04-29 10:05] apollolj commented on #3921
@aranhoide Thanks. No, nothing was flagged, probably somewhere in Mac OS, the system stops Lantern from changing something due to lack of admin rights.

@11hwu2 Probably I should try Ubuntu instead of Mac OS, then I need to get a PC though.

[2016-04-29 10:27] uaalto commented on #3983
Ok @aranhoide. The problem with this issue is that could be caused by many things, but since the config-server never replies with 503, the starting point might be the proxies. What do you think?

[2016-04-29 11:00] fffw opened #4158 "Use consistent word for 'email'"
From our great French translation coordinator.

Put it to Pro milestone to have a fresh start. We should also check other inconsistent words.

[2016-04-29 12:15] aranhoide commented on #3569
Sorry, I've missed the fact that this ticket was assigned to me.

@myleshorton:  To be realistic, there's lots of important work to do in the backend.  Most importantly, automating load balancing and the ops panel.  Coming back to the client side would be quite momentum-breaking and unnecessarily extending the need for manual balancing ops would be inefficient and, for me, demoralizing.  So, if at

[2016-04-29 13:29] c12805 opened #4159 "HOW TO USE LANTERN IN Qubes OS?"
IN ORDER TO BE ANONYMOUS,HOW TO USE LANTERN IN Qubes OS WHONIX,I WANT USE LANTERN IN Qubes  OS Proxy VM,and the network is :sys-net ->sys-firewall->my Proxy VM->sys-whonix->anon-whonix.BUT sys-whonix can not connect my Proxy,i set up Lantern in my Proxy VM.HOW TO ACHIEVE THIS GOAL?Please help me ,if probably,write some tutorials for the public,especially to the newbie

[2016-04-29 14:04] oxtoacart commented on #4096
This may help - http://stackoverflow.com/questions/26827185/control-caching-and-cdn-on-cloudflare-when-ssl-is-forced-on-via-a-page-rule.

Looks like maybe adding a 2nd rule could work.

[2016-04-29 14:07] oxtoacart commented on #4096
Oh, this is interesting.  Our page rule of "Always Use HTTPS" doesn't tell CloudFlare to talk to the origin server with HTTPS, it tells it to redirect clients that come in on HTTP to switch to HTTPS.  So, I think we're not actually talking to the origin with HTTPS ...

[2016-04-29 14:10] oxtoacart commented on #4152
@myleshorton What's the goal here?

[2016-04-29 14:12] oxtoacart commented on #4097
@myleshorton Is this the right address?

[code]

[2016-04-29 14:19] oxtoacart commented on #4096
@myleshorton I added a 2nd page rule and this seems to be working okay now.  The 2nd page rule also forces Full SSL to the origin server.  It's still somewhat meaningless because we're using a self-signed cert, but it's there.

[2016-04-29 14:49] oxtoacart opened #4161 "Respect HTTP client caching in Mobile everfeed client"
We're setting pretty aggressive cache headers for images, but right now the Go-based mobile client doesn't respect them.  We could improve performance and dramatically reduce mobile bandwidth consumption by respecting them, especially considering that we reload the feeds every time someone comes back into the app.

This library may help - https://github.com/gregjones/httpcache

cc: @atavism @myles

[2016-04-29 15:06] atavism commented on #4161
Cool, we are using https://github.com/koush/ion to handle the image caching already but this would be a useful change regardless!

[2016-04-29 15:17] oxtoacart commented on #4161
Oh, cool @atavism!  The Go client doesn't load the images, duh!  I think that's plenty good.

[2016-04-29 15:17] #4161 closed

[2016-04-29 15:28] #4153 closed

[2016-04-29 16:03] oxtoacart commented on #3790
@uaalto Question - why do we need our proxy to be a fully HTTP compliant proxy, or even close to it?  It's only our client that communicates with it.  And to a certain extent, it can be a dumb proxy because we don't care about caching and such things.

[2016-04-29 16:10] oxtoacart commented on #3929
Sorry for the slow reply.  I agree that it's quite standard to have referral codes that only apply at checkout.  I think the reason the question popped to mind in this case is because for the annual plan, I can and will probably check out again (in a year).  Will I be prompted for a promo code again at that point?  And could I use the one that I failed to use the first time around?

To take Dell a

[2016-04-29 16:18] uaalto commented on #3790
Yes, but our client is not generating the requests, so it doesn't matter that only the Lantern client uses it, we need to handle whatever the browser passes to it. This only applies for forwarding of course, so everything going through HTTP connect is much simpler.
In order to see some of the requests that a browser could send to our client that need to be properly parsed and forwarded to the prox

[2016-04-29 16:28] oxtoacart commented on #3790
Interesting.  In theory, we could treat plain HTTP similarly to connect traffic.

1. Hijack the connection on the client
2. Send the raw data to the server
3. Wait for the Host: header to determine where to connect to
4. Make the connection to the upstream server
5. Shuttle the traffic across just like with a CONNECT

So in essence, the remote proxies wouldn't really be HTTP proxies anymore, they'

[2016-04-29 16:29] oxtoacart commented on #3790
Of course they would still pretend to be HTTP proxies for the bad guys :)

[2016-04-29 16:38] uaalto commented on #3790
We do shuttle the body (well, trailers are part of the body sort of, but let's leave them aside because they are not seen often AFAIK). But the headers need some kind of processing generally (see forward.go). So, for every single request you receive you have to perform the same dance. In the case of CONNECT you just do it once, and it is much simpler.
So, we would still need to handle headers and

[2016-04-29 16:43] myleshorton commented on #4097
That's it @oxtoacart!

[2016-04-29 16:44] myleshorton commented on #4152
The main goal emerged from the call with @sunshine19090 to lower the burden in QA of constant regression testing. @sunshine19090 can you add any more specifics about what would be particularly useful?

[2016-04-29 16:49] myleshorton commented on #3569
That's totally fine @aranhoide. To be clear, though, a lot of the work for this would be on the server side. To more clearly elucidate the idea, we would do the following:

1) Only distribute IP addresses for masquerades to the client
2) Completely ignore certificate validation
3) Encrypt the config file file our private key

Definitely some client changes involved, but it would mostly be strippin

[2016-04-29 17:17] myleshorton commented on #3987
Hey @oxtoacart thanks for looking at this. I'm experiencing this *right now* on desktop on the 2.2.0 release branch. Also note users are seeing this in #3875

It doesn't appear to be related to the browser to me. I'm getting this:

[code]

I wonder if the newsfeed is causing us to hit a lot more pages off the bat that are resulting in more resets of the system proxy, and the system proxy code itse

[2016-04-29 17:43] myleshorton opened #4163 "Support setting the feed by region as well as locale"
Unfortunately many users in different regions don't have their browsers set to the expected locale. Very few users in Iran have their systems set to fa_IR, for example, and most users in Malaysia also have en_US set as their locale.

We can use the country detection within Lantern to override the locale setting to get around this.

[2016-04-29 17:55] oxtoacart commented on #3987
Can you run lsof for that process and send me the results?

--
Cheers,
Ox

PGP Key - https://pgp.mit.edu/pks/lookup?op=get&search=ox@getlantern.org

-----------------------------------------------------------------------------------------

"I love people who harness themselves, an ox to a heavy cart,
who pull like water buffalo, with massive patience,
who strain in the mud and the muck to move thi

[2016-04-29 17:58] myleshorton commented on #3987
I stupidly killed the process thinking I could surely reproduce it, but no luck so far. I'll run lsof as soon as I get it again though.

[2016-04-29 18:41] myleshorton commented on #3875
Closing in favor of #3987

[2016-04-29 19:16] sunshine19090 commented on #4135
yep, am seeing just one entry now.

[2016-04-29 19:16] #4135 closed

[2016-04-29 19:54] atavism commented on #4163
@myleshorton Another option, maybe in addition to detecting the user's country, would be to have a drop-down menu with every region we have a feed available in on the main screen (it could be really small, possibly in the upper corner). Maybe whichever country we detect the user in becomes the default selection?

[2016-04-29 20:29] myleshorton opened #4164 "Add hash of binary to analytics"
This will help us verify if a lot of the Lantern users we're seeing in analytics are using versions we've built.

[2016-04-29 21:40] oxtoacart commented on #4163
@myleshorton I like @atavism's suggestion of doing our best to default but providing a drop-down to choose.  This would be especially good for travelers and expats who are interested in their home news rather than the news for whatever country they happen to be in.  That said, just using Lantern's geolocation to start is probably a decent initial solution.

[2016-04-29 22:09] myleshorton opened #4165 "Try local locale on mobile before defaulting to english"
We should really try whatever the local locale is first so that we can dynamically add new locales on the server side that will get picked up automatically as they're added.

[2016-04-29 22:20] myleshorton opened #4166 "Exceeded local storage memory for feeds on Chrome"
The feed did not load at all for me when this happened.

[2016-04-29 22:59] sunshine19090 commented on #4108
Working fine now.

[2016-04-29 22:59] #4108 closed

[2016-04-29 23:08] sunshine19090 commented on #4107
@myleshorton Is there any way that I can simulate the case of lantern not working?

[2016-04-30 00:44] oxtoacart opened #4168 "End-to-End Monitoring Phase 1"
In order to better understand the health of our systems and debug specific user issues, we need to collect quantitative data about what's happening with clients and proxy servers and tag that data with metadata that allows for meaningful correlation.  See this [Google Doc](https://docs.google.com/document/d/1dlzS_deyrIKIsw6vELJJwPl5ItMNHbZ9Twb9RWEFA1I/edit) for a more comprehensive discussion.

In

[2016-04-30 00:44] oxtoacart commented on #4168
cc: @fffw @aranhoide

[2016-04-30 00:45] oxtoacart commented on #4168
cc: @myleshorton

[2016-04-30 00:53] oxtoacart opened #4169 "End-to-End Monitoring Phase 2 - Chrome Extension MVP"
Following on to #4168, we will make a Chrome extension available that users can use to provide instant feedback on how well Lantern is working for them.  The extension will be as simple as we can possibly make it and provide the feedback to our monitoring system in the form of a scalar value that can be used for analysis.  The exact design should be determined in coordination with @Derekf5, but he

[2016-04-30 00:53] oxtoacart commented on #4169
cc: @fffw @aranhoide @myleshorton

[2016-04-30 00:53] oxtoacart opened #4170 "Create data collection server to front InfluxDB"
This should speak HTTP(S) to allow direct domain fronting.

Perhaps we can mimic the InfluxDB interface or even talk to it directly, but estimate is based on putting a layer in front of it.

[2016-04-30 00:54] oxtoacart opened #4171 "Create Go data collection service to buffer and submit to data collection server"

[2016-04-30 00:55] oxtoacart opened #4172 "At important points in the Lantern code, submit errors to the data collection service using precise, structured error codes"
These error codes should be structured hierarchically and be precise.  For example, `PFCHDT` would be:

* PF - proxying failure
* CH - via chained proxy
* DT - dial timeout

Or `SPME` would be:

* SP - set system proxy issue
* ME - missing executable

We should come up with some scheme that reliably sets these codes without having to rely on parsing/matching text.

While not required at this point

[2016-04-30 00:55] oxtoacart commented on #3017
The first version of this is covered by #4169

[2016-04-30 01:01] #4151 closed

[2016-04-30 01:03] fffw commented on #4107
@sunshine19090 I simulate by disabling my Wifi.

[2016-04-30 01:03] fffw commented on #4107
@sunshine19090 I simulate by disabling my Wifi.

[2016-04-30 02:16] fffw commented on #4171
https://github.com/getlantern/measured/ can be a start point.

[2016-04-30 03:48] sunshine19090 commented on #4107
I tried that @fffw but I can see the cached feed now. I guess the self-help will now be displayed only if lantern doesn't work as per @myleshorton previous comment. I downloaded Xunlei but everything is in Chinese so I ended up not installing. Any other ways to simulate this scenario?

[2016-04-30 03:52] sunshine19090 commented on #4149
@fffw  Is this about introducing the feed name in the mobile alone? because we already showing it in desktop.

[2016-04-30 04:12] sunshine19090 commented on #4152
@myleshorton @oxtoacart Oh am sorry for not being clear when I conveyed my concern, What I said was that I am going to take a look at Testdroid to see if that will help in automating some of the functionalities in mobile as it is taking more time in doing regression. Anyway, my guess is that Testdroid will help automating only the emulators but not the real physical devices. I will start working o

[2016-04-30 04:14] sunshine19090 commented on #4145
It shows "null" now in the place of Date.

![image](https://cloud.githubusercontent.com/assets/11394369/14933804/4cca4da6-0e4f-11e6-8270-8caa6438d138.png)

[2016-04-30 04:15] sunshine19090 commented on #4117
Manoto is in the last.

![image](https://cloud.githubusercontent.com/assets/11394369/14933813/8afda9b0-0e4f-11e6-9dd4-147b2b67503e.png)

[2016-04-30 04:21] sunshine19090 commented on #4082
@fffw Is this already in the build 20160428.202307?

[2016-04-30 04:25] sunshine19090 commented on #4024
shall we close this @myleshorton?

[2016-04-30 04:26] #4019 closed

[2016-04-30 04:48] xiam commented on #3311
Still here:

[code]

[2016-04-30 04:49] fffw commented on #4082
@sunshine19090 I don't think so. The latest build is not out yet

[2016-04-30 07:16] fffw commented on #4117
@sunshine19090 It's merged but the QA build is not sent out yet.

On Sat, Apr 30, 2016 at 12:17 PM, sunshine19090 <notifications@github.com>
wrote:

[2016-04-30 07:20] fffw commented on #4149
@sunshine19090 It's to replace the site url shown before the publish date
to the feed's title, e.g. Reddit for www.reddit.com

On Sat, Apr 30, 2016 at 11:53 AM, sunshine19090 <notifications@github.com>
wrote:

[2016-04-30 07:21] fffw commented on #4145
@sunshine19090 QA build is not sent out yet

On Sat, Apr 30, 2016 at 12:15 PM, sunshine19090 <notifications@github.com>
wrote:

[2016-04-30 07:23] fffw commented on #4107
@sunshine19090 Next QA build will show the error page very soon if network is disabled. For now, you can open Lantern in Incognito window to avoid caching.

[2016-04-30 12:49] myleshorton commented on #4166
I got this one!

[2016-04-30 13:56] myleshorton commented on #4166
Closed via 205892a

[2016-04-30 13:56] #4166 closed

[2016-04-30 13:57] myleshorton commented on #4136
Is this one still an issue @sunshine19090 and @atavism?

[2016-05-01 01:33] fffw commented on #4163
Our hypothesis on users' preference may not that accurate. If an Iranian uses en_US locale, what's the probability she wants local contents all in Persian, instead of global news in English? If as @atavism suggested we provide a dropdown somewhere, user can select whatever she wants and stick with it, geolocation seems unnecessary.

[2016-05-01 03:23] mytharcher commented on #3472
Wanna know when could this issue be fixed? I need to block some domain in `/etc/hosts`, such as `127.0.0.1 xxx.com`. But all traffic was passed to Lantern. I am using Lantern 2.1.2 (20160413.044557).

[2016-05-01 04:42] myleshorton commented on #4163
Yeah I think ultimately we should also provide a dropdown @fffw, @oxtoacart, @atavism. This is a blocker for 2.2.0, however, so I don't think we probably want to get into a dropdown now.

In both Iran and Malaysia the dominant language is not english. Why users' locales are so often english in both is actually a bit unclear, but just thinking about it in basic terms all of the content we're provid

[2016-05-01 04:42] myleshorton commented on #4163
Oh, also there's a pending PR for this already at #4167

[2016-05-01 04:45] myleshorton commented on #3472
Thanks @mytharcher I just added this to the backlog for our next sprint, as it's precisely the type of cleanup we'll be focusing on. So hopefully we should have a fix within a month if not sooner.

[2016-05-01 06:02] mytharcher commented on #3472
@myleshorton really thanks for your awesome work on this project!

[2016-05-01 10:19] fffw opened #4175 "Edge on Windows 10 can't open Lantern page through ui.lantern.io"
Seen from [devel forum](https://groups.google.com/forum/#!topic/lantern-devel/wldiALrygPM)

Browser tries to access `ui.lantern.io` directly, and gets DNS error page.
![](https://groups.google.com/group/lantern-devel/attach/1961206ae0d89/screen%20the%20page.jpg?part=0.1&authuser=0&view=1)

The requirement here is to make the Lantern UI work on Edge.  ui.lantern.io was the original approach, but if

[2016-05-02 00:29] atavism commented on #4136
@myleshorton I opened a PR for this here: https://github.com/getlantern/lantern/pull/4176/files

[2016-05-02 04:22] myleshorton commented on #3472
Thanks so much for your kind words @mytharcher

[2016-05-02 09:47] xjspace opened #4177 "it could not support git clone"
git clone https://github.com/creationix/nvm.git
正克隆到 'nvm'...
fatal: unable to access 'https://github.com/creationix/nvm.git/': Failed to connect to github.com port 443: link time out

[2016-05-02 11:55] oxtoacart commented on #4164
The hash can be faked, so I think it's simpler (and more readable) to just have the client report its version.

[2016-05-02 11:59] oxtoacart commented on #4100
Browsers support a feature called "dns prefetching" that may have something to do with this.

* https://developer.mozilla.org/en-US/docs/Web/HTTP/Controlling_DNS_prefetching
* https://www.chromium.org/developers/design-documents/dns-prefetching

[2016-05-02 14:02] fffw commented on #4099
More users reported same issue at https://groups.google.com/forum/#!topic/lantern-users-en/4Ln-MC2Pqnc

[2016-05-02 17:11] myleshorton commented on #4164
Adding the Lantern version is ticketed at #4078. Both can be faked, of course.

[2016-05-02 17:14] oxtoacart commented on #4164
@myleshorton Cool.  For clarity, are you talking about generating the hash at runtime and submitting that, or grabbing the hash at build time and baking that into the binary itself?

[2016-05-02 17:15] myleshorton opened #4178 "Use DialTimeout for outgoing connections on pro server"

[2016-05-02 17:22] myleshorton commented on #4096
Sounds good @oxtoacart. We just have to be careful here that the X-Forwarded-For header is still making it all the way to the config server.

[2016-05-02 17:26] myleshorton commented on #4169
The extension could also automatically submit logs in theory.

[2016-05-02 17:50] myleshorton commented on #4164
I was talking about doing it at runtime @oxtoacart

[2016-05-02 17:52] oxtoacart commented on #4096
@myleshorton I didn't change any sitewide settings, I just added a new page rule that only applies to thumbs.getiantem.org.

[2016-05-02 17:54] oxtoacart commented on #4169
@myleshorton yes, the extension could automatically submit information, but we wanted to keep it simple for the MVP.  @aranhoide's suggestion of getting user feedback seems really powerful, as that's ultimately what we're trying to understand.  Given that Phase I gives us some useful automatically submitted telemetry that we can correlate with the user's feedback, I think there's potentially alrea

[2016-05-02 17:55] oxtoacart commented on #4164
@myleshorton Okay, cool, that seems useful in case someone is just slightly tweaking our binaries.

[2016-05-02 17:55] myleshorton commented on #4164
Yeah or massively tweaking!

[2016-05-02 18:06] myleshorton commented on #4177
Lantern is just an http proxy, although it also runs SOCKS on port 8788 on 127.0.0.1. So you'd have to set git to run through the local HTTP proxy or SOCKS.

[2016-05-02 18:06] #4177 closed

[2016-05-02 18:12] myleshorton commented on #4109
Is this still an issue @sunshine19090 and @atavism?

[2016-05-02 18:20] #1991 closed

[2016-05-02 18:20] #2363 closed

[2016-05-02 18:21] myleshorton commented on #2466
Most users seem to have figured this out.

[2016-05-02 18:21] #2466 closed

[2016-05-02 18:21] #2473 closed

[2016-05-02 18:22] myleshorton commented on #2695
Clients current try 3 times regardless of the server and will keep servers in rotation thereafter with lower priority.

[2016-05-02 18:22] #2695 closed

[2016-05-02 18:23] #2808 closed

[2016-05-02 18:23] myleshorton commented on #2811
Haven't seen this one in awhile

[2016-05-02 18:23] #2811 closed

[2016-05-02 18:24] myleshorton commented on #2966
haven't seen this particular one in awhile.

[2016-05-02 18:24] #2966 closed

[2016-05-02 18:26] myleshorton commented on #3425
Checking on this one again @atavism

[2016-05-02 18:26] myleshorton commented on #3462
Is this still an issue @atavism?

[2016-05-02 18:27] #3425 closed

[2016-05-02 18:27] atavism commented on #3425
No, this isn't any issue anymore. Closing.

[2016-05-02 18:28] atavism commented on #3462
Yep, we fixed this a few releases ago. Closing.

[2016-05-02 18:28] #3462 closed

[2016-05-02 18:29] #3875 closed

[2016-05-02 18:34] oxtoacart commented on #4100
On the server side, it looks like the requests that come in with IPs for the Host are CONNECT requests.  On the client-side, I've confirmed that CONNECT requests from Chrome and Firefox are using dns names, not IP addresses.  However, if I use Lantern as a SOCKS proxy, the CONNECT requests contain IP addresses instead of hostnames.

[2016-05-02 18:35] percyalpha commented on #3679
Users continue to report such incompatibility. This is a high priority because most users in China have Xunlei installed.

[2016-05-02 18:39] myleshorton commented on #4100
That makes some sense @oxtoacart (since with SOCKS the DNS calls will also go through SOCKS before the CONNECT) and also supports the idea that these could be coming from mobile (since the second case is exactly what mobile does).

[2016-05-02 18:40] oxtoacart commented on #4100
Oddly, a lot of the CONNECT requests are for `58.158.148.212`.  A reverse lookup for this yields `www18.demasse.com`, which shows a Japanese language "maintenance" page.

[2016-05-02 18:55] oxtoacart commented on #4100
So, amongst CONNECT requests, the majority seem to be IP addresses only, though some are for domain names.  Some of the IP addresses reverse resolve to Chinese properties, which would reinforce the idea that this is from mobile (which sends all traffic to Lantern, not just blocked sites).

[2016-05-02 18:55] oxtoacart opened #4180 "Make sure Google Analytics is accurately capturing mobile usage from China"

[2016-05-02 19:21] atavism commented on #4109
@myleshorton Looks like there's a super tiny discrepancy between desktop and mobile that's causing this. We're using the ``contentText`` instead of ``contentSnippetText`` when a meta description is missing. The latter field is the one the feed service updates. I fixed this [here](https://github.com/getlantern/lantern/pull/4181)

[2016-05-02 19:24] myleshorton opened #4182 "Use detour/shortcut on mobile"

[2016-05-02 19:25] xiam opened #4183 "Feed reader support for Pro"

[2016-05-02 19:25] xiam opened #4184 "Pro beta issues"

[2016-05-02 19:26] atavism commented on #4137
Not a major issue so I'm moving this to 2.2.1

[2016-05-02 20:09] myleshorton opened #4185 "Add link to newsfeed"
Instead of throwing all users into the newsfeed, we'll add a link allowing them to try it out.

The main intent here is to avoid automatically showing content that some users might consider to be political in nature, which might make Lantern a bigger target for censors.

So instead, people will have to click on a link to open the newsfeed.

The UI should remember if someone has previously elected

[2016-05-02 20:09] oxtoacart commented on #4170
I'd estimate 8 or 13 story points for this, including building unit tests, getting it deployed and secured.

[2016-05-02 20:10] oxtoacart commented on #4172
I'd estimate 8 story points for this to really get in there and provide some good detailed reporting, which will have to include some changes to the underlying libraries that currently just provide text errors and/or pass through errors from the standard library.

[2016-05-02 20:11] oxtoacart commented on #4172
It might be worth introducing a basic error structure for use in all our libraries, like this:

[code]

[2016-05-02 20:13] oxtoacart commented on #4171
I'd estimate 3 or 5 story points depending on how much of measured we end up being able to reuse.  This type of thing usually involves some tricky concurrency stuff, so testing will be the primary time consumer I think.

[2016-05-02 20:13] oxtoacart commented on #3017
@myleshorton This seems broader than the extension in the containing Epic.  Shall we close this or at least remove?

[2016-05-02 20:14] oxtoacart opened #4186 "Create UI design for Lantern Feedback Extension"

[2016-05-02 20:14] oxtoacart opened #4187 "Create Lantern Feedback Extension"

[2016-05-02 20:15] sunshine19090 commented on #4149
Looks good now.

[2016-05-02 20:15] #4149 closed

[2016-05-02 20:15] oxtoacart opened #4188 "Add facility to Lantern UI to support installation of Lantern Feedback Extension"

[2016-05-02 20:15] oxtoacart opened #4189 "Publish Lantern Feedback Extension to Chrome App Store"

[2016-05-02 20:16] sunshine19090 commented on #4145
looks good now.

[2016-05-02 20:17] sunshine19090 commented on #4144
Now the feeds are loading in Chrome in windows 7.

[2016-05-02 20:17] #4144 closed

[2016-05-02 20:17] oxtoacart commented on #3288
@myleshorton Per discussion with @fffw and @aranhoide we decided that the self-help page wasn't part of MVP for this extension.  Are you saying that you want to make it part of MVP?

[2016-05-02 20:19] oxtoacart commented on #4187
Since this is our first extension, and it has some tricky API work to do in terms of doing direct domain fronting and such, I estimate this at 13 story points.

[2016-05-02 20:20] oxtoacart commented on #4189
I'd estimate this at 2 story points since this will be our first time publishing to the app store (should consult with Percy for help as I think he's got some experience here).

[2016-05-02 20:20] sunshine19090 commented on #4145
It shows null in Chrome, Windows 7.  It looks good in FF.

![image](https://cloud.githubusercontent.com/assets/11394369/14966632/522a2986-1068-11e6-82fb-cf833d1b1a65.png)

[2016-05-02 20:21] oxtoacart commented on #4186
@Derekf5 Looks like @myleshorton may actually want to do this extension sooner rather than later.  How many days worth of design work do you think it is?

[2016-05-02 20:21] oxtoacart commented on #4188
This should just be a link to the Chrome app store, so I'd estimate this at 1 day.

[2016-05-02 20:23] oxtoacart commented on #4183
@xiam Does this mean integrating the feed reader into the Pro UI?  Is this for both mobile and desktop?  Assuming the answer to all these is yes, I'd estimate this at 5 story points.

[2016-05-02 20:23] #4117 closed

[2016-05-02 20:23] myleshorton commented on #4057
Is this one all set then @atavism and @sunshine19090?

[2016-05-02 20:23] oxtoacart commented on #4175
I'd estimate this at 2 story points.

[2016-05-02 20:24] oxtoacart commented on #3674
@xiam How would we log the error?

[2016-05-02 20:30] oxtoacart commented on #2905
So with this bug, are we aiming to try and get pac-cmd to always work, or should we aim to warn the user appropriately if it doesn't?

[2016-05-02 20:31] oxtoacart commented on #2905
I'd vote for warning the user, since we can't prevent all situations in which it breaks (for example the group policy thing that @fffw reported).

[2016-05-02 20:32] myleshorton commented on #4143
There was a regression with this one -- see https://github.com/getlantern/lantern/issues/4107

[2016-05-02 20:33] Derekf5 commented on #4186
@myleshorton @ox Should take 3-4 days of design work if i factor in realistic revisions etc. When i can start on it depends on if this is more important than adjustments to the designs of PRO/Feed integration.

[2016-05-02 20:42] oxtoacart commented on #3017
Superseded by #4169 for now.

[2016-05-02 20:42] #3017 closed

[2016-05-02 20:56] xiam commented on #3674
Using the same logging mechanism we use for all the other things. If the
Lantern client detects that no websocket connection was requested we can
assume the UI failed to load.
On Mon, May 2, 2016 at 15:24 oxtoacart <notifications@github.com> wrote:

[2016-05-02 20:59] #4103 closed

[2016-05-02 21:02] sunshine19090 commented on #4175
@fffw Yeah I too saw this but I was able to directly access it using http://127.0.0.1:16823/ and that's why didnt ticket it. Is it necessary that we should only use ui.lantern.io?

[2016-05-02 21:04] sunshine19090 commented on #4105
Looks good!

[2016-05-02 21:04] #4105 closed

[2016-05-02 21:05] sunshine19090 commented on #4082
Looks good now.

[2016-05-02 21:05] #4082 closed

[2016-05-02 21:06] xiam commented on #4183
I was thinking on desktop only because we are using react there and we cannot reuse a lot of code, but yes, we should think of both platforms.

[2016-05-02 21:24] oxtoacart commented on #4057
At this point, the remaining requirement is that when reentering the app and the feeds are already loaded, we shouldn't show a spinner over the existing content.  We should however automatically reload the content as we do today, just not show the spinner.

[2016-05-02 21:25] oxtoacart commented on #3674
Duh!  I was thinking about this from the client's perspective, so I was wondering how the client can report an error.  What you say makes perfect sense.

[2016-05-02 21:36] Derekf5 commented on #4185
Hey @fffw or @xiam not sure who is implementing this, but here are the specs for the link.
![trynewsfeed](https://cloud.githubusercontent.com/assets/7864729/14968304/19feb6fe-108a-11e6-8547-a787ad9e206a.png)
![backtotheoldlook](https://cloud.githubusercontent.com/assets/7864729/14968310/1eea30bc-108a-11e6-8f4d-a8a9058e22ec.png)

**Link Text**
- Font: Proxima Nova; Font Size: 14pt; Font Weight: 600

[2016-05-02 21:52] oxtoacart opened #4190 "Add disk-based journaling support to measured library"
So that we have the ability to not lose buffered reporting data when process crashes.

[2016-05-02 22:43] fffw commented on #4114
Fixed by https://github.com/getlantern/lantern/pull/4162

[2016-05-02 22:43] #4114 closed

[2016-05-03 01:12] fffw commented on #4145
Attached is what I saw with the same version. @sunshine19090 I wonder if refreshing the page or a forced refresh (Ctrl + Shift + F5), or restarting browser would show the updated UI.

 If simply refreshing page doesn't work, we may add something like https://www.npmjs.com/package/gulp-angular-templatecache to solve it and reduce roundtrips.

![image](https://cloud.githubusercontent.com/assets/1041

[2016-05-03 02:18] myleshorton commented on #4185
Awesome thanks @Derekf5! I'm implementing this, and yeah I think let's hold off on mobile for now. I'll chat with Wolf and Chip about it.

[2016-05-03 03:25] myleshorton commented on #3951
We don't currently support this.

[2016-05-03 03:25] #3951 closed

[2016-05-03 03:40] myleshorton commented on #4189
It takes about 10 minutes to publish to the app store...

[2016-05-03 03:41] myleshorton commented on #2905
I think the first step is to try to get a better feeling for why and when it doesn't work. If it's fixable, we should fix it. If it isn't, or if we just can't figure it out, then we can warn the user.

[2016-05-03 03:43] myleshorton commented on #4188
I actually think we should just use the automatic installation for this when we install Lantern (i.e. just install it when we install Lantern). That'll save the user a step, and even if they uninstall it we can always just have a different extension in the app store for user-prompted installation if we ever want that.

[2016-05-03 03:43] oxtoacart commented on #4189
@myleshorton Cool, there's no approval process required or special signing key hoops to jump through?

[2016-05-03 03:43] myleshorton commented on #4188
So I would actually say there should be no UI for it at all..

[2016-05-03 03:44] myleshorton commented on #4189
I can't remember all the details offhand, but it's quick. I'd be happy to just take this one too since I've been through the process.

[2016-05-03 03:50] oxtoacart commented on #4188
@myleshorton Unless something has changed since [this](http://blog.chromium.org/2012/12/no-more-silent-extension-installs.html) or [this](https://chrome.googleblog.com/2014/05/protecting-chrome-users-from-malicious.html), the only way for us to install the extension is through [inline installation](https://developer.chrome.com/webstore/inline_installation).

[2016-05-03 04:03] sunshine19090 commented on #4145
Yes @fffw, after refreshing I don't see the null value.

[2016-05-03 04:03] #4145 closed

[2016-05-03 04:05] sunshine19090 commented on #4107
@myleshorton I still see the error page after disconnecting the network instead of the cached feed. Is this really ready to test? or need a new build?

[2016-05-03 04:13] sunshine19090 commented on #4107
oh, I read the wrong ticket. Sorry @myleshorton. This one is good now.

[2016-05-03 04:13] #4107 closed

[2016-05-03 04:20] sunshine19090 opened #4191 "No error message is shown when using Get the app via email feature when there is no internet connection"
Steps:

1. Disconnect network.
2. Click on "Try Lantern Android"
3. Enter the email address and click on the Get the app button.

No error message is shown at this point. It takes the user to the pop-up screen.

[2016-05-03 04:22] sunshine19090 opened #4192 ""Welcome to Lantern" wordings are missing in the Mobile Ad when there is no internet connection"
![image](https://cloud.githubusercontent.com/assets/11394369/14974614/cb938a68-10ab-11e6-9a7a-66f97aa2c874.png)

[2016-05-03 04:33] sunshine19090 commented on #4093
Looking good!

[2016-05-03 04:33] #4093 closed

[2016-05-03 04:34] sunshine19090 commented on #4024
@myleshorton Any way to simulate this scenario?

[2016-05-03 04:36] myleshorton commented on #4024
Disconnect your network and clear local storage by going to chrome://settings/cookies#cont and 127.0.0.1

[2016-05-03 04:47] sunshine19090 commented on #4024
@myleshorton Thanks! I can see the error page after disconnecting network and clearing the local storage but I am not sure if it is because lantern is not working or just because network is disconnected (the cached feed is not yet ready to test). Would you mind if I defer testing this issue until the cached feed is ready?

[2016-05-03 04:57] sunshine19090 commented on #4136
This is good now.

[2016-05-03 04:57] #4136 closed

[2016-05-03 05:05] sunshine19090 commented on #4139
@atavism I don't see any change. I still had to refresh manually when the network connection is back. However, it works fine in the case of detecting no network connection and shows the error message.

[2016-05-03 05:10] sunshine19090 commented on #4109
@myleshorton I don't see any change. Looks same.

![screenshot_2016-05-02-21-52-12](https://cloud.githubusercontent.com/assets/11394369/14975075/b8340306-10b2-11e6-85e7-ef089a300911.png)

[2016-05-03 05:21] sunshine19090 commented on #4148
@fffw @xiam I don't see images in dw.com. I don't understand the underlying problem with iranwire.com. Can you please explain what I am supposed to test?

[2016-05-03 05:33] fffw commented on #3368
It still the same even with version 2.2.0, and eventually results `too many open files` error.

[2016-05-03 05:41] myleshorton commented on #3368
Oh wow @fffw are you able to consistently reproduce it? I'm going to close this in favor of #3987 but will reference it from there.

[2016-05-03 05:41] #3368 closed

[2016-05-03 05:46] fffw commented on #3987
So far there're two causes I've seen: CLOSED connections to 8787 port, and CLOSE_WAIT connections to 443 port of proxy server. The later didn't happen for long. CLOSED connections to 8787 happens often, though not always trigger `too many open files`.

[2016-05-03 05:47] myleshorton commented on #4024
Wait, are you currently able to get the error page with only disconnecting the network (i.e. even with a cached version you loaded when it was connected)? Either way, Lantern is showing the error page because Lantern's not connected to the network, though, so I don't think this is related to the cached loading issue really @sunshine19090

[2016-05-03 05:49] myleshorton opened #4193 "Limit ports http proxy connects to"
We're seeing a lot of traffic to ports other than 80 and 443.

[2016-05-03 07:49] Chigogo commented on #3289
Thanks.

[2016-05-03 08:06] code-artisan commented on #3886
Good job, I'm waiting for iOS version. 😄

[2016-05-03 11:49] oxtoacart commented on #4188
Ah, I guess we can do it by updating the Chrome profile on disk - https://support.google.com/chrome/a/answer/188453

[2016-05-03 11:50] oxtoacart commented on #4188
@myleshorton So if we install the extension automatically, what do we do if someone removes the extension?

[2016-05-03 11:50] oxtoacart commented on #4188
BTW, the popular LastPass password manager uses the inline installation method, even though it comes with an installer that could theoretically mess with Chrome's profile.  I wonder why they chose that.

[2016-05-03 13:18] oxtoacart commented on #4188
@myleshorton It occurs to me that we've had this exact same discussion before, sorry for rehashing :(

FWIW, if we do the automatic install, I think it would be good to only do that initially and then provide a call to action in the UI to install the extension if the user uninstalls it (or the auto-install failed).  That said, I still think that for an MVP, especially when we're not sure yet wheth

[2016-05-03 13:33] zanqi opened #4194 "Pictures not showing on this site"
[Link](http://lifehacker.com/the-best-things-to-buy-at-the-dollar-store-1774228189)

Pictures on the articles (like above link) from Lifehacker can not be displayed when using Lantern. "Proxy all traffic" can fix it but it shouldn't come to that.

[2016-05-03 16:16] myleshorton commented on #4188
No worries!

Totally agreed, and I think we can do that with making the inline installation version just slightly different in the Chrome Store. I don't think we need that for MVP though.

Honestly for an MVP I'd go the other way because the automatic installation is significantly less work (this ticket wouldn't exist =). Even just the basic functionality of whether or not Lantern is proxying a gi

[2016-05-03 16:20] oxtoacart commented on #4188
I think you must be thinking of a different approach than me :)  How exactly would you to the automatic installation?

[2016-05-03 16:49] myleshorton commented on #4194
Thanks for the report @zanqi we'll give it a look! Sounds like a possible issue with detour @fffw?

[2016-05-03 16:53] myleshorton commented on #4096
Oh sweet @oxtoacart! I'm going to go ahead and close this then since I don't think it's possible to test in QA.

[2016-05-03 16:53] #4096 closed

[2016-05-03 17:37] myleshorton commented on #3921
Lantern doesn't need admin @apollolj, so I suspect it's something with Avast. We have a number of issues with AV providers, so we'll add this to the list, especially since we otherwise have few mac-specific issues.

[2016-05-03 17:41] myleshorton opened #4196 "Lantern conflicts with a number of anti-virus programs"

[2016-05-03 17:50] myleshorton commented on #3900
This seems like a huge issue @xiam if you want to look at it while you're in the area. @oxtoacart should I remove you as the assignee for this one and put it back in the backlog?

[2016-05-03 17:59] oxtoacart commented on #3900
@xiam - Note that there's a new detour coming - #3804.  It's not 100% ready yet, but I'm curious whether it maybe solves this problem on Windows.

[2016-05-03 18:35] Derekf5 commented on #4185
@myleshorton just wanted to document our convo from the outreach call.  For mobile we decided to put the opt out/opt in in the menu.  Users should start on the feed.

[2016-05-03 18:44] sunshine19090 commented on #4139
yep, this works fine now @atavism

[2016-05-03 18:44] #4139 closed

[2016-05-03 18:47] sunshine19090 commented on #4109
Looks good now.

[2016-05-03 18:47] #4109 closed

[2016-05-03 18:47] #4141 closed

[2016-05-03 18:53] myleshorton opened #4197 "Mobile - add option to turn off the newsfeed in the menu"

[2016-05-03 18:55] sunshine19090 commented on #4196
@myleshorton Avast and Drweb have proactively whitelisted our software. Meaning, we didn't have to contact them for every release. So perhaps the problem with 3921 is something else.

[2016-05-03 19:01] sunshine19090 commented on #4196
Also @myleshorton , am wondering if some of the issues might probably from the users who used fake official site. May be we could ask users when they started seeing the problem or from where they downloaded lantern. That might help us track. Just my thoughts.

[2016-05-03 19:28] sunshine19090 commented on #3096
@oxtoacart I didn't mean to close this nor the symantec. Probably I did it by mistake. I guess we could just refer it to 4196 as it is a consolidated one. Another thing is, as posted in the previous comment by the user - McAfee is still showing as Artemis in red to indicate a false positive but I don't think all users can understand that. They probably might think it is red for malware.

[2016-05-03 21:49] myleshorton commented on #4170
Hey it strikes me this could be a great use of gRPC @oxtoacart, especially the requirement to support an HTTP API for domain fronting from the client. That way other servers could just speak straight grpc to the server!

[2016-05-03 22:39] oxtoacart commented on #4170
I'll give it a shot!

--
Cheers,
Ox

PGP Key - https://pgp.mit.edu/pks/lookup?op=get&search=ox@getlantern.org

-----------------------------------------------------------------------------------------

"I love people who harness themselves, an ox to a heavy cart,
who pull like water buffalo, with massive patience,
who strain in the mud and the muck to move things forward,
who do what has to be don

[2016-05-03 23:40] myleshorton commented on #4170
Nice! Super curious to see what you think.

[2016-05-03 23:42] myleshorton commented on #4170
Will have the very cool property of allowing us to efficiently log from any server in any language (or many at least), all over PB.

[2016-05-04 00:41] fffw commented on #4194
Yeah during my test it looks like that detour successfully loaded a few images at i.kinja-img.com, added it to direct accessible sites, but further direct access from browser triggered `net::ERR_CONNECTION_RESET`. To overcome it, we have to let all traffic to go through Lantern.

Maybe it's time to check carefully if the performance gain of adding direct accessible sites to PAC pay off the potenti

[2016-05-04 00:47] xiam commented on #4148
@sunshine19090 dw.com images were removed on purpose, so that's OK. The problem with iranwire.com is that it was displaying bad images on the article's entry. After this change you should not see any images within an article entry, only text.

[2016-05-04 01:15] fffw commented on #4185
@Derekf5 @myleshorton I have a design suggestion. An eye-catching "Check out the new Lantern newsfeed!" will encourage users to click it, which is good. OTOH, we'd better make "Take me back to the old look" less obvious, so the UI looks cleaner, and unless users do want to hide the feeds, they won't click it. A good place would be the far left or far right beneath the feeds content area.

Those wi

[2016-05-04 01:39] fffw commented on #4143
I'm still confused @myleshorton . Wouldn't it be more natural to show error page if there's a network issue? Why bother showing cached feed if the article links can't be open?

[2016-05-04 02:26] fffw commented on #4164
I'm wondering if it's useful to check the executable's signature, though there's not existing go lib to do so.

Reference: [Windows](https://support.microsoft.com/en-us/kb/323809), [OSX](http://stackoverflow.com/questions/1815506/how-to-obtain-codesigned-application-certificate-info)

[2016-05-04 03:44] myleshorton commented on #4143
Yeah good question. To me the answer is that not having an internet
connection is a normal thing, so Lantern should not show an error for
something normal like that. The problem is we'll be unlikely to ever show
the error page now, but maybe that's how it should be? The extension should
be useful for detecting real issues in a more fine grained way as well.
On May 3, 2016 6:39 PM, "fffw" <notifica

[2016-05-04 03:54] myleshorton commented on #4185
Yeah I tend to agree. Even just making it a smaller link in the same place without a pink background -- just something more subtle -- seems like it might be enough.

[2016-05-04 04:02] fffw commented on #4143
If user knows that network is unavailable, she will unlikely open Lantern page, but if it's due to some subtle condition, e.g., PPPoE disconnected or bad network quality, or misconfiguration, user won't notice it and blame Lantern. We can just add an list item asking user to check network connectivity .

[2016-05-04 05:17] hhhaiai opened #4202 "make package-darwin failed"
Generating distribution package for darwin/amd64 manoto...
Developer ID Application: Brave New Software Project, Inc: no identity found
make: *** [package-darwin-manoto] Error 1

make package-darwin

[2016-05-04 06:55] UsherBaby opened #4203 "Lack of rpm installer package"
Is that possible to add rpm installer package ？

[2016-05-04 08:25] wparam commented on #3279
It has nothing to do with xunlei, it is the chrome's proxy issue!

[2016-05-04 09:12] fffw commented on #3987
It becomes a blocker even for 2.2.0. When running the binary built from 2433dab for 5 hours, the error happens and Lantern stops working.

When I click on the systray, following signal triggers panic. I'm looking at the goroutines.

[2016-05-04 09:30] apollolj commented on #3921
@myleshorton Thank you, I'll try some other anti-virus software.

[2016-05-04 11:27] oxtoacart commented on #3987
@fffw How quickly does this show up?  I just tried running the UI and even did a boom test, and I was never able to see any connections in the CLOSE state.  I tried with both Go 1.5.4 and GO 1.6.2.

[code]

[2016-05-04 11:28] oxtoacart commented on #3987
Just to confirm, the CLOSED connection file descriptors are held by lantern, not the browser, right?

[2016-05-04 11:40] fffw commented on #3987
@oxtoacart It should only happen with keep alive. In handler.go, we only close connections after piped data from client to proxy server, but not vise versa. With keep alive, browser may reuse connection unless server actively closes it. It may be one of the cause of high number of connections in http_proxy_lantern!

The call to `closeFunc` is intentionally removed in [6f9e636](https://github.com/g

[2016-05-04 11:45] Derekf5 commented on #4185
@myleshorton @ffww +1 on all of this guys!   I think keeping it in the same location but making the box background #ccc and text #000 should make it much more
Subtle.     Thanks!

[2016-05-04 11:46] fffw commented on #3987
`CLOSED` connections are seen from `lsof -nPp <lantern-pid>`, but interesting enough `netstat -anp tcp` doesn't have that entry. It's still unknown why `CLOSED` file descriptors are not removed.

[2016-05-04 12:01] fffw commented on #3987
Hmm my hypothesis is wrong. The sending half of connection is closed as defer statement at handler.go#84.

[2016-05-04 12:55] fyhh opened #4204 "some trogan website has pretend as official sites"
when I search `lantern` in baidu.com, I get these result

the first result is a trojan program. Lots of my friends had lost it.

![image](https://cloud.githubusercontent.com/assets/11456985/15014461/a9e57596-1238-11e6-9600-62b20fdeabf2.png)

[2016-05-04 13:48] oxtoacart commented on #3987
This might help https://github.com/sockjs/sockjs-node/issues/99

--
Cheers,
Ox

PGP Key - https://pgp.mit.edu/pks/lookup?op=get&search=ox@getlantern.org

-----------------------------------------------------------------------------------------

"I love people who harness themselves, an ox to a heavy cart,
who pull like water buffalo, with massive patience,
who strain in the mud and the muck to mov

[2016-05-04 18:01] myleshorton commented on #4168
This isn't directly related to this ticket @oxtoacart, but I just stumbled across this which seemed like it might be super useful for getting even more free work out of GA:

https://developers.google.com/analytics/devguides/collection/analyticsjs/user-timings#overview

We could do things like sample the connection time to our proxies from the clients' perspective, for example. Could be an interest

[2016-05-04 18:03] myleshorton commented on #4168
Actually this whole set of measurement protocol parameters is pretty interesting:

https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#timing

[2016-05-04 19:22] sunshine19090 commented on #4148
This looks good now.

[2016-05-04 19:22] #4148 closed

[2016-05-04 21:28] myleshorton opened #4206 "read: connection reset by peer on pass 0...continuing"
This is a network error message we haven't seen before:

[code]

[2016-05-04 21:34] myleshorton opened #4207 "Get more debugging info from 503 errors fetching config"
We're seeing a lot of 503 errors fetching the config but don't have much insight into what's happening. Better error messaging would help, such as the provider we're hitting.

[2016-05-04 23:04] fffw commented on #4206
The actual full message is below instead. It happens at least in the last 7 days (Loggly dropped earlier logs).

[2016-05-05 01:38] fffw commented on #3987
Ok finally found the reason. `dualFetcher.Do` doesn't close response body when bad status code received. That explains why only @myleshorton and I encountered the error: Both of us frequently got 400 error when fetching config via chained server due to the UserId issue (fix is in devel but not in release-2.2.0).

[2016-05-05 02:33] iTofu commented on #3886
Waitting ~

[2016-05-05 03:14] kigawas commented on #4204
谁叫你不用Google

[2016-05-05 03:18] xiam commented on #3922
Thanks for your report @spartan116x, we found the problem and a solution for this is coming soon.

[2016-05-05 03:20] xiam commented on #3784
Hey @Rice321, I think we're gonna smash this bug on the next release.

[2016-05-05 03:30] xiam commented on #3722
I don't see this happening anymore since we're using a short link now.

[2016-05-05 03:36] fffw commented on #4204
@fyhh Thanks we are working on it. You should see a phishing warning page when clicking on the first link right?

[2016-05-05 04:21] #4207 closed

[2016-05-05 06:09] mingxianwei opened #4214 "mac 2.12 2016413 版本"
mac 2.12 2016413 版本 在mac上推出后 mac无法上网只能重启电脑

[2016-05-05 06:35] Niefee opened #4215 "请问有谷歌插件版本吗？（Is there a Google plug-in version of it?）"
Is there a Google plug-in version of it?

[2016-05-05 14:39] #3987 closed

[2016-05-05 15:07] afeilulu opened #4216 "Lantern mobile don't work on Nexus 7 (2013) pad."
Dose lantern mobile version support pad?

When I switch on,the vpn key icon shows in notification area. Things looks fine.
But, after I press back,home or activities button, the key icon has gone. I think lantern application quit automatically.

Btw: my pad is Android version 6.0.1

[2016-05-05 15:19] myleshorton commented on #3506
A related issue is that sometimes we get other false positives where some early requests succeed for whatever reason but later requests don't.

[2016-05-05 15:32] myleshorton opened #4217 "Create a matrix of clones we've seen, their approach, and potential solutions"

[2016-05-05 16:25] WolfLantern commented on #4169
this is cool guys. @myleshorton auto idea is very cool too

[2016-05-05 18:04] percyalpha opened #4218 "Lantern doesn't proxy without Chrome installed on Windows 10"
QA version.
Chrome preinstalled then install Lantern, the traffic is proxied.
Then I uninstalled Chrome. Closed Lantern. Then open Lantern. The start page shows normally in Edge but traffic is not proxied. (The setting is already proxy all, but ip site will still return real IP)

[2016-05-05 18:06] myleshorton commented on #4218
Does this still happen with the latest version from last night @percyalpha? Also FYI @xiam

[2016-05-05 18:13] percyalpha commented on #4218
The newest QA (you sent 19 hours ago) can proxy on edge without Chrome

[2016-05-05 18:13] #4218 closed

[2016-05-05 18:28] myleshorton commented on #4218
Cool thanks for the testing @percyalpha and nice work on that fix @xiam!

[2016-05-05 18:37] xiam commented on #4175
Hey @sunshine19090, could you help me checking this one?

[2016-05-05 18:38] xiam commented on #3922
Hey @sunshine19090, this should be fixed as well in our latest QA. Can you confirm?

[2016-05-05 18:39] xiam commented on #3784
Ready for testing too, @sunshine19090

[2016-05-05 20:54] sunshine19090 opened #4219 "Iranwire articles are not translated to Persian"
I remember seeing everything being translated to Persian in the previous build.

![image](https://cloud.githubusercontent.com/assets/11394369/15056880/e01d1188-12c8-11e6-9756-3d40b12c3a34.png)

[2016-05-05 23:12] fffw commented on #3506
Yeah it's correlated with https://github.com/getlantern/lantern/issues/4194

[2016-05-06 00:43] fffw commented on #3506
We can simply invalidate the bypass domains list when any network changes are detected. [Windows](https://msdn.microsoft.com/en-us/library/windows/desktop/aa366334(v=vs.85).aspx), [Mac](http://stackoverflow.com/questions/1083701/how-to-check-for-an-active-internet-connection-on-ios-or-osx).

[2016-05-06 00:55] oxtoacart commented on #4170
@myleshorton I started looking at gRPC and it looks like right now it only supports protocol buffers.  As discussed, we're trying to keep the layer around InfluxDB pretty light, and that particular data format is loosely typed (more like JSON), and @uaalto and I were planning to take advantage of that to send in arbitrary metadata.  I see that protocol buffers supports a map type, but it looks lik

[2016-05-06 04:12] myleshorton opened #4221 "Lantern loading thumbnails even though feed is hidden"

[2016-05-06 11:50] oxtoacart commented on #4221
The UI loads about 70 thumbnails right at start up.  But ...  This only happens if the feeds are hidden.  If you choose to view feeds and then reload the UI, it only loads 10 or so, and loads more as you scroll the all feed.  If you comment out the all feed, then no images are loaded.

So, what I think is happening is that the infinite scroll logic isn't working correctly when the feeds are suppre

[2016-05-06 13:11] xiam commented on #3757
This should not be valid anymore.

[2016-05-06 13:11] #3757 closed

[2016-05-06 13:13] xiam commented on #3756
This is probably related to https://github.com/getlantern/lantern/issues/4175 and we already tested a fix for that.

[2016-05-06 13:15] xiam commented on #3679
I'll investigate this too.

[2016-05-06 14:45] myleshorton commented on #3784
Thanks @xiam! Can you just move tickets that are done to the "done" column too? Thanks!

[2016-05-06 14:46] myleshorton commented on #4175
Do you think this is fixed as well @xiam?

[2016-05-06 14:47] myleshorton commented on #4057
What's the status of this @atavism?

[2016-05-06 14:48] Rice321 commented on #3784
Thank you @aranhoide and @xiam !

[2016-05-06 14:58] myleshorton commented on #4219
This is content from Iranwire itself - i.e. we don't translate anything from them but rather just show their content @sunshine19090. Looks like some of their content is in english.

[2016-05-06 14:58] #4219 closed

[2016-05-06 14:59] myleshorton commented on #4191
This is definitely an old issue, but I don't think we need to worry about it now. I'm going to close for now, as the ad also might be going away with pro.

[2016-05-06 14:59] #4191 closed

[2016-05-06 15:00] myleshorton commented on #4192
I'm gonna close this one too @sunshine19090 -- almost definitely not new but also the ad might be going away.

[2016-05-06 15:00] #4192 closed

[2016-05-06 15:04] #2187 closed

[2016-05-06 15:05] myleshorton opened #4222 "Error page shown overlapping bookmarks in some cases"
![image](https://cloud.githubusercontent.com/assets/1143966/15077028/55d93db4-1361-11e6-83d3-31e8471ee6cd.png)

[2016-05-06 15:18] xiam commented on #4175
Yes, should be fixed too.

[2016-05-06 16:07] Artoria2e5 opened #4223 "Detect metered connections and optionally pause freedom-sharing on them"
Many platforms including Windows (8+, NetworkCostType), Android (isActiveNetworkMetered) and Linux (via NetworkManager) provide information about whether the connection is metered. It can be desirable to provide an option to pause sharing on metered connections for users.

(The Windows one may be really tricky to implement since it requires some Windows runtime stuff. Consider using an external C#

[2016-05-06 17:59] atavism commented on #4057
@myleshorton Showing a spinner while the feed loads is already deployed -- https://github.com/getlantern/lantern/issues/4003 will address the remaining requirement of the spinner not appearing over existing content. I'll mark this deployed and move that other ticket to 2.2.1.

[2016-05-06 18:24] myleshorton commented on #4057
Cool thanks @atavism

[2016-05-06 18:33] sunshine19090 commented on #4185
The link works fine.

[2016-05-06 18:33] #4185 closed

[2016-05-06 18:52] sunshine19090 opened #4226 "Mobile - Able to switch ON/OFF continuously and lantern crashes after two switches"

[2016-05-06 18:59] myleshorton opened #4227 "Reduce requests to CloudFront"
These get pricey, so the more we can reduce them when Lantern starts up the better!

[2016-05-06 19:03] atavism commented on #4226
@sunshine19090 I'll send you a new build with this fixed.

[2016-05-06 19:18] sunshine19090 commented on #4226
The new build that @atavism sent me works fine. I will close it once it is moved to deployed.

[2016-05-06 19:19] sunshine19090 commented on #4197
Works good.

[2016-05-06 19:19] #4197 closed

[2016-05-06 19:20] #4052 closed

[2016-05-06 19:21] #4053 closed

[2016-05-06 19:22] #4164 closed

[2016-05-06 19:22] #4078 closed

[2016-05-06 19:25] sunshine19090 commented on #4046
@oxtoacart @myleshorton Will I be able to test this? If so, can you please provide me the details.

[2016-05-06 19:25] #4134 closed

[2016-05-06 19:26] #4063 closed

[2016-05-06 19:26] #3807 closed

[2016-05-06 19:26] myleshorton commented on #4046
No it's not testable really @sunshine19090

[2016-05-06 19:29] sunshine19090 commented on #4163
I tested by manually changing the language in the browser and the system. I couldn't test where Lantern detects the country and then providing the feed based on that.

[2016-05-06 19:29] #4163 closed

[2016-05-06 19:31] myleshorton commented on #4035
Hey sorry for the delay @sunshine19090 but that's super weird on those untranslated messages in the UI. Hey @xiam this would be super useful to look at while you're in windows land as well.

[2016-05-06 19:32] #4046 closed

[2016-05-06 19:34] sunshine19090 commented on #4221
I don't see any difference in the UI view. Closing!

[2016-05-06 19:34] #4221 closed

[2016-05-06 19:35] #4143 closed

[2016-05-06 19:39] sunshine19090 commented on #4024
I can now see the error page by deleting the local storage and disconnecting the network.

[2016-05-06 19:39] #4024 closed

[2016-05-06 19:39] #4226 closed

[2016-05-06 19:40] myleshorton commented on #4024
Nice!

On Fri, May 6, 2016 at 12:39 PM, sunshine19090 <notifications@github.com>
wrote:

--
--
President
Brave New Software Project, Inc.
https://www.getlantern.org
pgp A998 2B6E EF1C 373E 723F A813 045D A255 901A FD89

[2016-05-06 19:43] myleshorton commented on #4222
To reproduce, clear local storage (chrome://settings/cookies#cont) and run with no wifi

[2016-05-06 19:43] myleshorton commented on #4165
This one's going to be tough to test @sunshine19090

[2016-05-06 19:46] #4222 closed

[2016-05-06 19:47] sunshine19090 opened #4229 "When showing the self-help page, the link in the top right corner is not changing to "Take me back to the old look""
![image](https://cloud.githubusercontent.com/assets/11394369/15084485/a1e53e2a-1388-11e6-9624-d88c2cc70a20.png)

[2016-05-06 20:17] myleshorton commented on #4229
OK I'll have a fix for this soon @sunshine19090

[2016-05-06 21:21] sunshine19090 commented on #4165
Okay, anyway I checked by manually changing the language except Malay.

[2016-05-06 21:21] #4165 closed

[2016-05-06 21:22] #4057 closed

[2016-05-06 21:29] myleshorton commented on #4178
This one's done right @oxtoacart?

[2016-05-06 21:30] myleshorton commented on #4229
Should be all set @sunshine19090!

[2016-05-06 22:00] sunshine19090 commented on #4057
This is working fine.

[2016-05-06 22:00] #4229 closed

[2016-05-06 22:06] myleshorton commented on #4170
Hey @oxtoacart! It seems like there are a few options here. First, it's very easy to add new values to PB messages in a backwards and forwards-compatible way. See, for example:

https://developers.google.com/protocol-buffers/docs/proto3#updating

That does require any those new fields to the .proto file and re-generating the code, but if any new value is going to be useful it also needs to be inte

[2016-05-06 22:13] myleshorton commented on #4170
Actually, when PB3 does JSON conversion, it uses that last technique -- converts all map values to strings:

https://developers.google.com/protocol-buffers/docs/proto3#json

[2016-05-06 22:14] myleshorton commented on #4170
The any type is also interesting:

https://developers.google.com/protocol-buffers/docs/proto3#any

[2016-05-07 00:43] oxtoacart commented on #4178
Yes.

[2016-05-07 00:43] #4178 closed

[2016-05-07 02:54] oxtoacart commented on #4170
Thanks for the tips @myleshorton!

I'm trying to build the service to be as agnostic as possible to the content of the messages.  Here's the idea:

client -> data collection server -> influxdb -> grafana queries (or other queries against influxdb)

The data model in influxdb is dynamically typed and so is the query language.  All the data collection server does is provide security, load balancing

[2016-05-07 03:29] myleshorton commented on #4170
If want you want is no static typing what about the map of strings?

[2016-05-07 13:04] oxtoacart commented on #4170
I want dynamic typing like JSON, where values have runtime type information.  If we use strings, we have to figure out how to encode the information ourselves.  I'd rather use a serialization library that handles that for me.

[2016-05-07 16:12] myleshorton commented on #4170
Hey sorry I would just go with whatever works best then!
On May 7, 2016 6:04 AM, "oxtoacart" <notifications@github.com> wrote:

[2016-05-07 17:09] oxtoacart commented on #4170
@myleshorton gRPC sounds interesting, so I'm genuinely trying to figure out if there's a way we can try it out.  Theoretically it supports other encodings, not just protocol buffers, but I haven't figured out how/where to plug that in yet.  The other concern I have is how we would do this through CloudFront, since we need to be able to front requests to the server.  We could use the REST adapter,

[2016-05-07 18:19] oxtoacart commented on #4170
@uaalto As I'm starting work on the server side of this and better understand InfluxDB, I'm realizing that the model you and I discussed won't quite work.  Here's a [first cut](https://github.com/getlantern/borda/blob/master/borda.go#L7) at what I think we should do. Not surprisingly, it actually ends up being very similar to the statshub data model that we used to use.

Rather than the whole thin

[2016-05-07 18:34] oxtoacart commented on #4170
@uaalto Actually, forget what I said about downsampling - InfluxDB can do that better than us, so I won't downsample in the collector.

[2016-05-07 18:39] uaalto commented on #4170
While I see the need to differentiate data so we know how to deal with it and perform things like aggregation, I think embedding each one of those qualities as different types is inflexible. I think it would be more elegant and extensible to use a model like:

[code]
This would be a similar approach to what dynamic languages do: leaving the knowledge of the type for runtime. This way the model is

[2016-05-07 18:42] uaalto commented on #4170
Those "tags" would identify things like Gauges, Unindexed...
And they could be combined, so we don't need UnindexedGauge ever in the struct (I know this combo doesn't make sense, but just to illustrate the point).

[2016-05-07 18:58] oxtoacart commented on #4170
@uaalto what is the reason for including the type id?

[2016-05-07 19:02] oxtoacart commented on #4170
BTW @uaalto, I simplified the model quite a bit since we don't need to downsample in the app - what do you think of it now?

[2016-05-07 19:06] uaalto commented on #4170
This last version looks much better to me, because it is more general and abstract.
With the type id, you can have only one map (Values) and decide whether it is a dimension, a value, or any other concept we want to add, like out-of-band. I'm just advocating for a general and open model, more than trying to figure out a static interface client/server for this.

[2016-05-07 19:07] oxtoacart commented on #4170
@uaalto Gotcha.  Will this latest model for the server API work for you?

[2016-05-07 19:12] uaalto commented on #4170
Yes we can work with that

[2016-05-08 00:35] xiam commented on #3679
@percyalpha Can you confirm this is still happening with Xunlei 7.9?

@fffw I could not reproduce the HTTPs problem and I confirmed the `XLWFP.SYS` file was in place, to me latest QA versions works fine with Xunlei 7.9. After all my testing I only had problems with Xunlei 5 on Windows 7.

[2016-05-08 00:52] xiam commented on #3679
Hey @Rice321, could you help me testing latest QA + Xunlei too?

[2016-05-08 00:53] xiam commented on #3949
Hello @15757170756, which version of Xunlei are you using?

[2016-05-08 00:59] xiam commented on #3949
The @weiweilinlin idea of setting address to `127.0.0.1` and port to `8787` should work, can you try and confirm?

[2016-05-08 01:00] xiam commented on #3862
Does this still happen with latest QA? Could not produce with latest QA + Xunlei 7.9.

[2016-05-08 01:03] xiam commented on #3777
Probably related to https://github.com/getlantern/lantern/issues/3862

[2016-05-08 01:08] xiam commented on #4159
Hey @c12805, we might experiment with Qubes OS in the future but we don't have any immediate plans to do so.

Please don't use Lantern as an anonymity tool:

[2016-05-08 01:08] #4159 closed

[2016-05-08 03:33] #4215 closed

[2016-05-08 03:34] Rice321 commented on #4215
@Niefee  sorry we don't have Google plug-in version for Lantern.

[2016-05-08 03:54] Rice321 commented on #3679
@xiam Hi JC, I just downloaded Xunlei 2.6.9 (1826) on my mac, and tried the latest QA, Lantern works fine for me, whatismyipaddress.com tells me my IP is 2604:a880:800:10::8d8:6001; and when I try without running Xunlei, the IP address is the same.

[2016-05-08 03:57] percyalpha commented on #3679
People are probably talking about issues on windows? I'll give test a bit
and give feedback soon.

[2016-05-08 04:08] CPCer opened #4233 "think lantern need to block porn websites"
I think this will help reduce pressures for you incredible guys working on lantern...

[2016-05-08 05:20] percyalpha opened #4235 "Android notification center says Lantern is connected even when it's turned off"
Google Play release version.
Turn Lantern on and the notification says Lantern is connected. But it will not go away even when the Lantern is turned off

[2016-05-08 06:56] spencerpomme opened #4236 "lantern was blocked since 8am today"
No access to the blocked sites

[2016-05-08 12:16] MABIY commented on #4236
Me too。
l using ubuntu 16.04

[2016-05-08 12:28] kexul commented on #4236
same here ,ubuntu 16.04

[2016-05-08 14:24] sunshine19090 commented on #4235
Yeah I saw this in QA build too. I actually think that the notification is redundant as we already indicate the connection by the key sign at the top right corner. Is there any other use for this notification @atavism?

Regards,
Sunshine

[2016-05-08 14:31] sunshine19090 commented on #4235
@atavism I forgot to mention that the notification cannot be deleted and it doesn't go away even after killing the app. The only way is to delete the app.

[2016-05-08 15:58] cmuluo opened #4238 "How could I change the country(location) when I using google or youtube under the opening the lantern"
How could I change the country(location) when I using google or youtube under the opening the lantern

[2016-05-08 22:05] oxtoacart commented on #4170
@uaalto I simplified the model even further.  Clients shouldn't have to know which dimensions are indexed and which are not, so I'm making that part of the server's configuration.

cc: @fffw

[2016-05-08 22:09] oxtoacart commented on #4170
@fffw @uaalto @myleshorton Here is an initial integration test using InfluxDB that demonstrates how I imagine real metrics will work - https://github.com/getlantern/borda/blob/master/borda_integration_test.go

Some important things to note:

* All measurements go to the same key `health`.  Because InfluxDB doesn't allow joins, I believe that this is the only way that we can actually correlate diff

[2016-05-08 23:21] atavism opened #4240 "Issue loading feed thumbnails on Android 4.x devices"
I just tried running Lantern 2.2.0 on my Samung Galaxy S5 (Android 4.4.4) device. Whenever I flip between feeds, none of the images are loading, and I'm seeing the following in the log for every image request:

[code]

This looks to be an issue with ``Ion`` documented [here](https://github.com/koush/ion/issues/559) and [here](https://github.com/koush/ion/issues/661). It only happens with release b

[2016-05-08 23:29] atavism commented on #4240
@myleshorton I confirmed this isn't an issue with [glide](https://github.com/bumptech/glide) which seems better maintained anyway. I opened a PR to switch frameworks [here](https://github.com/getlantern/lantern/pull/4241) -- should I merge to the ``release-2.2.0`` branch still?

[2016-05-08 23:56] atavism commented on #4235
Agree it's redundant with the key already. I'll just strip it out

[2016-05-09 02:29] atavism commented on #3476
This is finally done! It's available [here](https://play.google.com/store/apps/details?id=org.getlantern.lantern)

[2016-05-09 02:29] #3476 closed

[2016-05-09 02:33] atavism commented on #3670
I'm already working on this in conjunction with https://github.com/getlantern/lantern/issues/3797 -- now that we're in the Play store, I'll just knock it out this week.

[2016-05-09 02:51] oxtoacart commented on #4170
Okay, I've made the simulation of errors much more comprehensive.  It will run for several minutes, but it gives richer data.

After running it, you can play with the data in the influxdb shell.  For example, you could find the 95th percentile client error rate and then get data for all proxies that fall at the 95th percentile and above. You'll notice in this example that all these proxies have a

[2016-05-09 03:12] YueminHu commented on #4236
Shanghai, China seems okay. Im using 2.1.2 on win10. Connecting to Japan...

[2016-05-09 03:16] spencerpomme commented on #4236
Still have no access in Guangzhou, Windows 10, OS X 10.11，lantern 2.1.2。

发自我的 iPhone

[2016-05-09 03:37] myleshorton commented on #4236
Can you try 2.2.0 linked from GitHub?
On May 8, 2016 8:16 PM, "Pingcheng Zhang" <notifications@github.com> wrote:

[2016-05-09 03:49] spencerpomme commented on #4236
Tried new version yet still no access. Is there any prerequisites to use it or all I need to do is install it with the installer? Deeply worried for now even github is inaccessible.

发自我的 iPhone

[2016-05-09 03:50] myleshorton commented on #4236
Can you email your logs to dev@getlanter.org?
On May 8, 2016 8:49 PM, "Pingcheng Zhang" <notifications@github.com> wrote:

[2016-05-09 03:59] spencerpomme commented on #4236
Of course. Where can I retrieve the log?

发自我的 iPhone

[2016-05-09 04:11] myleshorton commented on #4238
That will be a feature we'll be added relatively soon.

[2016-05-09 04:11] #4238 closed

[2016-05-09 04:35] spencerpomme commented on #4236
System log sent.

发自我的 iPhone

[2016-05-09 04:40] myleshorton commented on #4236
Hey @spencerpomme sorry I should have mentioned instructions for finding the logs are here:

https://github.com/getlantern/lantern/wiki/Emailing-lantern-logs

[2016-05-09 04:40] myleshorton commented on #4236
You can just send them to dev@getlantern.org though. Also, what browser are you using?

[2016-05-09 05:08] MABIY commented on #4236
then  lantern 2.12 is working,  l think server is not working before.

[2016-05-09 05:15] spencerpomme commented on #4236
I‘m using firefox on windows and safari on OS X. @myleshorton

[2016-05-09 07:06] fffw commented on #4099
Sent a message through feedback channel to Google Scholar team.

[2016-05-09 07:08] fffw commented on #4236
@spencerpomme Your proxy server were blocked in China. Should work fine now.

[2016-05-09 08:11] fffw opened #4242 "Replace go-uuid with new package path"
As google code is retired, code.google.com/p/go-uuid/uuid no longer exists and points to https://github.com/pborman/uuid instead.

[2016-05-09 09:27] fffw commented on #4170
@oxtoacart It feels to me that client library should know the dimensions anyway to pre-aggragate, so configuring indexed dimensions on server is unnecessary. The collection server should be thin enough to avoid configuring anything related to Lantern. I still reserve my opinion that if the purpose is to provide security and load balancing, InfluxDB already handled it very well, and [line protocol]

[2016-05-09 11:00] spencerpomme commented on #4236
Problem solved, access to blocked sites restored.

[2016-05-09 11:01] #4236 closed

[2016-05-09 11:39] uaalto commented on #4170
The client can handle the events with a completely separate abstraction to InfluxDB. We don't need to know about the InfluxDB until the time to send it to the server frontend. We can handle aggregation at will in the client, without relying on concepts from InfluxDB.
What I mean by this is that I think is best to imagine event series sent from the client in whichever format and API you consider be

[2016-05-09 11:46] oxtoacart commented on #4170
@uaalto I agree

@fffw The thing that I like about having the data available for correlation directly in InfluxDB is that it makes data exploration through the Influx shell really easy, as in the example that I gave.  The InfluxDB team even recommends putting multiple things in a single measurement if you need to correlate them - see [here](https://groups.google.com/forum/#!msg/influxdb/pVgl8mhoV2

[2016-05-09 12:31] uaalto commented on #4170
@oxtoacart Looking at Measurement I think the current design is the cleanest and simplest. I like it better :)
One detail I'd suggest is naming it something more general than Measurement, although is not bad abstraction name either. Is this a concept of Influx or something that you see reflecting the notion of an "error supercharged with context" it well in English?

[2016-05-09 12:35] oxtoacart commented on #4170
@uaalto Measurement happens to be the term that InfluxDB uses, but I'm open to suggestions for more general names.  Measurements are not just errors, they're also metrics about servers like load_avg.  The thing that does unify Measurements is that they all have some quantitative component (e.g. count of errors, load_avg, amount of disk free, etc.) and they are time-based.  Without the quantitative

[2016-05-09 12:37] oxtoacart commented on #4170
BTW @fffw @uaalto the reason that I think it's important to configure dimensions/tags on the server is that they have a big performance impact.  For example, I originally thought I wanted request_id to be a tag, but in practice its cardinality is too high and it would blow out our database.  If we were dependent on the client to control this, it would take us longer to fix such problems because we

[2016-05-09 12:38] uaalto commented on #4170
Naming is complicated. I'm pointing to this as the primary abstraction of the system. That Influx uses Measurement is not necessarily bad, on the contrary, it might represent the concept well enough because Influx aims at solving a problem very close to ours.
We can leave it as Measurement!

[2016-05-09 12:40] oxtoacart commented on #4170
Cool, we'll stick with that.  Is `borda` an okay name for the library/server?

[2016-05-09 12:40] uaalto commented on #4170
I need to know more of Influx to have an opinion on your last comment @oxtoacart. But what I can understand from it, the problem seems to be very close to how Influx is, so it might be better to solve it closer to the database. In other words, in "abstract" I see what you mean and I agree.

[2016-05-09 12:41] uaalto commented on #4170
Re: borda. Mathematician and Sailor. Fits well!

[2016-05-09 12:42] oxtoacart commented on #4170
@uaalto InfluxDB is a time-series database.  Like all databases, it optimizes for a particular problem.  The problem that InfluxDB optimizes for is having a large number of measurements with the same/similar dimensions (e.g. tags) that come in over time and being able to query those measurements using time-based queries (e.g. calculating rates, etc.).

[2016-05-09 12:43] uaalto commented on #4170
And with many fields having high cardinality it can't optimize well. Is that correct?

[2016-05-09 13:23] oxtoacart commented on #4170
@uaalto Yes.  Every unique combination of tags results in what InfluxDB calls a series.  There is overhead associated with series, and the number of series is one of the key [sizing](https://docs.influxdata.com/influxdb/v0.12/guides/hardware_sizing/) parameters.  By tracking every client, we automatically fall into the large sizing category of > 1 million series.  Of course our write and query rat

[2016-05-09 13:35] Lucnsy commented on #3109
me too.
The UI HTTP server is always listening on 0.0.0.0:16823. I can't change it to 127.0.0.1:16823.
Could I disable the UI HTTP server?

[code]

[2016-05-09 15:57] #4235 closed

[2016-05-09 15:58] myleshorton commented on #3327
This should be fixed in the latest version available on the web site @antonywong

[2016-05-09 15:58] #3327 closed

[2016-05-09 17:49] oxtoacart opened #4243 "Include something in Lantern UI to encourage users to switch to Chrome or Firefox"
Lantern, and the web in general, works best with Chrome and Firefox (especially Chrome).  If the Lantern UI detects that it's running in a different browser than these, it should show a call-to-action to switch to Chrome or Firefox.

[2016-05-09 18:18] oxtoacart commented on #4168
@myleshorton That does sound interesting, and having an additional way of capturing some of these metrics would provide a nice audit point.

[2016-05-09 18:23] oxtoacart commented on #3096
@sunshine19090 Can you show a screenshot of what you mean about Artemis?

[2016-05-09 18:32] percyalpha opened #4244 "cannot download Lantern via Xunlei"
Most Chinese users by default use Xunlei to download software. Xunlei even replaces the default downloader in the browser. If I enter s3.amazonawas.com/..../..lantern.exe to download, the file downloaded from Xunlei cannot be opened. Probably because the file is malformed as Xunlei uses p2p and we have different file hosted on the same URL. Investigating

[2016-05-09 18:33] myleshorton commented on #4244
Interesting @percyalpha thanks!

[2016-05-10 02:22] oxtoacart commented on #4170
@fffw and I ran an experiment and confirmed that the total number of series is the same whether we store measurements separately or under one combined table, so we'll store them under one combined table to take advantage of the joining capability.

[2016-05-10 10:30] zxwwsj opened #4245 "lantern安卓版改版了？"
多了新闻。

[2016-05-10 11:43] fffw commented on #4245
Lantern is evolving all the time, both desktop and Android. Gonna close this unless you have some concrete issues.

[2016-05-10 11:43] #4245 closed

[2016-05-10 15:35] myleshorton opened #4246 "DDF requests not including caching headers"

[2016-05-10 18:53] myleshorton opened #4248 "Test Lantern Mobile on Google Cloud Test Lab"
Tests can be run from Android Studio, from the command line, or from CI. Unclear if integrating with travis is possible.

https://developers.google.com/cloud-test-lab/

[2016-05-10 19:19] #3722 closed

[2016-05-10 19:20] myleshorton commented on #4118
Espresso looks super interesting for this:

https://google.github.io/android-testing-support-library/docs/espresso/

[2016-05-10 19:23] myleshorton commented on #4120
Also see #4118

[2016-05-10 19:25] atavism commented on #4118
Yeah, Espresso is really nice. I started using it on the pro branch already. Looks like it's possible to always run those tests via Travis too

[2016-05-10 21:24] myleshorton opened #4250 "Renew firetweet.io certificate"

[2016-05-10 21:25] myleshorton commented on #4250
Hey @atavism would you mind looking at this one?

[2016-05-10 21:26] myleshorton commented on #4250
Or you @fffw?

[2016-05-10 21:26] #4246 closed

[2016-05-10 21:31] atavism commented on #4250
@myleshorton I'll take care of it! I already bought the new certificate a few weeks ago. Just need to install it

[2016-05-10 21:39] myleshorton commented on #4250
Sweet thanks @atavism!

[2016-05-10 22:25] atavism commented on #4250
Done!

[2016-05-10 22:25] #4250 closed

[2016-05-11 01:50] mebest100 opened #4253 "How to let built binary kill pop-up UI by modify main.go?"
How to let built binary kill pop-up UI by modify main.go?

[2016-05-11 01:50] mustangxu opened #4254 "Doesn't work on Mac OS X 10.11.5 Beta (15F31a)"
After upgrade to 10.11.5 Beta (15F31a), lantern doesn't work on my mac. Here are the logs and crash report

`16/5/11 上午9:39:54.106 lsd[306]: LaunchServices: Could not store lsd-identifiers file at /private/var/db/lsd/com.apple.lsdschemes.plist
16/5/11 上午9:39:54.116 lsd[306]: LaunchServices: Could not store lsd-identifiers file at /private/var/db/lsd/com.apple.lsdschemes.plist
16/5/11 上午9:39:54.234

[2016-05-11 01:53] yuan78 commented on #4253
but still need show systray, only screen the pop-up UI

[2016-05-11 02:06] fffw commented on #4152
Testdroid uses real physical devices. There're a few tech issues remaining to simulate clicking n swiping across devices and dismiss system pop-ups.

[2016-05-11 02:25] fffw commented on #4254
Thanks @mustangxu! It's definitely something with `pac-cmd` we should check.

[2016-05-11 04:05] zippera opened #4255 "中文help为什么要放到google group？"
很多人用lantern是为了fq吧，中文help放到google group，无法访问啊，不合理

[2016-05-11 05:09] Rice321 commented on #4255
你好，感谢你的反馈。
如果你遇到问题无法翻墙，也可发送邮件给我们 team@getlantern.org 直接跟我们联系。

[2016-05-11 06:20] GeKirita opened #4256 "Missing "node" command. make: *** [require-node] Error 1"
~/lantern $ make lantern
Missing "node" command.
make: *** [require-node] Error 1

[2016-05-11 06:22] fffw commented on #4256
@GeKirita Did you install all the [prerequisites](https://github.com/getlantern/lantern#prerequisites)?

[2016-05-11 06:34] AmZaf opened #4257 "Lantern discloses user location"
I am a regular user of Lantern and other circumvention software in Iran. I have noticed that Lantern gives away my location when I visit certain sites like Oracle or VMWare, among others. I wonder if it is by design or a security flaw. For example, visiting [this link](http://www.oracle.com/technetwork/topics/security/cpuapr2016-2881694.html) results in redirection to this [notice page](http://www